.research-2024 {
    padding-bottom: 30px;
}
.research-2024 .contents_wrap .contents_box .contents-box__row p {
    padding: 0;
}
.research-2024 .art-content .contents_wrap .contents_box .contents-box__row p.top {
    padding: 0;
}
.research-2024 .contents-box__row {
    margin-top: 70px;
}
.research-2024 .contents-box__row--mt50 {
    margin-top: 50px;
}
.research-2024 .contents-box__row:first-child {
    margin-top: 0;
}
.research-2024 .subTab-rt {
    margin-top: 75px;
    margin-bottom: 45px;
    padding: 0;
}
.research-2024 .custom-select {
    display: flex;
    align-items: center;
    width: calc(100%);
    height: 47px;
    background: #fff;
    border-radius: 47px;
    position: relative;
    background-image: linear-gradient(45deg, transparent 50%, #000 50%), linear-gradient(135deg, #000 50%, transparent 50%);
    background-position: calc(100% - 25px) 50%, calc(100% - 19px) 50%;
    background-size: 6px 6px, 6px 6px;
    background-repeat: no-repeat;
    color: #636363;
    font-size: 13px;
}
.research-2024 .custom-select > button {
    display: block;
    width: 100%;
    line-height: 1.4;
    padding: 0 40px 0 25px;
    text-align: left;
    height: 47px;
    word-break: keep-all;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.research-2024 .custom-select ul {
    position: absolute;
    top: 50px;
    display: none;
    background-color: #fff;
    padding: 10px 0;
    border: 1px solid #000;
    z-index: 11;
}
.research-2024 .custom-select ul li {
    padding: 8px 20px;
}
.research-2024 .custom-select ul li button {
    display: block;
    width: 100%;
    text-align: left;
    font-size: 12px;
    line-height: 1.3;
}
.research-2024 .custom-select.active ul {
    display: block;
}
.research-2024 .tab-box {
}
.research-2024 .tab-box .tab-box__container {
    display: none;
}
.research-2024 .tab-box .tab-box__container.active {
    display: block;
}
.research-2024 .contents_wrap {
    margin-top: 0;
}
.research-2024 .contents_wrap .contents_box {
    margin-left: 0;
    margin-right: 0;
}
.research-2024 .contents_wrap .contents_box .contents-box__wrap {
    border-top: 1px solid #a8a8a8;
    padding-top: 70px;
    padding-bottom: 70px;
}
.research-2024 .contents_wrap .contents_box:last-child .contents-box__wrap {
    padding-bottom: 0;
}
.research-2024 .contents_wrap .contents_box .contents-box__wrap--nobd {
    border-top: 0;
}
.research-2024 .contents_wrap .contents_box + .contents_box {
    margin-top: 0;
    border-top: 0;
}
.research-2024 .contents_wrap .contents_box p {
    padding: 0;
}
.research-2024 .contents_wrap .contents_box strong {
    padding-bottom: 30px;
}
.research-2024 .contents_wrap .contents_box strong small {
    font-size: 13px;
    line-height: 25px;
}
.research-2024 .contents_wrap .contents_box .contents-box__item {
    margin-top: 30px;
}
.research-2024 .contents_wrap .contents_box .contents-box__item:first-child {
    margin-top: 0;
}
.research-2024 .contents_wrap .contents_box .contents-box__item strong {
    padding: 0;
}



body {
    background-color: #1D242F;
    font-family: "SamsungOneKR", sans-serif;
    font-weight: 400;
    color: #fff;
}
select, input, button, textarea {
    font-family: "SamsungOneKR", sans-serif;
}
#header #gnb .gnb_wrap {
    padding: 20px;
}
#header #gnb .gnb_wrap #gnbClose {
    z-index: 2;
}
#header #gnb .gnb_wrap .depth1 button i {
    top: 22px;
}
#header #gnb .gnb_wrap .depth2 {
    margin: 0;
    padding: 0 0 10px;
    box-sizing: border-box;
}
#header .depth2 li a {
    display: block;
}
.footer__bottom .footer__wrap {
    border-radius: 0;
}
.mt30 {
    margin-top: 30px;
}
.mt50 {
    margin-top: 50px;
}
#subLocation {
    display: none;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
#content #subTab {
    width: 100%;
}
#content #subTab + .row {
    padding-top: 0;
}
#content #subTab ul {
    padding: 0;
    text-align: center;
    overflow-x: auto;
    font-size: 0;
    line-height: auto;
    white-space: nowrap;
}
#content #subTab ul li {
    padding: 0 3px;
    box-sizing: border-box;
}
#content #subTab ul li:first-child {
    padding-left: 0;
}
#content #subTab ul li:last-child {
    padding-right: 0;
}
#content #subTab ul li a {
    display: block;
    height: auto;
    padding: 0 20px;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 16px;
    line-height: 40px;
    background-color: #333D50;
}
#content #subTab ul li a:hover, 
#content #subTab ul li a:focus, 
#content #subTab ul li a.active {
    background-color: #fff;
    color: #1428A0;
}
#content #subTab ul:before {
    display: none;
}
#content #subTab ul:after {
    display: none;
}
#content #subTab.psInfo ul li {
    float: none;
    margin: 0;
    display: inline-block !important;
    width: auto;
}
#content #subTab.psInfo ul li a {
    display: inline-block !important;
    padding: 0 20px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 40px;
    height: auto;
}
#content #subTab ul li a.active:after {
    display: none;
}
#content.history #content #subTab ul {
    
}
#content.history #subTab ul li {
    display: inline-block;
    width: auto;
    float: none;
    margin: 0;
    padding: 0 5px;
    box-sizing: border-box;
}
#content.history #subTab ul li:first-child {
    padding-left: 0;
}
#content.history #subTab ul li:last-child {
    padding-right: 0;
}
#content.history .history_wrap--nomonth article dd {

}

section.forum #content #subTab {
    width: 100%;
    margin: 0;
    margin-bottom: 30px;
}
section.forum #content #subTab ul {
    display: flex;
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
    column-gap: 10px;
}
section.forum #content #subTab ul li {
    float: none;
    width: calc(50% - 5px);
    display: inline-block !important;
    margin: 0;
    padding: 0;
    font-size: 0;
}
section.forum #content #subTab ul li a {
    display: inline-block;
    width: 100%;
    font-size: 14px;
    line-height: 40px;
    padding: 0 20px;
    box-sizing: border-box;
}
section.forum #content .program_wrap {
    margin: 0;
    margin-top: 35px;
    width: 100%;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
section.forum #content h3 {
    color: #fff;
    margin-top: 0;
}
#listPage .page_btn button {
    border: 1px solid transparent;
    background-color: #3a4559;
    color: #fff;
}

#listPage .page_btn button.active,
#listPage .page_btn button:hover {
    border: 1px solid #fff;
    background-color: #fff;
    color: #000;
}

#listPage .page_btn button.prev_btn,
#listPage .page_btn button.prev_end_btn,
#listPage .page_btn button.next_btn,
#listPage .page_btn button.next_end_btn {
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

#listPage .page_btn button.prev_btn {
    background-image: url(../images/icons/icon_pagination_prev.png);
}

#listPage .page_btn button.prev_end_btn {
    background-image: url(../images/icons/icon_pagination_first.png);
}

#listPage .page_btn button.next_btn {
    background-image: url(../images/icons/icon_pagination_prev.png);
}

#listPage .page_btn button.next_end_btn {
    background-image: url(../images/icons/icon_pagination_first.png);
}

#listPage .page_btn button.prev_btn:hover {
    background-image: url(../images/icons/icon_pagination_prev_on.png);
}

#listPage .page_btn button.prev_end_btn:hover {
    background-image: url(../images/icons/icon_pagination_first_on.png);
}

#listPage .page_btn button.next_btn:hover {
    background-image: url(../images/icons/icon_pagination_prev_on.png);
}

#listPage .page_btn button.next_end_btn:hover {
    background-image: url(../images/icons/icon_pagination_first_on.png);
}
.footer {
    &__bottom {
        position: relative;
        padding: 0;
    }
    &__wrap {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}
#subVisual {
    display: none;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
#content {
    padding: 40px 0 80px;
    box-sizing: border-box;
}
.search_etc, .privacy {
    padding: 40px 0 80px !important;
}
#content #subTitle {
    padding: 0;
    margin-bottom: 40px;
}
#content #subTitle + .row__wrap {
    padding-top: 0;
}
#content #subTitle p {
    font-size: 16px;
    line-height: 26px;
}
#content #subTitle h4 {
    font-size: 32px;
    line-height: 42px;
    font-weight: 700;
    color: #fff;
}
#content.press_view #subTitle h4 {
    font-size: 20px;
    line-height: 30px;
}
#content #subTitle p {
    padding: 0;
    margin-top: 10px;
}
.content__container {
    padding: 0 20px;
    box-sizing: border-box;
}
.row {
    padding-top: 40px;
    box-sizing: border-box;
}
.row:first-child {
    padding-top: 0;
}
.row--pt40 {
    padding-top: 40px;
    box-sizing: border-box;
}
.row--pt80 {
    padding-top: 80px;
    box-sizing: border-box;
}
.row__wrap {}
.row__wrap--bb {
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
    box-sizing: border-box;
}
#content #subTitle + .row {
    padding-top: 0;
}
#relatedContents {
    padding: 50px 20px;
    box-sizing: border-box;
    background-color: #28303E;
}
#relatedContents:after {
    display: none;
}
.related__title h1 {
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
}
.related__title span {
    margin-top: 5px;
    font-size: 16px;
    line-height: 26px;
}
#relatedContents .related_wrap {
    margin-top: 20px;
}
#relatedContents .related_wrap article {
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
#relatedContents .related_wrap article a {
    position: relative;
    display: block;
    padding-right: 30px;
    box-sizing: border-box;
}
#relatedContents .related_wrap article a::before {
    content:'';
    display: inline-block;
    position: absolute;
    top: 1px;
    right: 0;
    width: 24px;
    height: 24px;
    background: url(../images/icons/icon_related_arrow.svg) center / auto no-repeat;
}
#relatedContents .related_wrap article a h1 {
    display: block;
    margin: 0;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}
h5.title {
    font-size: 24px;
    line-height: 34px;
    color: #fff;
    margin-bottom: 20px;
}
p {
    font-family: "SamsungOneKR";
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #fff;
}
h6 {
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    margin-bottom: 10px;
}
.small-title {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
}
.small-title--mb5 {
    margin-bottom: 5px;
}
.sub-list li {
    margin-top: 30px;
}
.sub-list li:first-child {
    margin-top: 0;
}
.contact-box {
    display: flex;
    column-gap: 20px;
}
.contact-box span {
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #6E7E96;
}
.contact-box a {
    line-height: 24px;
}
.btn-wrap {
    text-align: center;
}
.btn-wrap--mt40 {
    margin-top: 40px;
}
.btn {
    display: inline-block;
}
.btn-default {
    max-width: 500px;
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 25px;
    transition: 0.34s ease;
}

.btn-default:hover {
    background-color: #fff;
    border: 1px solid #fff;
}

.btn-default__text {
    display: inline-block;
    line-height: 48px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.btn-default__text--arrow {
    padding-right: 28px;
    position: relative;
}

.btn-default__text--arrow::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../images/sub/btn_default_text_arrow.svg) center/auto no-repeat;
}
.btn-default:hover .btn-default__text {
    color: #1D242F;
}
.btn-default:hover .btn-default__text--arrow::before {
    background: url(../images/sub/btn_default_text_arrow_black.svg) center/auto no-repeat;
}
#boardSearch #selectCustom > button {
    color: #fff;
    border-bottom: 1px solid #fff;
}
#boardSearch #selectCustom > button:after {
    border-top: 8px solid #fff;
}
#boardSearch #searchInput input[type=text] {
    color: #fff;
    border-bottom: 1px solid #fff;
    font-weight: 400;
}
#boardSearch #searchInput input[type=text]::placeholder {
    color: #47566C;
    
}
input[type=text]:focus, 
textarea:focus, 
select:focus {
    border-color: #fff !important;
}

#boardSearch #searchInput .submit_wrap {
    width: 20px;
    height: 21px;
    background: url(../images/icons/icon_search.svg) center / auto no-repeat;
}
#boardSearch #selectCustom ul {
    background-color: #6E7E96;
}
#boardSearch #selectCustom ul li {
    padding: 10px 0 0;
    box-sizing: border-box;
}
.subTab-rt select {
    font-size: 14px;
    font-weight: 400;
}





// *** about *** //
// who
.half__item {
    margin-top: 20px;
    
}
.half__item:first-child {
    margin-top: 0;
}
.half__item img {
    display: block;
    width: auto;
    margin: 0 auto;
}
.list-box {}
.list-box__row {}
.list-box__row ul li {
    position: relative;
    padding-left: 15px;
    font-size: 18px;
    line-height: 28px;
    color: #fff;
}
.list-box__row ul li::before {
    content:'';
    position: absolute;
    top: 12px;
    left: 0;
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #fff;
}
// history
.history .history_wrap {
    margin-top: 45px;
}
.history .history_wrap article {
    box-sizing: border-box;
}
.history .history_wrap article:first-child {
    padding-top: 0;
}
.history .history_wrap article h1 {
    color: #fff;
}
.history .history_wrap article h1:after {
    left: -50px;
    width: 30px;
    background-color: #fff;
}
.history .history_wrap article dt {
    color: #6E7E96;
}
// social
.bgf {
    background-color: transparent;
}
.science_box p strong {
    font-size: 20px;
    line-height: 30px;
}
.fs-15 {
    font-size: 18px;
    line-height: 28px;
}
.fs-20 {
    font-size: 24px;
    line-height: 34px;
}
.fs-12 {
    font-size: 14px;
    line-height: 24px;
}
.lstimg > .tit {
    background-color: #47566C;
}
// contact
.contact_wrap {
    margin: 0;
    width: 100%;
}

// press
#content.press, #content.press_view {
    padding: 40px 0 80px;
}
.press .board_list {
    padding-top: 50px;
    box-sizing: border-box;
}
.press .board_list ul li p {
    display: none;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.press .board_list li {
    background-color: #333D50;
}
.press .board_list li:hover {
    background-color: #fff;
}

.press .board_list li + li {
    margin-top: 20px;
}
.press .board_list li .tit {
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    -webkit-line-clamp: 3;
}
.press .board_list li:hover .tit {
    color: #1428a0;
}
.press .board_list li time {
    margin-top: 20px;
    padding-top: 0;
    color: #6E7E96;
    font-size: 14px;
    line-height: 24px;
}
.press .board_list li .more {
    margin-top: 30px;
    padding: 0;
    padding-right: 30px;
    color: #6E7E96;
    font-size: 14px;
    line-height: 24px;
}
.press .board_list li:hover time {
    color: #777;
}
.press .board_list li:hover .more {
    color: #777;
}
.press .board_list li .more:after {
    top: 9px;
}
.press .board_list li:hover .more:after {
    border-color: #777;
}
.press .board_list .more_wrap {
    margin-top: 40px;
}

// press view
#content hr {
    border-color: #fff;
}
#content #subTitle time {
    margin-top: 20px;
    padding: 0;
    color: #6E7E96;
    font-size: 16px;
    line-height: 26px;
}
#content.press_view #subTitle {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
}
#content.press_view p span em strong {
    display: block;
    text-align: left;
}
#content.press_view .row__wrap {
    padding-top: 0;
    padding-bottom: 30px;
    box-sizing: border-box;
    border-bottom: 1px solid #fff;
}
#content #contentLink {
    max-width: 480px;
    width: 100%;
    position: relative;
    margin: 0 auto;
    margin-top: 25px;
    padding: 0 60px;
    box-sizing: border-box;
}
#content #contentLink .prev_link, 
#content #contentLink .next_link {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
#content #contentLink .prev_link a, 
#content #contentLink .next_link a {
    display: block;
}
#content #contentLink .next_link {
    transform: translateY(-50%) rotate(180deg);
    right: 0;
}
#content #contentLink .prev_link {
    left: 0;
}



//  *** reserach area *** /
.world_research {
    padding: 40px 0 80px !important;
}
#content.world_research .art-content #subTitle {
    padding: 0 20px;
    box-sizing: border-box;
}
.world_research .contents_wrap .contents_box {
    padding: 0 20px;
    box-sizing: border-box;
    width: 100%;
}
.world_research .contents_wrap .contents_box strong {
    margin-bottom: 20px;
    padding: 0;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
}
.world_research .contents_wrap .contents_box p {
    line-height: 28px;
}

#related_paper {
    width: 100%;
    margin: 0;
    padding: 0 20px;
    box-sizing: border-box;
    padding-bottom: 80px;
}
#related_paper > h1 {
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    padding-bottom: 0;
    margin-bottom: 20px;
}
#related_paper > h1::after {
    content:'';
    display: block;
    clear: both;
}
#related_paper > h1 > span.more {
    top: 0;
}
#related_paper > .related_pp_wrap > article {
    margin-bottom: 0;
}
#related_paper > .related_pp_wrap > article:first-child .cm_pp {
    padding-top: 0;
}
#related_paper > .related_pp_wrap .cm_pp {
    padding: 20px 0;
    margin: 0;
}
#related_paper > .related_pp_wrap .cm_pp .desc {
    color: #fff;
    font-size: 16px;
    line-height: 26px;
}
#related_paper > .related_pp_wrap .cm_pp .date {
    margin-top: 15px;
    color: #6E7E96;
    font-size: 14px;
    line-height: 24px;
}
// what we do
.contents_flow h5 span {
    color: #fff;
    border-color: #fff;
}
.what .changing_list ul li strong {
    display: block;
    font-size: 20px;
    line-height: 30px;
}
.what .changing_list ul li i img {
    filter: invert(100%) saturate(0%);
}
.what .changing_list ul li:last-child {
    padding-bottom: 0;
}
.what .changing_list ul p {
    line-height: 26px;
}


// ai algorithms
.third_depth_titbox p.tit {
    font-size: 26px;
    line-height: 36px;
    font-weight: 700;
    color: #fff;
}
.third_depth_titbox p.desc {
    font-size: 16px;
    line-height: 26px;
    color: #6E7E96;
}
#content .research-2024 #subTitle {
    padding: 0 20px;
    box-sizing: border-box;
}
// AI Algorithms
.research-2024 {
    padding-bottom: 0;
}

// nano electronics
span.impact-desc {
    font-size: 24px;
    line-height: 34px;
    color: #fff;
    font-weight: 700;
}

// publication
.paper_list .view_list.rsp .list_box li a .tit {
    color: #fff;
    font-weight: 700;
}
.paper_list .view_list.rsp .list_box li:hover {
    background-color: #fff;
}
.paper_list .view_list.rsp .list_box li:hover a .tit {
}
.paper_list .view_list.rsp .list_box li:hover .infowrap p.infobox span {
    color: #000;
}
.infowrap p.infobox span {
    color: #fff;
}
.infowrap p.infobox span:nth-child(1) {
    color: #6E7E96;
}

// paper list srt
#content .view_list.rsp {
    padding: 0;
}
#content .view_list.rsp .list_box li {
    padding: 20px;
    box-sizing: border-box;
}
#content .view_list.rsp .list_box li a {
    padding: 0;
    box-sizing: border-box;
}
#content .view_list.rsp .list_box li a .tit {
    padding: 0;
    margin-bottom: 20px;
}
#content .view_list.rsp .list_box li a .infowrap {
    padding: 0;
}

// paper view srt
#content.paper_view #subTitle h4 {
    font-size: 20px;
    line-height: 30px;
}
#content.paper_view {
    
}
#content.paper_view .contents_wrap {
    padding: 0;
}
#content.paper_view .contents_wrap dl {
    margin-top: 10px;
    padding: 15px;
    box-sizing: border-box;
    background-color: #333D50;
}
#content.paper_view .contents_wrap dl:first-child {
    margin-top: 0;
}
#content.paper_view .contents_wrap dl dt {
    font-size: 18px;
    line-height: 28px;
    color: #6E7E96;
}
#content.paper_view .contents_wrap dl dd {
    margin-top: 15px;
    padding-top: 0;
    font-size: 18px;
    line-height: 28px;
}
.paper_list .list_wrap .item_list article {
    border: none;
    background-color: #333D50;
}
.contents_wrap .list_wrap .item_list article i img {
    filter: invert(100%) saturate(0%);
}

// paper list wtc
section.research_pp #content {
    padding-bottom: 80px;
}
.paper_list .list_wrap {
    padding: 0px;
    box-sizing: border-box;
}
#content .contents_wrap.bgWhite {
    background-color: transparent;
}
.paper_list .list_wrap .item_list article h1 {
    color: #fff;
    margin-top: 0;
    padding: 70px 0 15px;
    box-sizing: border-box;
}
.contents_wrap .list_wrap .item_list article i {
    left: 17px;
    height: auto;
}

// infra
.research_img_grid {
    width: 100%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.research_img_array {
    margin-top: 0;
    margin-right: 0;
    float: none;
    width: calc(50% - 5px);
}
.infra .cm_pd30 {
    padding: 0 20px;
}
.research_slide_wrap {
    background-color: #1D242F;
}
.research_slide_h1 {
    color: #fff;
}
.research_slide_h2 {
    color: #fff;
}
#researchIndi button.active {
    background-color: #fff;
    border-color: #fff;
}
.research_slide_cls {
    border-color: #fff;
}
.research_slide_hd {
    z-index: 2;
}
.cls_icon {
    display: inline-block;
    top: auto;
    left: auto;
    width: 100%;
    height: 100%;
}
.cls_asset_1, .cls_asset_2 {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
}
.cls_asset_1 {
    transform: translate(-50%, -50%) rotate(-45deg);
}
.cls_asset_2 {
    transform: translate(-50%, -50%) rotate(45deg);
}
.research-banner {
    display: block;
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
}


// *** event *** //
// saif
section.forum #content #subTitle h5 {
    margin: 0;
    margin-top: 20px;
    line-height: 24px;
    padding: 0;
    color: #6E7E96 !important;
}
section.forum #content .video_wrap {
    margin-bottom: 40px;
} 
section.forum #content .video_wrap + .row {
    padding-top: 0;
}
section.forum #content .video_wrap .video {
    position: relative;
    height: auto !important;
    width: 100%;
    padding-bottom: 56.25%;
    box-sizing: border-box;
}
section.forum #content .video_wrap .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
section.forum #content .video_wrap .video {
    font-size: 0;
    margin-top: 0;
}
section.forum #content .nav_group {
    display: block;
    text-align: center;
    top: auto;
    margin-top: 20px;
    margin-bottom: 0px;
}
section.forum #content .nav_group:after {
    content: "";
    display: block;
    clear: both;
}
section.forum #content .nav_group a.prev_ev {
    display: inline-block;
    position: relative;
    border-color: #fff;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 0;
    border-radius: 0;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 0 25px 0 63px;
    line-height: 34px;
    height: auto;
    float: none;
    margin: 0 5px;
}
section.forum #content .nav_group a.prev_ev:after {
    top: 13px;
    right: 25px;
    background: url(../images/sub/fo_arr_prev_white.png) center/auto no-repeat;
}
section.forum #content .nav_group a.next_ev {
    display: inline-block;
    position: relative;
    border-color: #fff;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 0;
    border-radius: 0;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 0 63px 0 25px;
    line-height: 34px;
    height: auto;
    float: none;
}
section.forum #content .nav_group a.next_ev:after {
    top: 11px;
    right: 25px;
    background: url(../images/sub/fo_arr_next.png) center/auto no-repeat;
}
section.forum #content #subTitle h4 {
    color: #fff !important;
}
section.forum #content .infobox {
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 0;
    margin-top: 0;
    width: 100%;
    display: block;
}
section.forum #content .infobox .inner {
    padding: 20px;
    margin-bottom: 0;
    box-sizing: border-box;
}
section.forum #content .infobox .inner .ttx {
    font-size: 16px;
    line-height: 26px;
}
section.forum #content .infobox .inner .ttx .speaker i {
    display: inline-block;
    width: 120px;
    height: 120px;
}
section.forum #content .infobox .inner .ttx span {
    font-size: 18px;
    color: #6E7E96;
    line-height: 28px;
    padding-bottom: 0;
    margin-bottom: 15px;
}
section.forum #content .infobox .inner .ttx > p {
    width: 100%;
    color: #fff;
}
section.forum #content .infobox .inner .ttx .speaker p {
    font-size: 16px;
    line-height: 26px;
    color: #fff;
}
section.forum #content .infobox .inner .ttx .speaker p:last-child {
    font-size: 14px;
    line-height: 24px;
    color: #6E7E96;
}
section.forum #content #subTitle .nav_group a.prev_ev {}

section.forum #content .infobox .inner .ttx .ttx__speaker {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 40px;
}
section.forum #content .infobox .inner .ttx .speaker {
    top: auto;
    text-align: center;
    margin: 0;
    padding: 0;
}
section.forum #content .infobox .inner .ttx .speaker p {
    min-width: 120px;
}
section.forum #content .contact_wrap {
    width: 100%;
    margin: 0;
}
section.forum #content .contact_wrap p {
    font-size: 18px;
    line-height: 28px;
    color: #fff;
}
section.forum #content .contbox {
    margin-bottom: 0;
    border: 1px solid rgba(255, 255, 255, 0.2);
}
section.forum #content .contbox .inner.cont h4 {
    color: #fff;
    padding-left: 0;
    font-size: 18px;
    line-height: 18px;
}
section.forum #content .contbox .inner.cont h4::before {
    display: none;
}
section.forum #content .contbox .inner.cont .contbox__title {
    display: inline-block;
    font-size: 16px;
    line-height: 26px;
    color: #6E7E96;
    padding-right: 20px;
}

section.forum #content .contbox .inner.cont a {
    display: inline-block;
    margin-top: 0px;
    padding-left: 0;
    color: #fff;
    font-size: 16px;
    line-height: 26px;
}


@media screen and (max-width: 660px) {
    section.forum #content .infobox .inner .ttx .speaker {
        width: auto;
    }
    section.forum #content .infobox .inner .ttx .speaker i {
        width: 120px;
        height: 120px;
    }
}
@media screen and (max-width: 520px) {
    section.forum #content .infobox .inner .ttx .speaker i {
        grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
        width: 90px;
        height: 90px;
    }
    section.forum #content .infobox .inner .ttx .ttx__speaker {
        gap: 20px;
    }
}
section.forum .program_array p {
    color: #6E7E96;
    font-size: 16px;
    line-height: 26px;
}
section.forum .program_array .time p {
    color: #fff;
    font-size: 16px;
    line-height: 26px;
}
section.forum #content .program_array .detail p span.bimpact {
    color: #fff;
    font-size: 16px;
    line-height: 26px;
}
section.forum #content .program_array__session {
    font-weight: 700;
    color: #fff;
}
section.forum #content .infobox .inner .ttx:last-child {
    margin-top: 30px;
}
section.forum #content .program_array .detail p span.impact {
    color: #fff;
}
section.forum #content .gallery_wrap {
    margin: 0;
    margin-top: 30px;
    width: 100%;
}
section.forum #content h1.gallery {
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    margin-bottom: 20px;
}
section.forum .gallery_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(33.3333% - 10px), 1fr));
    grid-gap: 15px;
}
section.forum .gallery_grid .gallery_array {
    margin: 0;
    width: 100%;
}
section.forum .popup {
    max-width: 680px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}
section.forum .popup .wrap {
    position: relative;
    overflow: visible;
}

// AI Researcher
#content .contents_box {
    width: 100%;
}
#content #subTitle .nav_group {
    margin: 0 auto;
    margin-top: 20px;
    display: block;
    text-align: center;
}
#content #subTitle .nav_group__row {
    margin-top: 10px;
}
#content #subTitle .nav_group__row:first-child {
    margin-top: 0;
}
#content #subTitle .nav_group .prev_ev {
    display: inline-block;
    min-width: 260px;
    padding: 0 20px 0 60px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 14px;
    line-height: 34px;
    color: #fff;
    box-sizing: border-box;
}
#content #subTitle .nav_group .prev_ev::after {
    top: 13px;
    background: url(../images/icons/fo_arr_prev.png) center / auto no-repeat;
}
#content #subTitle .nav_group .next_ev {
    display: inline-block;
    min-width: 260px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 14px;
    line-height: 34px;
    padding: 0 60px 0 20px;
    box-sizing: border-box;
    color: #fff;
}
#content #subTitle .nav_group .next_ev:after {
    top: 13px;
    background: url(../images/icons/fo_arr_next.png) center / auto no-repeat;
}
#content .row__wrap {
    padding-top: 30px;
    box-sizing: border-box;
}
#content .row__wrap:first-child {
    padding-top: 0;
}
#content .row__wrap--bt {
    margin-top: 30px;
    border-top: 1px solid #a8a8a8;
}
#content .row__wrap h5.fl {
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    margin-bottom: 20px;
}
#content .row__wrap .desc p {
    font-size: 16px;
    line-height: 26px;
}
.bold {
    font-weight: 700;
}
#content .row__wrap .desc .bold li {
    padding-left: 15px;
    font-size: 16px;
    line-height: 26px;
    font-weight: bold;
}
#content .row__wrap .desc .bold + p {
    margin-top: 15px;
}
#content .contact_wrap p {
    font-size: 16px;
    line-height: 26px;
}

.dotlist li {
    margin-top: 10px;
    font-size: 16px;
    line-height: 26px;
}
.dotlist li:first-child {
    margin-top: 0;
}

.btn {
    display: inline-block;
}

.btn-default {
    max-width: none;
    padding: 0 57px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 30px;
    transition: 0.34s ease;
}

.btn-default:hover {
    background-color: #fff;
    border: 1px solid #fff;
}

.btn-default__text {
    display: inline-block;
    line-height: 38px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.btn-default__text--arrow {
    padding-right: 28px;
    position: relative;
}

.btn-default__text--arrow::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../images/sub/btn_default_text_arrow.svg) center/auto no-repeat;
}

.btn-default:hover .btn-default__text {
    color: #1D242F;
}

.btn-default:hover .btn-default__text--arrow::before {
    background: url(../images/sub/btn_default_text_arrow_black.svg) center/auto no-repeat;
}
#content .faq_area {
    margin-top: 0;
}
#content .faq_area .title {
    color: #fff;
}
#content .faq_list li {
    background-color: #333D50;
    margin-top: 10px;
}
#content .faq_list li.on {
    background-color: #fff;
}
#content .faq_list li:first-child {
    border-top: none;
    margin-top: 0;
}
#content .faq_list li + li {
    border-top: none;
}
#content .question {
    display: flex;
    column-gap: 10px;
}
#content .question:before {
    color: #fff;
}
#content .faq_list li .question:after {
    border-top: 9px solid #fff;
}
#content .faq_list li.on .question:after {
    border-top: none;
    border-bottom: 9px solid #000;
}
#content .question a {
    display: block;
    color: #fff;
}
#content .faq_list li.on .question + .answer {
    border-top: 1px solid #e0e0e0;
}
#content .faq_list li.on .question:before {
    color: #1428A0;
}
#content .faq_list li.on .question a {
    color: #000;
}
#content .faq_list li.on .answer {
    margin-top: 20px;
    padding-top: 20px;
    box-sizing: border-box;
}
#content .faq_list li .answer p {
    font-size: 16px;
    line-height: 26px;
}
#content .faq_list li.on .answer p {
    color: #000;
}
#content .faq_list li:last-child {
    border-bottom: none;
}
section.researcher #content .contbox {
    margin: 0;
}
#content .contact_wrap p {
    margin-bottom: 15px;
    color: #fff;
}
section.researcher #content .contbox .inner.cont h4 {
    color: #fff;
    font-size: 16px;
    line-height: 26px;
}
section.researcher #content .contbox .inner.cont a {
    display: inline-block;
    margin-top: 0;
    color: #fff;
}
.contbox__row {
    margin-top: 20px;
}
.contbox__title {
    display: inline-block;
    padding-right: 15px;
    box-sizing: border-box;
    color: #6E7E96;
}
section.researcher #content .contbox .inner.cont {
    padding: 35px 25px;
    box-sizing: border-box;
}
section.researcher #content .contbox {
    border: 1px solid rgba(255, 255, 255, 0.2);
}

#content .person_list li:first-child {
    border-top: 1px solid #fff;
    box-sizing: border-box;
}
#content .person_list .info {
    width: 75%;
    padding-left: 25px;
    box-sizing: border-box;
}
#content .person_list .info .name {
    font-size: 20px;
    line-height: 30px;
    color: #fff;
}
#content .person_list .info .name + .desc {
    font-size: 18px;
    line-height: 28px;
    color: #7D8794;
}
#content .person_list .tb_cell {
    vertical-align: top;
}
#content .chkBtn {
    display: inline-block;
}
#content .person_list .chkBtn {
    background-color: transparent;
    margin-top: 0;
    max-width: 450px;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 33px;
}

#content .person_list .chkBtn:hover {
    background-color: #fff;
    color: #1428a0;
    border-color: #fff;
}

#content .person_list .chkBtn:after {
    display: none;
}

#content .person_list .chkBtn .chkBtn__text {
    display: inline-block;
    width: 100%;
    position: relative;
    padding-right: 35px;
    line-height: 20px;
    box-sizing: border-box;
    text-align: left;
    font-size: 16px;
}

#content .person_list .chkBtn .chkBtn__text::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: inline-block;
    width: 26px;
    height: 7px;
    background: url(../images/icons/chkbtn_arrow.png) center/auto no-repeat;
}

#content .person_list .chkBtn:hover .chkBtn__text::after {
    background: url(../images/icons/icon_chkbtn_arrow_blue.png) center/auto no-repeat;
}

#content .person_list .btn-wrap__row {
    margin-top: 20px;
}

#content .person_list .btn-wrap__row:first-child {
    margin-top: 0;
}

#content .contents_box > .video_wrap {
    margin-top: 0;
}

#content .rs_video {
    position: relative;
    padding-bottom: 56.26%;
}
#content .rs_video iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100% !important;
}

#content #modalPopup {
    color: #636363;
}
#content #modalPopup p {
    color: #636363;
}
.researcher #modalPopup .apply_popup table tr td input[type=text], 
.researcher #modalPopup .apply_popup table tr td select {
    font-size: 16px;
    color: #333;
}
.researcher #modalPopup input[type=text]:focus, 
.researcher #modalPopup textarea:focus, 
.researcher #modalPopup select:focus {
    border-color: #1428a0 !important;
}
.researcher #modalPopup p {
    color: #636363;
}
.researcher #modalPopup .apply_popup .agree_box div label {
    color: #636363;
}

// *** join *** //
// application
.rprocess {}
.rprocess ul {}
.rprocess ul li {
    position: relative;
    padding: 22px 0;
    box-sizing: border-box;
    text-align: center;
}
.rprocess ul li:first-child {
    padding-top: 0;
}
.rprocess ul li:last-child {
    padding-bottom: 0;
}
.rprocess ul li::before {
    content: "";
    position: absolute;
    bottom: -22px;
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
    display: inline-block;
    width: 44px;
    height: 44px;
    background: url(../images/icons/recruit_process_arrow.svg) center / auto no-repeat;
}
.rprocess ul li:last-child::before {
    display: none;
}
.rprocess__figure {}
.rprocess__figure img {
    max-width: 120px;
    width: 120px;
}
.rprocess__inner {
    
}
.rprocess__content {
    margin-top: 10px;
}
.rprocess__num {
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    color: #6E7E96;
}
.rprocess__tit {
    font-size: 18px;
    line-height: 28px;
}
@media screen and (max-width: 420px){
    .rprocess__inner {
        display: flex;
        column-gap: 20px;
    }
    .rprocess__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-top: 0;
    }
    .rprocess__tit {
        text-align: left;
    }
    .rprocess ul li::before {
        display: none;
    }
    .rprocess__figure {
        position: relative;
    }
    .rprocess__figure::before {
        content: "";
        position: absolute;
        bottom: -44px;
        left: 50%;
        transform: translateX(-50%) rotate(90deg);
        display: inline-block;
        width: 44px;
        height: 44px;
        background: url(../images/icons/recruit_process_arrow.svg) center / auto no-repeat;
    }
    .rprocess ul li:last-child .rprocess__figure::before {
        display: none;
    }
}


// *** etc ***
// privacy
.privacy .step {
    padding: 0;
    padding-top: 40px;
}
.privacy .step--pt0 {
    padding-top: 0;
}
.privacy .step h5 {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 20px;
    color: #fff;
}
.privacy .step p {
    padding: 0;
    line-height: 28px;
}
a.p_link {
    display: inline;
    color: #fff;
    text-decoration: underline;
    word-break: break-all;
}
.prev_management {
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #fff;
    box-sizing: border-box;
}
.prev_management ul li {
    margin-top: 5px;
}
.prev_management ul li:first-child {
    margin-top: 0;
}
.prev_management ul li a {
    display: block;
    color: #6E7E96;
    font-size: 16px;
    line-height: 26px;
}