<!DOCTYPE html>
<html lang="en" id="main">
    <%- include("./include/head.html") %>
    <body>
        <div class="wrap" role="main">
            <div class="container" id="container">
                <%- include("./include/header.html") %>
                <main class="main">
                    <section class="main-section main-section--01">
                        <div class="main-kv swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide main-kv__slide">
                                    <div class="main-kv__inner">
                                        <img src="/resources/assets/mobile/images/main/kv.jpg" alt="" />
                                        <div class="main-kv__contents">
                                            <div class="main-kv__slogan">
                                                <h2>Boundless<br />Search for<br />Breakthroughs</h2>
                                                <h3>SAIT is Samsung‘s R&D hub, Established as the incubator for cutting-edge technologies</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide main-kv__slide">
                                    <div class="main-kv__inner">
                                        <img src="/resources/assets/mobile/images/main/kv.jpg" alt="" />
                                        <div class="main-kv__contents">
                                            <div class="main-kv__slogan">
                                                <h2>Boundless<br />Search for<br />Breakthroughs</h2>
                                                <h3>SAIT is Samsung‘s R&D hub, Established as the incubator for cutting-edge technologies</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide main-kv__slide">
                                    <div class="main-kv__inner">
                                        <img src="/resources/assets/mobile/images/main/kv.jpg" alt="" />
                                        <div class="main-kv__contents">
                                            <div class="main-kv__slogan">
                                                <h2>Boundless<br />Search for<br />Breakthroughs</h2>
                                                <h3>SAIT is Samsung‘s R&D hub, Established as the incubator for cutting-edge technologies</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide main-kv__slide">
                                    <div class="main-kv__inner">
                                        <img src="/resources/assets/mobile/images/main/kv.jpg" alt="" />
                                        <div class="main-kv__contents">
                                            <div class="main-kv__slogan">
                                                <h2>Boundless<br />Search for<br />Breakthroughs</h2>
                                                <h3>SAIT is Samsung‘s R&D hub, Established as the incubator for cutting-edge technologies</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="main-kv__control"></div>
                            <div class="swiper-pagination"></div>
                        </div>
                        <button type="button" class="scroll-down">
                            <span class="scroll-down__icon">
                                <span>SCROLL DOWN</span>
                            </span>
                            <div class="scroll-down__text">SCROLL DOWN<br />to EXPLORE</div>
                        </button>
                    </section>
                    <section class="main-section main-section--02">
                        <div class="research">
                            <div class="research__bg">
                                <div class="bg-slider swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <img src="/resources/assets/mobile/images/main/research_bg.jpg" alt="" />
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="/resources/assets/mobile/images/main/research_bg_02.jpg" alt="" />
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="/resources/assets/mobile/images/main/research_bg_03.jpg" alt="" />
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="/resources/assets/mobile/images/main/research_bg_04.jpg" alt="" />
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="/resources/assets/mobile/images/main/research_bg_05.jpg" alt="" />
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="/resources/assets/mobile/images/main/research_bg_06.jpg" alt="" />
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="/resources/assets/mobile/images/main/research_bg_07.jpg" alt="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="research__contents">
                                <div class="research__inner">
                                    <h2>RESEARCH AREAS</h2>
                                    <div class="research__inbox">
                                        <div class="research__text">
                                            <div class="text-slider swiper">
                                                <div class="swiper-wrapper">
                                                    <div class="swiper-slide">
                                                        <div class="text-slider__wrap">
                                                            <h3>AI Algorithms</h3>
                                                            <p>Understanding users and environments with human-level intelligence</p>
                                                            <div class="btn-wrap">
                                                                <a href="/mo/research/aiAlgorithms.html" class="btn btn-default">
                                                                    <span class="btn-default__text">Read More</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <div class="text-slider__wrap">
                                                            <h3>Computing Platform</h3>
                                                            <p>We are researching security technologies from the whole system perspective, from hardware to software.</p>
                                                            <div class="btn-wrap">
                                                                <a href="/mo/research/computingPlatform.html" class="btn btn-default">
                                                                    <span class="btn-default__text">Read More</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <div class="text-slider__wrap">
                                                            <h3>Si-Photonics / Meta-Photonics</h3>
                                                            <p>Metaphotonics represents new photonic space comprised of various artificial nanostructures that enable new optical behaviors beyond conventional optical properties.</p>
                                                            <div class="btn-wrap">
                                                                <a href="/mo/research/metaphotonics.html" class="btn btn-default">
                                                                    <span class="btn-default__text">Read More</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <div class="text-slider__wrap">
                                                            <h3>Display Materials</h3>
                                                            <p>SAIT is currently conducting research on QD material and device interface technology for the next generation of QDs and self-luminous EL displays.</p>
                                                            <div class="btn-wrap">
                                                                <a href="/mo/research/displayMaterials.html" class="btn btn-default">
                                                                    <span class="btn-default__text">Read More</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <div class="text-slider__wrap">
                                                            <h3>Battery Materials</h3>
                                                            <p>SAIT is developing novel materials to enable those technologies employing state-of-art computational methods and high speed synthesis techniques.</p>
                                                            <div class="btn-wrap">
                                                                <a href="/mo/research/batteryMaterials.html" class="btn btn-default">
                                                                    <span class="btn-default__text">Read More</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <div class="text-slider__wrap">
                                                            <h3>Semiconductor Materials &amp; Devices</h3>
                                                            <p>We have strived to search for new materials for channels and components.</p>
                                                            <div class="btn-wrap">
                                                                <a href="/mo/research/semiconductorMaterials.html" class="btn btn-default">
                                                                    <span class="btn-default__text">Read More</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <div class="text-slider__wrap">
                                                            <h3>Environmental &amp; Energy Research</h3>
                                                            <p>SAIT are researching on various technologies to deal with global environmental & energy issues for sustainable future.</p>
                                                            <div class="btn-wrap">
                                                                <a href="/mo/research/environmentalResearch.html" class="btn btn-default">
                                                                    <span class="btn-default__text">Read More</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="research__image">
                                            <div class="image-slider swiper">
                                                <div class="swiper-wrapper">
                                                    <div class="swiper-slide">
                                                        <div class="image-slider__wrap">
                                                            <img src="/resources/assets/mobile/images/main/research_image01.jpg" alt="" />
                                                        </div>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <div class="image-slider__wrap">
                                                            <img src="/resources/assets/mobile/images/main/research_image02.jpg" alt="" />
                                                        </div>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <div class="image-slider__wrap">
                                                            <img src="/resources/assets/mobile/images/main/research_image03.jpg" alt="" />
                                                        </div>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <div class="image-slider__wrap">
                                                            <img src="/resources/assets/mobile/images/main/research_image04.jpg" alt="" />
                                                        </div>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <div class="image-slider__wrap">
                                                            <img src="/resources/assets/mobile/images/main/research_image05.jpg" alt="" />
                                                        </div>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <div class="image-slider__wrap">
                                                            <img src="/resources/assets/mobile/images/main/research_image06.jpg" alt="" />
                                                        </div>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <div class="image-slider__wrap">
                                                            <img src="/resources/assets/mobile/images/main/research_image07.jpg" alt="" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="research__control">
                                            <button type="button">AI Algorithms</button>
                                            <ul class="research__list">
                                                <li class="active"><button type="button">AI Algorithms</button></li>
                                                <li><button type="button">Computing Platform</button></li>
                                                <li><button type="button">Si-Photonics / Meta-Photonics</button></li>
                                                <li><button type="button">Display Materials</button></li>
                                                <li><button type="button">Battery Materials</button></li>
                                                <li><button type="button">Semiconductor Material</button></li>
                                                <li><button type="button">Environmental &amp; Energy Research</button></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="main-section main-section--03">
                        <img src="/resources/assets/mobile/images/main/research_bg.jpg" alt="" />
                        <div class="main-section__inner">
                            <div class="join">
                                <div class="join__inner">
                                    <div class="join__box">
                                        <div class="join__container">
                                            <div class="join__left">
                                                <h2>CAREERS</h2>
                                                <div class="join__right">
                                                    <img src="/resources/assets/mobile/images/main/img_section03.jpg" alt="" />
                                                </div>
                                                <h3>Recruiting Process</h3>
                                                <p>SAIT is looking for highly creative people to lead the future. The institute's world-class lab facilities and broad scope of research provides a rich environment for conducting cutting-edge scientific and technological innovation.</p>
                                                <div class="btn-wrap">
                                                    <a href="/mo/join/application.html" class="btn btn-default">
                                                        <span class="btn-default__text">Read More</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="main-section main-section--04">
                        <img src="/resources/assets/mobile/images/main/section04_bg.jpg" alt="" />
                        <div class="main-section__inner">
                            <div class="press">
                                <div class="press__wrap">
                                    <div class="press__left">
                                        <div class="press__box">
                                            <h2>
                                                PRESS
                                                <ul class="press__nav">
                                                    <li><button type="button" class="press__button press__button--prev">이전</button></li>
                                                    <li><button type="button" class="press__button press__button--next">다음</button></li>
                                                </ul>
                                            </h2>
                                            <div class="press__container press__slider swiper">
                                                <div class="swiper-wrapper">
                                                    <div class="swiper-slide press__slide">
                                                        <a href="/mo/about/press_view.html" class="press__inner">
                                                            <h3>Samsung hires a world-renowned Supercomputer expert</h3>
                                                            <span>2022.04.18</span>
                                                        </a>
                                                    </div>
                                                    <div class="swiper-slide press__slide">
                                                        <a href="/mo/about/press_view.html" class="press__inner">
                                                            <h3>Samsung Demonstrates the World’s First MRAM Based In-Memory Computing</h3>
                                                            <span>2022.04.18</span>
                                                        </a>
                                                    </div>
                                                    <div class="swiper-slide press__slide">
                                                        <a href="/mo/about/press_view.html" class="press__inner">
                                                            <h3>Samsung hires a world-renowned Supercomputer expert</h3>
                                                            <span>2022.04.18</span>
                                                        </a>
                                                    </div>
                                                    <div class="swiper-slide press__slide">
                                                        <a href="/mo/about/press_view.html" class="press__inner">
                                                            <h3>Samsung Demonstrates the World’s First MRAM Based In-Memory Computing</h3>
                                                            <span>2022.04.18</span>
                                                        </a>
                                                    </div>
                                                    <div class="swiper-slide press__slide">
                                                        <a href="/mo/about/press_view.html" class="press__inner">
                                                            <h3>Samsung hires a world-renowned Supercomputer expert</h3>
                                                            <span>2022.04.18</span>
                                                        </a>
                                                    </div>
                                                    <div class="swiper-slide press__slide">
                                                        <a href="/mo/about/press_view.html" class="press__inner">
                                                            <h3>Samsung Demonstrates the World’s First MRAM Based In-Memory Computing</h3>
                                                            <span>2022.04.18</span>
                                                        </a>
                                                    </div>
                                                    <div class="swiper-slide press__slide">
                                                        <a href="/mo/about/press_view.html" class="press__inner">
                                                            <h3>Samsung hires a world-renowned Supercomputer expert</h3>
                                                            <span>2022.04.18</span>
                                                        </a>
                                                    </div>
                                                    <div class="swiper-slide press__slide">
                                                        <a href="/mo/about/press_view.html" class="press__inner">
                                                            <h3>Samsung Demonstrates the World’s First MRAM Based In-Memory Computing</h3>
                                                            <span>2022.04.18</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="press__progress">
                                            <span class="press__bar"></span>
                                        </div>
                                        <div class="btn-wrap">
                                            <a href="/mo/about/press.html" class="btn btn-default">
                                                <span class="btn-default__text">Read More</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="press__right">
                                        <div class="press__box">
                                            <h2>PAPER</h2>
                                            <div class="press__container">
                                                <div class="press__slide">
                                                    <a href="/mo/research/paper_list_srt.html" class="press__inner">
                                                        <h3>Samsung Demonstrates the World’s First MRAM Based In-Memory Computing</h3>
                                                        <span>2022.04.18</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="main-section main-section--05"><%- include("./include/footer.html") %></section>
                </main>
            </div>
        </div>
        <div id="gnbDimmed" class="dimmed"></div>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/lib/TweenMax/TweenMax.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/lib/TweenMax/easing/EasePack.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/design_common.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/jquery.rwdImageMaps.min.js"></script>
    </body>
</html>
