<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- 공통적용헤더정보 -->
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<!-- //공통적용헤더정보 -->
		<link rel="stylesheet" href="https://www.sait.samsung.co.kr/saithome/stylesheets/css/common.css" />
		<script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/jquery-1.8.2.min.js"></script>
		<!--[if lt IE 9]><script src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/html5shiv.min.js"></script><![endif]-->
		<!--[if lt IE 10]><script src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/placeholders.min.js"></script><![endif]-->
		<meta name="Keywords" content="SAIT, Samsung Advanced Institute of Technology, 삼성종합기술원, 삼성전자 종합기술원, Samsung research, Samsung R&amp;D, Samsung future technology, R&amp;D, Autonomoucs Driving, Graphene, New materials, QD, Quantum Dot" />

		<title>AI Algorithms | Samsung Advanced Institute of Technology</title>
		<meta name="Description" content="AI Algorithms | Samsung Advanced Institute of Technology" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="AI Algorithms | Samsung Advanced Institute of Technology" />
		<meta property="og:description" content="AI Algorithms | Samsung Advanced Institute of Technology" />
		<meta property="og:image" content="" />
		<meta property="og:url" content="" />
		<meta property="og:site_name" content="Samsung Advanced Institute of Technology" />
		<meta name="Author" content="Samsung Advanced Institute of Technology" />
		<meta name="robots" content="ALL" />
		<%- include("../include/sub_head.html") %>
	</head>
	<body>
		<div id="wrap" role="main">
			<!-- header-->
			<%- include("../include/sub_header.html") %>
			<!-- //header-->
			<!-- container-->
			<section id="container" class="research">
				<!-- subVisual-->
				<div id="subVisual" style="background-image: url(https://www.sait.samsung.co.kr/saithome/images/research/research_visual.jpg)">
					<div class="tit_wrap">
						<h3>
							<span>Changing the World through Creative Research</span>
						</h3>
					</div>
				</div>
				<!-- //subVisual-->
				<!-- subLocation-->
				<div id="subLocation">
					<div class="location_box">
						<ul class="location_list">
							<li class="home"><a href="https://www.sait.samsung.co.kr/saithome/main/main.do">main page</a></li>
							<li class="depth1">
								<button type="button">Research Areas</button>
								<ul class="under_depth">
									<li><a href="https://www.sait.samsung.co.kr/saithome/about/who.do">About SAIT</a></li>
									<li><a href="https://www.sait.samsung.co.kr/saithome/research/what.do">Research Areas</a></li>
									<li><a href="https://www.sait.samsung.co.kr/saithome/about/press.do">News & Events</a></li>
									<li><a href="https://www.sait.samsung.co.kr/saithome/join/application.do">Join Us</a></li>
								</ul>
							</li>
							<li class="depth2">
								<button type="button">AI Algorithms</button>
								<ul class="under_depth">
									<li class="accent"><a href="https://www.sait.samsung.co.kr/saithome/research/what.do">What We Do</a></li>
									<!--
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/multimedia.do"  >Augmented Reality</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/deep.do"  >Deep Learning</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/autonomous.do"  >Automotive Electronics</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/brain.do"  >Brain Inspired Computing & Device</a></li>
							-->
									<!--
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/deep.do"  >Artificial Intelligence</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/brain.do"  >Computing Platform</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/multimedia.do"  >Augmented Reality</a></li>							
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/autonomous.do"  >Automotive Electronics</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/healthcare.do"  >Healthcare Platform</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/metaphotonics.do"  >Metaphotonics</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/graphene.do"  >Graphene/2D</a></li>
                            <li><a href="https://www.sait.samsung.co.kr/saithome/research/organic.do"  >Organic Electronic Materials</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/polymer.do"  >Optical Component Materials</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/inorganics.do"  >Functional Inorganics</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/quantum.do"  >Quantum Dot</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/battery.do"  >Next Generation Battery</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/bio.do"  >Biomaterials</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/computational.do"  >Computational Science</a></li>
							-->

									<li>
										<a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=14" class="active"> AI Algorithms</a>
									</li>
									<li>
										<a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=16"> Computing Platform</a>
									</li>
									<li>
										<a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=1"> Human Augmentation</a>
									</li>
									<li>
										<a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=2"> Metaphotonics</a>
									</li>
									<li>
										<a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=3"> Nano Electronics</a>
									</li>
									<li>
										<a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=18"> Display Materials</a>
									</li>
									<li>
										<a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=21"> Battery Materials</a>
									</li>
									<li>
										<a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=23"> Semiconductor Materials</a>
									</li>
									<li>
										<a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=27"> Environmental Research</a>
									</li>
									<!--
							<li class="accent"><a href="https://www.sait.samsung.co.kr/saithome/research/paper_list.do"    >Research Papers</a></li>
							-->
									<li class="accent"><a href="https://www.sait.samsung.co.kr/saithome/research/paper_list_srt.do">Publications</a></li>
									<li class="accent"><a href="https://www.sait.samsung.co.kr/saithome/research/paper_list_wtc.do">Best Research Papers</a></li>
									<li class="accent"><a href="https://www.sait.samsung.co.kr/saithome/research/infra.do">Research Infra</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
				<!-- //subLocation-->

				<!-- subContent-->
				<section id="content" class="world_research">
					<div id="subTitle" class="subTitle js-scr-sec">
						<h4 class="js-scr-box">AI Algorithms</h4>
						<p class="js-scr-box js-motion-end">
							We conduct fundamental research on various machine learning algorithms as well as computer vision and language understanding. Recently SAIT strengthens its fundamentals in AI research and increases competitiveness with an opportunity to work closely with AI communities.
						</p>
					</div>

					<div class="third_depth_titbox js-scr-sec">
						<p class="tit js-scr-box">AI Algorithms</p>
						<p class="desc js-scr-box">Understanding users and environments with human-level intelligence</p>
					</div>

					<section class="art-content contents_wrap">
						<div class="art-img-bx js-scr-sec"><img alt=" " class="js-scr-box js-motion-end" src="http://www.sait.samsung.co.kr/webfile/webedit/20240214133418_20190802143022_02_05_01-01.jpg" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0)" /></div>

						<div class="contents_box js-scr-sec">
							<p class="js-scr-box">
								<strong>MACHINE LEARNING</strong> Recent technological breakthroughs in the field of artificial intelligence have been enabled by machine learning. There are still many challenges toward human level AI&nbsp;<br />
								including understanding the physical world, learning the common sense, utilizing the human knowledge, and figuring out causality. Our research efforts aim to movemachines and systems further along from perception to cognition. We conduct fundamental research on
								machine learning,<br />
								in partucular, deep learning theories and pursue innovations in core machine algorithms.
							</p>
						</div>
						<!-- <div class="art-img-bx js-scr-sec"><img alt=" " class="js-scr-box" src="./AI Algorithms _ Samsung Advanced Institute of Technology_files/20190802143037_02_05_01-02.jpg" /></div> -->

						<div class="contents_box js-scr-sec">
							<div class="art-num-list art-content-list js-scr-box art-line">
								<dl>
									<dt>
										1.<br />
										AI BASED MATERIAL DESIGN
									</dt>
									<dd>
										Developing new functional materials can take several years using conventional methods. However, by utilizing AI technology, the process can be significantly accelerated.<br />
										We are using cutting-edge algorithms such as graph neural networks for designing molecules and predicting their properties. Additionally, we are exploring using machine learning.<br />
										to generate synthesis plans that can optimize target properties and their yields. We are also working on combining machine learning algorithms with human expert knowledge to discover new materials.
										<img alt="AI BASED MATERIAL DESIGN" src="http://www.sait.samsung.co.kr/webfile/webedit/20240214133437_AI BASED MATERIAL DESIGN.png" />
									</dd>
								</dl>

								<dl>
									<dt>
										2.<br />
										AI FOR SEMICONDUCTORS
									</dt>
									<dd>
										Our AI technology deploys deep learning on semiconductor development and manufacturing to maximize R&amp;D efficiency and achieve ultimate manufacturing performance<br />
										for automated chip design &amp; validation, detection of potential faults, process optimization and yield prediction &amp; analysis.<br />
										We also pursue solving industrial problems by developing computer vision technology to automate the manufacturing systems.<br />
										Our research topics include depth estimation, image generation, representation learning, anomaly detection, domain adaptation, continual learning and physics based AI simulation.
										<img alt="AI FOR SEMICONDUCTORS" src="http://www.sait.samsung.co.kr/webfile/webedit/20240214133452_AI FOR SEMICONDUCTORS.png" />
									</dd>
								</dl>
							</div>
						</div>

						<div class="contents_box js-scr-sec">
							<p class="js-scr-box">
								<strong>COMPUTER VISION</strong> Computer Vision enables high-level understanding from visual data. It is a challenging problem for computers to understand the environments and reasoem about context from images.<br />
								While deep learning based computer vision techniques have successfully advanced applications such as biometerics , augmented reality, and driver assistive technology,<br />
								it is still behind the human-level understanding of environments in real world. We seek to invent innovative algorithms for machines to see and interpret the world,<br />
								as well as develop systems to enhance the visual systems of machines and sensors
							</p>
						</div>

						<div class="art-img-bx js-scr-sec"><img alt=" " class="js-scr-box" src="http://www.sait.samsung.co.kr/webfile/webedit/20240214133532_COMPUTER VISION.png" style="max-width: 1180px; width: 100%" /></div>

						<div class="contents_box js-scr-sec">
							<div class="art-num-list art-content-list js-scr-box art-line">
								<dl>
									<dt>
										1.<br />
										CAMERA SYSTEM &amp;<br />
										IMAGE PROCESSING
									</dt>
									<dd>
										AI image signal processing has become a key technology for innovating image quality of mobile camera.<br />
										We are trying to transform the existing signal processing-based mobile camera ISP pipeline to AI ISP for maximizing perceptual image quality.<br />
										Major research topics are not only limited to deep learning-based SW algorithms for image restoration/enhancement.<br />
										We are intensively investigating tunable end-to-end AI ISP architecture by co-optimizing HW computing units and SW algorithms. ￦<br />
										AI camera design methodology such as deep optics will be further exploited in terms of total camera system, which covers from algorithm, computing, sensor/optics, and material.
										<img alt="CAMERA SYSTEM &amp; IMAGE PROCESSING" src="http://www.sait.samsung.co.kr/webfile/webedit/20240214133544_CAMERA SYSTEM &amp;.png" />
									</dd>
								</dl>

								<dl>
									<dt>
										2.<br />
										AUTONOMOUS DRIVING
									</dt>
									<dd>
										We are creating an autonomous EV where we can carry our loved ones. The warm hearted researchers in Samsung are focusing on developing core technologies that facilitate L4 autonomous driving.<br />
										Also, Autonomous EV platform is thoroughly explored to prepare upcoming EV world. With the developed technology, we are aiming L4 Autonomous driving Sensor, SoC solution.<br />
										This solution will be scalable and fully customizable SoC solution. We also develop server-side AIs which are to enable breakthrough autonomous driving by large-scale AIs.<br />
										Our research scope spans over 2D/3D visual perception, generative AI, and multi-task/multi-modal learning. Key applications of research include: (1) an auto-label AI and (2) a synthetic data generation for AI model training.<br />
										We will seek answers to realize self-evolving AI that surpasses human visual intelligence and pursue development of safer and more reliable ADAS/AD technologies.
										<img alt="AUTONOMOUS DRIVING" src="http://www.sait.samsung.co.kr/webfile/webedit/20240214133558_AUTONOMOUS DRIVING.png" />
									</dd>
								</dl>
							</div>
						</div>
					</section>
				</section>
				<!-- //subContent-->

				<!-- subAside-->
				<aside id="relatedContents" class="js-scr-sec">
					<div class="related__inner">
						<div class="related__title">
							<h1 class="js-scr-box">Related Contents</h1>
							<span class="js-scr-box">Explore more related contents from SAIT!</span>
						</div>
						<div class="related_wrap">
							<article class="js-scr-box">
								<a href="https://www.sait.samsung.co.kr/saithome/research/paper_list.do">
									<h1>Research Paper</h1>
								</a>
							</article>
							<article class="js-scr-box">
								<a href="https://www.sait.samsung.co.kr/saithome/about/press.do">
									<h1>Press</h1>
								</a>
							</article>
						</div>
					</div>
				</aside>
				<!-- //subAside-->
			</section>
			<!-- //container-->

			<!-- footer -->

			<%- include("../include/sub_footer.html") %>
			<div id="gnbDimmed" class="dimmed"></div>

			<!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123575008-1"></script>
			<script>
				window.dataLayer = window.dataLayer || [];
				function gtag() {
					dataLayer.push(arguments);
				}
				gtag('js', new Date());

				gtag('config', 'UA-167217135-1');
			</script>
			<!-- //footer -->
		</div>
		<script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/TweenMax/TweenMax.min.js"></script>
		<script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/TweenMax/easing/EasePack.min.js"></script>
		<script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/design_common.js"></script>
		<script>
			$(document).ready(function () {
				$('.wtc_pp').css({ background: "#fff url('http://www.sait.samsung.co.kr/webfile/researchArea/201908021427531__ico_04.png')", 'background-repeat': 'no-repeat', 'background-position': '55px 32px' });
			});
		</script>
	</body>
</html>
