<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- 공통적용헤더정보 -->
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<!-- //공통적용헤더정보 -->
		<link rel="stylesheet" href="https://www.sait.samsung.co.kr/saithome/stylesheets/css/common.css" />
		<script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/jquery-1.8.2.min.js"></script>
		<!--[if lt IE 9]><script src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/html5shiv.min.js"></script><![endif]-->
		<!--[if lt IE 10]><script src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/placeholders.min.js"></script><![endif]-->
		<meta name="Keywords" content="SAIT, Samsung Advanced Institute of Technology, 삼성종합기술원, 삼성전자 종합기술원, Samsung research, Samsung R&amp;D, Samsung future technology, R&amp;D, Autonomoucs Driving, Graphene, New materials, QD, Quantum Dot" />

		<title>Computing Platform | Samsung Advanced Institute of Technology</title>
		<meta name="Description" content="Computing Platform | Samsung Advanced Institute of Technology" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="Computing Platform | Samsung Advanced Institute of Technology" />
		<meta property="og:description" content="Computing Platform | Samsung Advanced Institute of Technology" />
		<meta property="og:image" content="" />
		<meta property="og:url" content="" />
		<meta property="og:site_name" content="Samsung Advanced Institute of Technology" />
		<meta name="Author" content="Samsung Advanced Institute of Technology" />
		<meta name="robots" content="ALL" />
		<%- include("../include/sub_head.html") %>
	</head>
	<body>
		<div id="wrap" role="main">
			<!-- header-->
			<%- include("../include/sub_header.html") %>
			<!-- //header-->
			<!-- container-->
			<section id="container" class="research">
				<!-- subVisual-->
				<div id="subVisual" style="background-image: url(https://www.sait.samsung.co.kr/saithome/images/research/research_visual.jpg)">
					<div class="tit_wrap">
						<h3>
							<span>Changing the World through Creative Research</span>
						</h3>
					</div>
				</div>
				<!-- //subVisual-->
				<!-- subLocation-->
				<div id="subLocation">
					<div class="location_box">
						<ul class="location_list">
							<li class="home"><a href="https://www.sait.samsung.co.kr/saithome/main/main.do">main page</a></li>
							<li class="depth1">
								<button type="button">Research Areas</button>
								<ul class="under_depth">
									<li><a href="https://www.sait.samsung.co.kr/saithome/about/who.do">About SAIT</a></li>
									<li><a href="https://www.sait.samsung.co.kr/saithome/research/what.do">Research Areas</a></li>
									<li><a href="https://www.sait.samsung.co.kr/saithome/about/press.do">News & Events</a></li>
									<li><a href="https://www.sait.samsung.co.kr/saithome/join/application.do">Join Us</a></li>
								</ul>
							</li>
							<li class="depth2">
								<button type="button">Computing Platform</button>
								<ul class="under_depth">
									<li class="accent"><a href="https://www.sait.samsung.co.kr/saithome/research/what.do">What We Do</a></li>
									<!--
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/multimedia.do"  >Augmented Reality</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/deep.do"  >Deep Learning</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/autonomous.do"  >Automotive Electronics</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/brain.do"  >Brain Inspired Computing & Device</a></li>
							-->
									<!--
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/deep.do"  >Artificial Intelligence</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/brain.do"  >Computing Platform</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/multimedia.do"  >Augmented Reality</a></li>							
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/autonomous.do"  >Automotive Electronics</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/healthcare.do"  >Healthcare Platform</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/metaphotonics.do"  >Metaphotonics</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/graphene.do"  >Graphene/2D</a></li>
                            <li><a href="https://www.sait.samsung.co.kr/saithome/research/organic.do"  >Organic Electronic Materials</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/polymer.do"  >Optical Component Materials</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/inorganics.do"  >Functional Inorganics</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/quantum.do"  >Quantum Dot</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/battery.do"  >Next Generation Battery</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/bio.do"  >Biomaterials</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/computational.do"  >Computational Science</a></li>
							-->

									<li>
										<a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=14"> AI Algorithms</a>
									</li>
									<li>
										<a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=16" class="active"> Computing Platform</a>
									</li>
									<li>
										<a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=1"> Human Augmentation</a>
									</li>
									<li>
										<a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=2"> Metaphotonics</a>
									</li>
									<li>
										<a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=3"> Nano Electronics</a>
									</li>
									<li>
										<a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=18"> Display Materials</a>
									</li>
									<li>
										<a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=21"> Battery Materials</a>
									</li>
									<li>
										<a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=23"> Semiconductor Materials</a>
									</li>
									<li>
										<a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=27"> Environmental Research</a>
									</li>
									<!--
							<li class="accent"><a href="https://www.sait.samsung.co.kr/saithome/research/paper_list.do"    >Research Papers</a></li>
							-->
									<li class="accent"><a href="https://www.sait.samsung.co.kr/saithome/research/paper_list_srt.do">Publications</a></li>
									<li class="accent"><a href="https://www.sait.samsung.co.kr/saithome/research/paper_list_wtc.do">Best Research Papers</a></li>
									<li class="accent"><a href="https://www.sait.samsung.co.kr/saithome/research/infra.do">Research Infra</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
				<!-- //subLocation-->

				<!-- subContent-->
				<section id="content" class="world_research">
					<div id="subTitle" class="subTitle js-scr-sec">
						<h4 class="js-scr-box">Computing Platform</h4>
						<p class="js-scr-box js-motion-end">
							We are focusing new system architectures, low-precision neural network algorithms, neural processor compilers, heterogeneous multicore software, and distributed learning frameworks to improve power efficient and scalable architecture. We are researching security
							technologies from the whole system perspective, from hardware to software.
						</p>
					</div>

					<div class="third_depth_titbox js-scr-sec">
						<p class="tit js-scr-box">Computing Platform</p>
						<p class="desc js-scr-box">A new computing processor that mimics the human brain</p>
					</div>

					<section class="art-content contents_wrap">
						<div class="art-img-bx js-scr-sec"><img alt=" " class="js-scr-box" src="https://www.sait.samsung.co.kr/webfile/webedit/20190805140206_02_06_01-01.jpg" style="width: 1920px; height: 567px" /></div>

						<div class="contents_box js-scr-sec">
							<p class="js-scr-box">
								<strong>Neural Processor</strong> AI&rsquo;s rapid evolution is generating an explosion in new chip architectures &ndash; especially hardware accelerators for machine learning and deep learning. GPUs have been the workhorse for training deep learning models on
								servers. Today, more users demand access to AI applications at the edge and on-device. With Moore&rsquo;s Law slowing, dedicated accelerators to reduce rack area and power consumption are driving hardware innovations.<br />
								<br />
								AI-dedicated hardware, like neural processors, can be 30 to 80 times more energy efficient than GPUs. Neural processors are replacing traditional chips at every turn &ndash; cloud-to-edge, hyperconverged servers, and cloud-storage instances. Cloud providers are
								developing custom chips. Mobile AP companies are enabling high-quality AI applications on device by providing neural processors for inferencing.<br />
								<br />
								SAIT is developing a neural processor targeting world&rsquo;s best performance in energy and area efficiency. We plan to commercialize this new chip through close cooperation with Samsung business units. To this end, our research in new system architectures,
								low-precision neural network algorithms, neural processor compilers, heterogeneous multicore software, and distributed learning frameworks will help bring about a new era of AI chips.
							</p>
						</div>

						<div class="art-img-bx js-scr-sec"><img alt=" " class="js-scr-box" src="https://www.sait.samsung.co.kr/webfile/webedit/20190805140216_02_06_01-02.jpg" style="width: 1180px; height: 512px" /></div>

						<div class="contents_box js-scr-sec">
							<p class="js-scr-box js-motion-end art-line">
								<strong>Neuromorphic Processor</strong> With AI, machine learning, and blockchain demanding greater computation, we are engaged in fundamental breakthroughs. One such advance is through the development of neuromorphic processors inspired by the human brain. The goal
								of this approach is to emulate the brain&rsquo;s dynamic learning capability and power efficiency.<br />
								<br />
								At SAIT, we are actively researching near/in memory computing, asynchronous spiking neural networks, and other concepts to create a brain-like processor. Our interests include brain-inspired learning and inference algorithms, low-power mixed signal computing
								architectures, and new synaptic memories.<br />
								<br />
								SAIT collaborates with the Business Units to develop and verify technologies using the latest logic and memory fabrication.
							</p>

							<p class="js-scr-box js-motion-end art-line">
								<strong>Processing in Memory</strong> Deep learning models require huge memory bandwidth to store input data, weights and activations. During training, activations from forward computation must be stored in order to calculate error gradients during backpropagation. As
								such, data movement is very expensive in terms of bandwidth, energy, and latency.<br />
								<br />
								Since 2010, Moore&#39;s law has begun to breakdown due the difficulty in increasing number of transistors on silicon. Traditional von-Neumann architectures consist of processor chips specialized for serial processing and DRAMs optimized for high density memory. The
								interface between the two devices is a major bottleneck resulting in large power consumption. In addition, this limitation introduces latency and bandwidth constraints. Processing in memory is actively being researched as one of the ways to solve these issues.<br />
								<br />
								Processing in memory architecture integrates memory and processing units together. The performance constraint problem can be solved by enabling computation closer to data. - Near-memory computing can dramatically reduce the data transmission cost between memory and
								processing unit.<br />
								- In-memory computing performs both data storage and computation in the analog domain, which can further reduce the memory read cost compared to Near-memory computing.<br />
								<br />
								SAIT is actively collaborating with Samsung business units to explore future memory architectures.
							</p>

							<p class="js-scr-box js-motion-end">
								<strong>High Performance Computing</strong> A supercomputer performs at or near the highest operational rate for computers. Supercomputers have been used to advance scientific and engineering breakthroughs.&nbsp;By handling very large databases and performing a great
								amount of computations, they continue to push the limits of operational speed.&nbsp;<br />
								<br />
								At any given time, there are well-publicized supercomputers that operate at extremely high speeds relative to all other computers. The race to have the fastest, most powerful supercomputer never ends and the competition doesn&rsquo;t seem to be slowing down anytime
								soon. With scientists and engineers using supercomputers for important tasks like studying diseases and simulating new materials, we hope that the advances will benefit all of humanity.<br />
								<br />
								Samsung has its own supercomputing center, which plays an important role in the field of computational science and is applied to a wide range of tasks in various fields. The Samsung Supercomputer has been used to compute novel structures and properties of chemical
								compounds, polymers, and crystals. It also has served as a key element in accelerating Samsung&rsquo;s artificial intelligence research in machine learning, deep learning, and data analytics.<br />
								<br />
								Main research topics include new machine learning software, parallel computing, simulation workflow, automation and optimized deployment, novel materials discovery and simulation, along with management of real-time computing grids,&nbsp;etc.
							</p>
						</div>

						<div class="art-img-bx js-scr-sec"><img alt=" " class="js-scr-box" src="https://www.sait.samsung.co.kr/webfile/webedit/20190805140225_02_06_01-03.jpg" style="width: 1180px; height: 776px" /></div>

						<div class="contents_box js-scr-sec">
							<p class="js-scr-box art-line">
								<strong>Security &amp; Cryptography</strong> We are entering a new era of cybersecurity. Despite having tools like machine learning and artificial intelligence (AI) to automate and guard against cyberattacks, these algorithms can be very brittle based on the data they
								are trained on. It is certain that attacks will become smarter. In addition, add the layer of connectivity supporting millions, if not billions of devices that enable self-driving cars, medical devices, IoT, etc., you have a huge battlefield of which to defend against
								attacks. With such a large space to defend, security must be integrated and developed at the design stage when introducing a new technology.<br />
								<br />
								As we have witnessed throughout the history of mankind and with the advent of computers, when new&nbsp;technology emerges, attackers&#39; weapons&nbsp;improve and the security paradigm shifts. For example, RSA and ECC&nbsp;public key crypto systems will no
								longer&nbsp;be secure with the&nbsp;advent of quantum computers. Blockchain, cloud, and edge computing are also changing the world from closed&nbsp;embedded environments to open environments&nbsp;that are easier to&nbsp;attack, but harder to protect.<br />
								<br />
								SAIT is researching security technologies from the whole system perspective, from hardware (HW) to software (SW):<br />
								Next-generation cryptography<br />
								- Efficient and intelligent vulnerability discovery on different products &nbsp;<br />
								- Attack and defense mechanisms of HW security systems&nbsp;<br />
								- Automated vulnerability detection in source code and binary&nbsp;code<br />
								- Fuzzing to mine for zero day exploits
							</p>

							<p class="js-scr-box">
								<strong>Software Engineering</strong> Software engineering (SE) is &ldquo;the application of a systematic, disciplined, quantifiable approach to the development, operation, and maintenance of software&rdquo; as defined in the ISO/IEC/IEEE standard. Since the IEEE
								Computer Society first published its Transactions on SE in 1972, advancement of both technologies and practices in this field continue to evolve. The holistic view of SE can be seen in the SE Body of Knowledge (SWEBOK). Recently SE has evolved along with modern and
								emerging technologies such as artificial intelligence, smart machines and cyber-physical systems. For instance, verification and validation are critical to ensure the production-readiness of a machine learning (ML) system. However, ML system testing is more complex
								and challenging than testing manually coded systems in that its behavior depends on data and models.<br />
								<br />
								Among vast and diverse research areas in SE, we are acutely interested in the application of a quantifiable approach to software development. Currently, SAIT is implementing a corporate-wide software measurement system to continuously improve software product quality.
								Furthermore, we are developing an automated code review system merged into continuous integration system that effectively and efficiently detects quality violations. These activities lead us to research on quantifying technical debt in both code quality and during the
								development process. At the same time, we are researching software analytics, which provides insights by linking various types of software artifacts for decision-making. Moreover, we want to ensure reliability of the entire software stack around ML systems.
							</p>
						</div>
					</section>
				</section>
				<!-- //subContent-->

				<!-- subAside-->
				<aside id="relatedContents" class="js-scr-sec">
					<div class="related__inner">
						<div class="related__title">
							<h1 class="js-scr-box">Related Contents</h1>
							<span class="js-scr-box">Explore more related contents from SAIT!</span>
						</div>
						<div class="related_wrap">
							<article class="js-scr-box">
								<a href="https://www.sait.samsung.co.kr/saithome/research/paper_list.do">
									<h1>Research Paper</h1>
								</a>
							</article>
							<article class="js-scr-box">
								<a href="https://www.sait.samsung.co.kr/saithome/about/press.do">
									<h1>Press</h1>
								</a>
							</article>
						</div>
					</div>
				</aside>
				<!-- //subAside-->
			</section>
			<!-- //container-->

			<!-- footer -->

			<%- include("../include/sub_footer.html") %>
			<div id="gnbDimmed" class="dimmed"></div>

			<!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123575008-1"></script>
			<script>
				window.dataLayer = window.dataLayer || [];
				function gtag() {
					dataLayer.push(arguments);
				}
				gtag('js', new Date());

				gtag('config', 'UA-167217135-1');
			</script>
			<!-- //footer -->
		</div>
		<script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/TweenMax/TweenMax.min.js"></script>
		<script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/TweenMax/easing/EasePack.min.js"></script>
		<script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/design_common.js"></script>
		<script>
			$(document).ready(function () {
				$('.wtc_pp').css({ background: "#fff url('http://www.sait.samsung.co.kr/webfile/researchArea/201908021433271__ico_05.png')", 'background-repeat': 'no-repeat', 'background-position': '55px 32px' });
			});
		</script>
	</body>
</html>
