<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- 공통적용헤더정보 -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <!-- //공통적용헤더정보 -->
        <link rel="stylesheet" href="https://www.sait.samsung.co.kr/saithome/stylesheets/css/common.css" />
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/jquery-1.8.2.min.js"></script>
        <!--[if lt IE 9]><script src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/html5shiv.min.js"></script><![endif]-->
        <!--[if lt IE 10]><script src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/placeholders.min.js"></script><![endif]-->
        <meta name="Keywords" content="SAIT, Samsung Advanced Institute of Technology, 삼성종합기술원, 삼성전자 종합기술원, Samsung research, Samsung R&amp;D, Samsung future technology, R&amp;D, Autonomoucs Driving, Graphene, New materials, QD, Quantum Dot" />

        <title>Particulate Matter | Samsung Advanced Institute of Technology</title>
        <meta name="Description" content="Particulate Matter | Samsung Advanced Institute of Technology" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Particulate Matter | Samsung Advanced Institute of Technology" />
        <meta property="og:description" content="Particulate Matter | Samsung Advanced Institute of Technology" />
        <meta property="og:image" content="" />
        <meta property="og:url" content="" />
        <meta property="og:site_name" content="Samsung Advanced Institute of Technology" />
        <meta name="Author" content="Samsung Advanced Institute of Technology" />
        <meta name="robots" content="ALL" />
        <%- include("../include/sub_head.html") %>
    </head>
    <body>
        <div id="wrap" role="main">
            <!-- header-->
            <%- include("../include/sub_header.html") %>
            <!-- //header-->
            <!-- container-->
            <section id="container" class="research">
                <!-- subVisual-->
                <div id="subVisual" style="background-image: url(https://www.sait.samsung.co.kr/saithome/images/research/research_visual.jpg)">
                    <div class="tit_wrap">
                        <h3>
                            <span>Changing the World through Creative Research</span>
                        </h3>
                    </div>
                </div>
                <!-- //subVisual-->
                <!-- subLocation-->
                <div id="subLocation">
                    <div class="location_box">
                        <ul class="location_list">
                            <li class="home"><a href="https://www.sait.samsung.co.kr/saithome/main/main.do">main page</a></li>
                            <li class="depth1">
                                <button type="button">Research Areas</button>
                                <ul class="under_depth">
                                    <li><a href="https://www.sait.samsung.co.kr/saithome/about/who.do">About SAIT</a></li>
                                    <li><a href="https://www.sait.samsung.co.kr/saithome/research/what.do">Research Areas</a></li>
                                    <li><a href="https://www.sait.samsung.co.kr/saithome/about/press.do">News & Events</a></li>
                                    <li><a href="https://www.sait.samsung.co.kr/saithome/join/application.do">Join Us</a></li>
                                </ul>
                            </li>
                            <li class="depth2">
                                <button type="button">Environmental Research</button>
                                <ul class="under_depth">
                                    <li class="accent"><a href="https://www.sait.samsung.co.kr/saithome/research/what.do">What We Do</a></li>
                                    <!--
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/multimedia.do"  >Augmented Reality</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/deep.do"  >Deep Learning</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/autonomous.do"  >Automotive Electronics</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/brain.do"  >Brain Inspired Computing & Device</a></li>
							-->
                                    <!--
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/deep.do"  >Artificial Intelligence</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/brain.do"  >Computing Platform</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/multimedia.do"  >Augmented Reality</a></li>							
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/autonomous.do"  >Automotive Electronics</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/healthcare.do"  >Healthcare Platform</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/metaphotonics.do"  >Metaphotonics</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/graphene.do"  >Graphene/2D</a></li>
                            <li><a href="https://www.sait.samsung.co.kr/saithome/research/organic.do"  >Organic Electronic Materials</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/polymer.do"  >Optical Component Materials</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/inorganics.do"  >Functional Inorganics</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/quantum.do"  >Quantum Dot</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/battery.do"  >Next Generation Battery</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/bio.do"  >Biomaterials</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/computational.do"  >Computational Science</a></li>
							-->

                                    <li>
                                        <a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=14"> AI Algorithms</a>
                                    </li>
                                    <li>
                                        <a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=16"> Computing Platform</a>
                                    </li>
                                    <li>
                                        <a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=1"> Human Augmentation</a>
                                    </li>
                                    <li>
                                        <a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=2"> Metaphotonics</a>
                                    </li>
                                    <li>
                                        <a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=3"> Nano Electronics</a>
                                    </li>
                                    <li>
                                        <a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=18"> Display Materials</a>
                                    </li>
                                    <li>
                                        <a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=21"> Battery Materials</a>
                                    </li>
                                    <li>
                                        <a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=23"> Semiconductor Materials</a>
                                    </li>
                                    <li>
                                        <a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=27" class="active"> Environmental Research</a>
                                    </li>
                                    <!--
							<li class="accent"><a href="https://www.sait.samsung.co.kr/saithome/research/paper_list.do"    >Research Papers</a></li>
							-->
                                    <li class="accent"><a href="https://www.sait.samsung.co.kr/saithome/research/paper_list_srt.do">Publications</a></li>
                                    <li class="accent"><a href="https://www.sait.samsung.co.kr/saithome/research/paper_list_wtc.do">Best Research Papers</a></li>
                                    <li class="accent"><a href="https://www.sait.samsung.co.kr/saithome/research/infra.do">Research Infra</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- //subLocation-->

                <!-- subContent-->
                <section id="content" class="world_research">
                    <div id="subTitle" class="subTitle js-scr-sec">
                        <h4 class="js-scr-box">Environmental &amp; Energy Research</h4>
                        <p class="js-scr-box js-motion-end">SAIT are researching on various technologies to deal with global environmental & energy issues for sustainable future.</p>
                    </div>

                    <div class="third_depth_titbox js-scr-sec">
                        <p class="tit js-scr-box">Particulate Matter</p>
                        <p class="desc js-scr-box">Solutions to critical issues of particulate matter and air quality; Sensors for nanoparticle/gas, Catalysts for particle/gas removal and Maintenance-free air purification</p>
                    </div>

                    <section class="art-content contents_wrap">
                        <div class="art-content__wrap">
                            <div class="art-content__title">
                                <strong>Environmental &amp; Energy Research</strong>
                                <p>
                                    In pursuit of a sustainable future, development of innovative environmental technologies is of paramount importance. At the forefront of this endeavor, SAIT is committed to creating eco-friendly source technologies that address critical environmental challenges,
                                    including air pollution, greenhouse gas emissions, and energy consumption. These solutions align with Samsung Electronics' commitment to ESG management, fostering a cleaner and more sustainable world.
                                </p>
                            </div>
                            <div class="art-content__text">
                                <div class="art-content__row">
                                    <strong>1. Air Pollution Mitigation</strong>
                                    <p>
                                        Currently, air pollution reduction technologies are imperative for tackling global environmental challenges, including air quality degradation and climate change, and for ensuring the sustainable advancement of national industries. Advanced systems such as
                                        filtration units, scrubbers, and catalytic converters are being deployed; however, these technologies face significant obstacles related to efficiency, technical reliability, and cost-effectiveness.
                                    </p>
                                </div>
                                <div class="art-content__row">
                                    <strong>1-1. Particulate Matter Diagnostics/Removal</strong>
                                    <p>
                                        Particulate matters (PMs), especially smaller than 2.5㎛ of particle size, along with the precursor gases have detrimental effects on both public health and semiconductor manufacturing processes. Additionally, as semiconductor circuits have become smaller and
                                        increasingly complex, managing airborne molecular contamination (AMC) which causes defects during manufacturing is crucial for all new semiconductor manufacturing facilities. <br /><br />
                                        Therefore, our aim is to find critical issues of PMs and AMCs and to provide technical solutions for society and boosting business competitiveness as well. We are conducting researches on (1) developing advanced air purification technologies to improve the
                                        surrounding air quality, (2) formation of secondary particles from emission sources, and (3) AMC dispersion simulation for its prompt identification with Al techniques at a semiconductor FAB.
                                    </p>
                                </div>
                            </div>
                            <div class="art-content__figure">
                                <ul>
                                    <li>
                                        <img src="" alt="" />
                                    </li>
                                    <li>
                                        <img src="" alt="" />
                                    </li>
                                    <li>
                                        <img src="" alt="" />
                                    </li>
                                    <li>
                                        <img src="" alt="" />
                                    </li>
                                    <li>
                                        <img src="" alt="" />
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="art-img-bx js-scr-sec"><img alt=" " class="js-scr-box" src="https://www.sait.samsung.co.kr/webfile/webedit/20190812160654_02_12_02-01.jpg" /></div>

                        <div class="contents_box js-scr-sec">
                            <p class="js-scr-box">
                                <strong>Overview</strong> High concentration of atmospheric PM (particulate matter) has become one of the major concerns all over the world. It is commonly thought that exposure to ambient PM can cause adverse health effects. The rate of cancer, heart disease, stroke,
                                and respiratory diseases such as asthma are highly linked to PM concentration. To relieve those concerns, a complete understanding through improved simulation and analytical methodologies followed by effective reduction technologies are required.
                            </p>
                        </div>

                        <div class="art-img-bx js-scr-sec"><img alt=" " class="js-scr-box" src="https://www.sait.samsung.co.kr/webfile/webedit/20190802145418_02_12_02-02.jpg" /></div>

                        <div class="contents_box js-scr-sec">
                            <p class="js-scr-box">
                                <strong>Technology Trend </strong> Recently, efforts to reduce PMs have been made by government and academia. From a technical point of view, major research topics about PM can be divided into 4 categories. First theme is elucidating the formation mechanism of PM.
                                Especially understanding anthropologically generated secondary PM formation is challenging. Second theme is prediction of air quality and health/ecological impacts. The third theme is diagnosis of PM. Analyzing and measuring physicochemical characteristics of PM are
                                essential for identifying and understanding formation mechanism and simulation. The last one is mitigation technologies such as gas decomposition catalysts from emission sources and PM collecting techniques, including filter, electrostatic precipitator. These four
                                topics closely correlate with another so active Cross-National Research collaborations between the experts of different topics are going on all over the globe.
                            </p>

                            <p class="js-scr-box and">
                                <strong>SAIT Technology</strong> In Samsung Particulate Matter Research Institute which established under umbrella of SAIT in January 2019, we are aiming to find critical issues of particulate matter and provide our technical solutions to society. To achieve this
                                goal, we are focusing on how to precisely monitor and how to efficiently remove harmful air pollutants. PM sensor that can measure smaller PM more precisely, simultaneous removal of gases and particles, and sustainable PM removal technology for maintenance&ndash;free
                                air purification system are on track. Our goal is to innovate accuracy and efficiency of monitoring and removal process so that we can contribute to not only future growth of the company but also our society.
                            </p>
                        </div>
                    </section>
                </section>
                <!-- //subContent-->

                <!-- subAside-->
                <aside id="relatedContents" class="js-scr-sec">
                    <div class="related__inner">
                        <div class="related__title">
                            <h1 class="js-scr-box">Related Contents</h1>
                            <span class="js-scr-box">Explore more related contents from SAIT!</span>
                        </div>
                        <div class="related_wrap">
                            <article class="js-scr-box">
                                <a href="https://www.sait.samsung.co.kr/saithome/research/paper_list.do">
                                    <h1>Research Paper</h1>
                                </a>
                            </article>
                            <article class="js-scr-box">
                                <a href="https://www.sait.samsung.co.kr/saithome/about/press.do">
                                    <h1>Press</h1>
                                </a>
                            </article>
                        </div>
                    </div>
                </aside>
                <!-- //subAside-->
            </section>
            <!-- //container-->

            <!-- footer -->

            <%- include("../include/sub_footer.html") %>
            <div id="gnbDimmed" class="dimmed"></div>

            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123575008-1"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag() {
                    dataLayer.push(arguments);
                }
                gtag('js', new Date());

                gtag('config', 'UA-167217135-1');
            </script>
            <!-- //footer -->
        </div>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/TweenMax/TweenMax.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/TweenMax/easing/EasePack.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/design_common.js"></script>
        <script>
            $(document).ready(function () {
                $('.wtc_pp').css({ background: "#fff url('http://www.sait.samsung.co.kr/webfile/researchArea/201908021451291__ico_09.png')", 'background-repeat': 'no-repeat', 'background-position': '55px 32px' });
            });
        </script>
    </body>
</html>
