<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- 공통적용헤더정보 -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <!-- //공통적용헤더정보 -->
        <link rel="stylesheet" href="https://www.sait.samsung.co.kr/saithome/stylesheets/css/common.css" />
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/jquery-1.8.2.min.js"></script>
        <!--[if lt IE 9]><script src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/html5shiv.min.js"></script><![endif]-->
        <!--[if lt IE 10]><script src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/placeholders.min.js"></script><![endif]-->
        <meta name="Keywords" content="SAIT, Samsung Advanced Institute of Technology, 삼성종합기술원, 삼성전자 종합기술원, Samsung research, Samsung R&amp;D, Samsung future technology, R&amp;D, Autonomoucs Driving, Graphene, New materials, QD, Quantum Dot" />

        <title>Research Infra | Samsung Advanced Institute of Technology</title>
        <meta name="Description" content="Research Infra | Samsung Advanced Institute of Technology" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Research Infra | Samsung Advanced Institute of Technology" />
        <meta property="og:description" content="Research Infra | Samsung Advanced Institute of Technology" />
        <meta property="og:image" content="" />
        <meta property="og:url" content="" />
        <meta property="og:site_name" content="Samsung Advanced Institute of Technology" />
        <meta name="Author" content="Samsung Advanced Institute of Technology" />
        <meta name="robots" content="ALL" />
        <%- include("../include/sub_head.html") %>
    </head>
    <body>
        <div id="wrap" role="main">
            <!-- header-->
            <%- include("../include/sub_header.html") %>
            <!-- //header-->

            <!-- container-->
            <section id="container" class="research">
                <!-- subVisual-->
                <div id="subVisual" style="background-image: url(https://www.sait.samsung.co.kr/saithome/images/research/research_visual.jpg)">
                    <div class="tit_wrap">
                        <h3>
                            <span>Changing the World through Creative Research</span>
                        </h3>
                    </div>
                </div>
                <!-- //subVisual-->
                <!-- subLocation-->
                <div id="subLocation">
                    <div class="location_box">
                        <ul class="location_list">
                            <li class="home"><a href="../index.html">main page</a></li>
                            <li class="depth1">
                                <button type="button">Research Areas</button>
                                <ul class="under_depth">
                                    <li><a href="../about/who.html">About SAIT</a></li>
                                    <li><a href="../research/what.html">Research Areas</a></li>
                                    <li><a href="../about/press.html">News & Events</a></li>
                                    <li><a href="../join/application.html">Join Us</a></li>
                                </ul>
                            </li>
                            <li class="depth2">
                                <button type="button">Research Infra</button>
                                <ul class="under_depth">
                                    <li class="accent"><a href="../research/what.html">What We Do</a></li>
                                    <li>
                                        <a href="../research/aiAlgorithms.html">AI Algorithms</a>
                                    </li>
                                    <li>
                                        <a href="../research/computingPlatform.html">Computing Platform</a>
                                    </li>
                                    <li>
                                        <a href="../research/metaphotonics.html">Si-Photonics / Meta-Photonics</a>
                                    </li>
                                    <li>
                                        <a href="../research/displayMaterials.html">Display Materials</a>
                                    </li>
                                    <li>
                                        <a href="../research/batteryMaterials.html">Battery Materials</a>
                                    </li>
                                    <li>
                                        <a href="../research/semiconductorMaterials.html">Semiconductor Materials &amp; Devices</a>
                                    </li>
                                    <li>
                                        <a href="../research/environmentalResearch.html">Environmental &amp; Energy Research </a>
                                    </li>
                                    <li class="accent"><a href="../research/paper_list_srt.html">Publications</a></li>
                                    <li class="accent"><a href="../research/paper_list_wtc.html">Best Research Papers</a></li>
                                    <li class="accent"><a href="../research/infra.html" class="active">Research Infra</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- //subLocation-->

                <!-- subContent-->
                <section id="content" class="infra">
                    <div class="content__container">
                        <div id="subTitle" class="js-scr-sec">
                            <h4 class="js-scr-box">Research Infra</h4>
                        </div>
                        <article class="row">
                            <div class="row__inner">
                                <div class="infra_wrap js-scr-sec">
                                    <p class="tit js-scr-box">
                                        SAIT is equipped with world class R&D infrastructures such as Supercomputer, Aberration-Corrected Transmission Electron Microscopy (TEM), Atom Probe Tomography (APT), Femtosecond Spectroscopy’, Hybrid Secondary Ion Mass Spectrometry(SIMS), Hard X-ray
                                        photoelectron spectroscopy (HAXPES), nano fab, etc. to conduct research by performing modeling, simulation, experiment, and nanoscaleanalysis.
                                        <br /><br />
                                        SAIT has also developed organic material synthesis platform and semiconductor material evaluation platform based on AI and robotics technology to reduce the time and cost required for material development. These technologies can be utilized in various fields
                                        and are expected to have a significant impact on future industrial development.
                                    </p>
                                    <div id="infraRolling">
                                        <ul class="img_wrap js-scr-box">
                                            <li><img src="../../resources/assets/images/sub/infra_img01.jpg" alt="Aberration-Corrected Transmission Electron Microscopy (TEM)" /></li>
                                            <li><img src="../../resources/assets/images/sub/infra_img02.jpg" alt="Atom Probe Tomography (APT) - Invizo 6000" /></li>
                                            <li><img src="../../resources/assets/images/sub/infra_img03.jpg" alt="Atom Probe Tomography (APT) - Invizo 6000" /></li>
                                            <li><img src="../../resources/assets/images/sub/infra_img04.jpg" alt="Hybrid Secondary Ion Mass Spectrometry(SIMS)" /></li>
                                            <li><img src="../../resources/assets/images/sub/infra_img05.jpg" alt="Hard X-ray photoelectron spectroscopy (HAXPES)" /></li>
                                            <li><img src="../../resources/assets/images/sub/infra_img06.jpg" alt="AMS (Autonomous Material System) Platform" /></li>
                                            <li><img src="../../resources/assets/images/sub/infra_img07.jpg" alt="SEMEF (SEMiconductor processing-material's Evaluation & Formulation)" /></li>
                                        </ul>
                                        <div class="nav_btn js-scr-box">
                                            <button class="prev_btn">prev</button>
                                            <button class="next_btn">next</button>
                                        </div>
                                        <ul class="txt_wrap js-scr-box">
                                            <li>
                                                <strong>Aberration-Corrected Transmission Electron Microscopy (TEM)</strong>
                                                <p>Analytical equipment enabling atomic scale imaging and spectroscopy using double aberration corrector and monochromator</p>
                                            </li>
                                            <li>
                                                <strong>Atom Probe Tomography (APT) - Invizo 6000</strong>
                                                <p>
                                                    3D imaging and chemical composition measurements at the atomic scale<br />
                                                    (around 0.1-0.3nm resolution in depth and 0.3-0.5nm laterally)
                                                </p>
                                            </li>
                                            <li>
                                                <strong>Atom Probe Tomography (APT) - Invizo 6000</strong>
                                                <p>
                                                    Spectroscopic measurements observing ultrafast electron behaviors from femto- to micro-second in semiconductors and<br />
                                                    electronic chemical compounds. Picture: Femtosecond pump-probe experiments on quantum dots in solution, measuring<br />
                                                    ultrafast excitondynamcis (Blue: pump laser, Rainbow: supercontinuum probe, Red: photoluminescence from QDs)
                                                </p>
                                            </li>
                                            <li>
                                                <strong>Hybrid Secondary Ion Mass Spectrometry(SIMS)</strong>
                                                <p>TOF-SIMS / Orbitrap Combination Instrument</p>
                                            </li>
                                            <li>
                                                <strong>Hard X-ray photoelectron spectroscopy (HAXPES)</strong>
                                                <p>
                                                    HAXPES analyzes the chemical and electronic structure of the surface by measuring the kinetic energy of<br />photoelectrons emitted by the photoelectric effect. Using high energy X-rays from a Cr K-alpha source,<br />
                                                    the information depth is more than twice that of conventional XPS
                                                </p>
                                            </li>
                                            <li>
                                                <strong>AMS (Autonomous Material System) Platform</strong>
                                                <p>Autonomous organic material synthesis system based on AI and robotic technology</p>
                                            </li>
                                            <li>
                                                <strong>SEMEF (SEMiconductor processing-material's Evaluation & Formulation)</strong>
                                                <p>Autonomous formulation and evaluation system based on AI and robotic technology</p>
                                            </li>
                                        </ul>
                                        <ul class="thumb_img js-scr-box">
                                            <li>
                                                <button type="button" class="active"><img src="../../resources/assets/images/sub/infra_img01.jpg" alt="Aberration-Corrected Transmission Electron Microscopy (TEM)" /></button>
                                            </li>
                                            <li>
                                                <button type="button"><img src="../../resources/assets/images/sub/infra_img02.jpg" alt="Atom Probe Tomography (APT) - Invizo 6000" /></button>
                                            </li>
                                            <li>
                                                <button type="button"><img src="../../resources/assets/images/sub/infra_img03.jpg" alt="Atom Probe Tomography (APT) - Invizo 6000" /></button>
                                            </li>
                                            <li>
                                                <button type="button"><img src="../../resources/assets/images/sub/infra_img04.jpg" alt="Hybrid Secondary Ion Mass Spectrometry(SIMS)" /></button>
                                            </li>
                                            <li>
                                                <button type="button"><img src="../../resources/assets/images/sub/infra_img05.jpg" alt="Hard X-ray photoelectron spectroscopy (HAXPES)" /></button>
                                            </li>
                                            <li>
                                                <button type="button"><img src="../../resources/assets/images/sub/infra_img06.jpg" alt="AMS (Autonomous Material System) Platform" /></button>
                                            </li>
                                            <li>
                                                <button type="button"><img src="../../resources/assets/images/sub/infra_img07.jpg" alt="SEMEF (SEMiconductor processing-material's Evaluation & Formulation)" /></button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </section>
                <!-- //subContent-->

                <!-- subAside-->
                <aside id="relatedContents" class="js-scr-sec">
                    <div class="related__inner">
                        <div class="related__title">
                            <h1 class="js-scr-box">Related Contents</h1>
                            <span class="js-scr-box">Explore more related contents from SAIT!</span>
                        </div>
                        <div class="related_wrap">
                            <article class="js-scr-box">
                                <a href="../research/paper_list_wtc.html">
                                    <h1>Research Paper</h1>
                                </a>
                            </article>
                            <article class="js-scr-box">
                                <a href="../about/press.html">
                                    <h1>Press</h1>
                                </a>
                            </article>
                        </div>
                    </div>
                </aside>
                <!-- //subAside-->
            </section>
            <!-- //container-->

            <!-- footer -->

            <%- include("../include/sub_footer.html") %>
            <div id="gnbDimmed" class="dimmed"></div>

            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123575008-1"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag() {
                    dataLayer.push(arguments);
                }
                gtag('js', new Date());

                gtag('config', 'UA-167217135-1');
            </script>
            <!-- //footer -->
        </div>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/TweenMax/TweenMax.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/TweenMax/easing/EasePack.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/design_common.js"></script>
    </body>
</html>
