<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- 공통적용헤더정보 -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <!-- //공통적용헤더정보 -->
        <link rel="stylesheet" href="https://www.sait.samsung.co.kr/saithome/stylesheets/css/common.css" />
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/jquery-1.8.2.min.js"></script>
        <!--[if lt IE 9]><script src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/html5shiv.min.js"></script><![endif]-->
        <!--[if lt IE 10]><script src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/placeholders.min.js"></script><![endif]-->
        <meta name="Keywords" content="SAIT, Samsung Advanced Institute of Technology, 삼성종합기술원, 삼성전자 종합기술원, Samsung research, Samsung R&amp;D, Samsung future technology, R&amp;D, Autonomoucs Driving, Graphene, New materials, QD, Quantum Dot" />

        <title>Metaphotonics | Samsung Advanced Institute of Technology</title>
        <meta name="Description" content="Metaphotonics | Samsung Advanced Institute of Technology" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Metaphotonics | Samsung Advanced Institute of Technology" />
        <meta property="og:description" content="Metaphotonics | Samsung Advanced Institute of Technology" />
        <meta property="og:image" content="" />
        <meta property="og:url" content="" />
        <meta property="og:site_name" content="Samsung Advanced Institute of Technology" />
        <meta name="Author" content="Samsung Advanced Institute of Technology" />
        <meta name="robots" content="ALL" />
        <%- include("../include/sub_head.html") %>
    </head>
    <body>
        <div id="wrap" role="main">
            <!-- header-->
            <%- include("../include/sub_header.html") %>

            <!-- //header-->
            <!-- container-->
            <section id="container" class="research">
                <!-- subVisual-->
                <div id="subVisual" style="background-image: url(https://www.sait.samsung.co.kr/saithome/images/research/research_visual.jpg)">
                    <div class="tit_wrap">
                        <h3>
                            <span>Changing the World through Creative Research</span>
                        </h3>
                    </div>
                </div>
                <!-- //subVisual-->
                <!-- subLocation-->
                <div id="subLocation">
                    <div class="location_box">
                        <ul class="location_list">
                            <li class="home"><a href="https://www.sait.samsung.co.kr/saithome/main/main.do">main page</a></li>
                            <li class="depth1">
                                <button type="button">Research Areas</button>
                                <ul class="under_depth">
                                    <li><a href="https://www.sait.samsung.co.kr/saithome/about/who.do">About SAIT</a></li>
                                    <li><a href="https://www.sait.samsung.co.kr/saithome/research/what.do">Research Areas</a></li>
                                    <li><a href="https://www.sait.samsung.co.kr/saithome/about/press.do">News & Events</a></li>
                                    <li><a href="https://www.sait.samsung.co.kr/saithome/join/application.do">Join Us</a></li>
                                </ul>
                            </li>
                            <li class="depth2">
                                <button type="button">Metaphotonics</button>
                                <ul class="under_depth">
                                    <li class="accent"><a href="https://www.sait.samsung.co.kr/saithome/research/what.do">What We Do</a></li>
                                    <li>
                                        <a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=14">AI Algorithms</a>
                                    </li>
                                    <li>
                                        <a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=16">Computing Platform</a>
                                    </li>
                                    <li>
                                        <a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=2" class="active">Si-Photonics/Meta-Photonics</a>
                                    </li>
                                    <li>
                                        <a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=18">Display Materials</a>
                                    </li>
                                    <li>
                                        <a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=21">Battery Materials</a>
                                    </li>
                                    <li>
                                        <a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=23">Semiconductor Materials &amp; Devices</a>
                                    </li>
                                    <li>
                                        <a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=27">Environmental &amp; Energy Research </a>
                                    </li>
                                    <li class="accent"><a href="https://www.sait.samsung.co.kr/saithome/research/paper_list_srt.do">Publications</a></li>
                                    <li class="accent"><a href="https://www.sait.samsung.co.kr/saithome/research/paper_list_wtc.do">Best Research Papers</a></li>
                                    <li class="accent"><a href="https://www.sait.samsung.co.kr/saithome/research/infra.do">Research Infra</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- //subLocation-->

                <!-- subContent-->
                <section id="content" class="world_research">
                    <div id="subTitle" class="subTitle js-scr-sec">
                        <h4 class="js-scr-box">Metaphotonics</h4>
                        <p class="js-scr-box js-motion-end">Metaphotonics represents new photonic space comprised of various artificial nanostructures that enable new optical behaviors beyond conventional optical properties.</p>
                    </div>

                    <div class="third_depth_titbox js-scr-sec">
                        <p class="tit js-scr-box">Metaphotonics</p>
                        <p class="desc js-scr-box">The Magic of Light Demonstrated by Artificial Nanostructures</p>
                    </div>

                    <section class="art-content contents_wrap">
                        <div class="art-img-bx js-scr-sec"><img alt=" " class="js-scr-box" src="https://www.sait.samsung.co.kr/webfile/webedit/20190802141359_02_03_01-01.jpg" /></div>

                        <div class="contents_box js-scr-sec">
                            <p class="js-scr-box">
                                <strong>Overview</strong> Light is an electromagnetic wave that arises from the mutual interaction of time-varying electric and magnetic fields. The properties of such wave depend on the type and structure of the medium through which this wave passes. Metaphotonics
                                represents the study of new optical behaviors beyond conventional optical properties by developing a new space, constructed with various artificial nanostructures.<br />
                                <br />
                                &quot;Meta,&quot; from Greek, means &quot;beyond&quot; and in the context of metaphotonics refers to artificial properties that do not exist naturally. These artificial structures can generate unusual but useful phenomena, unanticipated from naturally observed
                                materials. Metaphotonics is capable of controlling various optical properties such as the amplitude, phase, polarization as well as the wavelength in a sub-wavelength scale. Thanks to this ability, various fields, including sensors, displays, communication, energy,
                                and biotechnology apply the metaphotonics usefully.
                            </p>
                        </div>

                        <div class="art-img-bx js-scr-sec"><img alt=" " class="js-scr-box" src="https://www.sait.samsung.co.kr/webfile/webedit/20190802141409_02_03_01-02.jpg" /></div>

                        <div class="contents_box js-scr-sec">
                            <p class="js-scr-box">
                                <strong>Technology Trend </strong> Recent technology trends include complicated field generation; it has become possible to generate various images depending on the observation angle or the polarization of incident light. These breakthroughs allow complex hologram
                                images for anti-counterfeiting. Ultrathin and planar form factor of the metasurfaces for imaging, i.e., metalens, have attracted significant interest, because this may replace thick and bulky lens systems in cameras and microscopes. The main hurdle is the dispersive
                                property of the material and the resultant limited bandwidth. Recent studies have shown that this can be circumvented by making use of higher-degree-of-freedom super cell or multi-layer metasurfaces, enabling achromatic and broadband metalens. Intriguingly, contrarian
                                moves are emerging as well; people have started to exploit such dispersive property rather than to overcome. The wavelength-dependent response of the metasurface can be utilized to implement ultra-compact spectrometers and hyperspectral imaging devices.<br />
                                <br />
                                Meanwhile, there has been considerable and on-going effort to dynamically modulate the response of the metasurfaces. This branch is known as the active (reconfigurable) metasurface. Ultrafast and wide-angle wavefront shaping/representation will enable numerous
                                game-changing devices such as holographic displays, beam steering for light detection and ranging (LiDAR), and free-space optical communications.
                            </p>
                        </div>

                        <div class="art-img-bx js-scr-sec"><img alt=" " class="js-scr-box" src="https://www.sait.samsung.co.kr/webfile/webedit/20190802141443_02_03_01-03.jpg" /></div>

                        <div class="contents_box js-scr-sec">
                            <p class="js-scr-box">
                                <strong>SAIT Technology</strong> SAIT is actively engaged in research on fundamentals and applications of metaphotonics. SAIT laboratories are working on developing trailblazing metalenses for innovative imaging systems with ultra-small form factors. These novel
                                technologies will enable disruptive cameras and new designs of future mobile platforms. SAIT is also developing compact spectrometers with wide acceptance angles, which can be implemented in mobile devices and used in daily lives for food inspection and skin analysis.
                                In addition, SAIT has been contributing to color image sensors that exploit high-efficiency color sorters. These pioneering devices may replace current color-rejection filters and boost up image quality at low luminance environment. We also conduct research on
                                innovative tunable metasurfaces for ultra-fast beam scanners for LiDAR. With deep and extensive competencies in metasurfaces and nanomaterial technologies, we will keep ahead for the better future inspired and promised by cutting-edge technologies.
                            </p>
                        </div>
                    </section>
                </section>
                <!-- //subContent-->

                <section id="related_paper" class="js-scr-sec">
                    <h1 class="js-scr-box">
                        <span>Related Paper</span>
                        <span class="more"><a href="./paper_list.do">more</a></span>
                    </h1>

                    <div class="related_pp_wrap">
                        <article class="js-scr-box">
                            <a class="cm_pp" href="./paper_view.do?kid=E&searchKeyword=&pageIndex=1">
                                <p class="desc">Overcoming evanescent field decay using 3D-tapered nanocavities for on-chip targeted molecular analysis</p>
                                <p class="date">2020.06.10</p>
                            </a>
                        </article>
                    </div>
                </section>

                <!-- subAside-->
                <aside id="relatedContents" class="js-scr-sec">
                    <div class="related__inner">
                        <div class="related__title">
                            <h1 class="js-scr-box">Related Contents</h1>
                            <span class="js-scr-box">Explore more related contents from SAIT!</span>
                        </div>
                        <div class="related_wrap">
                            <article class="js-scr-box">
                                <a href="https://www.sait.samsung.co.kr/saithome/research/paper_list.do">
                                    <h1>Research Paper</h1>
                                </a>
                            </article>
                            <article class="js-scr-box">
                                <a href="https://www.sait.samsung.co.kr/saithome/about/press.do">
                                    <h1>Press</h1>
                                </a>
                            </article>
                        </div>
                    </div>
                </aside>
                <!-- //subAside-->
            </section>
            <!-- //container-->

            <!-- footer -->

            <%- include("../include/sub_footer.html") %>
            <div id="gnbDimmed" class="dimmed"></div>

            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123575008-1"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag() {
                    dataLayer.push(arguments);
                }
                gtag('js', new Date());

                gtag('config', 'UA-167217135-1');
            </script>
            <!-- //footer -->
        </div>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/TweenMax/TweenMax.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/TweenMax/easing/EasePack.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/design_common.js"></script>
        <script>
            $(document).ready(function () {
                $('.wtc_pp').css({ background: "#fff url('http://www.sait.samsung.co.kr/webfile/researchArea/201908021412581__ico_02.png')", 'background-repeat': 'no-repeat', 'background-position': '55px 32px' });
            });
        </script>
    </body>
</html>
