<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- 공통적용헤더정보 -->
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<!-- //공통적용헤더정보 -->
		<link rel="stylesheet" href="https://www.sait.samsung.co.kr/saithome/stylesheets/css/common.css" />
		<script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/jquery-1.8.2.min.js"></script>
		<!--[if lt IE 9]><script src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/html5shiv.min.js"></script><![endif]-->
		<!--[if lt IE 10]><script src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/placeholders.min.js"></script><![endif]-->
		<meta name="Keywords" content="SAIT, Samsung Advanced Institute of Technology, 삼성종합기술원, 삼성전자 종합기술원, Samsung research, Samsung R&amp;D, Samsung future technology, R&amp;D, Autonomoucs Driving, Graphene, New materials, QD, Quantum Dot" />

		<title>Nano Electronic Devices | Samsung Advanced Institute of Technology</title>
		<meta name="Description" content="Nano Electronic Devices | Samsung Advanced Institute of Technology" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="Nano Electronic Devices | Samsung Advanced Institute of Technology" />
		<meta property="og:description" content="Nano Electronic Devices | Samsung Advanced Institute of Technology" />
		<meta property="og:image" content="" />
		<meta property="og:url" content="" />
		<meta property="og:site_name" content="Samsung Advanced Institute of Technology" />
		<meta name="Author" content="Samsung Advanced Institute of Technology" />
		<meta name="robots" content="ALL" />
		<%- include("../include/sub_head.html") %>
	</head>
	<body>
		<div id="wrap" role="main">
			<!-- header-->
			<%- include("../include/sub_header.html") %>
			<!-- //header-->
			<!-- container-->
			<section id="container" class="research">
				<!-- subVisual-->
				<div id="subVisual" style="background-image: url(https://www.sait.samsung.co.kr/saithome/images/research/research_visual.jpg)">
					<div class="tit_wrap">
						<h3>
							<span>Changing the World through Creative Research</span>
						</h3>
					</div>
				</div>
				<!-- //subVisual-->
				<!-- subLocation-->
				<div id="subLocation">
					<div class="location_box">
						<ul class="location_list">
							<li class="home"><a href="https://www.sait.samsung.co.kr/saithome/main/main.do">main page</a></li>
							<li class="depth1">
								<button type="button">Research Areas</button>
								<ul class="under_depth">
									<li><a href="https://www.sait.samsung.co.kr/saithome/about/who.do">About SAIT</a></li>
									<li><a href="https://www.sait.samsung.co.kr/saithome/research/what.do">Research Areas</a></li>
									<li><a href="https://www.sait.samsung.co.kr/saithome/about/press.do">News & Events</a></li>
									<li><a href="https://www.sait.samsung.co.kr/saithome/join/application.do">Join Us</a></li>
								</ul>
							</li>
							<li class="depth2">
								<button type="button">Nano Electronics</button>
								<ul class="under_depth">
									<li class="accent"><a href="https://www.sait.samsung.co.kr/saithome/research/what.do">What We Do</a></li>
									<!--
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/multimedia.do"  >Augmented Reality</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/deep.do"  >Deep Learning</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/autonomous.do"  >Automotive Electronics</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/brain.do"  >Brain Inspired Computing & Device</a></li>
							-->
									<!--
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/deep.do"  >Artificial Intelligence</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/brain.do"  >Computing Platform</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/multimedia.do"  >Augmented Reality</a></li>							
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/autonomous.do"  >Automotive Electronics</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/healthcare.do"  >Healthcare Platform</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/metaphotonics.do"  >Metaphotonics</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/graphene.do"  >Graphene/2D</a></li>
                            <li><a href="https://www.sait.samsung.co.kr/saithome/research/organic.do"  >Organic Electronic Materials</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/polymer.do"  >Optical Component Materials</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/inorganics.do"  >Functional Inorganics</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/quantum.do"  >Quantum Dot</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/battery.do"  >Next Generation Battery</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/bio.do"  >Biomaterials</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/computational.do"  >Computational Science</a></li>
							-->

									<li>
										<a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=14"> AI Algorithms</a>
									</li>
									<li>
										<a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=16"> Computing Platform</a>
									</li>
									<li>
										<a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=1"> Human Augmentation</a>
									</li>
									<li>
										<a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=2"> Metaphotonics</a>
									</li>
									<li>
										<a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=3" class="active"> Nano Electronics</a>
									</li>
									<li>
										<a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=18"> Display Materials</a>
									</li>
									<li>
										<a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=21"> Battery Materials</a>
									</li>
									<li>
										<a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=23"> Semiconductor Materials</a>
									</li>
									<li>
										<a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=27"> Environmental Research</a>
									</li>
									<!--
							<li class="accent"><a href="https://www.sait.samsung.co.kr/saithome/research/paper_list.do"    >Research Papers</a></li>
							-->
									<li class="accent"><a href="https://www.sait.samsung.co.kr/saithome/research/paper_list_srt.do">Publications</a></li>
									<li class="accent"><a href="https://www.sait.samsung.co.kr/saithome/research/paper_list_wtc.do">Best Research Papers</a></li>
									<li class="accent"><a href="https://www.sait.samsung.co.kr/saithome/research/infra.do">Research Infra</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
				<!-- //subLocation-->

				<!-- subContent-->
				<section id="content" class="world_research">
					<div id="subTitle" class="subTitle js-scr-sec">
						<h4 class="js-scr-box">Nano Electronics</h4>
						<p class="js-scr-box js-motion-end">
							Today‘s technology requires creative and innovative ways to overcome the technical limits posed by the working principles of classical electronic devices. SAIT is pursuing to realize new concept devices and materials to secure the position as the world top leader in
							semiconductor industry.
						</p>
					</div>

					<div id="subTab" class="subTab-rt js-scr-sec">
						<ul class="js-scr-box">
							<li class="ntb">
								<span>
									<a href="./researchArea.do?idx=3&sub_idx=6" class="active"> Nano Electronic Devices </a>
								</span>
							</li>

							<li class="ntb">
								<span>
									<a href="./researchArea.do?idx=3&sub_idx=26"> Nano Fabrication </a>
								</span>
							</li>
						</ul>
					</div>

					<div class="third_depth_titbox js-scr-sec">
						<p class="tit js-scr-box">Nano Electronic Devices</p>
						<p class="desc js-scr-box">Novel Electron Sources and Applications</p>
					</div>

					<section class="art-content contents_wrap">
						<div class="art-img-bx js-scr-sec"><img alt=" " class="js-scr-box" src="https://www.sait.samsung.co.kr/webfile/webedit/20190802141701_02_04_01-01.jpg" /></div>

						<div class="contents_box js-scr-sec">
							<p class="js-scr-box">
								<span class="impact-desc">Topic 1: Dielectric Materials: Emergent Phenomena in Functional Oxides for Future Semiconductor Memory and Logic Devices.</span> <strong>Overview</strong> Materials innovation, especially in oxides, contributes to overcoming present
								technological limits and even to developing new types of electronic applications. Advanced thin film deposition techniques for complex oxides have indeed recently enabled exploring new phenomena and functionalities with atomically controlled interfaces where versatile
								electronic applications appear. New materials in the periodic table are now being synthesized by sophisticated chemical deposition techniques allowing a conformal coverage along the complex surface structure, which helps surmounting the scaling issues of memory
								devices. Coherent growth of oxide heterostructures, moreover, is expected to introduce new interface effects by atomic ordering and hence suppress or enhance some of materials properties which may in turn provide technological breakthroughs.<br />
								<br />
								<br />
								<strong>Technology Trend </strong> The performance of a device even in the smallest node has seen drastic improvement mainly due to significant advancement of the lithographic technique. Taking advantage of shorter wavelengths of the incident light such as EUV, small
								line features down to 5-7 nm size in high-end logic circuitry have become possible. Delicate thin film techniques allow even further improvement on the microelectronic performances as well as in-depth understanding of the materials research itself. To solve the most
								important issue of scaling problems in memory and logic devices, however, further research on the fundamentals of materials only appears crucial.<br />
								<br />
								<br />
								<strong>SAIT Technology</strong> We focus on developing new materials, multi-component oxide thin film in particular, for semiconductor technologies by studying the fundamentals of the materials while developing the thin film unit process. Compared to any other solid
								state compound systems, oxide thin films provide a richer playground for exploiting exotic physical phenomena. By establishing the encyclopedia of such materials by high throughput screening system, SAIT aims to lead the disruptive innovation in materials research and
								provide groundbreaking and unparalleled practical systems of materials.
							</p>
						</div>

						<div class="art-img-bx js-scr-sec"><img alt=" " class="js-scr-box" src="https://www.sait.samsung.co.kr/webfile/webedit/20190802141727_02_04_01-02.jpg" /></div>

						<div class="contents_box js-scr-sec">
							<p class="js-scr-box">
								<span class="impact-desc">Topic 2: Quantum Computing</span> <strong>Overview</strong> In the coming era of big data analysis and AI, quantum computing is attracting much attention as the next generation technology that can overcome the limitations of current classical
								computing. Global IT companies such as IBM, Google, Intel, and Microsoft, along with several startups are engaged in active research and racing to realize this next generation technology.<br />
								The unit of information in a quantum computer is a qubit (quantum bit). N number of qubits can store 2^N units of information, and even a small to intermediate scale quantum computer with approximately 50 to 100 qubits is expected to outperform the currently available
								supercomputers in certain problems. These include modeling chemical processes, optimization, and artificial intelligence. Solving these problems are far beyond the capabilities of the most powerful supercomputers today. Quantum computers are expected to revolutionize
								the computing and introduce a new paradigm in future.<br />
								<br />
								<br />
								<strong>Technology Trend </strong> IBM has already started offering quantum computing as a commercial cloud service with up to 20-quibit quantum computers, and several IT companies have also announced that 50 to 100-qubit devices are in testing. With increasing
								research effort, quantum computers with 100 qubits are expected to be available in the near future.
							</p>
						</div>

						<div class="art-img-bx js-scr-sec"><img alt=" " class="js-scr-box" src="https://www.sait.samsung.co.kr/webfile/webedit/20190802141752_02_04_01-04.jpg" /></div>

						<div class="contents_box js-scr-sec">
							<p class="js-scr-box">
								<strong>SAIT Technology</strong> At SAIT, our research is currently aiming at securing the basic technologies of quantum computing such as testing quantum algorithms, designing and fabricating qubits, and investigating qubit control mechanisms. In the long run, we are
								seeking strategies to develop our own quantum computers and gain a competitive edge in the race with global IT companies.
							</p>
						</div>

						<div class="art-img-bx js-scr-sec"><img alt=" " class="js-scr-box" src="https://www.sait.samsung.co.kr/webfile/webedit/20190802141741_02_04_01-03.jpg" /></div>

						<div class="contents_box js-scr-sec">
							<p class="js-scr-box">
								<span class="impact-desc">Topic 3: Nano LED array display</span>&nbsp;<strong>Overview</strong> Inorganic GaN-based micro-LEDs are being actively studied as the next-generation display devices in applications ranging from TV to AR (augmented reality) displays. These
								devices offer inherently high efficiency, very high brightness and durability.<br />
								<br />
								<br />
								<strong>Technology Trend </strong> For the TV applications, most micro-LED researches are focused on transferring individual R, G and B chips onto the TFT backplanes. However, such a chip-transfer approach is not suitable for high-density pixels-based displays such as
								AR-HUD and AR-glass.<br />
								<br />
								<br />
								<strong>SAIT Technology</strong> We aim to fabricate high-efficiency, ultra-high-density (nano-sized), QD-converted full-color LED displays with monolithically integrated TFT pixel circuits.
							</p>

							<p class="and js-scr-box">
								<span class="impact-desc">Topic 4 : Nano-micro array transducer for the Voice User Interface</span> <strong>Overview</strong> Voice user interface (VUI) is the most intuitive and natural way to connect a human with smart environments such as computers, mobile devices,
								automobiles, and IOTs. Plenty of acoustic sensors are already installed in diverse ways of integration to recognize situation and context of surroundings. The machine learning technique integrated with the commodity microphones has contributed to accelerate the
								prevalence of the voice interface in a certain level so far. However, there still exists many acoustic challenges in maintaining the quality of sound signals in real world situations such as a high ambient noise, a far-field interface, and a cross interference
								environment. Though the array signal processing of cheaper multiple microphones has been a state-of-the-art technology, it normally requires a certain amount of computing and large baseline form factor. We expect that physical innovations in transducer itself will
								lead a breakthrough in reaching the human-level sound understanding.<br />
								<br />
								<br />
								<strong>Technology Trend </strong> Currently, bio-inspired transducers have been revisited along with the neural processing technique due to their nature-trained or nature-optimized solution to problems. These sensory systems are based on the parallelism of multiple
								transductions while legacy sensors gather information in a lump-sum which is then classified serially. This parallel processing is inherently fit to the neural-processing backend which results in high sensitivity and efficiency while allowing further possibilities.<br />
								<br />
								<br />
								<strong>SAIT Technology</strong> We aim to fabricate high-efficiency, ultra-high-density (nano-sized), QD-converted full-color LED displays with monolithically integrated TFT pixel circuits.
							</p>

							<p class="and js-scr-box">
								<span class="impact-desc">Topic 5: GaN Power Device</span> <strong>Overview</strong> Our daily life is highly dependent on electrical appliances. To realize energy-efficient power electronic systems in appliances, power semiconductor devices are essential. In power
								electronics, Si devices have been used traditionally, yet their performance is reaching the theoretical limit. Gallium nitrides (GaN) have superior material properties that can overcome this limit Stability in higher critical electric field along with higher mobility
								is making this material a promising candidate for power electronics applications.<br />
								<br />
								<br />
								<strong>Technology Trend </strong> The most widely developed GaN power devices are HEMT-based lateral devices fabricated with GaN epitaxial layer on Si substrate for sub-1000V applications. Reliability is the key concern that is being actively studied for a wider
								range of applications in power electronics.<br />
								<br />
								<br />
								<strong>SAIT Technology</strong> Lateral GaN devices with GaN-on-Si epitaxial grown wafers are designed, fabricated, and characterized for faster switching, higher reliability, and lower cost. Novel device structures for future generations are also being developed.
							</p>
						</div>
					</section>
				</section>
				<!-- //subContent-->

				<!-- subAside-->
				<aside id="relatedContents" class="js-scr-sec">
					<div class="related__inner">
						<div class="related__title">
							<h1 class="js-scr-box">Related Contents</h1>
							<span class="js-scr-box">Explore more related contents from SAIT!</span>
						</div>
						<div class="related_wrap">
							<article class="js-scr-box">
								<a href="https://www.sait.samsung.co.kr/saithome/research/paper_list.do">
									<h1>Research Paper</h1>
								</a>
							</article>
							<article class="js-scr-box">
								<a href="https://www.sait.samsung.co.kr/saithome/about/press.do">
									<h1>Press</h1>
								</a>
							</article>
						</div>
					</div>
				</aside>
				<!-- //subAside-->
			</section>
			<!-- //container-->

			<!-- footer -->

			<%- include("../include/sub_footer.html") %>
			<div id="gnbDimmed" class="dimmed"></div>

			<!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123575008-1"></script>
			<script>
				window.dataLayer = window.dataLayer || [];
				function gtag() {
					dataLayer.push(arguments);
				}
				gtag('js', new Date());

				gtag('config', 'UA-167217135-1');
			</script>
			<!-- //footer -->
		</div>
		<script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/TweenMax/TweenMax.min.js"></script>
		<script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/TweenMax/easing/EasePack.min.js"></script>
		<script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/design_common.js"></script>
		<script>
			$(document).ready(function () {
				$('.wtc_pp').css({ background: "#fff url('http://www.sait.samsung.co.kr/webfile/researchArea/201908021415371__ico_03.png')", 'background-repeat': 'no-repeat', 'background-position': '55px 32px' });
			});
		</script>
	</body>
</html>
