<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- 공통적용헤더정보 -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <!-- //공통적용헤더정보 -->
        <link rel="stylesheet" href="https://www.sait.samsung.co.kr/saithome/stylesheets/css/common.css" />
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/jquery-1.8.2.min.js"></script>
        <!--[if lt IE 9]><script src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/html5shiv.min.js"></script><![endif]-->
        <!--[if lt IE 10]><script src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/placeholders.min.js"></script><![endif]-->
        <meta name="Keywords" content="SAIT, Samsung Advanced Institute of Technology, 삼성종합기술원, 삼성전자 종합기술원, Samsung research, Samsung R&amp;D, Samsung future technology, R&amp;D, Autonomoucs Driving, Graphene, New materials, QD, Quantum Dot" />
        <title>Multi-functional interface for high-rate and long-durable garnet-type solid electrolyte in lithium metal batteries | Samsung Advanced Institute of Technology</title>
        <meta
            name="Description"
            content="<div id='cafe-note-contents' style='line-height: 1.2; font-family: '굴림',Gulim,Arial; font-size: 10pt;'><table class='cui-div' style='border-collapse: collapse; -ms-word-break: break-all;'><colgroup><col></colgroup><tbody><tr><td><p style='margin: 0px; text-align: justify; line-height: 200％;'><span s... | Samsung Advanced Institute of Technology"
        />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Multi-functional interface for high-rate and long-durable garnet-type solid electrolyte in lithium metal batteries | Samsung Advanced Institute of Technology" />
        <meta
            property="og:description"
            content="<div id='cafe-note-contents' style='line-height: 1.2; font-family: '굴림',Gulim,Arial; font-size: 10pt;'><table class='cui-div' style='border-collapse: collapse; -ms-word-break: break-all;'><colgroup><col></colgroup><tbody><tr><td><p style='margin: 0px; text-align: justify; line-height: 200％;'><span s... | Samsung Advanced Institute of Technology"
        />
        <meta property="og:image" content="" />
        <meta property="og:url" content="" />
        <meta property="og:site_name" content="Samsung Advanced Institute of Technology" />
        <meta name="Author" content="Samsung Advanced Institute of Technology" />
        <meta name="robots" content="ALL" />
        <%- include("../include/sub_head.html") %>
    </head>
    <body>
        <div id="wrap" role="main">
            <!-- header-->
            <%- include("../include/sub_header.html") %>
            <!-- //header-->

            <!-- container-->
            <section id="container" class="research_02">
                <!-- subVisual-->
                <div id="subVisual">
                    <div class="tit_wrap">
                        <h3>
                            <span>Changing the World through Creative Research</span>
                        </h3>
                    </div>
                </div>
                <!-- //subVisual-->
                <!-- subLocation-->
                <div id="subLocation">
                    <div class="location_box">
                        <ul class="location_list">
                            <li class="home"><a href="/pc/index.html">main page</a></li>
                            <li class="depth1">
                                <button type="button">Research Areas</button>
                                <ul class="under_depth">
                                    <li><a href="/pc/about/who.html">About SAIT</a></li>
                                    <li><a href="/pc/research/what.html">Research Areas</a></li>
                                    <li><a href="/pc/about/press.html">News & Events</a></li>
                                    <li><a href="/pc/join/application.html">Join Us</a></li>
                                </ul>
                            </li>
                            <li class="depth2">
                                <button type="button">Best Research Papers</button>
                                <ul class="under_depth">
                                    <li class="accent"><a href="/pc/research/what.html">What We Do</a></li>
                                    <li>
                                        <a href="/pc/research/aiAlgorithms.html">AI Algorithms</a>
                                    </li>
                                    <li>
                                        <a href="/pc/research/computingPlatform.html">Computing Platform</a>
                                    </li>
                                    <li>
                                        <a href="/pc/research/metaphotonics.html">Si-Photonics / Meta-Photonics</a>
                                    </li>
                                    <li>
                                        <a href="/pc/research/displayMaterials.html">Display Materials</a>
                                    </li>
                                    <li>
                                        <a href="/pc/research/batteryMaterials.html">Battery Materials</a>
                                    </li>
                                    <li>
                                        <a href="/pc/research/semiconductorMaterials.html">Semiconductor Materials &amp; Devices</a>
                                    </li>
                                    <li>
                                        <a href="/pc/research/environmentalResearch.html">Environmental &amp; Energy Research </a>
                                    </li>
                                    <li class="accent"><a href="/pc/research/paper_list_srt.html">Publications</a></li>
                                    <li class="accent"><a href="/pc/research/paper_list_wtc.html" class="active">Best Research Papers</a></li>
                                    <li class="accent"><a href="/pc/research/infra.html">Research Infra</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- //subLocation-->

                <!-- subContent-->
                <section id="content" class="paper_view view_page">
                    <div class="content__container">
                        <div id="subTitle" class="js-scr-sec">
                            <h4 class="js-scr-box">wafer scale implementation of gate tunable graphene schottky diode</h4>
                            <time datetime="2012-06-01" class="js-scr-box">2012.06.01</time>
                        </div>
                        <article class="row">
                            <div class="row__inner">
                                <div class="contents_wrap js-scr-sec">
                                    <dl class="js-scr-box">
                                        <dt>Journal</dt>
                                        <dd>Science</dd>
                                    </dl>
                                    <dl class="js-scr-box">
                                        <dt>Date</dt>
                                        <dd>2012.06.01</dd>
                                    </dl>
                                    <dl class="js-scr-box">
                                        <dt>Abstract</dt>
                                        <dd>
                                            Applying graphene‘s unique semi-metallic properties, we realize the gate tunable Schottky diode on a 150 mm wafer scale, and the measured remarkable Ion/Ioff (~ 10^5), due to the switching mechanism being based on Schottky barrier control, is expected to
                                            allow for high performance and high density logic devices. The height of the Schottky barrier formed between graphene-silicon is electrically controlled in the absence of ‘Fermi-level pinning’ at the interface. The gate adjustable diode current enables
                                            switching operation of GSD with high Ion/Ioff due to a wide range of controlling the diode turn-on voltage. As proof of concept we also demonstrate inverter logic circuits using the graphene Schottky diode arrays.
                                        </dd>
                                    </dl>
                                    <dl class="js-scr-box">
                                        <dt>Reference</dt>
                                        <dd>Science, Vol 336, 1140 (2012)</dd>
                                    </dl>
                                    <dl class="js-scr-box">
                                        <dt>DOI</dt>
                                        <dd><a href="http://dx.doi.org/10.1126/science.1220527" target="_blank">http://dx.doi.org/10.1126/science.1220527</a></dd>
                                    </dl>
                                </div>
                                <div id="contentLink" class="js-scr-sec">
                                    <div class="prev_link js-scr-box">
                                        <a href="/pc/research/paper_view.html">
                                            <span>Monocular SLAM with Undelayed Initialization for Indoor Robot</span>
                                            <i></i>
                                        </a>
                                    </div>
                                    <div class="next_link js-scr-box">
                                        <a href="/pc/research/paper_view.html">
                                            <span>A Novel Core-Shell Structured, Metal-Ceramic Composite-Supported Ru Catalyst for Methane Steam Reforming</span>
                                            <i></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="btn-wrap mt40 js-scr-sec">
                                    <a href="/pc/research/paper_list_wtc.html" class="js-scr-box btn btn-default">
                                        <span class="btn-default__text">LIST</span>
                                    </a>
                                </div>
                            </div>
                        </article>
                    </div>
                </section>
                <!-- //subContent-->

                <!-- subAside-->
                <aside id="relatedContents" class="js-scr-sec">
                    <div class="related__inner">
                        <div class="related__title">
                            <h1 class="js-scr-box">Related Contents</h1>
                            <span class="js-scr-box">Explore more related contents from SAIT!</span>
                        </div>
                        <div class="related_wrap">
                            <article class="js-scr-box">
                                <a href="/pc/about/history.html">
                                    <h1>History Of Progress</h1>
                                </a>
                            </article>
                            <article class="js-scr-box">
                                <a href="/pc/about/labs.html">
                                    <h1>Global Labs</h1>
                                </a>
                            </article>
                        </div>
                    </div>
                </aside>
                <!-- //subAside-->
            </section>
            <!-- //container-->

            <!-- footer -->
            <%- include("../include/sub_footer.html") %>
            <div id="gnbDimmed" class="dimmed"></div>

            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123575008-1"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag() {
                    dataLayer.push(arguments);
                }
                gtag('js', new Date());

                gtag('config', 'UA-167217135-1');
            </script>
            <!-- //footer -->
        </div>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/TweenMax/TweenMax.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/TweenMax/easing/EasePack.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/design_common.js"></script>
    </body>
</html>
