<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- 공통적용헤더정보 -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <!-- //공통적용헤더정보 -->
        <link rel="stylesheet" href="https://www.sait.samsung.co.kr/saithome/stylesheets/css/common.css" />
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/jquery-1.8.2.min.js"></script>
        <!--[if lt IE 9]><script src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/html5shiv.min.js"></script><![endif]-->
        <!--[if lt IE 10]><script src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/placeholders.min.js"></script><![endif]-->
        <meta name="Keywords" content="SAIT, Samsung Advanced Institute of Technology, 삼성종합기술원, 삼성전자 종합기술원, Samsung research, Samsung R&amp;D, Samsung future technology, R&amp;D, Autonomoucs Driving, Graphene, New materials, QD, Quantum Dot" />
        <title>Research Paper | Samsung Advanced Institute of Technology</title>
        <meta name="Description" content="Research Paper | Samsung Advanced Institute of Technology" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Research Paper | Samsung Advanced Institute of Technology" />
        <meta property="og:description" content="Research Paper | Samsung Advanced Institute of Technology" />
        <meta property="og:image" content="" />
        <meta property="og:url" content="" />
        <meta property="og:site_name" content="Samsung Advanced Institute of Technology" />
        <meta name="Author" content="Samsung Advanced Institute of Technology" />
        <meta name="robots" content="ALL" />
        <%- include("../include/sub_head.html") %>
    </head>
    <body>
        <div id="wrap" role="main">
            <!-- header-->
            <%- include("../include/sub_header.html") %>
            <!-- //header-->

            <!-- container-->
            <section id="container" class="research_rp">
                <!-- subVisual-->
                <div id="subVisual" style="background-image: url(https://www.sait.samsung.co.kr/saithome/images/research/research_visual.jpg)">
                    <div class="tit_wrap">
                        <h3>
                            <span>Changing the World through Creative Research</span>
                        </h3>
                    </div>
                </div>
                <!-- //subVisual-->
                <!-- subLocation-->
                <div id="subLocation">
                    <div class="location_box">
                        <ul class="location_list">
                            <li class="home"><a href="/pc/index.html">main page</a></li>
                            <li class="depth1">
                                <button type="button">Research Areas</button>
                                <ul class="under_depth">
                                    <li><a href="/pc/about/who.html">About SAIT</a></li>
                                    <li><a href="/pc/research/what.html">Research Areas</a></li>
                                    <li><a href="/pc/about/press.html">News & Events</a></li>
                                    <li><a href="/pc/join/application.html">Join Us</a></li>
                                </ul>
                            </li>
                            <li class="depth2">
                                <button type="button">Publications</button>
                                <ul class="under_depth">
                                    <li class="accent"><a href="/pc/research/what.html">What We Do</a></li>
                                    <li>
                                        <a href="/pc/research/aiAlgorithms.html">AI Algorithms</a>
                                    </li>
                                    <li>
                                        <a href="/pc/research/computingPlatform.html">Computing Platform</a>
                                    </li>
                                    <li>
                                        <a href="/pc/research/metaphotonics.html">Si-Photonics / Meta-Photonics</a>
                                    </li>
                                    <li>
                                        <a href="/pc/research/displayMaterials.html">Display Materials</a>
                                    </li>
                                    <li>
                                        <a href="/pc/research/batteryMaterials.html">Battery Materials</a>
                                    </li>
                                    <li>
                                        <a href="/pc/research/semiconductorMaterials.html">Semiconductor Materials &amp; Devices</a>
                                    </li>
                                    <li>
                                        <a href="/pc/research/environmentalResearch.html">Environmental &amp; Energy Research </a>
                                    </li>
                                    <li class="accent"><a href="/pc/research/paper_list_srt.html" class="active">Publications</a></li>
                                    <li class="accent"><a href="/pc/research/paper_list_wtc.html">Best Research Papers</a></li>
                                    <li class="accent"><a href="/pc/research/infra.html">Research Infra</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- //subLocation-->

                <!-- subContent-->
                <section id="content" class="paper_list">
                    <div class="content__container">
                        <div id="subTitle" class="js-scr-sec">
                            <h4 class="js-scr-box">Publications</h4>
                        </div>
                        <article class="row">
                            <div class="row__inner">
                                <div class="view_list rsp js-scr-sec">
                                    <div id="paperSearch" class="js-scr-box">
                                        <form action="?" method="get" name="Search" id="frmSearch">
                                            <input type="hidden" id="pageIndex" name="pageIndex" value="1" />
                                            <fieldset>
                                                <legend>paper list search form</legend>
                                                <div id="searchInput">
                                                    <label for="SearchString" class="hidden-txt">paper search string</label>
                                                    <input type="text" id="searchKeyword" name="searchKeyword" placeholder="Input text" value="" />
                                                    <div class="submit_wrap">
                                                        <input type="submit" value="search" />
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>

                                    <a id="list_a" name="list_a"></a>

                                    <div class="list_box">
                                        <ul id="paper_list_ul">
                                            <li class="js-scr-box">
                                                <a href="/pc/research/paper_view_srt.html">
                                                    <div class="tit">Singlet oxygen driven photocatalytic degradation of gaseous formaldehyde and its mechanistic study</div>
                                                    <div class="infowrap">
                                                        <p class="infobox">
                                                            <span>Journal</span>
                                                            <span>Applied Catalysis B: Environmental</span>
                                                        </p>
                                                        <p class="infobox">
                                                            <span>Date</span>
                                                            <span>2023-02-21</span>
                                                        </p>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="js-scr-box">
                                                <a href="/pc/research/paper_view_srt.html">
                                                    <div class="tit">A Review on Quantum Dot Light Emitting Diodes</div>
                                                    <div class="infowrap">
                                                        <p class="infobox">
                                                            <span>Journal</span>
                                                            <span>Chem. Rev. (Chemical Reviews)</span>
                                                        </p>
                                                        <p class="infobox">
                                                            <span>Date</span>
                                                            <span>2023-02-16</span>
                                                        </p>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="js-scr-box">
                                                <a href="/pc/research/paper_view_srt.html">
                                                    <div class="tit">Room-temperature low-pressure-operating high-energy lithium metal batteries employing garnet-type solid electrolytes and anode interlayers</div>
                                                    <div class="infowrap">
                                                        <p class="infobox">
                                                            <span>Journal</span>
                                                            <span>Nature Communications</span>
                                                        </p>
                                                        <p class="infobox">
                                                            <span>Date</span>
                                                            <span>2023-02-13</span>
                                                        </p>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="js-scr-box">
                                                <a href="/pc/research/paper_view_srt.html">
                                                    <div class="tit">Flexible biomimetic block copolymer composite for temperature and long-wave infrared sensing</div>
                                                    <div class="infowrap">
                                                        <p class="infobox">
                                                            <span>Journal</span>
                                                            <span>Science Advances (Sci. Adv.)</span>
                                                        </p>
                                                        <p class="infobox">
                                                            <span>Date</span>
                                                            <span>2023-02-10</span>
                                                        </p>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="js-scr-box">
                                                <a href="/pc/research/paper_view_srt.html">
                                                    <div class="tit">Van der Waals force driven wafer-scale alignment and integration of microLEDs for active matrix display</div>
                                                    <div class="infowrap">
                                                        <p class="infobox">
                                                            <span>Journal</span>
                                                            <span>Nature Electronics</span>
                                                        </p>
                                                        <p class="infobox">
                                                            <span>Date</span>
                                                            <span>2023-01-30</span>
                                                        </p>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="js-scr-box">
                                                <a href="/pc/research/paper_view_srt.html">
                                                    <div class="tit">Strain-Tolerant, High-Detectivity and Intrinsically Stretchable All-Polymer Photodiodes</div>
                                                    <div class="infowrap">
                                                        <p class="infobox">
                                                            <span>Journal</span>
                                                            <span>Advanced Functional Materials</span>
                                                        </p>
                                                        <p class="infobox">
                                                            <span>Date</span>
                                                            <span>2023-01-18</span>
                                                        </p>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="js-scr-box">
                                                <a href="/pc/research/paper_view_srt.html">
                                                    <div class="tit">Engineering silk protein to modulate polymorphic transitions for green lithography resists</div>
                                                    <div class="infowrap">
                                                        <p class="infobox">
                                                            <span>Journal</span>
                                                            <span>ACS Applied Materials & Interfaces</span>
                                                        </p>
                                                        <p class="infobox">
                                                            <span>Date</span>
                                                            <span>2022-12-16</span>
                                                        </p>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="js-scr-box">
                                                <a href="/pc/research/paper_view_srt.html">
                                                    <div class="tit">Gradient Selective Deposition for Seamless Gap-filling in 3D Nanostructures using Control of Surface Chemical Reaction</div>
                                                    <div class="infowrap">
                                                        <p class="infobox">
                                                            <span>Journal</span>
                                                            <span>Nature Communications</span>
                                                        </p>
                                                        <p class="infobox">
                                                            <span>Date</span>
                                                            <span>2022-12-09</span>
                                                        </p>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="js-scr-box">
                                                <a href="/pc/research/paper_view_srt.html">
                                                    <div class="tit">Exploring optimal reaction conditions guided by Graph Neural Network and Bayesian Optimization</div>
                                                    <div class="infowrap">
                                                        <p class="infobox">
                                                            <span>Journal</span>
                                                            <span>ACS Omega</span>
                                                        </p>
                                                        <p class="infobox">
                                                            <span>Date</span>
                                                            <span>2022-12-02</span>
                                                        </p>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="js-scr-box">
                                                <a href="/pc/research/paper_view_srt.html">
                                                    <div class="tit">Silent Speech Recognition with Strain Sensors and Deep-Learning Analysis of Directional Facial Muscle Movement</div>
                                                    <div class="infowrap">
                                                        <p class="infobox">
                                                            <span>Journal</span>
                                                            <span>ACS Applied Materials & Interfaces</span>
                                                        </p>
                                                        <p class="infobox">
                                                            <span>Date</span>
                                                            <span>2022-11-23</span>
                                                        </p>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- pageBtn -->
                                    <!-- 웹 페이징 처리 -->
                                    <div id="listPage" class="js-scr-box">
                                        <div class="page_btn">
                                            <button type="button" class="prev_end_btn" onclick="javascript:pageGo('1')">prev end</button>
                                            <button type="button" class="prev_btn" onclick="javascript:pageGo('1')">prev</button>
                                            <button type="button" class="active" onclick="javascript:pageGo('1')">1</button>
                                            <button type="button" onclick="javascript:pageGo('2')">2</button>
                                            <button type="button" onclick="javascript:pageGo('3')">3</button>
                                            <button type="button" onclick="javascript:pageGo('4')">4</button>
                                            <button type="button" onclick="javascript:pageGo('5')">5</button>
                                            <button type="button" onclick="javascript:pageGo('6')">6</button>
                                            <button type="button" onclick="javascript:pageGo('7')">7</button>
                                            <button type="button" onclick="javascript:pageGo('8')">8</button>
                                            <button type="button" onclick="javascript:pageGo('9')">9</button>
                                            <button type="button" onclick="javascript:pageGo('10')">10</button>
                                            <button type="button" class="next_btn" onclick="javascript:pageGo(11)">next</button>
                                            <button type="button" class="next_end_btn" onclick="javascript:pageGo(202)">next end</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>

                    <script type="text/javascript">
                        function pageGo(cc_page) {
                            if ('1' == cc_page) {
                                return false;
                            }
                            if (cc_page == null || cc_page == '') {
                                return false;
                            }
                            $('#pageIndex').val(cc_page);
                            document.Search.submit();
                        }
                    </script>
                    <!-- pageBtn -->
                </section>
                <!-- //subContent-->

                <!-- subAside-->
                <aside id="relatedContents" class="js-scr-sec">
                    <div class="related__inner">
                        <div class="related__title">
                            <h1 class="js-scr-box">Related Contents</h1>
                            <span class="js-scr-box">Explore more related contents from SAIT!</span>
                        </div>
                        <div class="related_wrap">
                            <article class="js-scr-box">
                                <a href="/pc/paper_list_wtc.html">
                                    <h1>Best Research Paper</h1>
                                </a>
                            </article>
                            <article class="js-scr-box">
                                <a href="/pc/about/history.html">
                                    <h1>History Of Progress</h1>
                                </a>
                            </article>
                        </div>
                    </div>
                </aside>
                <!-- //subAside-->
            </section>
            <!-- //container-->
            <!-- footer -->

            <%- include("../include/sub_footer.html") %>
            <div id="gnbDimmed" class="dimmed"></div>

            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123575008-1"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag() {
                    dataLayer.push(arguments);
                }
                gtag('js', new Date());

                gtag('config', 'UA-167217135-1');
            </script>
            <!-- //footer -->
        </div>
        <script>
            /* if('1' != '1' ){
	window.onload = function () {
		$("#list_a").focus();
	}
} */
        </script>

        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/TweenMax/TweenMax.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/TweenMax/easing/EasePack.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/design_common.js"></script>
    </body>
</html>
