<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- 공통적용헤더정보 -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <!-- //공통적용헤더정보 -->
        <link rel="stylesheet" href="https://www.sait.samsung.co.kr/saithome/stylesheets/css/common.css" />
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/jquery-1.8.2.min.js"></script>
        <!--[if lt IE 9]><script src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/html5shiv.min.js"></script><![endif]-->
        <!--[if lt IE 10]><script src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/placeholders.min.js"></script><![endif]-->
        <meta name="Keywords" content="SAIT, Samsung Advanced Institute of Technology, 삼성종합기술원, 삼성전자 종합기술원, Samsung research, Samsung R&amp;D, Samsung future technology, R&amp;D, Autonomoucs Driving, Graphene, New materials, QD, Quantum Dot" />

        <title>Graphene/2-Dimensional Materials | Samsung Advanced Institute of Technology</title>
        <meta name="Description" content="Graphene/2-Dimensional Materials | Samsung Advanced Institute of Technology" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Graphene/2-Dimensional Materials | Samsung Advanced Institute of Technology" />
        <meta property="og:description" content="Graphene/2-Dimensional Materials | Samsung Advanced Institute of Technology" />
        <meta property="og:image" content="" />
        <meta property="og:url" content="" />
        <meta property="og:site_name" content="Samsung Advanced Institute of Technology" />
        <meta name="Author" content="Samsung Advanced Institute of Technology" />
        <meta name="robots" content="ALL" />
        <%- include("../include/sub_head.html") %>
    </head>
    <body>
        <div id="wrap" role="main">
            <!-- header-->
            <%- include("../include/sub_header.html") %>
            <!-- //header-->
            <!-- container-->
            <section id="container" class="research">
                <!-- subVisual-->
                <div id="subVisual" style="background-image: url(https://www.sait.samsung.co.kr/saithome/images/research/research_visual.jpg)">
                    <div class="tit_wrap">
                        <h3>
                            <span>Changing the World through Creative Research</span>
                        </h3>
                    </div>
                </div>
                <!-- //subVisual-->
                <!-- subLocation-->
                <div id="subLocation">
                    <div class="location_box">
                        <ul class="location_list">
                            <li class="home"><a href="https://www.sait.samsung.co.kr/saithome/main/main.do">main page</a></li>
                            <li class="depth1">
                                <button type="button">Research Areas</button>
                                <ul class="under_depth">
                                    <li><a href="https://www.sait.samsung.co.kr/saithome/about/who.do">About SAIT</a></li>
                                    <li><a href="https://www.sait.samsung.co.kr/saithome/research/what.do">Research Areas</a></li>
                                    <li><a href="https://www.sait.samsung.co.kr/saithome/about/press.do">News & Events</a></li>
                                    <li><a href="https://www.sait.samsung.co.kr/saithome/join/application.do">Join Us</a></li>
                                </ul>
                            </li>
                            <li class="depth2">
                                <button type="button">Semiconductor Materials</button>
                                <ul class="under_depth">
                                    <li class="accent"><a href="https://www.sait.samsung.co.kr/saithome/research/what.do">What We Do</a></li>
                                    <!--
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/multimedia.do"  >Augmented Reality</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/deep.do"  >Deep Learning</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/autonomous.do"  >Automotive Electronics</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/brain.do"  >Brain Inspired Computing & Device</a></li>
							-->
                                    <!--
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/deep.do"  >Artificial Intelligence</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/brain.do"  >Computing Platform</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/multimedia.do"  >Augmented Reality</a></li>							
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/autonomous.do"  >Automotive Electronics</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/healthcare.do"  >Healthcare Platform</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/metaphotonics.do"  >Metaphotonics</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/graphene.do"  >Graphene/2D</a></li>
                            <li><a href="https://www.sait.samsung.co.kr/saithome/research/organic.do"  >Organic Electronic Materials</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/polymer.do"  >Optical Component Materials</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/inorganics.do"  >Functional Inorganics</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/quantum.do"  >Quantum Dot</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/battery.do"  >Next Generation Battery</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/bio.do"  >Biomaterials</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/computational.do"  >Computational Science</a></li>
							-->

                                    <li>
                                        <a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=14"> AI Algorithms</a>
                                    </li>
                                    <li>
                                        <a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=16"> Computing Platform</a>
                                    </li>
                                    <li>
                                        <a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=1"> Human Augmentation</a>
                                    </li>
                                    <li>
                                        <a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=2"> Metaphotonics</a>
                                    </li>
                                    <li>
                                        <a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=3"> Nano Electronics</a>
                                    </li>
                                    <li>
                                        <a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=18"> Display Materials</a>
                                    </li>
                                    <li>
                                        <a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=21"> Battery Materials</a>
                                    </li>
                                    <li>
                                        <a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=23" class="active"> Semiconductor Materials</a>
                                    </li>
                                    <li>
                                        <a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=27"> Environmental Research</a>
                                    </li>
                                    <!--
							<li class="accent"><a href="https://www.sait.samsung.co.kr/saithome/research/paper_list.do"    >Research Papers</a></li>
							-->
                                    <li class="accent"><a href="https://www.sait.samsung.co.kr/saithome/research/paper_list_srt.do">Publications</a></li>
                                    <li class="accent"><a href="https://www.sait.samsung.co.kr/saithome/research/paper_list_wtc.do">Best Research Papers</a></li>
                                    <li class="accent"><a href="https://www.sait.samsung.co.kr/saithome/research/infra.do">Research Infra</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- //subLocation-->

                <!-- subContent-->
                <section id="content" class="world_research">
                    <div id="subTitle" class="subTitle js-scr-sec">
                        <h4 class="js-scr-box">Semiconductor Materials &amp; Devices</h4>
                        <p class="js-scr-box js-motion-end">문구 필요</p>
                    </div>

                    <!-- <div id="subTab" class="subTab-rt js-scr-sec">
                        <ul class="js-scr-box">
                            <li class="ntb">
                                <span>
                                    <a href="./researchArea.do?idx=23&sub_idx=24" class="active"> Graphene/2-Dimensional Materials </a>
                                </span>
                            </li>

                            <li class="ntb">
                                <span>
                                    <a href="./researchArea.do?idx=23&sub_idx=25"> Next Generation Semiconductor Materials </a>
                                </span>
                            </li>
                        </ul>
                    </div> -->

                    <div class="third_depth_titbox js-scr-sec">
                        <p class="tit js-scr-box">Graphene/2-Dimensional Materials</p>
                        <p class="desc js-scr-box">crystalline material with a single layer of atoms</p>
                    </div>

                    <section class="art-content contents_wrap">
                        <div class="art-content__wrap">
                            <div class="art-content__section">
                                <div class="art-content__row art-content__row--title">
                                    <strong>Semiconductor Materials &amp; Devices</strong>
                                    <p>
                                        The advancement of silicon-based devices is reaching its limits, diverging from Moore's law. To tackle this challenge head-on, researchers are actively exploring new materials and innovative device designs. The emphasis is on developing these materials to
                                        unlock new possibilities and push the boundaries of technology forward.
                                    </p>
                                    <div>
                                        <img src="../../resources/assets/images/sub/img_smd_01.jpg" alt="" />
                                    </div>
                                </div>
                                <div class="art-content__row">
                                    <strong>Overview</strong>
                                    <p>
                                        Semiconductor manufacturing relies on various essential materials. Key materials include photoresists for defining circuit patterns, thin films for adding functional layers, chemicals for precise etching, and Polishing materials. Photoresists define circuit
                                        patterns, while thin films provide functionality on semiconductor surfaces. Chemicals help in precise etching by removing unnecessary parts to create intricate structures. Polishing materials ensure semiconductor surfaces remain flat and smooth, essential for
                                        maintaining precision in subsequent manufacturing steps. These materials must exhibit high precision and reliability to ensure optimal performance and quality of semiconductor devices. Advances in these materials play a crucial role in driving innovation and
                                        enhancing competitiveness in the semiconductor industry.
                                    </p>
                                    <div>
                                        <img src="../../resources/assets/images/sub/img_smd_02.jpg" alt="" />
                                    </div>
                                </div>
                                <div class="art-content__row">
                                    <strong>Technology Trend</strong>
                                    <p>
                                        The key trend in next-generation semiconductors is to focus on overcoming the ongoing challenges of component miniaturization and scaling down by adopting three-dimensional structuring and introducing new materials. Consequently, there are limitations with
                                        current semiconductor processes and materials in achieving these goals, making the development of new processes and materials essential. Research is underway on advanced patterning materials, polishing materials, etching materials, deposition materials, and
                                        packaging materials, utilizing refined chemical reactions.
                                    </p>
                                    <div>
                                        <img src="../../resources/assets/images/sub/img_smd_03.jpg" alt="" />
                                    </div>
                                </div>
                                <div class="art-content__row">
                                    <strong>SAIT Technology</strong>
                                    <p>
                                        Recent research suggests that as manufacturing processes advance, relying solely on conventional chemical reaction explanations becomes increasingly inadequate for predicting the behavior of newly developed materials. Therefore, there is a pressing need for
                                        new methodologies to comprehensively predict the behavior of materials at the atomic, molecular, and bulk levels and to understand the correlations among them. We are developing materials that aim to improve upon current analytical methods and introduce new
                                        approaches to clearly elucidate their behavior. Using simulations and ML techniques, our goal is to develop materials with multifunctional molecular structures that effectively respond to specific conditions. This approach aims to enable the creation of
                                        innovative and enhanced materials for manufacturing processes.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </section>
                </section>
                <!-- //subContent-->

                <section id="related_paper" class="js-scr-sec">
                    <h1 class="js-scr-box">
                        <span>Related Paper</span>
                        <span class="more"><a href="./paper_list.do">more</a></span>
                    </h1>

                    <div class="related_pp_wrap">
                        <article class="js-scr-box">
                            <a class="cm_pp" href="./paper_view.do?kid=201911191608470000066137E&searchKeyword=&pageIndex=1">
                                <p class="desc">Ultralow-dielectric-constant amorphous boron nitride</p>
                                <p class="date">2020.06.24</p>
                            </a>
                        </article>

                        <article class="js-scr-box">
                            <a class="cm_pp" href="./paper_view.do?kid=201903220817140000062373E&searchKeyword=&pageIndex=1">
                                <p class="desc">Study of Selective Graphene Growth on a SiO2-Patterned Ge/Si(001) Substrate</p>
                                <p class="date">2019.10.04</p>
                            </a>
                        </article>

                        <article class="js-scr-box">
                            <a class="cm_pp" href="./paper_view.do?kid=201312261400210000038393E&searchKeyword=&pageIndex=1">
                                <p class="desc">Repeatable Wafer-Scale Growth of Single-Crystal Monolayer Graphene on a Hydrogen-Terminated Germanium</p>
                                <p class="date">2014.04.18</p>
                            </a>
                        </article>
                    </div>
                </section>

                <!-- subAside-->
                <aside id="relatedContents" class="js-scr-sec">
                    <div class="related__inner">
                        <div class="related__title">
                            <h1 class="js-scr-box">Related Contents</h1>
                            <span class="js-scr-box">Explore more related contents from SAIT!</span>
                        </div>
                        <div class="related_wrap">
                            <article class="js-scr-box">
                                <a href="https://www.sait.samsung.co.kr/saithome/research/paper_list.do">
                                    <h1>Research Paper</h1>
                                </a>
                            </article>
                            <article class="js-scr-box">
                                <a href="https://www.sait.samsung.co.kr/saithome/about/press.do">
                                    <h1>Press</h1>
                                </a>
                            </article>
                        </div>
                    </div>
                </aside>
                <!-- //subAside-->
            </section>
            <!-- //container-->

            <!-- footer -->

            <%- include("../include/sub_footer.html") %>
            <div id="gnbDimmed" class="dimmed"></div>

            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123575008-1"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag() {
                    dataLayer.push(arguments);
                }
                gtag('js', new Date());

                gtag('config', 'UA-167217135-1');
            </script>
            <!-- //footer -->
        </div>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/TweenMax/TweenMax.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/TweenMax/easing/EasePack.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/design_common.js"></script>
        <script>
            $(document).ready(function () {
                $('.wtc_pp').css({ background: "#fff url('http://www.sait.samsung.co.kr/webfile/researchArea/201908021442431__ico_08.png')", 'background-repeat': 'no-repeat', 'background-position': '55px 32px' });
            });
        </script>
    </body>
</html>
