<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- 공통적용헤더정보 -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <!-- //공통적용헤더정보 -->
        <link rel="stylesheet" href="https://www.sait.samsung.co.kr/saithome/stylesheets/css/common.css" />
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/jquery-1.8.2.min.js"></script>
        <!--[if lt IE 9]><script src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/html5shiv.min.js"></script><![endif]-->
        <!--[if lt IE 10]><script src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/placeholders.min.js"></script><![endif]-->
        <meta name="Keywords" content="SAIT, Samsung Advanced Institute of Technology, 삼성종합기술원, 삼성전자 종합기술원, Samsung research, Samsung R&amp;D, Samsung future technology, R&amp;D, Autonomoucs Driving, Graphene, New materials, QD, Quantum Dot" />

        <title>What We Do | Samsung Advanced Institute of Technology</title>
        <meta name="Description" content="What We Do | Samsung Advanced Institute of Technology" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="What We Do | Samsung Advanced Institute of Technology" />
        <meta property="og:description" content="What We Do | Samsung Advanced Institute of Technology" />
        <meta property="og:image" content="" />
        <meta property="og:url" content="" />
        <meta property="og:site_name" content="Samsung Advanced Institute of Technology" />
        <meta name="Author" content="Samsung Advanced Institute of Technology" />
        <meta name="robots" content="ALL" />
        <%- include("../include/sub_head.html") %>
    </head>
    <body>
        <div id="wrap" role="main">
            <!-- header-->
            <%- include("../include/sub_header.html") %>
            <!-- //header-->

            <!-- container-->
            <section id="container" class="research">
                <!-- subVisual-->
                <div id="subVisual" style="background-image: url(https://www.sait.samsung.co.kr/saithome/images/research/research_visual.jpg)">
                    <div class="tit_wrap">
                        <h3>
                            <span>Changing the World through Creative Research</span>
                        </h3>
                    </div>
                </div>
                <!-- //subVisual-->
                <!-- subLocation-->
                <div id="subLocation">
                    <div class="location_box">
                        <ul class="location_list">
                            <li class="home"><a href="https://www.sait.samsung.co.kr/saithome/main/main.do">main page</a></li>
                            <li class="depth1">
                                <button type="button">Research Areas</button>
                                <ul class="under_depth">
                                    <li><a href="https://www.sait.samsung.co.kr/saithome/about/who.do">About SAIT</a></li>
                                    <li><a href="https://www.sait.samsung.co.kr/saithome/research/what.do">Research Areas</a></li>
                                    <li><a href="https://www.sait.samsung.co.kr/saithome/about/press.do">News & Events</a></li>
                                    <li><a href="https://www.sait.samsung.co.kr/saithome/join/application.do">Join Us</a></li>
                                </ul>
                            </li>
                            <li class="depth2">
                                <button type="button">What We Do</button>
                                <ul class="under_depth">
                                    <li class="accent"><a href="https://www.sait.samsung.co.kr/saithome/research/what.do" class="active">What We Do</a></li>
                                    <!--
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/multimedia.do"  >Augmented Reality</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/deep.do"  >Deep Learning</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/autonomous.do"  >Automotive Electronics</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/brain.do"  >Brain Inspired Computing & Device</a></li>
							-->
                                    <!--
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/deep.do"  >Artificial Intelligence</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/brain.do"  >Computing Platform</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/multimedia.do"  >Augmented Reality</a></li>							
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/autonomous.do"  >Automotive Electronics</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/healthcare.do"  >Healthcare Platform</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/metaphotonics.do"  >Metaphotonics</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/graphene.do"  >Graphene/2D</a></li>
                            <li><a href="https://www.sait.samsung.co.kr/saithome/research/organic.do"  >Organic Electronic Materials</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/polymer.do"  >Optical Component Materials</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/inorganics.do"  >Functional Inorganics</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/quantum.do"  >Quantum Dot</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/battery.do"  >Next Generation Battery</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/bio.do"  >Biomaterials</a></li>
							<li><a href="https://www.sait.samsung.co.kr/saithome/research/computational.do"  >Computational Science</a></li>
							-->

                                    <li>
                                        <a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=14"> AI Algorithms</a>
                                    </li>
                                    <li>
                                        <a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=16"> Computing Platform</a>
                                    </li>
                                    <li>
                                        <a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=1"> Human Augmentation</a>
                                    </li>
                                    <li>
                                        <a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=2"> Metaphotonics</a>
                                    </li>
                                    <li>
                                        <a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=3"> Nano Electronics</a>
                                    </li>
                                    <li>
                                        <a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=18"> Display Materials</a>
                                    </li>
                                    <li>
                                        <a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=21"> Battery Materials</a>
                                    </li>
                                    <li>
                                        <a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=23"> Semiconductor Materials</a>
                                    </li>
                                    <li>
                                        <a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=27"> Environmental Research</a>
                                    </li>
                                    <!--
							<li class="accent"><a href="https://www.sait.samsung.co.kr/saithome/research/paper_list.do"    >Research Papers</a></li>
							-->
                                    <li class="accent"><a href="https://www.sait.samsung.co.kr/saithome/research/paper_list_srt.do">Publications</a></li>
                                    <li class="accent"><a href="https://www.sait.samsung.co.kr/saithome/research/paper_list_wtc.do">Best Research Papers</a></li>
                                    <li class="accent"><a href="https://www.sait.samsung.co.kr/saithome/research/infra.do">Research Infra</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- //subLocation-->

                <!-- subContent-->
                <section id="content" class="what">
                    <div id="subTitle" class="js-scr-sec">
                        <h4 class="js-scr-box">What We Do</h4>
                    </div>
                    <section class="what_wrap">
                        <div class="js-scr-sec">
                            <img src="https://www.sait.samsung.co.kr/saithome/images/research/what_img01.jpg" class="what_img js-scr-box" alt="What we do" />
                            <div class="contents_flow">
                                <h5 class="js-scr-box">
                                    <span>Changing</span><br />
                                    <span>the World through</span><br />
                                    <span>Creative Research</span>
                                </h5>
                                <div class="flow_right js-scr-box">
                                    <p>
                                        SAIT creates disruptive technologies as well as new technology convergence by combining Samsung's most advanced technologies. SAIT also conducts science-based research in promising new areas to generate novel, powerful solutions to pressing global problems.<br /><br />
                                        And we are approaching in various aspects on selecting research domains.<br />
                                        On one hand, we analyze global mega trends, for example, socio-economic, industrial and market trend. On the other hand, we forecast potential breakthroughs driven by technology evolution or revolution such as convergence, nanotechnologies, etc.
                                        <br /><br />
                                        After going over our own core competences and then combining the two approaches previously mentioned, that is, market pull and technology push, and then we choose our research domains by examining strategic fit.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--
				<div class="changing_list">
					<ul class="list01 js-scr-sec">					
						<li class="js-scr-box">
							<strong><a href="./deep.do">Artificial Intelligence</a></strong>
							<p>
								Understanding users and environments with human-level intelligence
							</p>
						</li>
						<li class="js-scr-box">
							<strong>
								<a href="./brain.do">
									Computing Platform
								</a>
							</strong>
							<p>
								A new computing processor that mimics the human brain
							</p>
						</li>
						<li class="js-scr-box">
							<strong><a href="./multimedia.do">Augmented Reality</a></strong>
							<p>Integrating information and imagination into the real world</p>
						</li>
						<li class="js-scr-box">
							<strong><a href="./autonomous.do">Autonomous Driving</a></strong>
							<p>
								Sensing the environment and navigating without human input
							</p>
						</li>
						<li class="js-scr-box">
							<strong><a href="./healthcare.do">Healthcare Platform</a></strong>
							<p>
								The advent of a healthcare <br>system without man
							</p>
						</li>
						<li class="js-scr-box">
							<strong><a href="./metaphotonics.do">Metaphotonics</a></strong>
							<p>
								The New Synthesis of Robotics,<br>
								Machine Intelligence to Transform<br>
								our Future Lifestyle
							</p>
						</li>
						<li class="js-scr-box">
							<strong><a href="./graphene.do">Graphene/2D</a></strong>
							<p>2-Dimensional Materia</p>
						</li>
					</ul>
					<ul class="list02 js-scr-sec">
						<li class="js-scr-box">
							<strong>
								<a href="./organic.do">
									Organic Electronic<br>
									Materials
								</a>
							</strong>
							<p>
								Novel Technologies for New Electronics Devices
							</p>
						</li>
						<li class="js-scr-box">
							<strong>
								<a href="./polymer.do">
									Optical Component <br>
									Materials
								</a>
							</strong>
							<p>
								New Materials for Device Innovation
							</p>
						</li>
						<li class="js-scr-box">
							<strong><a href="./inorganics.do">Functional Inorganics.</a></strong>
							<p>
								New Materials for Device Innovation
							</p>
						</li>
						<li class="js-scr-box">
							<strong><a href="./quantum.do">Quantum Dot</a></strong>
							<p>
								The Next-generation <br>Luminescent Material
							</p>
						</li>
						<li class="js-scr-box">
							<strong><a href="./battery.do">Next Generation Battery</a></strong>
							<p>
								A Power Solution to Realize<br>
								e-Mobility and Future Mobile<br>
								Devices
							</p>
						</li>
						<li class="js-scr-box">
							<strong><a href="./bio.do">Biomaterials</a></strong>
							<p>
								Developing Microbial Catalysts/Biomaterials <br>for a Clean Earth
							</p>
						</li>
						<li class="js-scr-box">
							<strong><a href="./computational.do">Computational Science</a></strong>
							<p>
								Computational modeling to provide fundamental insights and to accelerate R&D
							</p>
						</li>
					</ul>				
				</div>
				-->
                        <div class="changing_list">
                            <ul class="list01 js-scr-sec">
                                <li class="js-act-research">
                                    <a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=14">
                                        <i><img src="http://www.sait.samsung.co.kr/webfile/researchArea/201908021427531__ico_04.png" alt="" /></i>
                                        <strong>AI Algorithms</strong>
                                        <p>Understanding users and environments with human- level intelligence</p>
                                    </a>
                                </li>

                                <li class="js-act-research">
                                    <a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=16">
                                        <i><img src="http://www.sait.samsung.co.kr/webfile/researchArea/201908021433271__ico_05.png" alt="" /></i>
                                        <strong>Computing Platform</strong>
                                        <p>A new computing processor that mimics the human brain</p>
                                    </a>
                                </li>

                                <li class="js-act-research">
                                    <a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=1">
                                        <i><img src="http://www.sait.samsung.co.kr/webfile/researchArea/201908021406351__ico_01.png" alt="" /></i>
                                        <strong>Human Augmentation</strong>
                                        <p>Technology that Expanding Human Capabilities</p>
                                    </a>
                                </li>

                                <li class="js-act-research">
                                    <a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=2">
                                        <i><img src="http://www.sait.samsung.co.kr/webfile/researchArea/201908021412581__ico_02.png" alt="" /></i>
                                        <strong>Metaphotonics</strong>
                                        <p>The Magic of Light Demonstrated by Artificial Nanostructure</p>
                                    </a>
                                </li>

                                <li class="js-act-research">
                                    <a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=3">
                                        <i><img src="http://www.sait.samsung.co.kr/webfile/researchArea/201908021415371__ico_03.png" alt="" /></i>
                                        <strong>Nano Electronics</strong>
                                        <p>Innovative Devices Using Nano New Materials</p>
                                    </a>
                                </li>

                                <li class="js-act-research">
                                    <a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=18">
                                        <i><img src="http://www.sait.samsung.co.kr/webfile/researchArea/201908021435531__ico_06.png" alt="" /></i>
                                        <strong>Display Materials</strong>
                                        <p>Novel Technologies for Luminescent and Organic Electronic Materials</p>
                                    </a>
                                </li>

                                <li class="js-act-research">
                                    <a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=21">
                                        <i><img src="http://www.sait.samsung.co.kr/webfile/researchArea/201908021439431__ico_07.png" alt="" /></i>
                                        <strong>Battery Materials</strong>
                                        <p>New materials and chemistry for safer and longer use of batteries</p>
                                    </a>
                                </li>

                                <li class="js-act-research">
                                    <a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=23">
                                        <i><img src="http://www.sait.samsung.co.kr/webfile/researchArea/201908021442431__ico_08.png" alt="" /></i>
                                        <strong>Semiconductor Materials</strong>
                                        <p>Next-generation semiconductor materials for “More Moore” and “Beyond Moore”</p>
                                    </a>
                                </li>

                                <li class="js-act-research">
                                    <a href="https://www.sait.samsung.co.kr/saithome/research/researchArea.do?idx=27">
                                        <i><img src="http://www.sait.samsung.co.kr/webfile/researchArea/201908021451291__ico_09.png" alt="" /></i>
                                        <strong>Environmental Research</strong>
                                        <p>Sustainable materials designed for the capture and decompose of pollutants</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </section>
                </section>
                <!-- //subContent-->

                <!-- subAside-->
                <aside id="relatedContents" class="js-scr-sec">
                    <div class="related__inner">
                        <div class="related__title">
                            <h1 class="js-scr-box">Related Contents</h1>
                        </div>
                        <div class="related_wrap">
                            <article class="js-scr-box">
                                <a href="https://www.sait.samsung.co.kr/saithome/research/paper_list.do">
                                    <h1>Research Paper</h1>
                                </a>
                            </article>
                            <article class="js-scr-box">
                                <a href="https://www.sait.samsung.co.kr/saithome/about/press.do">
                                    <h1>Press</h1>
                                </a>
                            </article>
                        </div>
                    </div>
                </aside>
                <!-- //subAside-->
            </section>
            <!-- //container-->

            <!-- footer -->

            <%- include("../include/sub_footer.html") %>
            <div id="gnbDimmed" class="dimmed"></div>

            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123575008-1"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag() {
                    dataLayer.push(arguments);
                }
                gtag('js', new Date());

                gtag('config', 'UA-167217135-1');
            </script>
            <!-- //footer -->
        </div>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/TweenMax/TweenMax.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/TweenMax/easing/EasePack.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/design_common.js"></script>
    </body>
</html>
