@charset "UTF-8";
@import 'common/base';
@import 'common/font';
@import 'common/variables';
@import 'common/mixin';
@import 'common/media';

.hidden {
    visibility: 0;
    display: none;
}

a {
    color: inherit;
}

.scroll-lock {
    overflow-y: hidden;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 1510px;
    z-index: 100;
    font-family: "SamsungOneKR", "맑은 고딕", "Malgun Gothic", sans-serif;
    font-weight: 400;
    line-height: 1.36;
    color: #fff;
    transition: background-color 0.34s ease;
    &::after {
        content:'';
        position: absolute;
        top: 80px;
        left: 0;
        display: inline-block;
        width: 100%;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.2);
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        max-width: 1720px;
        width: 100%;
        margin: 0 auto;
        box-sizing: border-box;
        
    }
    &__logo {
        display: inline-block;
        height: 80px;
        flex-shrink: 0;
        a {
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;
            span {
                display: inline-block;
                width: 157px;
                height: 31px;   
                background: url(../images/common/logo.svg) center / contain no-repeat;
            }
        }
    }
    &.white {
        background-color: #fff;
        color: #000;

        .util__search {
            button{
                &#searchBtn {
                    background: url(../images/icons/icon_search_black.svg) center / contain no-repeat;
                    &.active {
                        background: none;
                        &::before, &::after {background-color: #000;}
                    }
                } 
            }
        }
        .header__logo {
            a {
                span {
                    background: url(../images/common/logo_black.svg) center / contain no-repeat;
                }
            }
        }
        #gnb {
            > ul {
                > li {
                    > a {
                        color: #000;
                    }
                    &.active {
                        > a {
                            color: #1428A0;
                        }
                    }  
                }
            }
        }
    }
    &.active {
        background-color: #fff;
        color: #000;

        .util__search {
            button{
                &#searchBtn {
                    background: url(../images/icons/icon_search_black.svg) center / contain no-repeat;
                    &.active {
                        background: none;
                        &::before, &::after {background-color: #000;}
                    }
                } 
            }
        }
        .header__logo {
            a {
                span {
                    background: url(../images/common/logo_black.svg) center / contain no-repeat;
                }
            }
        }
        #gnb {
            > ul {
                > li {
                    > a {
                        color: #000;
                    }
                    &:hover {
                        > a {
                            color: #1428A0;
                        }
                    }
                    &.active {
                        > a {
                            color: #1428A0;
                        }
                    }  
                }
            }
            &::after {
                content:'';
                position: absolute;
                top: 80px;
                left: 0;
                display: inline-block;
                width: 100%;
                height: 1px;
                background-color: #eee;
                z-index: 3;
            }
            >ul {
                gap: 80px;
            }
        }
    }
}

#gnb {
    float: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "SamsungSharpSans";
    > ul {
        display: flex;
        gap: 0;
        align-items: stretch;
        transition: gap 0.35s ease;
        > li {
            position: relative;
            display: flex;
            flex-direction: column;
            transition: 0.24s ease;
            > a {
                display: block;
                padding-right: 95px;
                font-size: 18px;
                font-weight: 500;
                line-height: 80px;
                box-sizing: border-box;
                transition: 0.24s ease;
            }
            
        }
    }
}

.dep2 {
    display: none;
    padding: 18px 0 55px;
    &__title {
        font-size: 16px;
        font-weight: 700;
        color: #000;
        
        a {
            display: block;
            transition: 0.24s ease;
            &:hover {
                color: #1428A0;
            }
        }
        & + ul {
            margin-top: 12px;
            padding: 0 10px;
        }
    }
    &__item {
        margin-top: 30px;
        &:first-child {
            margin-top: 0;
        }
        ul {
            li {
                margin-top: 6px;
                &:first-child {
                    margin-top: 0;
                }
                a {
                    display: block;
                    padding: 4px 0;
                    color: #000;
                    transition: 0.24s ease;
                    &:hover {
                        color: #1428A0;
                    }
                }
            }
        }
        &.active {
            .dep2__title {
                a {
                    color: #1428A0;
                }
            }
        }
    }
}

.util {
    display: flex;
    height: 80px;
    align-items: center;
    &__search {
        button {
            &#searchBtn {
                position: relative;
                display: inline-block;
                width: 30px;
                height: 30px;
                margin: 0;
                background: url("../images/icons/icon_search.svg") center / auto no-repeat;
                font-size: 0;
                border: none;
                transition: none;
                &.active {
                    background: none;
                    &::before {
                        content:'';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        display: inline-block;
                        width: 28px;
                        height: 1px;
                        background-color: #fff;
                        transform: translate(-50%, -50%) rotate(45deg);
                    }
                    &::after {
                        content:'';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        display: inline-block;
                        width: 28px;
                        height: 1px;
                        background-color: #fff;
                        transform: translate(-50%, -50%) rotate(-45deg);
                    }
                }
            }
        }
    }
}

#headerSearch {
    top: 81px;
}

.footer {
    &#footer {
        padding: 0;
        background-color: #000;
        font-family: "SamsungOneKR", "맑은 고딕", "Malgun Gothic", sans-serif;
        font-weight: 400;
        line-height: 1.36;
        color: #fff;
    }
    &__banner {
        position: relative;
        padding: 0 180px;
        box-sizing: border-box;
        > img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center top;
        }
        .footer__wrap {
            position: relative;
            padding: 130px 210px 145px;
            box-sizing: border-box;
            color: #fff;
            h2 {
                font-family: "SamsungSharpSans";
                font-size: 60px;
                font-weight: 700;
            }
            h3 {
                margin-top: 10px;
                font-size: 30px;
                font-weight: 400;
            }
        }
    }
    &__bottom {
        .footer__wrap {
            max-width: 1540px;
            margin: 0 auto;
            padding: 49px 0;
        }
        background-color: #010914;
    }
    &__etc {
        display: flex;
        justify-content: space-between;
        align-items: center;
        ul {
            display: flex;
            gap: 30px;
            li {
                a {
                    font-size: 14px;
                    b {
                        font-weight: 700;
                    }
                }
            }
        }
    }

    &__address {
        margin-top: 40px;
    }
    &__row {
        display: flex;
        gap: 20px;
        margin-top: 15px;
        &:first-child {
            margin-top: 0;
        }
        span {    
            font-size: 14px;
            line-height: 1;
            color: #7D8794;
        }
    }
}
