body {
    background-color: #1D242F;
}
#container {
    padding-top: 80px;
    box-sizing: border-box;
}

// ** subLocation ** //
#subLocation {
    max-width: 100%;
    width: 100%;
    height: 116px;
    padding: 20px 0;
    margin: 0 auto;
    box-sizing: border-box;
}
#subLocation .location_box {
    max-width: 1720px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    border: none;
    transition: 0.5s ease;
}
#subLocation .location_box.active {
    max-width: 100%;
    background-color: #fff;
}
#subLocation .location_box.active {}
#subLocation .location_box:after, #subLocation .location_box:before {
    display: none;
    width: calc(1700px - 50%);
    background-color: transparent;
    border: none;
}
#subLocation .location_list {
    max-width: 1720px;
    width: 100%;
    margin: 0 auto;
}
#subLocation .location_box.active:before, #subLocation .location_box.active:after {
    background-color: #fff;
}
#subLocation .location_list > li button, #subLocation .location_list > li a {
    color: #fff;
}
#subLocation .location_list > li button:before, #subLocation .location_list > li button:after {
    
}
#subLocation .location_list > li button:before {
    top: 50%;
    right: 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/icons/icon_nav_arrow.svg) center / auto no-repeat;
    transform: translateY(-50%);
    margin: 0;
}
#subLocation .location_list > li button:hover:before, #subLocation .location_list > li button:hover:after {
    background: url(../images/icons/icon_nav_arrow.svg) center / auto no-repeat;
}
#subLocation .location_list > li button.active:before, #subLocation .location_list > li button.active:after {
    background: url(../images/icons/icon_nav_arrow.svg) center / auto no-repeat;
}
#subLocation .location_list > li button.active:before {
    transform: translateY(-50%) rotate(180deg);
    right: 20px;
}
#subLocation .location_box.active > .location_list > li button:before {
    background: url(../images/icons/icon_nav_arrow_on.svg) center / auto no-repeat;
}
#subLocation .location_box.active > .location_list > li button.active:before {
    background: url(../images/icons/icon_nav_arrow.svg) center / auto no-repeat;
}
#subLocation .location_list > li button:after {
    display: none;
}
#content #subTitle h4 {
    color: #fff;
}
#subLocation .location_list > li.home a {
    display: inline-block;
    margin-left: 0px;
    background: url(https://www.sait.samsung.co.kr/saithome/images/icon/sub_nav_home_on.png) center / auto no-repeat;
}
#subLocation .location_box.active .location_list > li.home a {
    background: url(https://www.sait.samsung.co.kr/saithome/images/icon/sub_nav_home.png) center / auto no-repeat;
}
#subLocation .location_box.active .location_list > li.home a:hover {
    background: url(https://www.sait.samsung.co.kr/saithome/images/icon/sub_nav_home_on.png) center / auto no-repeat;
    background-color: #1428a0;
}
#subLocation .location_box.active .location_list > li button, #subLocation .location_list > li a {
    color: #1D242F;
}
#subLocation .location_box.active .location_list > li button.active , #subLocation .location_list > li a {
    color: #fff;
}


// ** common ** //
#content {
    padding: 80px 0 120px;
    box-sizing: border-box;
}
#content #subTitle {
    margin-bottom: 80px;
}
.content__container {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
}
.row {
    padding-top: 80px;
    box-sizing: border-box;
    line-height: 1.25;
    font-family: "SamsungOneKR";
    color: #fff;
}
.row--pt0 {
    padding-top: 0;
}
.row--pt120 {
    padding-top: 120px;
}
.row:first-child {
    padding-top: 0;
}
.row__guide {
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
}
.row__wrap {
    
}
.row__inbox {
    margin-top: 80px;
    display: flex;
    gap: 40px;
}
.row__inbox:first-child {
    margin-top: 0;
}
.row__item {
    flex: 1;
}
.row__figure {
    padding-top: 50px;
    box-sizing: border-box;
}
#content #subTitle + .row {
    padding-top: 0;
}
h5.title {
    float: none;
    margin-bottom: 20px;
    font-size: 34px;
    font-weight: 700;
    color: #fff;
}
h5.title--mb30 {
    margin-bottom: 30px;
}
h5.title--mb50 {
    margin-bottom: 50px;
}
h6 {
    font-size: 28px;
    line-height: 38px;
    color: #fff;
}
h6.mb30 {
    margin-bottom: 30px;
}
.small-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: #fff;
    margin-bottom: 20px;
}
p {
    font-size: 18px;
    line-height: 28px;
    color: #fff;
}

// banner
#relatedContents {
    background-color: #28303E;
    padding: 75px 0;
    box-sizing: border-box;
}
#relatedContents:after { 
    display: none;
}
.related__inner {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 20px;
}
#relatedContents .related_wrap {
    flex: 1;
}
#relatedContents .related__title {
    flex: 1;
}
#relatedContents .related__title h1 {
    font-size: 34px;
    line-height: 44px;
    color: #fff;
}
#relatedContents .related__title span {
    display: block;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    margin-top: 10px;
}
#relatedContents .related_wrap article {
    position: relative;
    float: none;
    flex: 1;
    margin: 0;
    gap: 20px;
}
#relatedContents .related_wrap article:first-child {
    padding-top: 0;
}
#relatedContents .related_wrap article h1 {
    font-size: 20px;
    line-height: 30px;
    margin-top: 0;
}
#relatedContents .related_wrap article a {
    display: block;
    padding: 21px 0;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
#relatedContents .related_wrap article a::after {
    content:'';
    display: inline-block;
    position: absolute;
    bottom :0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #fff;
    transition: 0.32s ease;
}
#relatedContents .related_wrap article a:hover::after {
    width: 100%;
}

// subTab
.renew2024 #subTab {}
.renew2024 #subTab ul {
    display: flex;
    padding: 0;
    gap: 10px;
}
.renew2024 #subTab ul:before, .renew2024 #subTab ul:after {
    display: none;
}
.renew2024 #subTab ul li a.active:after {
    display: none;
}
.renew2024 #subTab ul li {
    float: none;
    flex: 1;
    margin: 0;
}
.renew2024 #subTab ul li a {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-weight: 400;
    border-radius: 0;
    background-color: #333D50;
    color: #fff;
}
.renew2024 #subTab ul li a.active {
    background-color: #fff;
    color: #1428A0;
    font-size: 18px;
    font-weight: 700;
}

// ** about ** //
// who
.who .vice_box {
    height: auto;
}
.half {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}
.half__item {
    flex: 1;
}
.list-box {
    display: flex;
    align-items: flex-start;
}
.list-box__title {
    flex-basis: 285px;
    flex-shrink: 0;
}
.list-box__row ul li {
    position: relative;
    font-size: 24px;
    line-height: 34px;
    padding-left: 22px;
    margin-top: 6px;
}
.list-box__row ul li:first-child {
    margin-top: 0;
}
.list-box__row ul li::before {
    content:'';
    position: absolute;
    top: 14px;
    left: 0;
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
    overflow: hidden;
}

// labs
.global {
    margin-bottom: 30px;
}
.global ul {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.global ul li {
    width: calc(25% - 7.5px);
}
.global ul li button {
    display: inline-block;
    width: 100%;
    background-color: #333D50;
    text-align: center;
    font-size: 18px;
    line-height: 50px;
    color: #fff;
    border-radius: 3px;
}
.global ul li button.active {
    color: #1428A0;
    font-weight: 700;
    background-color: #fff;
}
#content .contents_wrap {
    padding: 0;
}
.labs .sait_global .sait_view {
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
}
.labs .sait_global .sait_view article { 
    width: 100%;
    margin: 0;
}
.labs .sait_global {
    margin: 0;
}
#content:after {
    display: none !important;
}
.labs:after {
    display: none !important;
}
.labs .sait_global .sait_view .view_wrap.labs {
    height: auto;
}
.labs .sait_global .sait_view article.labs {
    position: relative;
} 
.labs .sait_global .sait_view article.labs .txt_wrap.people_txt .pepl_wrap {
    padding-top: 30px;
    overflow: hidden;
}
.labs .sait_global .sait_view article.labs .txt_wrap.people_txt .pepl_wrap .clear {
    clear: both;
}
.labs .sait_global .sait_view article.labs .txt_wrap.people_txt .pepl_wrap .clear + .clear {
    padding-top: 70px;
}
.labs .sait_global .sait_view article.labs .txt_wrap.people_txt .pepl_wrap .pepl_box {
    width: 33.33%;
    float: left;
}
.labs .sait_global .sait_view article.labs .txt_wrap.people_txt .pepl_wrap .pepl_box img {
    display: block;
}
.labs .sait_global .sait_view article.labs .txt_wrap.people_txt .pepl_wrap .pepl_box .pepl_name {
    font-family: 'SamsungOneLatin', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #333;
    text-align: center;
    line-height: 25px;
    width: 315px;
    padding-top: 23px;
}
.labs .sait_global .sait_view article.labs .txt_wrap.people_txt .pepl_wrap .pepl_box .skill {
    padding-top: 0;
    text-align: center;
    font-family: 'SamsungOneLatin', sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #636363;
    line-height: 20px;
    width: 315px;
    padding: 6px 0 26px;
}
.labs .sait_global .sait_view article.labs .txt_wrap.people_txt .pepl_wrap .pepl_box .btn_area {
    width: 315px;
    padding: 0 20px;
    box-sizing: border-box;
    text-align: center;
}
.labs .sait_global .sait_view article.labs .txt_wrap.people_txt .pepl_wrap .pepl_box .btn_area a {
    width: 135px;
    height: 30px;
    line-height: 31px;
    text-indent: 25px;
    background-color: #1428a0;
    display: inline-block;
    color: #fff;
    font-size: 14px;
    margin: 0;
    position: relative;
    border: 1px solid #636363;
    box-sizing: border-box;
    -webkit-transition: all 0.2s ease;
    text-align: left;
}
.labs .sait_global .sait_view article.labs .txt_wrap.people_txt .pepl_wrap .pepl_box .btn_area a:hover {
    background-color: #fff;
    color: #1428a0;
}
.labs .sait_global .sait_view article.labs .txt_wrap.people_txt .pepl_wrap .pepl_box .btn_area a i {
    position: absolute;
    top: 49%;
    right: 20px;
    -webkit-transition: all 0.2s ease;
}
.labs .sait_global .sait_view article.labs .txt_wrap.people_txt .pepl_wrap .pepl_box .btn_area a i:before {
    width: 20px;
    height: 1px;
    display: block;
    content: '';
    background-color: #fff;
    position: absolute;
    right: 0;
    -webkit-transition: background-color 0.2s ease;
}
.labs .sait_global .sait_view article.labs .txt_wrap.people_txt .pepl_wrap .pepl_box .btn_area a i:after {
    width: 0;
    height: 0;
    display: block;
    content: '';
    position: absolute;
    top: -2px;
    right: -2px;
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
    border-left: 5px solid #fff;
    -webkit-transition: border-color 0.2s ease;
}
.labs .sait_global .sait_view article.labs .txt_wrap.people_txt .pepl_wrap .pepl_box .btn_area a:hover i:before {
    background-color: #1428a0;
}
.labs .sait_global .sait_view article.labs .txt_wrap.people_txt .pepl_wrap .pepl_box .btn_area a:hover i:after {
    border-left-color: #1428a0;
}

.labs .sait_global .sait_view article .txt_wrap .link_wrap {
    margin: 30px 0 40px;
}
.labs .sait_global .sait_view article ul li {
    padding: 0;
}
.labs .sait_global .sait_view article .txt_wrap .link_wrap ul::after {
    content: '';
    display: block;
    clear: both;
}
.labs .sait_global .sait_view article .txt_wrap .link_wrap ul li {
    float: left;
    width: 316px;
}
.labs .sait_global .sait_view article .txt_wrap .link_wrap ul li + li {
    margin-left: 16px;
}
.labs .sait_global .sait_view article .txt_wrap .link_wrap ul li:nth-child(3n + 1) {
    margin-left: 0;
}
.labs .sait_global .sait_view article .txt_wrap .link_wrap ul li:nth-child(n + 4) {
    padding: 42px 0 0;
}
.labs .sait_global .sait_view article .txt_wrap .link_wrap li a {
    float: none;
}
.labs .sait_global .sait_view article .txt_wrap .link_wrap li:nth-of-type(1) a {
    background: url(https://www.sait.samsung.co.kr/saithome/images/about/labs_link04.jpg) no-repeat;
}
.labs .sait_global .sait_view article .txt_wrap .link_wrap li:nth-of-type(2) a {
    background: url(https://www.sait.samsung.co.kr/saithome/images/about/labs_link01.jpg) no-repeat;
}
.labs .sait_global .sait_view article .txt_wrap .link_wrap li:nth-of-type(3) a {
    background: url(https://www.sait.samsung.co.kr/saithome/images/about/labs_link02.jpg) no-repeat;
}
.labs .sait_global .sait_view article .txt_wrap .link_wrap li:nth-of-type(4) a {
    background: url(https://www.sait.samsung.co.kr/saithome/images/about/labs_link03.jpg) no-repeat;
}
.labs .sait_global .sait_view article .txt_wrap .link_wrap li .title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #333;
}
.labs .sait_global .sait_view article .img_wrap {
    background: none;
    height: auto;
}
.labs .sait_global .sait_view article:nth-of-type(1) .img_wrap,
.labs .sait_global .sait_view article:nth-of-type(2) .img_wrap,
.labs .sait_global .sait_view article:nth-of-type(3) .img_wrap,
.labs .sait_global .sait_view article:nth-of-type(4) .img_wrap,
.labs .sait_global .sait_view article:nth-of-type(5) .img_wrap,
.labs .sait_global .sait_view article:nth-of-type(6) .img_wrap,
.labs .sait_global .sait_view article:nth-of-type(7) .img_wrap,
.labs .sait_global .sait_view article:nth-of-type(8) .img_wrap {
    background-image: none;
}

.labs .sait_global .sait_view article .txt_wrap {
    padding: 80px 0 0;
}
.labs .sait_global .sait_view article .txt_wrap--pt40 {
    padding: 40px 0 0;
}
.txt_wrap {
    padding: 80px 0 0;
}
.labs .sait_global .sait_view article .txt_wrap h1 {
    color: #fff;
}
.labs .sait_global .sait_view article.labs .txt_wrap.people_txt .pepl_wrap .pepl_box .pepl_name {
    color: #fff;
}
.labs .sait_global .sait_view article.labs .txt_wrap.people_txt .pepl_wrap .pepl_box .skill {
    color: #6E7E96;
}
.labs .sait_global .sait_view article.labs .txt_wrap.people_txt .pepl_wrap .pepl_box .btn_area a {
    background-color: transparent;
    
}
.public_txt h1 {
    padding-left: 20px;
}
.list_item {
    width: 100%;
    float: none;
    padding: 0 20px;
}
.list_box a {
    width: 100%;
    float: left;
    color: #333;
    -webkit-transition: color 0.2s ease;
}
.tit {
    width: 100%;
    padding-top: 27px;
    padding-bottom: 17px;
    font-size: 18px;
    font-family: SamsungSharpSans, sans-serif;
    font-weight: bold;
    color: #333;
    width: 100%;
    line-height: 29px;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
}
.infowrap {
    padding-bottom: 30px;
}
.infowrap p.infobox {
    font-size: 17px;
    font-weight: 400;
    color: #4f4f4f;
    line-height: 30px !important;
    padding: 0 !important;
}
.infowrap p.infobox span:nth-child(1):before {
    left: 100px;
}
.infowrap p.infobox span em {
    border-bottom: 1px solid #bbb;
    font-style: normal;
}
.list_item::after {
    content: '';
    clear: both;
    display: block;
}
.list_item {
    border-bottom: 1px solid #a8a8a8;
}
.list_item:hover,
.list_item:focus {
    background-color: #fff;
}
.list_item a:hover .tit {
    color: #1428a0;
}
.btn_area a {
    width: 135px;
    height: 30px;
    line-height: 31px;
    text-indent: 17px;
    background-color: #1428a0;
    display: inline-block;
    color: #fff;
    font-size: 14px;
    margin-top: -8px;
    margin-bottom: 30px;
    padding: 0;
    position: relative;
    border: 1px solid #636363;
    box-sizing: border-box;
    -webkit-transition: all 0.2s ease;
    text-align: left;
}
.btn_area a:hover {
    background-color: #fff;
    color: #1428a0;
}
.btn_area a:hover i,
.btn_area a:focus i {
    transform: translate(5px, 0);
}
.btn_area a i {
    position: absolute;
    top: 49%;
    right: 20px;
    -webkit-transition: all 0.2s ease;
}
.btn_area a i::before {
    width: 20px;
    height: 1px;
    display: block;
    content: '';
    background-color: #fff;
    position: absolute;
    right: 0;
    -webkit-transition: background-color 0.2s ease;
}
.btn_area a i:after {
    width: 0;
    height: 0;
    display: block;
    content: '';
    position: absolute;
    top: -2px;
    right: -2px;
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
    border-left: 5px solid #fff;
    -webkit-transition: border-color 0.2s ease;
}
.btn_area a:hover i:before {
    background-color: #1428a0;
}
.btn_area a:hover i:after {
    border-left-color: #1428a0;
}
.labs .sait_global .sait_view article.labs .txt_wrap.public_btn {
    
}
.labs .sait_global .sait_view article.labs .txt_wrap.public_btn .btn_area {
    margin-top: 30px;
}
.labs .sait_global .sait_view article.labs .txt_wrap.public_btn .btn_area a {
    width: 160px;
}
.link-btn {
    display: flex;
    gap: 10px;
}
.link-btn a {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.link-btn a:hover {
    border: 1px solid #fff;
}
.btn__title {
    display: inline-flex;
    gap: 20px;
    align-items: center;
}
.btn_area a {
    background-color: transparent;
}
.infowrap p.infobox span {
    color: #fff;
}
.infowrap p.infobox span:first-child {
    color: #6E7E96;
    font-weight: 700;
}
.tit {
    color: #fff;
    font-weight: 500;
}
.list_item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.list_item:hover .tit, .list_item:focus .tit{
    color: #1428a0;
}
.list_item:hover .infowrap p.infobox span, 
.list_item:focus .infowrap p.infobox span {
    color: #1428a0;
}
.list_item:hover .infowrap p.infobox span:first-child, 
.list_item:focus .infowrap p.infobox span:first-child {
    color: #6E7E96;
}
.list_item:hover .btn_area a, .list_item:focus .btn_area a {
    background-color: #1428a0;
    color: #fff;
}
.list_item:hover .btn_area a:hover i:before,
.list_item:focus .btn_area a:hover i:before
{
    background-color: #fff;
}
.list_item:hover .btn_area a:hover i:after,
.list_item:focus .btn_area a:hover i:after
{
    border-left: 5px solid #fff;
}
.labs .sait_global .sait_view article ul li {
    float: none;
    width: 100%;
}
.labs .sait_global .sait_view article ul li.one {
    float: none;
    width: 100%;
}
.labs .sait_global .sait_view article .one {
    
}
.labs .sait_global .sait_view article .one > li {
    padding-left: 170px;
    margin-top: 30px;
    padding-bottom: 30px;
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
}
.labs .sait_global .sait_view article .one > li:first-child {
    margin-top: 0;
}
.labs .sait_global .sait_view article .one address ul::after {
    display: block;
    content:'';
    clear: both;
}
.labs .sait_global .sait_view article .one address ul li {
    margin-top: 5px;
}
.labs .sait_global .sait_view article .one address ul li:first-child {
    margin-top: 0;
}
.labs .sait_global .sait_view article ul li address {
    
}
.labs .sait_global .sait_view article .one address ul li span {
    display: inline-block;
    float: left;
    min-width: 100px;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    color: #6E7E96;
}
.labs .sait_global .sait_view article ul strong {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    padding: 0 20px;
    border-radius: 20px;
    font-size: 18px;
    line-height: 40px;
    background-color: #fff;
    box-sizing: border-box;
}
.txt_wrap--bb {
    
}
.labs .sait_global .sait_view article .txt_wrap .link_wrap {
    margin: 0;
}
.labs .sait_global .sait_view article .txt_wrap .link_wrap li .title {
    color: #fff;
}
.labs .sait_global .sait_view article ul.one li address ul li p {
    overflow: hidden;
    padding: 0;
}
.labs .sait_global .sait_view article .txt_wrap .grey_box {
    padding: 30px 40px;
    background-color: #28303E;
}
.labs .sait_global .sait_view article .txt_wrap .grey_box ul {
    font-size: 0;
}
.labs .sait_global .sait_view article .txt_wrap .grey_box ul li {
    display: inline-block;
    width: 50%;
    margin-top: 5px;
    font-size: 16px;
    line-height: 26px;
    color: #fff;
}
.labs .sait_global .sait_view article .txt_wrap .grey_box ul li:nth-child(-n + 2){
    margin-top: 0;
}

// social
.social .science_wrap {
    background-color: transparent;
}

p strong {
    display: block;
    font-size: 18px;
    line-height: 28px;
}

// contact
.contact .contact_wrap {
    padding: 0;
}