body {
    background-color: #1D242F;
}
#container {
    padding-top: 80px;
    box-sizing: border-box;
}

// ** subLocation ** //

#subLocation {
    max-width: 1920px;
    width: 100%;
    height: 116px;
    padding: 20px 100px;
    box-sizing: border-box;
}
#subLocation .location_box {
    // max-width: 1700px;
    background-color: transparent;
    border: none;
}
#subLocation .location_box.active {
    background-color: #fff;
}
#subLocation .location_box:after, #subLocation .location_box:before {
    background-color: transparent;
    border: none;
}
#subLocation .location_box.active:before, #subLocation .location_box.active:after {
    background-color: #fff;
}
#subLocation .location_list > li button, #subLocation .location_list > li a {
    color: #fff;
}
#subLocation .location_list > li button:before, #subLocation .location_list > li button:after {
    
}
#subLocation .location_list > li button:before {
    top: 50%;
    right: 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/icons/icon_nav_arrow.svg) center / auto no-repeat;
    transform: translateY(-50%);
    margin: 0;
}
#subLocation .location_list > li button:hover:before, #subLocation .location_list > li button:hover:after {
    background: url(../images/icons/icon_nav_arrow.svg) center / auto no-repeat;
}
#subLocation .location_list > li button.active:before, #subLocation .location_list > li button.active:after {
    background: url(../images/icons/icon_nav_arrow.svg) center / auto no-repeat;
}
#subLocation .location_list > li button.active:before {
    transform: translateY(-50%) rotate(180deg);
    right: 20px;
}
#subLocation .location_box.active > .location_list > li button:before {
    background: url(../images/icons/icon_nav_arrow_on.svg) center / auto no-repeat;
}
#subLocation .location_box.active > .location_list > li button.active:before {
    background: url(../images/icons/icon_nav_arrow.svg) center / auto no-repeat;
}
#subLocation .location_list > li button:after {
    display: none;
}
#content #subTitle h4 {
    color: #fff;
}
#subLocation .location_list > li.home a {
    display: inline-block;
    margin-left: 0px;
    background: url(https://www.sait.samsung.co.kr/saithome/images/icon/sub_nav_home_on.png) center / auto no-repeat;
}
#subLocation .location_box.active .location_list > li.home a {
    background: url(https://www.sait.samsung.co.kr/saithome/images/icon/sub_nav_home.png) center / auto no-repeat;
}
#subLocation .location_box.active .location_list > li.home a:hover {
    background: url(https://www.sait.samsung.co.kr/saithome/images/icon/sub_nav_home_on.png) center / auto no-repeat;
    background-color: #1428a0;
}
#subLocation .location_box.active .location_list > li button, #subLocation .location_list > li a {
    color: #1D242F;
}
#subLocation .location_box.active .location_list > li button.active , #subLocation .location_list > li a {
    color: #fff;
}


// ** common ** //
#content {
    padding: 80px 0 120px;
    box-sizing: border-box;
}
#content #subTitle {
    margin-bottom: 80px;
}
.content__container {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
}
.row {
    padding-top: 80px;
    box-sizing: border-box;
    line-height: 1.25;
    font-family: "SamsungOneKR";
    color: #fff;
}
.row--pt120 {
    padding-top: 120px;
}
.row:first-child {
    padding-top: 0;
}
h5.title {
    margin-bottom: 20px;
    font-size: 34px;
    font-weight: 700;
    color: #fff;
}
h5.title--mb30 {
    margin-bottom: 30px;
}
h5.title--mb50 {
    margin-bottom: 50px;
}
h6 {
    font-size: 28px;
    line-height: 38px;
    color: #fff;
}
p {
    font-size: 18px;
    line-height: 28px;
    color: #fff;
}

// banner
#relatedContents {
    background-color: #28303E;
    padding: 75px 0;
    box-sizing: border-box;
}
#relatedContents:after { 
    display: none;
}
.related__inner {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 20px;
}
#relatedContents .related_wrap {
    flex: 1;
}
#relatedContents .related__title {
    flex: 1;
}
#relatedContents .related__title h1 {
    font-size: 34px;
    line-height: 44px;
    color: #fff;
}
#relatedContents .related__title span {
    display: block;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    margin-top: 10px;
}
#relatedContents .related_wrap article {
    position: relative;
    float: none;
    flex: 1;
    margin: 0;
    gap: 20px;
}
#relatedContents .related_wrap article:first-child {
    padding-top: 0;
}
#relatedContents .related_wrap article h1 {
    font-size: 20px;
    line-height: 30px;
    margin-top: 0;
}
#relatedContents .related_wrap article a {
    display: block;
    padding: 21px 0;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
#relatedContents .related_wrap article a::after {
    content:'';
    display: inline-block;
    position: absolute;
    bottom :0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #fff;
    transition: 0.32s ease;
}
#relatedContents .related_wrap article a:hover::after {
    width: 100%;
}

// ** about ** //
// who
.who .vice_box {
    height: auto;
}
.half {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}
.half__item {
    flex: 1;
}
.list-box {
    display: flex;
    align-items: flex-start;
}
.list-box__title {
    flex-basis: 285px;
    flex-shrink: 0;
}
.list-box__row ul li {
    position: relative;
    font-size: 24px;
    line-height: 34px;
    padding-left: 22px;
    margin-top: 6px;
}
.list-box__row ul li:first-child {
    margin-top: 0;
}
.list-box__row ul li::before {
    content:'';
    position: absolute;
    top: 14px;
    left: 0;
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
    overflow: hidden;
}