<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- 공통적용헤더정보 -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <!-- //공통적용헤더정보 -->
        <link rel="stylesheet" href="https://www.sait.samsung.co.kr/saithome/mobile/stylesheets/css/common.css" />
        <link rel="stylesheet" href="https://www.sait.samsung.co.kr/saithome/mobile/stylesheets/2024/sub.css" />
        <link rel="shortcut icon" href="https://www.sait.samsung.co.kr/saithome/images/favicon.ico" />
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/jquery-1.8.2.min.js"></script>
        <meta name="Keywords" content="SAIT, Samsung Advanced Institute of Technology, 삼성종합기술원, 삼성전자 종합기술원, Samsung research, Samsung R&amp;D, Samsung future technology, R&amp;D, Autonomoucs Driving, Graphene, New materials, QD, Quantum Dot" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
        <title>Contact Us | Samsung Advanced Institute of Technology</title>
        <meta name="Description" content="Contact Us | Samsung Advanced Institute of Technology" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Contact Us | Samsung Advanced Institute of Technology" />
        <meta property="og:description" content="Contact Us | Samsung Advanced Institute of Technology" />
        <meta property="og:image" content="" />
        <meta property="og:url" content="" />
        <meta property="og:site_name" content="Samsung Advanced Institute of Technology" />
        <meta name="Author" content="Samsung Advanced Institute of Technology" />
        <meta name="robots" content="ALL" />
        <%- include("../include/sub_head.html") %>
    </head>
    <body>
        <div id="wrap" role="main">
            <!-- header-->
            <%- include("../include/sub_header.html") %>
            <!-- //header-->

            <!-- container-->
            <section id="container" class="about">
                <!-- subVisual-->
                <div id="subVisual">
                    <img src="https://www.sait.samsung.co.kr/saithome/mobile/images/about/about_visual.jpg" alt="" />
                    <div class="tit_wrap">
                        <h3>
                            <span> Samsung Advanced <br />Institute of Technology </span>
                        </h3>
                    </div>
                </div>
                <!-- //subVisual-->
                <!-- subContent-->
                <section id="content" class="contact">
                    <div class="content__container">
                        <article class="row">
                            <div class="row__inner">
                                <div id="subTitle" class="js-scr-sec">
                                    <h4 class="js-scr-box">Contact us</h4>
                                </div>
                                <div class="contact_wrap">
                                    <div class="map_wrap js-scr-sec">
                                        <iframe
                                            id="map"
                                            class="js-scr-box"
                                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3175.8384025415417!2d127.05280781530259!3d37.25154137985808!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b4502d3524cfd%3A0x1f7289bd07578c41!2z7IK87ISx7KKF7ZWp6riw7Iig7JuQ!5e0!3m2!1sko!2skr!4v1534485390924"
                                            frameborder="0"
                                            style="border: 0"
                                            allowfullscreen
                                        ></iframe>
                                        <div class="map_box">
                                            <div class="contact_company_icon"></div>
                                            <article class="company_name js-scr-box cm_pd30">
                                                <h5>
                                                    Samsung<br />
                                                    Advanced Institute<br />
                                                    of Technology
                                                </h5>
                                            </article>
                                            <div class="address_wrap js-scr-box">
                                                <address class="fs-15">130, Samsung-ro, Yeongtong-gu, Suwon-si, Gyeonggi-do, 16678, Korea</address>
                                                <p><strong>Tel</strong> +82-31-8061-1114</p>
                                            </div>
                                        </div>
                                    </div>
                                    <article class="taking_wrap js-scr-sec bgf cm_pd30" style="display: none">
                                        <h1 class="js-scr-box">Taking Commuter Bus</h1>
                                        <div class="taking_box js-scr-box">
                                            <div class="taking_boximg"></div>
                                            <div class="taking_boxtt">
                                                <dl>
                                                    <dt>Route</dt>
                                                    <dd>Samsung Headquarter building <-> SAIT</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Departure</dt>
                                                    <dd>
                                                        Bus stop is located in front of the Samsung Electronics <br />
                                                        Headquater building main entrance. <br />
                                                        (No.2 green line, Gangnam subway station gate 8)
                                                    </dd>
                                                </dl>
                                                <dl>
                                                    <dt>Time table <em>(Weekdays)</em></dt>
                                                    <dd>10:00, 11:00, 12:00, 12:30, 13:30, 14:00, 15:00, 16:00</dd>
                                                </dl>
                                            </div>
                                        </div>
                                        <div class="contact_mail js-scr-box">
                                            <strong>Contact us by e-mail</strong>
                                            <p>
                                                If you have any suggestions or inquiries, please contact web-master. <br />
                                                <em>saitweb@samsung.com</em>
                                            </p>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </article>
                    </div>
                </section>
                <!-- //subContent-->

                <!-- subAside-->
                <aside id="relatedContents" class="js-scr-sec">
                    <div class="related__inner">
                        <div class="related__title">
                            <h1 class="js-scr-box">Related Contents</h1>
                            <span class="js-scr-box">Explore more related contents from SAIT!</span>
                        </div>
                        <div class="related_wrap">
                            <article class="js-scr-box">
                                <a href="https://www.sait.samsung.co.kr/saithome/mobile/about/history.do">
                                    <h1>History Of Progress</h1>
                                </a>
                            </article>
                            <article class="js-scr-box">
                                <a href="https://www.sait.samsung.co.kr/saithome/mobile/about/labs.do">
                                    <h1>Global Labs</h1>
                                </a>
                            </article>
                        </div>
                    </div>
                </aside>
                <!-- //subAside-->
            </section>
            <!-- //container-->

            <!-- footer -->

            <footer id="footer">
                <div class="footer_wrap">
                    <h1 class="f_logo"><img src="https://www.sait.samsung.co.kr/saithome/mobile/images/layout/f_logo.png" alt="footer logo" /></h1>
                    <ul class="f_link">
                        <li style="font-weight: 700"><a href="https://www.sait.samsung.co.kr/saithome/mobile/etc/privacy.do">Privacy Statement</a></li>
                        <!-- 
			<li><a href="https://www.sait.samsung.co.kr/saithome/mobile/etc/legal.do">Legal Notice</a></li>
			-->
                        <li style="font-weight: 700"><a href="https://www.sait.samsung.co.kr/saithome/mobile/etc/management.do" style="color: #f0f8ff">Privacy Policy</a></li>
                    </ul>
                    <div class="f_bottom">
                        <div class="copy_wrap">
                            <address>130, Samsung-ro, Yeongtong-gu, Suwon-si, Gyeonggi-do, 16678, Korea</address>
                            <span class="tel">Tel / +82-31-8061-1114</span>
                            <p class="copyright">© 2018. SAMSUNG All Rights Reserved.</p>
                        </div>
                    </div>
                </div>
            </footer>

            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123575008-1"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag() {
                    dataLayer.push(arguments);
                }
                gtag('js', new Date());

                gtag('config', 'UA-167217135-1');
            </script>

            <!-- //footer -->
            <div id="gnbDimmed" class="dimmed"></div>
        </div>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/lib/TweenMax/TweenMax.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/lib/TweenMax/easing/EasePack.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/design_common.js"></script>
    </body>
</html>
