<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- 공통적용헤더정보 -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <!-- //공통적용헤더정보 -->
        <link rel="stylesheet" href="https://www.sait.samsung.co.kr/saithome/mobile/stylesheets/css/common.css" />
        <link rel="stylesheet" href="https://www.sait.samsung.co.kr/saithome/mobile/stylesheets/2024/sub.css" />
        <link rel="shortcut icon" href="https://www.sait.samsung.co.kr/saithome/images/favicon.ico" />
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/jquery-1.8.2.min.js"></script>
        <!--[if lt IE 9]><script src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/lib/html5shiv.min.js"></script><![endif]-->
        <!--[if lt IE 10]><script src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/lib/placeholders.min.js"></script><![endif]-->
        <meta name="Keywords" content="SAIT, Samsung Advanced Institute of Technology, 삼성종합기술원, 삼성전자 종합기술원, Samsung research, Samsung R&amp;D, Samsung future technology, R&amp;D, Autonomoucs Driving, Graphene, New materials, QD, Quantum Dot" />
        <title>History of Progress | Samsung Advanced Institute of Technology</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
        <meta name="Description" content="History of Progress | Samsung Advanced Institute of Technology" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="History of Progress | Samsung Advanced Institute of Technology" />
        <meta property="og:description" content="History of Progress | Samsung Advanced Institute of Technology" />
        <meta property="og:image" content="" />
        <meta property="og:url" content="" />
        <meta property="og:site_name" content="Samsung Advanced Institute of Technology" />
        <meta name="Author" content="Samsung Advanced Institute of Technology" />
        <meta name="robots" content="ALL" />
        <%- include("../include/sub_head.html") %>
    </head>
    <body>
        <div id="wrap" role="main">
            <!-- header-->
            <%- include("../include/sub_header.html") %>
            <!-- //header-->

            <!-- container-->
            <section id="container" class="about">
                <!-- subVisual-->
                <div id="subVisual" style="background-image: url(https://www.sait.samsung.co.kr/saithome/mobile/images/about/about_visual.jpg)">
                    <div class="tit_wrap">
                        <h3>
                            <span>Samsung Advanced Institute of Technology</span>
                        </h3>
                    </div>
                </div>
                <!-- //subVisual-->

                <!-- subContent-->
                <section id="content" class="history">
                    <div class="content__container">
                        <article class="row">
                            <div class="row__inner">
                                <div id="subTitle" class="js-scr-sec">
                                    <h4 class="js-scr-box">History of Progress</h4>
                                </div>
                                <div class="contents_wrap">
                                    <div id="subTab" class="js-scr-sec">
                                        <ul class="js-scr-box">
                                            <li><a href="/mo/about/history.html">Major Events</a></li>
                                            <li><a href="/mo/about/history_r.html" class="active">Major Research Achievements</a></li>
                                        </ul>
                                    </div>
                                    <div class="history_wrap history_wrap--nomonth js-scr-sec">
                                        <article class="js-scr-box">
                                            <h1>2022</h1>

                                            <dl>
                                                <dd>A crossbar array of magnetoresistive memory devices for in-memory computing (Nature)</dd>
                                            </dl>
                                        </article>
                                        <article class="js-scr-box">
                                            <h1>2021</h1>

                                            <dl>
                                                <dd>Neuromorphic electronics based on copying and pasting the brain (Nature Electronics)</dd>
                                            </dl>
                                            <dl>
                                                <dd>Standalone real-time health monitoring patch based on a stretchable organic optoelectronic system (Science Advances)</dd>
                                            </dl>
                                        </article>
                                        <article class="js-scr-box">
                                            <h1>2020</h1>

                                            <dl>
                                                <dd>Slim-panel holgraphic video display (Nature Communication)</dd>
                                            </dl>
                                            <dl>
                                                <dd>Efficient and stable blue quantum dot light emitting diode (Nature)</dd>
                                            </dl>
                                            <dl>
                                                <dd>Metasurface-driven OLED displays beyond 10,000 PPI (Science)</dd>
                                            </dl>
                                            <dl>
                                                <dd>High-energy long-cycling all-solid-state lithium metal batteries (Nature Energy)</dd>
                                            </dl>
                                        </article>
                                        <article class="js-scr-box">
                                            <h1>2019</h1>

                                            <dl>
                                                <dd>Developed SAMSUNG‘s first NPU for Exynos 9820 with System LSI</dd>
                                            </dl>
                                            <dl>
                                                <dd>Samsung’s On-Device AI Lightweight Algorithm (CVPR)</dd>
                                            </dl>
                                            <dl>
                                                <dd>Highly efficient and stable quantum dot light-emitting diodes (Nature)</dd>
                                            </dl>
                                        </article>
                                        <article class="js-scr-box">
                                            <h1>2018</h1>

                                            <dl>
                                                <dd>Intelligent Scan combied iris scan and face recognition (Galaxy S9, S9 plus)</dd>
                                            </dl>
                                        </article>
                                        <article class="js-scr-box">
                                            <h1>2017</h1>

                                            <dl>
                                                <dd>Face authentication technology with high accuracy completed and applied to Galaxy S8/Note8</dd>
                                            </dl>
                                            <dl>
                                                <dd>Realization of Continuous Zachariasen Carbon Monolayer (Science Advances)</dd>
                                            </dl>
                                            <dl>
                                                <dd>Highly Stretchable Polymer Semiconductor Films through Nanoconfinement Effect (Science)</dd>
                                            </dl>
                                        </article>
                                        <article class="js-scr-box">
                                            <h1>2016</h1>

                                            <dl>
                                                <dd>Miniature optical planar camera based on a wide-angle metasurface doublet corrected for monochromatic aberrations (Nature Communications)</dd>
                                            </dl>
                                            <dl>
                                                <dd>Intrinsically Stretchable, Mechanically Robust and Healable Semiconducting Polymer for Skin-Inspired Wearable Organic Transistor (Nature)</dd>
                                            </dl>
                                            <dl>
                                                <dd>Design of efficient molecular organic light-emitting diodes by a high-throughput virtual screening and experimental approach (Nature Materials)</dd>
                                            </dl>
                                            <dl>
                                                <dd>Discovery of Abnormal Lithium Storage Sites in a New Class Electrode Material(Nature Communications)</dd>
                                            </dl>
                                        </article>
                                        <article class="js-scr-box">
                                            <h1>2015</h1>

                                            <dl>
                                                <dd>Nanoscale control of phonon excitations in graphene (Nature Communications)</dd>
                                            </dl>
                                            <dl>
                                                <dd>Silicon carbide-free graphene growth on silicon for lithium-ion battery with high volumetric energy density (Nature Communications)</dd>
                                            </dl>
                                            <dl>
                                                <dd>Dense dislocation arrays embedded in grain boundaries for high-performance bulk thermoelectrics (in Science)</dd>
                                            </dl>
                                            <dl>
                                                <dd>Speech recognition technology with high accuracy completed and applied to Galaxy Note5</dd>
                                            </dl>
                                            <dl>
                                                <dd>Quantum Dot display developed and applied in SUHD(Samsung Ultra High Definition) TV</dd>
                                            </dl>
                                        </article>
                                        <article class="js-scr-box">
                                            <h1>2014</h1>

                                            <dl>
                                                <dd>High performance Green phosphorescent OLED Materials developed and applied to Galaxy Note4</dd>
                                            </dl>
                                        </article>
                                        <article class="js-scr-box">
                                            <h1>2013</h1>

                                            <dl>
                                                <dd>Separation membrane using cross-layer thickness of graphene sheet developed(in Science)</dd>
                                            </dl>
                                            <dl>
                                                <dd>Several problems of ReRAM including current density, temperature stability etc. improved(in Nature Communications)</dd>
                                            </dl>
                                            <dl>
                                                <dd>The switching mechanism of ReRAM using in-situ TEM analysis technology identified(in Nature Communications)</dd>
                                            </dl>
                                            <dl>
                                                <dd>GaN device transferred to biz division</dd>
                                            </dl>
                                        </article>
                                        <article class="js-scr-box">
                                            <h1>2012</h1>

                                            <dl>
                                                <dd>Biosimilar technology transferred to biz division</dd>
                                            </dl>
                                            <dl>
                                                <dd>New graphene transistor developed (in Science)</dd>
                                            </dl>
                                            <dl>
                                                <dd>Oxide semiconductor photosensor completed (in Nature Materials)</dd>
                                            </dl>
                                        </article>
                                        <article class="js-scr-box">
                                            <h1>2011</h1>

                                            <dl>
                                                <dd>Research directions for Graphene electronics proposed (in Nature)</dd>
                                            </dl>
                                            <dl>
                                                <dd>Realizing GaN LED on Glass presented (in Nature Photonics)</dd>
                                            </dl>
                                            <dl>
                                                <dd>New structure that dramatically increases the durability of ReRam completed(in Nature Materials)</dd>
                                            </dl>
                                            <dl>
                                                <dd>Full-color Quantum Dot display completed (in Nature Photonics)</dd>
                                            </dl>
                                        </article>
                                        <article class="js-scr-box">
                                            <h1>2010</h1>

                                            <dl>
                                                <dd>Wireless Power Transmission Platform developed</dd>
                                            </dl>
                                        </article>
                                        <article class="js-scr-box">
                                            <h1>2009</h1>

                                            <dl>
                                                <dd>Solar cell technology transferred as an initiator of solar cell business</dd>
                                            </dl>
                                            <dl>
                                                <dd>High-Performance Hybrid Quantum-Dot Light Emitting Diodes completed(in Nature Photonics)</dd>
                                            </dl>
                                            <dl>
                                                <dd>High efficiency thermoelectric materials completed (in Nature)</dd>
                                            </dl>
                                            <dl>
                                                <dd>Large-scale synthesis of graphene films completed (in Nature)</dd>
                                            </dl>
                                        </article>
                                        <article class="js-scr-box">
                                            <h1>2007</h1>

                                            <dl>
                                                <dd>White LED developed and is leading the world's LED TV market</dd>
                                            </dl>
                                        </article>
                                        <article class="js-scr-box">
                                            <h1>2006</h1>

                                            <dl>
                                                <dd>MIMO (Multiple Input Multiple Output) and OFDM technology completed</dd>
                                            </dl>
                                        </article>
                                        <article class="js-scr-box">
                                            <h1>2003</h1>

                                            <dl>
                                                <dd>Color Signal Processing enhanced competition for DTV & mobile display, printer and camera</dd>
                                            </dl>
                                        </article>
                                        <article class="js-scr-box">
                                            <h1>1999</h1>

                                            <dl>
                                                <dd>World's first carbon nano-tube field emission display completed</dd>
                                            </dl>
                                        </article>
                                        <article class="js-scr-box">
                                            <h1>1998</h1>

                                            <dl>
                                                <dd>MPEG4 Coding Technologies selected as the international standard</dd>
                                            </dl>
                                        </article>
                                        <article class="js-scr-box">
                                            <h1>1996</h1>

                                            <dl>
                                                <dd>Color LBP technology developed and enabled Samsung's first color laser printer</dd>
                                            </dl>
                                            <dl>
                                                <dd>DVD player technology developed as a groundwork of blue-ray optical recording</dd>
                                            </dl>
                                        </article>
                                        <article class="js-scr-box">
                                            <h1>1993</h1>

                                            <dl>
                                                <dd>CT2/GSM seeding technology developed for GSM Market</dd>
                                            </dl>
                                        </article>
                                        <article class="js-scr-box">
                                            <h1>1992</h1>

                                            <dl>
                                                <dd>Epoxy Molding Compound for DRAMs developed as seed technology in electronic material</dd>
                                            </dl>
                                        </article>
                                        <article class="js-scr-box">
                                            <h1>1991</h1>

                                            <dl>
                                                <dd>MLCC Powder developed as seed technology in material & device</dd>
                                            </dl>
                                        </article>
                                        <!-- <article class="js-scr-box">
						<h1>2001 -------</h1>
						<dl>
							<dt>03</dt>
							<dd>
								SEC central research center,
								Yokohama research center merged with SAIT
							</dd>
						</dl>
						<dl>
							<dt>11</dt>
							<dd>
								First annual Samsung Tech Fair, sharing
								Samsung's innovative new technology, is held
								<img src="https://www.sait.samsung.co.kr/saithome/mobile/images/about/history_img01.jpg" alt="2001-03">
							</dd>
						</dl>
					</article>
					
					
					
					
					<article class="js-scr-box">
						<h1>2001</h1>
						<dl>
							<dt>03</dt>
							<dd>
								SEC central research center,
								Yokohama research center merged with SAIT
							</dd>
						</dl>
						<dl>
							<dt>11</dt>
							<dd>
								First annual Samsung Tech Fair, sharing
								Samsung's innovative new technology, is held
								<img src="https://www.sait.samsung.co.kr/saithome/mobile/images/about/history_img01.jpg" alt="2001-03">
							</dd>
						</dl>
					</article>
					<article class="js-scr-box">
						<h1>2001</h1>
						<dl>
							<dt>03</dt>
							<dd>
								SEC central research center,
								Yokohama research center merged with SAIT
							</dd>
						</dl>
						<dl>
							<dt>11</dt>
							<dd>
								First annual Samsung Tech Fair, sharing
								Samsung's innovative new technology, is held
								<img src="https://www.sait.samsung.co.kr/saithome/mobile/images/about/history_img01.jpg" alt="2001-03">
							</dd>
						</dl>
					</article>
					<article class="js-scr-box">
						<h1>2001</h1>
						<dl>
							<dt>03</dt>
							<dd>
								SEC central research center,
								Yokohama research center merged with SAIT
							</dd>
						</dl>
						<dl>
							<dt>11</dt>
							<dd>
								First annual Samsung Tech Fair, sharing
								Samsung's innovative new technology, is held
								<img src="https://www.sait.samsung.co.kr/saithome/mobile/images/about/history_img01.jpg" alt="2001-03">
							</dd>
						</dl>
						<dl>
							<dt>11</dt>
							<dd>
								First annual Samsung Tech Fair, sharing
								Samsung's innovative new technology, is held
								<img src="https://www.sait.samsung.co.kr/saithome/mobile/images/about/history_img01.jpg" alt="2001-03">
							</dd>
						</dl>
					</article> -->
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </section>
                <!-- //subContent-->

                <!-- subAside-->
                <aside id="relatedContents" class="js-scr-sec">
                    <div class="related__inner">
                        <div class="related__title">
                            <h1 class="js-scr-box">Related Contents</h1>
                            <span class="js-scr-box">Explore more related contents from SAIT!</span>
                        </div>
                        <div class="related_wrap">
                            <article class="js-scr-box">
                                <a href="/pc/about/history.html">
                                    <h1>History of Progress</h1>
                                </a>
                            </article>
                            <article class="js-scr-box">
                                <a href="/pc/about/labs.html">
                                    <h1>Global Labs</h1>
                                </a>
                            </article>
                        </div>
                    </div>
                </aside>
                <!-- //subAside-->
            </section>
            <!-- //container-->

            <!-- footer -->

            <%- include("../include/sub_footer.html") %>
            <div id="gnbDimmed" class="dimmed"></div>

            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123575008-1"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag() {
                    dataLayer.push(arguments);
                }
                gtag('js', new Date());

                gtag('config', 'UA-167217135-1');
            </script>
            <!-- //footer -->
            <div id="gnbDimmed" class="dimmed"></div>
        </div>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/lib/TweenMax/TweenMax.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/lib/TweenMax/easing/EasePack.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/design_common.js"></script>
    </body>
</html>
