<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- 공통적용헤더정보 -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <!-- //공통적용헤더정보 -->
        <link rel="stylesheet" href="https://www.sait.samsung.co.kr/saithome/mobile/stylesheets/css/common.css" />
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/jquery-1.8.2.min.js"></script>
        <meta name="Keywords" content="SAIT, Samsung Advanced Institute of Technology, 삼성종합기술원, 삼성전자 종합기술원, Samsung research, Samsung R&amp;D, Samsung future technology, R&amp;D, Autonomoucs Driving, Graphene, New materials, QD, Quantum Dot" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
        <title>Who We Are | Samsung Advanced Institute of Technology</title>
        <meta name="Description" content="Who We Are | Samsung Advanced Institute of Technology" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Who We Are | Samsung Advanced Institute of Technology" />
        <meta property="og:description" content="Who We Are | Samsung Advanced Institute of Technology" />
        <meta property="og:image" content="" />
        <meta property="og:url" content="" />
        <meta property="og:site_name" content="Samsung Advanced Institute of Technology" />
        <meta name="Author" content="Samsung Advanced Institute of Technology" />
        <meta name="robots" content="ALL" />
        <%- include("../include/sub_head.html") %>
    </head>
    <body>
        <div id="wrap" role="main">
            <!-- header-->
            <%- include("../include/sub_header.html") %>
            <!-- //header-->

            <!-- container-->
            <section id="container" class="about">
                <!-- subVisual-->
                <div id="subVisual">
                    <img src="https://www.sait.samsung.co.kr/saithome/mobile/images/about/about_visual.jpg" alt="" />
                    <div class="tit_wrap">
                        <h3>
                            <span> Samsung Advanced <br />Institute of Technology </span>
                        </h3>
                    </div>
                </div>
                <!-- //subVisual-->

                <!-- subContent-->
                <section id="content" class="who">
                    <div class="content__container">
                        <div id="subTitle" class="js-scr-sec">
                            <h4 class="js-scr-box">Who We Are</h4>
                        </div>
                        <article class="row">
                            <div class="row__inner">
                                <div class="row__wrap js-scr-sec">
                                    <div class="video-box js-scr-box" style="background-color: #313d4f; height: 200px"></div>
                                </div>
                                <div class="row__wrap row__wrap--mt80 js-scr-sec">
                                    <h5 class="title">About SAIT</h5>
                                    <div class="row__content">
                                        <div class="half">
                                            <div class="half__item">
                                                <img src="/resources/assets/mobile/images/sub/slogan.png" alt="" />
                                            </div>
                                            <div class="half__item">
                                                <p>
                                                    SAIT Samsung Advanced Institute of Technology is Samsung Group's R&D hub, established as the incubator for cutting-edge technologies under the founding philosophy of Boundless search for breakthroughs. And guided by the vision of Changing the World
                                                    through Creative Research.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row__wrap row__wrap--mt80 js-scr-sec">
                                    <h5 class="title mb50 js-scr-box">SAIT embraces<br />the follow missions</h5>
                                    <div class="row__content">
                                        <div class="list-box">
                                            <div class="list-box__title js-scr-box">
                                                <h6>Missions</h6>
                                            </div>
                                            <div class="list-box__row">
                                                <ul>
                                                    <li class="js-scr-box">We develop the world's best or world's first technologies for new markets.</li>
                                                    <li class="js-scr-box">We create new convergence technologies.</li>
                                                    <li class="js-scr-box">We advance science-based nanotechnology research.</li>
                                                    <li class="js-scr-box">We develop disruptive technologies going beyond current paradigms.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </section>
                <!-- //subContent-->

                <!-- subAside-->
                <aside id="relatedContents" class="js-scr-sec">
                    <div class="related__inner">
                        <div class="related__title">
                            <h1 class="js-scr-box">Related Contents</h1>
                            <span class="js-scr-box">Explore more related contents from SAIT!</span>
                        </div>
                        <div class="related_wrap">
                            <article class="js-scr-box">
                                <a href="/mo/about/history.html">
                                    <h1>History Of Progress</h1>
                                </a>
                            </article>
                            <article class="js-scr-box">
                                <a href="/mo/research/what.html">
                                    <h1>What We Do</h1>
                                </a>
                            </article>
                        </div>
                    </div>
                </aside>
                <!-- //subAside-->
            </section>
            <!-- //container-->

            <!-- footer -->

            <%- include("../include/sub_footer.html") %>

            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123575008-1"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag() {
                    dataLayer.push(arguments);
                }
                gtag('js', new Date());

                gtag('config', 'UA-167217135-1');
            </script>

            <!-- //footer -->
            <div id="gnbDimmed" class="dimmed"></div>
        </div>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/lib/TweenMax/TweenMax.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/lib/TweenMax/easing/EasePack.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/design_common.js"></script>
    </body>
</html>
