<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- 공통적용헤더정보 -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <!-- //공통적용헤더정보 -->
        <link rel="stylesheet" href="https://www.sait.samsung.co.kr/saithome/stylesheets/css/common.css" />
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/jquery-1.8.2.min.js"></script>
        <!--[if lt IE 9]><script src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/html5shiv.min.js"></script><![endif]-->
        <!--[if lt IE 10]><script src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/placeholders.min.js"></script><![endif]-->
        <meta name="Keywords" content="SAIT, Samsung Advanced Institute of Technology, 삼성종합기술원, 삼성전자 종합기술원, Samsung research, Samsung R&amp;D, Samsung future technology, R&amp;D, Autonomoucs Driving, Graphene, New materials, QD, Quantum Dot" />

        <title>Global Collaboration | Samsung Advanced Institute of Technology</title>
        <meta name="Description" content="Global Collaboration | Samsung Advanced Institute of Technology" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Global Collaboration | Samsung Advanced Institute of Technology" />
        <meta property="og:description" content="Global Collaboration | Samsung Advanced Institute of Technology" />
        <meta property="og:image" content="" />
        <meta property="og:url" content="" />
        <meta property="og:site_name" content="Samsung Advanced Institute of Technology" />
        <meta name="Author" content="Samsung Advanced Institute of Technology" />
        <meta name="robots" content="ALL" />
        <%- include("../include/sub_head.html") %>
    </head>
    <body>
        <div id="wrap" role="main">
            <!-- header-->
            <%- include("../include/sub_header.html") %>
            <!-- //header-->

            <!-- container-->
            <section id="container" class="about">
                <%- include("../include/subLocation.ejs", {depth1: "About SAIT", pageTitle: "Global Collaboration"}) %>
                <!-- subContent-->
                <!-- 2023-10-30 작업 : 시작 -->
                <style type="text/css">
                    .new2022 #subTab ul li a {
                        width: 200px;
                    }

                    .new2022 .new2022__wrap {
                        display: flex;
                        max-width: 1180px;
                        margin: 0 auto;
                        margin-top: 100px;
                        padding-bottom: 60px;
                        border-bottom: 1px solid #a8a8a8;
                    }

                    .new2022 .new2022__year {
                        position: relative;
                        flex-basis: 260px;
                        font-size: 37px;
                        line-height: 40px;
                    }

                    .new2022 .new2022__year p {
                        position: relative;
                        padding-left: 10px;
                    }

                    .new2022 .new2022__year p::before {
                        content: '';
                        display: inline-block;
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 5px;
                        height: 5px;
                        background-color: rgba(20, 40, 160, 0.2);
                        border-radius: 50%;
                        transition: all 0.3s ease-in-out;
                    }

                    .new2022 .new2022__year p ~ p {
                        margin-top: 20px;
                    }

                    .new2022 .new2022__year a {
                        color: rgba(20, 40, 160, 0.2);
                        transition: all 0.3s ease-in-out;
                    }

                    .new2022 .new2022__year p:hover a {
                        color: rgba(20, 40, 160, 1);
                    }

                    .new2022 .new2022__year p:hover:before {
                        background-color: rgba(20, 40, 160, 1);
                    }

                    .new2022 .new2022__year p.active a {
                        color: rgba(20, 40, 160, 1);
                    }

                    .new2022 .new2022__year p.active:before {
                        background-color: rgba(20, 40, 160, 1);
                    }

                    .new2022 .new2022__list {
                        display: none;
                        transition: all 0.3s ease-in-out;
                    }

                    .new2022 .new2022__list.active {
                        display: block;
                        opacity: 1;
                    }

                    .new2022 .new2022__list > li {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                    }

                    .new2022 .new2022__list > li ~ li {
                        margin-top: 40px;
                    }

                    .new2022 .new2022__list b {
                        color: #333;
                        font-weight: bold;
                    }

                    .new2022 .new2022__list span {
                        color: #636363;
                        font-weight: normal;
                    }

                    @media screen and (max-width: 1240px) {
                        .new2022 #subTab ul li a {
                            width: 120px;
                        }
                    }
                </style>
                <!-- 2023-10-30 작업 :  종료 -->
                <!-- subContent-->
                <section id="content" class="about renew2024">
                    <div class="content__container">
                        <div id="subTitle" class="js-scr-sec">
                            <h4 class="js-scr-box">Global Collaboration</h4>
                        </div>
                        <div id="subTab" class="js-scr-sec">
                            <ul class="js-scr-box">
                                <li><a href="../about/collabo_overview.html">Overview</a></li>
                                <li><a href="../about/collabo_process.html">Process</a></li>
                                <li><a href="../about/collabo_apply.html">Apply</a></li>
                                <li><a href="../about/collabo_faq.html">FAQ</a></li>
                                <li><a href="../about/collabo_recipients.html" class="active">Recipients</a></li>
                            </ul>
                        </div>
                        <article class="row">
                            <div class="row__inner">
                                <div class="new2022__wrap js-scr-sec">
                                    <div class="new2022__left">
                                        <h3 class="new2022__year js-scr-box">
                                            <p class="active"><a>2023</a></p>
                                            <p><a>2022</a></p>
                                        </h3>
                                    </div>
                                    <div class="new2022-select">
                                        <ul class="new2022__list active js-scr-sec">
                                            <li class="js-scr-box">
                                                <b>Kandis Leslie Gilliard-AbdulAziz(University of Southern California), Environmental Tech. for Sustainability</b>
                                                <span>- Electrothermal Integrated Carbon Capture and Utilization</span>
                                            </li>
                                            <li class="js-scr-box">
                                                <b>Thomas C. Underwood(University of Texas at Austin), Environmental Tech. for Sustainability</b>
                                                <span>- Synergetic Plasma-Catalytic Design for Gas Abatement from Semiconductor Processes</span>
                                            </li>

                                            <li class="js-scr-box">
                                                <b>John Duchi(Stanford University), Machine Intelligence</b>
                                                <span>- Conformal prediction for trustworthy language models</span>
                                            </li>
                                            <li class="js-scr-box">
                                                <b>Jiajun Wu(Stanford University), Machine Intelligence</b>
                                                <span>- Learning to De-Render for Controllable Generation</span>
                                            </li>
                                            <li class="js-scr-box">
                                                <b>Aditya Grover(University of California, Los Angeles), Machine Intelligence</b>
                                                <span>- Generative foundation Models for Black-Box Optimization</span>
                                            </li>
                                            <li class="js-scr-box">
                                                <b>Paris Perdikaris(University of Pennsylvania), Machine Intelligence</b>
                                                <span>- Information Theoretic Black-Box Optimization and Active Learning with Deep Generative Models</span>
                                            </li>
                                            <li class="js-scr-box">
                                                <b>Zhi Ding(University of California, Davis), Machine Intelligence</b>
                                                <span>- Exploring Physics Inspired AI in Next G Radio Access Network Technologies</span>
                                            </li>
                                            <li class="js-scr-box">
                                                <b>Eric P. Xing(Carnegie Mellon University), Machine Intelligence</b>
                                                <span>- Efficient Designs for Generative and Agent LLM Development</span>
                                            </li>

                                            <li class="js-scr-box">
                                                <b>Liang Jiang(University of Chicago), Quantum Computing</b>
                                                <span>- Quantum Advantage Protocols with Noisy Robustness and Practical Applications</span>
                                            </li>
                                            <li class="js-scr-box">
                                                <b>Zhihao Jia(Carnegie Mellon University), New Computing</b>
                                                <span>- Resolving Tail-to-Tail Trap Density in Semiconductor Oxide Devices</span>
                                            </li>
                                            <li class="js-scr-box">
                                                <b>Andrea Bartolini(University of Bologna), New Computing</b>
                                                <span>- Enabling Memory Coupled Compute Efficient Acceleration in the Monte Cimone RISC-V cluster</span>
                                            </li>
                                            <li class="js-scr-box">
                                                <b>Liu Liu(Rensselaer Polytechnic Institute), New Memory</b>
                                                <span>- Enabling Algorithm-Architecture Co-Design for Large Language Models on CXL Memory</span>
                                            </li>
                                            <li class="js-scr-box">
                                                <b>Yue Cheng(University of Virginia), New Memory</b>
                                                <span>- Highly Efficient Pre-Trained LLM Storage with Near-Storage Compression and CXL Memory Integration</span>
                                            </li>
                                            <li class="js-scr-box">
                                                <b>Hyunseok Kim(University of Illinois at Urbana Champaign), Semiconductor Process</b>
                                                <span>- Full-color micro-LEDs via advanced epitaxy and integration techniques</span>
                                            </li>
                                            <li class="js-scr-box">
                                                <b>Joyce Poon(University of Toronto), Semiconductor Process</b>
                                                <span>- Sub-picojoule per bit optical interconnects using near infrared silicon photonics</span>
                                            </li>
                                            <li class="js-scr-box">
                                                <b>Yoonjin Won(University of Califonia, Irvine), Semiconductor Process</b>
                                                <span>- Two-Phase Cooling Strategies for Next-Generation Electronics</span>
                                            </li>

                                            <li class="js-scr-box">
                                                <b>Daewook kim(University of Arizona), Semiconductor Equipment</b>
                                                <span>- Athermal Optics design, EUV mirror inspection technology</span>
                                            </li>
                                            <li class="js-scr-box">
                                                <b>Zeeshan Ahmad(Texas Tech University), Semiconductor Materials</b>
                                                <span>- Long-Range Equivariant Machine Learning Interatomic Potentials for Simulating Charge Transfer</span>
                                            </li>
                                            <li class="js-scr-box">
                                                <b>Tor Aamodt(University of British Columbia), Mobile Solution</b>
                                                <span>- Hardware Support for Neural-Accelerated Ray Tracing</span>
                                            </li>
                                            <li class="js-scr-box">
                                                <b>Leonidas Kosmidis(Barcelona Supercomputing Center), Future Mobility</b>
                                                <span>- RADLER: RISC-V Autonomous Driving LEvel fouR hardware/software co-design</span>
                                            </li>
                                        </ul>

                                        <ul class="new2022__list js-scr-sec">
                                            <li class="js-scr-box">
                                                <b>Geoffrey Beach(MIT), New Computing</b>
                                                <span>- Ferrimagnetic Skyrmions for Racetrack Memory and Computing</span>
                                            </li>
                                            <li class="js-scr-box">
                                                <b>Sanghyun Hong(Oregon State University), New Computing</b>
                                                <span>- Efficient Computing Methods for Neural Networks for In-Memory Computing</span>
                                            </li>
                                            <li class="js-scr-box">
                                                <b>Mai Zheng(Iowa State University), New Computing</b>
                                                <span>- Analyzing the Blast Radius Problem of SSD Failures on HPC</span>
                                            </li>
                                            <li class="js-scr-box">
                                                <b>Torsten Hoefler(ETH Zurich), New Computing</b>
                                                <span>- Building Massively Parallel Supercomputers based on Near-Memory Computing</span>
                                            </li>
                                            <li class="js-scr-box">
                                                <b>Christopher Hinkle(University of Notre Dame), Electronic Material</b>
                                                <span>- Cubic 3D Chalcogenide Semiconductors for p-Channel BEOL Transistors</span>
                                            </li>
                                            <li class="js-scr-box">
                                                <b>Masaharu Kobayashi(University of Tokyo), Electronic Material</b>
                                                <span>- Oxide-Semiconductor Vertical-Channel Ferroelectric Transistors</span>
                                            </li>
                                            <li class="js-scr-box">
                                                <b>Matthew Graham(Oregon State University), Electronic Material</b>
                                                <span>- Resolving Tail-to-Tail Trap Density in Semiconductor Oxide Devices </span>
                                            </li>
                                            <li class="js-scr-box">
                                                <b>Krishna Saraswat(Stanford University), Electronic Material</b>
                                                <span>- Low Resistance TMD Contacts</span>
                                            </li>
                                            <li class="js-scr-box">
                                                <b>Fumiya Iida(University of Cambridge), Electronic Material</b>
                                                <span>- Human-like active tactile perception of a sensorized soft robotic finger </span>
                                            </li>
                                            <li class="js-scr-box">
                                                <b>Sang-Hoon Bae(Washington University in St. Louis), Electronic Material</b>
                                                <span>- Next generation CMOS based on single crystalline 2D materials </span>
                                            </li>
                                            <li class="js-scr-box">
                                                <b>Chen Sun(Brown University), Machine Intelligence</b>
                                                <span>- Towards a Unified Visual Perception and Reasoning Framework</span>
                                            </li>
                                            <li class="js-scr-box">
                                                <b>Karthik Narasimhan(Princeton University), Machine Intelligence</b>
                                                <span>- Data Multiplexing for Energy-efficient Tiny ML</span>
                                            </li>
                                            <li class="js-scr-box">
                                                <b>Bolei Zhou(University of California Los Angeles), Machine Intelligence</b>
                                                <span>- Benchmarking the Real-World Decision Making of Autonomous Driving Systems</span>
                                            </li>
                                            <li class="js-scr-box">
                                                <b>Jiyoung Kim(University of Texas at Dallas), Semiconductor Process</b>
                                                <span>- In-situ Electrical and Materials Characterization for Atomic Layer Doping</span>
                                            </li>
                                            <li class="js-scr-box">
                                                <b>Yan Wang(Georgia Institute of Technology), Semiconductor Equipment</b>
                                                <span>- Physics-Constrained Neural Networks for Anomaly Detection</span>
                                            </li>
                                            <li class="js-scr-box">
                                                <b>Chabum Lee(Texas A&M University), Semiconductor Equipment</b>
                                                <span>- Waveguide-based Dark Field Scattering Spectroscopy </span>
                                            </li>

                                            <li class="js-scr-box">
                                                <b>Stanley Chan(Purdue University), Future Camera & Sensor</b>
                                                <span>- Compact High-Zoom Metasurface Camera </span>
                                            </li>
                                            <li class="js-scr-box">
                                                <b>Debashis Chanda(University of Central Florida), Future Camera & Sensor</b>
                                                <span>- Bioinspired Frequency Modulation based Uncooled MWIR/LWIR Detection </span>
                                            </li>
                                            <li class="js-scr-box">
                                                <b>Wendy Gu(Stanford University), Next Generation Battery</b>
                                                <span>- Thermo-Mechanical Protection for Lithium-Ion Batteries</span>
                                            </li>
                                            <li class="js-scr-box">
                                                <b>Hosop Shin(Indiana University), Next Generation Battery</b>
                                                <span>- Direct Upcycling of Spent Polycrystalline NMCs to Single-crystal Ni-rich NMC</span>
                                            </li>
                                            <li class="js-scr-box">
                                                <b>Bin Ouyang(Florida State University), Next Generation Battery</b>
                                                <span>- Data-driven discovery of low-cost and high-performance Li-ion cathode </span>
                                            </li>
                                            <li class="js-scr-box">
                                                <b>Meilin Liu(Georgia Institute of Technology), Next Generation Battery</b>
                                                <span>- Durable fast charging Nb-oxide coated cobalt-free high Mn cathode materials</span>
                                            </li>
                                            <li class="js-scr-box">
                                                <b>Yayuan Liu(Johns Hopkins University), Environmental Technology for Sustainability</b>
                                                <span>- Electrochemically Mediated Direct Air Capture of Carbon Dioxide </span>
                                            </li>
                                            <li class="js-scr-box">
                                                <b>Jinsang Kim(University of Michigan), Environmental Technology for Sustainability</b>
                                                <span>- Dual self-signaling and virucidal polydiacetylene-based sensors</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <script>
                                    $(function () {
                                        $('.new2022__year p a').on('click', function () {
                                            $target = $(this).parent();
                                            let idx = $target.index();
                                            $target.addClass('active').siblings().removeClass('active');
                                            $('.new2022__list').eq(idx).addClass('active').siblings().removeClass('active');
                                        });
                                    });
                                </script>
                            </div>
                        </article>
                    </div>
                </section>
                <!-- //subContent-->

                <!-- subAside-->
                <aside id="relatedContents" class="js-scr-sec">
                    <div class="related__inner">
                        <div class="related__title">
                            <h1 class="js-scr-box">Related Contents</h1>
                            <span class="js-scr-box">Explore more related contents from SAIT!</span>
                        </div>
                        <div class="related_wrap">
                            <article class="js-scr-box">
                                <a href="../about/who.html">
                                    <h1>Who We Are</h1>
                                </a>
                            </article>
                            <article class="js-scr-box">
                                <a href="../research/what.html">
                                    <h1>What We Do</h1>
                                </a>
                            </article>
                        </div>
                    </div>
                </aside>
                <!-- //subAside-->
            </section>
            <!-- //container-->

            <!-- footer -->

            <%- include("../include/sub_footer.html") %>
            <div id="gnbDimmed" class="dimmed"></div>

            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123575008-1"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag() {
                    dataLayer.push(arguments);
                }
                gtag('js', new Date());

                gtag('config', 'UA-167217135-1');
            </script>
            <!-- //footer -->
        </div>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/TweenMax/TweenMax.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/TweenMax/easing/EasePack.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/design_common.js"></script>
    </body>
</html>
