<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- 공통적용헤더정보 -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <!-- //공통적용헤더정보 -->
        <link rel="stylesheet" href="https://www.sait.samsung.co.kr/saithome/stylesheets/css/common.css" />
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/jquery-1.8.2.min.js"></script>
        <!--[if lt IE 9]><script src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/html5shiv.min.js"></script><![endif]-->
        <!--[if lt IE 10]><script src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/placeholders.min.js"></script><![endif]-->
        <meta name="Keywords" content="SAIT, Samsung Advanced Institute of Technology, 삼성종합기술원, 삼성전자 종합기술원, Samsung research, Samsung R&amp;D, Samsung future technology, R&amp;D, Autonomoucs Driving, Graphene, New materials, QD, Quantum Dot" />

        <title>Global Collaboration | Samsung Advanced Institute of Technology</title>
        <meta name="Description" content="Global Collaboration | Samsung Advanced Institute of Technology" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Global Collaboration | Samsung Advanced Institute of Technology" />
        <meta property="og:description" content="Global Collaboration | Samsung Advanced Institute of Technology" />
        <meta property="og:image" content="" />
        <meta property="og:url" content="" />
        <meta property="og:site_name" content="Samsung Advanced Institute of Technology" />
        <meta name="Author" content="Samsung Advanced Institute of Technology" />
        <meta name="robots" content="ALL" />
        <%- include("../include/sub_head.html") %>
    </head>
    <body>
        <div id="wrap" role="main">
            <!-- header-->
            <%- include("../include/sub_header.html") %>
            <!-- //header-->

            <!-- container-->
            <section id="container" class="about">
                <!-- subVisual-->
                <div id="subVisual" style="background-image: url(https://www.sait.samsung.co.kr/saithome/images/about/about_visual.jpg)">
                    <div class="tit_wrap">
                        <h3>
                            <span>Samsung Advanced Institute of Technology</span>
                        </h3>
                    </div>
                </div>
                <!-- //subVisual-->
                <!-- subLocation-->
                <div id="subLocation">
                    <div class="location_box">
                        <ul class="location_list">
                            <li class="home"><a href="https://www.sait.samsung.co.kr/saithome/main/main.do">main page</a></li>
                            <li class="depth1">
                                <button type="button">About SAIT</button>
                                <ul class="under_depth">
                                    <li><a href="https://www.sait.samsung.co.kr/saithome/about/who.do">About SAIT</a></li>
                                    <li><a href="https://www.sait.samsung.co.kr/saithome/research/what.do">Research Areas</a></li>
                                    <li><a href="https://www.sait.samsung.co.kr/saithome/about/press.do">News & Events</a></li>
                                    <li><a href="https://www.sait.samsung.co.kr/saithome/join/application.do">Join Us</a></li>
                                </ul>
                            </li>
                            <li class="depth2">
                                <button type="button">Global Collaboration</button>
                                <ul class="under_depth">
                                    <li><a href="https://www.sait.samsung.co.kr/saithome/about/who.do">Who We Are</a></li>
                                    <li><a href="https://www.sait.samsung.co.kr/saithome/about/history.do">History of Progress</a></li>
                                    <li><a href="https://www.sait.samsung.co.kr/saithome/about/labs.do">Global Labs</a></li>
                                    <li><a href="https://www.sait.samsung.co.kr/saithome/about/collabo_overview.do" class="active">Global Collaboration</a></li>
                                    <li><a href="https://www.sait.samsung.co.kr/saithome/about/social.do">Social Engagement</a></li>
                                    <!--
							<li><a href="https://www.sait.samsung.co.kr/saithome/about/press.do" >Press</a></li>
							-->
                                    <li><a href="https://www.sait.samsung.co.kr/saithome/about/contact.do">Contact us</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- //subLocation-->

                <!-- 2022-11-02 작업 : 시작 -->
                <style type="text/css">
                    .new2022 #subTab ul li a {
                        width: 200px;
                    }
                    .new2022 .new2022__wrap {
                        display: flex;
                        max-width: 1180px;
                        margin: 0 auto;
                        margin-top: 100px;
                        padding-bottom: 60px;
                        border-bottom: 1px solid #a8a8a8;
                    }
                    .new2022 .new2022__year {
                        flex-basis: 260px;
                        font-size: 37px;
                        line-height: 40px;
                        color: #1428a0;
                    }
                    .new2022 .new2022__list > li {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                    }
                    .new2022 .new2022__list > li ~ li {
                        margin-top: 40px;
                    }
                    .new2022 .new2022__list b {
                        color: #333;
                        font-weight: bold;
                    }
                    .new2022 .new2022__list span {
                        color: #636363;
                        font-weight: normal;
                    }
                    @media screen and (max-width: 1240px) {
                        .new2022 #subTab ul li a {
                            width: 120px;
                        }
                    }
                </style>
                <!-- subContent-->
                <section id="content" class="process renew2024">
                    <div class="content__container">
                        <div id="subTitle" class="js-scr-sec">
                            <h4 class="js-scr-box">Global Collaboration</h4>
                            <!--  
				<h5 class="js-scr-box">GRO 2021 will be opened from 21<sup>st</sup> of June to 24<sup>th</sup> of August</h5>
				-->
                        </div>
                        <div id="subTab" class="js-scr-sec">
                            <ul class="js-scr-box">
                                <li><a href="../about/collabo_overview.html">Overview</a></li>
                                <li><a href="../about/collabo_process.html" class="active">Process</a></li>
                                <li><a href="../about/collabo_apply.html">Apply</a></li>
                                <li><a href="../about/collabo_faq.html">FAQ</a></li>
                                <li><a href="../about/collabo_recipients.html">Recipients</a></li>
                            </ul>
                        </div>
                        <article class="row">
                            <div class="row__inner">
                                <div class="row__wrap js-scr-sec">
                                    <h5 class="title mb30 js-scr-box">GRO Program Process</h5>
                                    <ul class="dash-list">
                                        <li class="js-scr-box">Applicants must be a university professor or researcher.</li>
                                        <li class="js-scr-box">
                                            University shall accept GRO Research Agreement (RA) as part of the proposal submission process.
                                            <p class="gray">* If the university would like to review GRO RA before submission, detailed GRO RA could be sent via email upon request of authorized official of the university.</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="row__wrap">
                                    <div class="rprocess js-scr-sec">
                                        <ul>
                                            <li class="js-scr-box">
                                                <div class="rprocess__inner">
                                                    <div class="rprocess__figure">
                                                        <img src="../../resources/assets/images/sub/collabo_process_01.svg" alt="" />
                                                    </div>
                                                    <div class="rprocess__content">
                                                        <div class="rprocess__num">June</div>
                                                        <div class="rprocess__tit">GRO Open</div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="js-scr-box">
                                                <div class="rprocess__inner">
                                                    <div class="rprocess__figure">
                                                        <img src="../../resources/assets/images/sub/collabo_process_02.svg" alt="" />
                                                    </div>
                                                    <div class="rprocess__content">
                                                        <div class="rprocess__num">June ~ August</div>
                                                        <div class="rprocess__tit">Proposal Submission</div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="js-scr-box">
                                                <div class="rprocess__inner">
                                                    <div class="rprocess__figure">
                                                        <img src="../../resources/assets/images/sub/collabo_process_03.svg" alt="" />
                                                    </div>
                                                    <div class="rprocess__content">
                                                        <div class="rprocess__num">September</div>
                                                        <div class="rprocess__tit">Candidates<br />Announcement</div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="js-scr-box">
                                                <div class="rprocess__inner">
                                                    <div class="rprocess__figure">
                                                        <img src="../../resources/assets/images/sub/collabo_process_04.svg" alt="" />
                                                    </div>
                                                    <div class="rprocess__content">
                                                        <div class="rprocess__num">October</div>
                                                        <div class="rprocess__tit">Interview</div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="js-scr-box">
                                                <div class="rprocess__inner">
                                                    <div class="rprocess__figure">
                                                        <img src="../../resources/assets/images/sub/collabo_process_05.svg" alt="" />
                                                    </div>
                                                    <div class="rprocess__content">
                                                        <div class="rprocess__num">November</div>
                                                        <div class="rprocess__tit">Recipients Announcement</div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="js-scr-box">
                                                <div class="rprocess__inner">
                                                    <div class="rprocess__figure">
                                                        <img src="../../resources/assets/images/sub/collabo_process_06.svg" alt="" />
                                                    </div>
                                                    <div class="rprocess__content">
                                                        <div class="rprocess__num">January</div>
                                                        <div class="rprocess__tit">Project Kickoff</div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="row">
                            <div class="row__inner js-scr-sec">
                                <h5 class="title mb30 js-scr-box">GRO Year Calendar</h5>
                                <div class="calendar">
                                    <ul class="calendar__list">
                                        <li class="calendar__item js-scr-box">
                                            <div class="calendar__box">
                                                <div class="calendar__inner">
                                                    <div class="calendar__date">
                                                        <span>2024</span>
                                                        <strong>06</strong>
                                                    </div>
                                                    <div class="calendar__contents">
                                                        <div class="small-title">GRO Theme Open</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="calendar__item js-scr-box">
                                            <div class="calendar__box">
                                                <div class="calendar__inner">
                                                    <div class="calendar__date">
                                                        <span>2024</span>
                                                        <strong>06~08</strong>
                                                    </div>
                                                    <div class="calendar__contents">
                                                        <div class="small-title">Proposal Submission (24th June ~ 19th August, 09:00 A.M. Korea Standard Time, UTC+9)</div>
                                                        <div class="calendar__text">
                                                            <p>
                                                                Applicants shall submit a abstract proposal. (3 page or less)<br />
                                                                All documents are only accepted via the GRO submission website prior to the deadline. After the deadline,<br />
                                                                the applicants are not able to submit, amend or modify proposals.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="calendar__item js-scr-box">
                                            <div class="calendar__box">
                                                <div class="calendar__inner">
                                                    <div class="calendar__date">
                                                        <span>2024</span>
                                                        <strong>09</strong>
                                                    </div>
                                                    <div class="calendar__contents">
                                                        <div class="small-title">Proposal Screening and Candidates Announcement</div>
                                                        <div class="calendar__text">
                                                            <p>SAMSUNG Technology Board members review all the submitted proposals in accordance with GRO evaluation criteria as below.</p>
                                                            <ul class="dash-list">
                                                                <li>The innovativeness of the research</li>
                                                                <li>The potential societal and/or business impact expected from the development, dissemination and use of project results</li>
                                                                <li>The feasibility of the research with respect to the planned time, objectives, intended results and resources available</li>
                                                                <li>The research competencies of the principal investigator in relevant field(s)</li>
                                                            </ul>
                                                            <p>All applicants will be informed of results by email in September.<br />We do not provide individual feedback on proposals not selected for funding.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="calendar__item js-scr-box">
                                            <div class="calendar__box">
                                                <div class="calendar__inner">
                                                    <div class="calendar__date">
                                                        <span>2024</span>
                                                        <strong>10</strong>
                                                    </div>
                                                    <div class="calendar__contents">
                                                        <div class="small-title">Feedback and Interview</div>
                                                        <div class="calendar__text">
                                                            <p>
                                                                Up to two candidates are selected for each sub-theme, and we may provide Samsung’s research direction and interest. Candidates shall submit a full proposal and RA acceptance letter, and the final recipients will be selected through a
                                                                video interview in October.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="calendar__item js-scr-box">
                                            <div class="calendar__box">
                                                <div class="calendar__inner">
                                                    <div class="calendar__date">
                                                        <span>2024</span>
                                                        <strong>11</strong>
                                                    </div>
                                                    <div class="calendar__contents">
                                                        <div class="small-title">Announcement of the Recipients</div>
                                                        <div class="calendar__text">
                                                            <p>The final Recipients will be announced on this website in November.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="calendar__item js-scr-box">
                                            <div class="calendar__box">
                                                <div class="calendar__inner">
                                                    <div class="calendar__date">
                                                        <span>2025</span>
                                                        <strong>01</strong>
                                                    </div>
                                                    <div class="calendar__contents">
                                                        <div class="small-title">GRO Project Starts</div>
                                                        <div class="calendar__text">
                                                            <p>Samsung recommends projects start in January 2025. If the contract cannot be completed by March 2025, the project may be dropped.</p>
                                                            <ul class="dash-list">
                                                                <li class="gray">
                                                                    <strong>Confidential and Proprietary Information</strong>
                                                                    <p>
                                                                        Participants shall ensure that no confidential or proprietary information is included in submitted proposals. SAMSUNG will treat all information submitted in proposals as non-confidential and non-proprietary. Under the GRO
                                                                        Program, submitted proposals will be reviewed by SAMSUNG personnel, including SAMSUNG researchers, who will become knowledgeable of the information provided by the university researcher in the project proposal. During the
                                                                        evaluation process, SAMSUNG cannot maintain the confidentiality of information set forth in the proposals. Accordingly, SAMSUNG does not require, and does not desire, to receive any infor- mation that may be deemed confidential
                                                                        by the university researcher or the university.
                                                                    </p>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </article>
                    </div>
                </section>
                <!-- //subContent-->

                <!-- subAside-->
                <aside id="relatedContents" class="js-scr-sec">
                    <div class="related__inner">
                        <div class="related__title">
                            <h1 class="js-scr-box">Related Contents</h1>
                            <span class="js-scr-box">Explore more related contents from SAIT!</span>
                        </div>
                        <div class="related_wrap">
                            <article class="js-scr-box">
                                <a href="https://www.sait.samsung.co.kr/saithome/about/who.do">
                                    <h1>Who We Are</h1>
                                </a>
                            </article>
                            <article class="js-scr-box">
                                <a href="https://www.sait.samsung.co.kr/saithome/research/what.do">
                                    <h1>What We Do</h1>
                                </a>
                            </article>
                        </div>
                    </div>
                </aside>
                <!-- //subAside-->
            </section>
            <!-- //container-->

            <!-- footer -->

            <%- include("../include/sub_footer.html") %>
            <div id="gnbDimmed" class="dimmed"></div>

            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123575008-1"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag() {
                    dataLayer.push(arguments);
                }
                gtag('js', new Date());

                gtag('config', 'UA-167217135-1');
            </script>
            <!-- //footer -->
        </div>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/TweenMax/TweenMax.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/TweenMax/easing/EasePack.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/design_common.js"></script>
    </body>
</html>
