<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- 공통적용헤더정보 -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <!-- //공통적용헤더정보 -->
        <link rel="stylesheet" href="https://www.sait.samsung.co.kr/saithome/stylesheets/css/common.css" />
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/jquery-1.8.2.min.js"></script>
        <!--[if lt IE 9]><script src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/html5shiv.min.js"></script><![endif]-->
        <!--[if lt IE 10]><script src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/placeholders.min.js"></script><![endif]-->
        <meta name="Keywords" content="SAIT, Samsung Advanced Institute of Technology, 삼성종합기술원, 삼성전자 종합기술원, Samsung research, Samsung R&amp;D, Samsung future technology, R&amp;D, Autonomoucs Driving, Graphene, New materials, QD, Quantum Dot" />

        <title>Global Collaboration | Samsung Advanced Institute of Technology</title>
        <meta name="Description" content="Global Collaboration | Samsung Advanced Institute of Technology" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Global Collaboration | Samsung Advanced Institute of Technology" />
        <meta property="og:description" content="Global Collaboration | Samsung Advanced Institute of Technology" />
        <meta property="og:image" content="" />
        <meta property="og:url" content="" />
        <meta property="og:site_name" content="Samsung Advanced Institute of Technology" />
        <meta name="Author" content="Samsung Advanced Institute of Technology" />
        <meta name="robots" content="ALL" />
        <%- include("../include/sub_head.html") %>
    </head>
    <body>
        <div id="wrap" role="main">
            <!-- header-->
            <%- include("../include/sub_header.html") %>
            <!-- //header-->

            <!-- container-->
            <section id="container" class="about">
                <!-- subVisual-->
                <div id="subVisual" style="background-image: url(https://www.sait.samsung.co.kr/saithome/images/about/about_visual.jpg)">
                    <div class="tit_wrap">
                        <h3>
                            <span>Samsung Advanced Institute of Technology</span>
                        </h3>
                    </div>
                </div>
                <!-- //subVisual-->
                <!-- subLocation-->
                <div id="subLocation">
                    <div class="location_box">
                        <ul class="location_list">
                            <li class="home"><a href="../index.html">main page</a></li>
                            <li class="depth1">
                                <button type="button">About SAIT</button>
                                <ul class="under_depth">
                                    <li><a href="../about/who.html">About SAIT</a></li>
                                    <li><a href="../research/what.html">Research Areas</a></li>
                                    <li><a href="../about/press.html">News & Events</a></li>
                                    <li><a href="../join/application.html">Join Us</a></li>
                                </ul>
                            </li>
                            <li class="depth2">
                                <button type="button">Global Collaboration</button>
                                <ul class="under_depth">
                                    <li><a href="../about/who.html">Who We Are</a></li>
                                    <li><a href="../about/history.html">History of Progress</a></li>
                                    <li><a href="../about/labs.html">Global Labs</a></li>
                                    <li><a href="../about/collabo_overview.html" class="active">Global Collaboration</a></li>
                                    <li><a href="../about/contact.html">Contact us</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- //subLocation-->

                <!-- 2022-11-02 작업 : 시작 -->
                <style type="text/css">
                    .new2022 #subTab ul li a {
                        width: 200px;
                    }
                    .new2022 .new2022__wrap {
                        display: flex;
                        max-width: 1180px;
                        margin: 0 auto;
                        margin-top: 100px;
                        padding-bottom: 60px;
                        border-bottom: 1px solid #a8a8a8;
                    }
                    .new2022 .new2022__year {
                        flex-basis: 260px;
                        font-size: 37px;
                        line-height: 40px;
                        color: #1428a0;
                    }
                    .new2022 .new2022__list > li {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                    }
                    .new2022 .new2022__list > li ~ li {
                        margin-top: 40px;
                    }
                    .new2022 .new2022__list b {
                        color: #333;
                        font-weight: bold;
                    }
                    .new2022 .new2022__list span {
                        color: #636363;
                        font-weight: normal;
                    }
                    @media screen and (max-width: 1240px) {
                        .new2022 #subTab ul li a {
                            width: 120px;
                        }
                    }
                </style>
                <!-- subContent-->
                <section id="content" class="faq renew2024">
                    <div class="content__container">
                        <div id="subTitle" class="js-scr-sec">
                            <h4 class="js-scr-box">Global Collaboration</h4>
                            <!-- 
				<h5 class="js-scr-box">GRO 2021 will be opened from 21<sup>st</sup> of June to 24<sup>th</sup> of August</h5>
				-->
                        </div>
                        <div id="subTab" class="js-scr-sec">
                            <ul class="js-scr-box">
                                <li><a href="../about/collabo_overview.html">Overview</a></li>
                                <li><a href="../about/collabo_process.html">Process</a></li>
                                <li><a href="../about/collabo_apply.html">Apply</a></li>
                                <li><a href="../about/collabo_faq.html" class="active">FAQ</a></li>
                                <li><a href="../about/collabo_recipients.html">Recipients</a></li>
                            </ul>
                        </div>
                        <article class="row">
                            <div class="row__inner">
                                <div class="faq_wrap js-scr-sec">
                                    <ul>
                                        <li class="js-scr-box">
                                            <button type="button">How do I apply?</button>
                                            <div class="answer">
                                                <div class="answer_txt">Please review the SAMSUNG GRO Program information on this website and apply at the GRO submission site.<br /></div>
                                            </div>
                                        </li>
                                        <!--
						<li class="js-scr-box">
							<button>What is the required format for the Proposal and RA Acceptance Letter?</button>
							<div class="answer">
								<div class="answer_txt">
									The GRO Research Proposal should be submitted in MS Word and signed RA Acceptance Letter must be in PDF.
								</div>
							</div>
						</li>
						-->
                                        <li class="js-scr-box">
                                            <button>I am a researcher that is not associated with a university. Can I submit a proposal to SAMSUNG through this process?</button>
                                            <div class="answer">
                                                <div class="answer_txt">No. GRO Program is only designed to fund research projects with researchers affiliated with universities.</div>
                                            </div>
                                        </li>
                                        <li class="js-scr-box">
                                            <button>I applied for the last year’s GRO Program but the proposal was not selected , am I still eligible to apply in this year?</button>
                                            <div class="answer">
                                                <div class="answer_txt">Yes. We encourage you to submit a new proposal this year.</div>
                                            </div>
                                        </li>
                                        <li class="js-scr-box">
                                            <button>If my university has previously received a grant from Samsung Electronics Co., Ltd.("SEC") or related Samsung companies, am I still eligible to apply?</button>
                                            <div class="answer">
                                                <div class="answer_txt">Yes. Grants from SEC or related Samsung companies do not affect your university’s eligibility to apply to GRO Program.</div>
                                            </div>
                                        </li>
                                        <li class="js-scr-box">
                                            <button>
                                                I am seeking equipment or a cash support from Samsung Electronics Co., Ltd. or related Samsung companies.
                                                <br />
                                                Can I apply through GRO Program?
                                            </button>
                                            <div class="answer">
                                                <div class="answer_txt">No. GRO Program is designed to fund breakthrough research projects for universities, and as such does not fund equipment or cash donations, nor can it support student projects, event sponsorships, or teaching activities.</div>
                                            </div>
                                        </li>
                                        <li class="js-scr-box">
                                            <button>Can more than one(1) researcher from the same university submit a proposal?</button>
                                            <div class="answer">
                                                <!--  
								<div class="answer_txt">
									Yes. There are no limits on the number of proposals that can be submitted from the same university. However, each proposal  must be accompanied by a separate signed copy of the 『RA Acceptance Letter』 in order to be eligible.
								</div>
								-->
                                                <div class="answer_txt">Yes. There are no limits on the number of proposals that can be submitted from the same university.</div>
                                            </div>
                                        </li>
                                        <li class="js-scr-box">
                                            <button>Can I submit a multi-year proposal?</button>
                                            <div class="answer">
                                                <!--
								<div class="answer_txt">
									Yes. For multi-year proposals, applicants should provide the details of multi-year research scope and plans in your proposal PART 2 – please refer to “Proposal Guide & Format” document which is posted on GRO website for more details. Please note, however, the funds will be made for one (1) year. To receive funds in the following year, applicant should submit a new proposal and achievements of projects at the end of project period. The submitted proposal for the following year will be re-evaluated by SAMSUNG. Notification of submission will be directly delivered through your GRO technical contact individually.
								</div>
								-->
                                                <div class="answer_txt">
                                                    No, the funds will be made for one (1) year. To receive funds in the following year, applicant should submit a new proposal and achievements of projects at the end of project period. The submitted proposal for the following year will be
                                                    re-evaluated by SAMSUNG. Notification of submission will be directly delivered through your GRO technical contact individually.
                                                </div>
                                            </div>
                                        </li>
                                        <li class="js-scr-box">
                                            <button>Can I include support for a post-doctoral position in my proposal budget?</button>
                                            <div class="answer">
                                                <div class="answer_txt">
                                                    A key objective of the GRO Program is to help SAMSUNG build stronger relationships with professors and their graduate students. Acceptable personnel costs may include salaries for professor or faculty researcher, as well as stipends related to
                                                    graduate or undergraduate student participation in the project. Post-doctoral researchers are encouraged to collaborate on the project, but would be asked to secure complementary funding for their salaries, as provided by the university or other
                                                    funding sources.
                                                </div>
                                            </div>
                                        </li>
                                        <li class="js-scr-box">
                                            <button>
                                                GRO Program “Proposal Guide & Format” document states that funds are for one (1) year only. In some countries, universities recruit graduate students based on a multi-year program and require guaranteed funding up-front for the entire program. Can
                                                researchers at the universities with this situation still apply?
                                            </button>
                                            <div class="answer">
                                                <div class="answer_txt">No. GRO Program does not guarantee research funding for multi-year proposals.</div>
                                            </div>
                                        </li>
                                        <li class="js-scr-box">
                                            <button>I have been working with a colleague at another university. Can we submit a joint proposal?</button>
                                            <div class="answer">
                                                <!--
								<div class="answer_txt">
									Yes. Applicants from two (or more) separate universities may submit a joint proposal for consideration to the GRO Program. But, only one representative university’s Principal Investigator (“PI”) shall submit a proposal with the all relevant information regarding joint universities and detailed budget request for each university separately. Please note that the 『GRO Research Agreement (“RA”) Acceptance Letter』 must be signed by all universities in the joint proposal individually. However, if such joint proposal is selected, Samsung will execute the Research Agreement with only the lead university. The lead university is responsible for any subcontracts and distribution of award. Such university representative shall, at his/her own discretion and responsibility, manage the budget in accordance with the budgetary plan outlined in the submitted proposal.
								</div>
								-->
                                                <div class="answer_txt">
                                                    Yes. Applicants from two (or more) separate universities may submit a joint proposal for consideration to the GRO Program. But, only one representative university’s Principal Investigator (“PI”) shall submit a proposal with the all relevant
                                                    information regarding joint universities and detailed budget request for each university separately. If such joint proposal is selected, Samsung will execute the Research Agreement with only the lead university. The lead university is responsible
                                                    for any subcontracts and distribution of award. Such university representative shall, at his/her own discretion and responsibility, manage the budget in accordance with the budgetary plan outlined in the submitted proposal.
                                                </div>
                                            </div>
                                        </li>
                                        <!--
						<li class="js-scr-box">
							<button>If my co-investigator is at another university, but is not requesting funds from the SAMSUNG, do they still need to sign『GRO RA Acceptance Letter』?</button>
							<div class="answer">
								<div class="answer_txt">
									Yes. Any proposal that involves collaborators from more than one university is considered a “joint proposal”. If your co-investigator does not receive SAMSUNG funds, please indicate so in the budget section of your joint proposal.
								</div>
							</div>
						</li>
						 -->
                                        <li class="js-scr-box">
                                            <button>How do I get a copy of the GRO RA? Who is responsible for the review and execution?</button>
                                            <div class="answer">
                                                <!--
								<div class="answer_txt">
									GRO RA will be sent, upon request, via email. Contact information is on GRO website. An authorized official at your university must review and sign『GRO RA Acceptance Letter』.
								</div>
								-->
                                                <div class="answer_txt">GRO RA will be sent, upon request, via email. Contact information is on GRO website. An authorized official at your university must review the GRO RA.</div>
                                            </div>
                                        </li>
                                        <!--
						<li class="js-scr-box">
							<button>If my university previously accepted the last year GRO RA, do I still need to submit an『GRO RA Acceptance Letter』?</button>
							<div class="answer">
								<div class="answer_txt">
									Yes. All applications for GRO Program must be accompanied by signed『GRO RA Acceptance Letter』in order for the proposal to be considered in every year. 『GRO RA Acceptance Letter』serves to indicate your university's agreement to accept the terms and conditions of『GRO RA』, should your proposal be selected for the fund.
								</div>
							</div>
						</li>
						<li class="js-scr-box">
							<button>I am a university researcher who is also an official of my university. Can I sign the『GRO RA Acceptance Letter』for my proposal myself?</button>
							<div class="answer">
								<div class="answer_txt">
									No. In order to ensure that the applicant’s university has reviewed GRO RA prior to proposal submission, SAMSUNG requires that a university authority other than the applicant sign the 『GRO RA Acceptance Letter』.
								</div>
							</div>
						</li>
						<li class="js-scr-box">
							<button>What happens if I don’t email a signed copy of the『GRO RA Acceptance Letter』?</button>
							<div class="answer">
								<div class="answer_txt">
									In order for a proposal to be considered, all of the required documents must be sent prior to the submission deadline. Proposals with incomplete documentation will not be reviewed.
								</div>
							</div>
						</li>
						 -->
                                        <li class="js-scr-box">
                                            <button>I am planning to submit a proposal with a co-investigator as well as a graduate student researcher. How do I submit CVs for all 3 members of the team?</button>
                                            <div class="answer">
                                                <!-- 
								<div class="answer_txt">
									Please consolidate  CVs (1-2 pages) for each individual into a Part 5 of your proposal.
								</div>
								 -->
                                                <div class="answer_txt">Please consolidate CVs (1-2 pages) for each individual into Appendices of your proposal.</div>
                                            </div>
                                        </li>
                                        <li class="js-scr-box">
                                            <button>What if I need to make a change to my proposal after submission?</button>
                                            <div class="answer">
                                                <div class="answer_txt">
                                                    If you need to revise your proposal after submitting it, you can make changes and re-submit prior to the submission deadline. However, you will not be able to make changes after the submission deadline. If your submission is accepted, you will have
                                                    an opportunity to revise the proposal.
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </article>
                        <article class="row">
                            <div class="row__inner">
                                <div class="contact_wrap">
                                    <div class="contbox js-scr-sec">
                                        <div class="inner cont js-scr-box">
                                            <h4 class="js-scr-box">Contact us</h4>
                                            <div class="contbox__row">
                                                <ul>
                                                    <li class="js-scr-box"><strong>America</strong> gro.usa@samsung.com</li>
                                                    <li class="js-scr-box"><strong>Europe</strong> gro.europe@samsung.com<br /></li>
                                                    <li class="js-scr-box"><strong>Japan</strong> gro.japan@samsung.com</li>
                                                    <li class="js-scr-box"><strong>India</strong> gro.asia@samsung.com</li>
                                                    <li class="js-scr-box"><strong>Etc</strong> grooffice@samsung.com</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </section>
                <!-- //subContent-->

                <!-- subAside-->
                <aside id="relatedContents" class="js-scr-sec">
                    <div class="related__inner">
                        <div class="related__title">
                            <h1 class="js-scr-box">Related Contents</h1>
                            <span class="js-scr-box">Explore more related contents from SAIT!</span>
                        </div>
                        <div class="related_wrap">
                            <article class="js-scr-box">
                                <a href="../saithome/about/who.html">
                                    <h1>Who We Are</h1>
                                </a>
                            </article>
                            <article class="js-scr-box">
                                <a href="../research/what.html">
                                    <h1>What We Do</h1>
                                </a>
                            </article>
                        </div>
                    </div>
                </aside>
                <!-- //subAside-->
            </section>
            <!-- //container-->

            <!-- footer -->
            <%- include("../include/sub_footer.html") %>
            <div id="gnbDimmed" class="dimmed"></div>

            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123575008-1"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag() {
                    dataLayer.push(arguments);
                }
                gtag('js', new Date());

                gtag('config', 'UA-167217135-1');
            </script>
            <!-- //footer -->
        </div>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/TweenMax/TweenMax.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/TweenMax/easing/EasePack.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/design_common.js"></script>
    </body>
</html>
