<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- 공통적용헤더정보 -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <!-- //공통적용헤더정보 -->
        <link rel="stylesheet" href="https://www.sait.samsung.co.kr/saithome/stylesheets/css/common.css" />
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/jquery-1.8.2.min.js"></script>
        <!--[if lt IE 9]><script src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/html5shiv.min.js"></script><![endif]-->
        <!--[if lt IE 10]><script src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/placeholders.min.js"></script><![endif]-->
        <meta name="Keywords" content="SAIT, Samsung Advanced Institute of Technology, 삼성종합기술원, 삼성전자 종합기술원, Samsung research, Samsung R&amp;D, Samsung future technology, R&amp;D, Autonomoucs Driving, Graphene, New materials, QD, Quantum Dot" />

        <title>Global Collaboration | Samsung Advanced Institute of Technology</title>
        <meta name="Description" content="Global Collaboration | Samsung Advanced Institute of Technology" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Global Collaboration | Samsung Advanced Institute of Technology" />
        <meta property="og:description" content="Global Collaboration | Samsung Advanced Institute of Technology" />
        <meta property="og:image" content="" />
        <meta property="og:url" content="" />
        <meta property="og:site_name" content="Samsung Advanced Institute of Technology" />
        <meta name="Author" content="Samsung Advanced Institute of Technology" />
        <meta name="robots" content="ALL" />
        <%- include("../include/sub_head.html") %>
    </head>
    <body class="renew2024">
        <div id="wrap" role="main">
            <!-- header-->
            <%- include("../include/sub_header.html") %>
            <!-- //header-->

            <!-- container-->
            <section id="container" class="about">
                <!-- subLocation-->
                <div id="subLocation">
                    <div class="location_box">
                        <ul class="location_list">
                            <li class="home"><a href="https://www.sait.samsung.co.kr/saithome/main/main.do">main page</a></li>
                            <li class="depth1">
                                <button type="button">About SAIT</button>
                                <ul class="under_depth">
                                    <li><a href="https://www.sait.samsung.co.kr/saithome/about/who.do">About SAIT</a></li>
                                    <li><a href="https://www.sait.samsung.co.kr/saithome/research/what.do">Research Areas</a></li>
                                    <li><a href="https://www.sait.samsung.co.kr/saithome/about/press.do">News & Events</a></li>
                                    <li><a href="https://www.sait.samsung.co.kr/saithome/join/application.do">Join Us</a></li>
                                </ul>
                            </li>
                            <li class="depth2">
                                <button type="button">Global Collaboration</button>
                                <ul class="under_depth">
                                    <li><a href="https://www.sait.samsung.co.kr/saithome/about/who.do">Who We Are</a></li>
                                    <li><a href="https://www.sait.samsung.co.kr/saithome/about/history.do">History of Progress</a></li>
                                    <li><a href="https://www.sait.samsung.co.kr/saithome/about/labs.do">Global Labs</a></li>
                                    <li><a href="https://www.sait.samsung.co.kr/saithome/about/collabo_overview.do" class="active">Global Collaboration</a></li>
                                    <li><a href="https://www.sait.samsung.co.kr/saithome/about/social.do">Social Engagement</a></li>
                                    <!--
							<li><a href="https://www.sait.samsung.co.kr/saithome/about/press.do" >Press</a></li>
							-->
                                    <li><a href="https://www.sait.samsung.co.kr/saithome/about/contact.do">Contact us</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- //subLocation-->
                <!-- subContent-->
                <section id="content" class="overview new2022">
                    <div class="content__container">
                        <article class="row">
                            <div class="row__inner">
                                <div id="subTitle" class="js-scr-sec">
                                    <h4 class="js-scr-box">Global Collaboration</h4>
                                </div>
                                <div id="subTab" class="js-scr-sec">
                                    <ul class="js-scr-box">
                                        <li><a href="https://www.sait.samsung.co.kr/saithome/about/collabo_overview.do" class="active">Overview</a></li>
                                        <li><a href="https://www.sait.samsung.co.kr/saithome/about/collabo_process.do">Process</a></li>
                                        <li><a href="https://www.sait.samsung.co.kr/saithome/about/collabo_apply.do">Apply</a></li>
                                        <li><a href="https://www.sait.samsung.co.kr/saithome/about/collabo_faq.do">FAQ</a></li>
                                        <li><a href="https://www.sait.samsung.co.kr/saithome/about/collabo_recipients.do">Recipients</a></li>
                                    </ul>
                                </div>
                                <div class="row__wrap js-scr-sec">
                                    <h5 class="title title--mb30 js-scr-box">Global Collaboration</h5>
                                    <p class="fw-bold mb20 js-scr-box">Samsung explore opportunities to build research partnerships with academia and research institutions for creating the future.</p>
                                    <p class="js-scr-box">
                                        SAIT is actively engaged in the pursuit of open innovation in order to foster the discovery of new ideas and technological breakthroughs. In order to develop core technologies along itself research directions, we have conducted research collaborations with
                                        outside. Also, We have strategic relationships closely with global universities to resolve the significantly challenging technology issues and achieve the collaboration results that align with strategic vision and goals of both parties.
                                        <br /><br />
                                        Samsung offers a specific collaboration platform to global universities ; Global Research Outreach (GRO) program. GRO program is an annual call for proposals that invites the world's leading universities to propose innovative research ideas which will be
                                        evaluated for their novelty and alignment with Samsung's various research fields.
                                    </p>
                                </div>
                                <div class="row__wrap js-scr-sec">
                                    <h6 class="mb30 js-scr-box">Overview</h6>
                                    <p class="js-scr-box">
                                        The SAMSUNG Global Research Outreach (GRO) Program is an important part of growing SAMSUNG's academic research engagement and collaboration platforms.
                                        <br />
                                        World-class university researchers have been annually invited since 2009 to propose novel research ideas and to work with our R&D teams to foster technological innovation. This has resulted in actively collaborative relationships with over 150 leading
                                        universities worldwide.
                                        <br />
                                        Selected GRO projects will be funded with one year. This project may be extended based on annual research outcomes and necessity for further research partnership determined by SAMSUNG. Joint research proposals from multiple universities are welcome and
                                        acceptable.
                                        <br />
                                        The GRO Program represents an opportunity for SAMSUNG and universities to build a mutually beneficial research relationship and we look forward to your participation.
                                        <br /><br />
                                        A PDF version of 2024 GRO brochure is available for <a href="https://www.sait.samsung.co.kr/saithome/datefile/Samsung_GRO_2024_brochure.pdf" download target="_blank" class="btn btn-download-link">Download</a> <br /><br />
                                        For more questions about the GRO Program, please contact us via the GRO email address that best matches your location.
                                    </p>
                                </div>
                                <div class="row__wrap js-scr-sec">
                                    <div class="flow_contact">
                                        <h1 class="js-scr-box">Contact us</h1>
                                        <ul>
                                            <li class="js-scr-box"><strong>America</strong> gro.usa@samsung.com</li>
                                            <li class="js-scr-box"><strong>Europe</strong> gro.europe@samsung.com<br /></li>
                                            <li class="js-scr-box"><strong>Japan</strong> gro.japan@samsung.com</li>
                                            <li class="js-scr-box"><strong>India</strong> gro.asia@samsung.com</li>
                                            <li class="js-scr-box"><strong>Etc</strong> grooffice@samsung.com</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </section>
                <!-- //subContent-->

                <!-- subAside-->
                <aside id="relatedContents" class="js-scr-sec">
                    <div class="related__inner">
                        <div class="related__title">
                            <h1 class="js-scr-box">Related Contents</h1>
                            <span class="js-scr-box">Explore more related contents from SAIT!</span>
                        </div>
                        <div class="related_wrap">
                            <article class="js-scr-box">
                                <a href="https://www.sait.samsung.co.kr/saithome/about/who.do">
                                    <h1>Who We Are</h1>
                                </a>
                            </article>
                            <article class="js-scr-box">
                                <a href="https://www.sait.samsung.co.kr/saithome/research/what.do">
                                    <h1>What We Do</h1>
                                </a>
                            </article>
                        </div>
                    </div>
                </aside>
                <!-- //subAside-->
            </section>
            <!-- //container-->

            <!-- footer -->

            <%- include("../include/sub_footer.html") %>
            <div id="gnbDimmed" class="dimmed"></div>

            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123575008-1"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag() {
                    dataLayer.push(arguments);
                }
                gtag('js', new Date());

                gtag('config', 'UA-167217135-1');
            </script>
            <!-- //footer -->
        </div>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/TweenMax/TweenMax.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/TweenMax/easing/EasePack.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/design_common.js"></script>
    </body>
</html>
