<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- 공통적용헤더정보 -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <!-- //공통적용헤더정보 -->
        <link rel="stylesheet" href="https://www.sait.samsung.co.kr/saithome/stylesheets/css/common.css" />
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/jquery-1.8.2.min.js"></script>
        <!--[if lt IE 9]><script src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/html5shiv.min.js"></script><![endif]-->
        <!--[if lt IE 10]><script src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/placeholders.min.js"></script><![endif]-->
        <meta name="Keywords" content="SAIT, Samsung Advanced Institute of Technology, 삼성종합기술원, 삼성전자 종합기술원, Samsung research, Samsung R&amp;D, Samsung future technology, R&amp;D, Autonomoucs Driving, Graphene, New materials, QD, Quantum Dot" />

        <title>Global Collaboration | Samsung Advanced Institute of Technology</title>
        <meta name="Description" content="Global Collaboration | Samsung Advanced Institute of Technology" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Global Collaboration | Samsung Advanced Institute of Technology" />
        <meta property="og:description" content="Global Collaboration | Samsung Advanced Institute of Technology" />
        <meta property="og:image" content="" />
        <meta property="og:url" content="" />
        <meta property="og:site_name" content="Samsung Advanced Institute of Technology" />
        <meta name="Author" content="Samsung Advanced Institute of Technology" />
        <meta name="robots" content="ALL" />
        <style>
            .btnSave {
                width: 100%;
                height: 100%;
                display: block;
                text-indent: -50px;
                color: #fff;
                font-size: 20px;
                font-weight: 700;
                cursor: pointer;
                -webkit-transition: color 0.2s ease;
                -moz-transition: color 0.2s ease;
                -o-transition: color 0.2s ease;
                -ms-transition: color 0.2s ease;
                padding: 0;
                font-family: SamsungOneLatin, Noto Sans KR, sans-serif;
            }
            .btnSave:focus,
            .btnSave:hover {
                color: #1428a0;
            }
            .btnSave.check_not {
                color: #fff !important;
                cursor: auto !important;
                background-color: #555 !important;
                border-color: #555 !important;
            }
            #modalPopup .apply_popup table tr td div input[type='text'] {
                width: 522px;
            }
            .filebox > div > div {
                margin-bottom: 10px;
            }
        </style>
        <%- include("../include/sub_head.html") %>
    </head>
    <body>
        <script>
            if ('' != null && '' != '') {
                alert('');
            }

            function fileDownload() {}
        </script>
        <div id="wrap" role="main">
            <!-- header-->
            <%- include("../include/sub_header.html") %>
            <!-- //header-->

            <!-- container-->
            <section id="container" class="about">
                <%- include("../include/subLocation.ejs", {depth1: "About SAIT", pageTitle: "Global Collaboration"}) %>

                <!-- 2022-11-02 작업 : 시작 -->
                <style type="text/css">
                    .new2022 #subTab ul li a {
                        width: 200px;
                    }
                    .new2022 .new2022__wrap {
                        display: flex;
                        max-width: 1180px;
                        margin: 0 auto;
                        margin-top: 100px;
                        padding-bottom: 60px;
                        border-bottom: 1px solid #a8a8a8;
                    }
                    .new2022 .new2022__year {
                        flex-basis: 260px;
                        font-size: 37px;
                        line-height: 40px;
                        color: #1428a0;
                    }
                    .new2022 .new2022__list > li {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                    }
                    .new2022 .new2022__list > li ~ li {
                        margin-top: 40px;
                    }
                    .new2022 .new2022__list b {
                        color: #333;
                        font-weight: bold;
                    }
                    .new2022 .new2022__list span {
                        color: #636363;
                        font-weight: normal;
                    }
                    @media screen and (max-width: 1240px) {
                        .new2022 #subTab ul li a {
                            width: 120px;
                        }
                    }
                </style>
                <!-- subContent-->
                <section id="content" class="apply renew2024">
                    <div class="content__container">
                        <div id="subTitle" class="js-scr-sec">
                            <h4 class="js-scr-box">Global Collaboration</h4>
                        </div>
                        <div id="subTab" class="js-scr-sec">
                            <ul class="js-scr-box">
                                <li><a href="../about/collabo_overview.html">Overview</a></li>
                                <li><a href="../about/collabo_process.html">Process</a></li>
                                <li><a href="../about/collabo_apply.html" class="active">Apply</a></li>
                                <li><a href="../about/collabo_faq.html">FAQ</a></li>
                                <li><a href="../about/collabo_recipients.html">Recipients</a></li>
                            </ul>
                        </div>
                        <article class="row">
                            <div class="row__inner js-scr-sec">
                                <div class="apply_wrap">
                                    <div class="flow_contents time_line js-scr-sec">
                                        <div class="tit mb30 js-scr-box">
                                            <h5 class="title mb0">2024 GRO Timeline</h5>
                                        </div>
                                        <div class="time_content js-scr-box">
                                            <div class="time_content__row">
                                                <dl>
                                                    <dt>Web Submission Starts:</dt>
                                                    <dd>June 24, 2024</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Submission Deadline:</dt>
                                                    <dd>August 19, 2024 09:00 A.M. (Korea Standard Time, UTC+9)</dd>
                                                </dl>
                                                <dl>
                                                    <dt>Final Results Announcement (via email):</dt>
                                                    <dd>November, 2024</dd>
                                                </dl>
                                            </div>

                                            <button type="button" class="apply_btn btn btn-default">
                                                <span class="btn btn-default__text btn-default__text--arrow">APPLY</span>
                                            </button>
                                            <p class="fw-bold gray">Research proposal is accepted ONLY via the GRO online submission site.</p>
                                        </div>
                                    </div>
                                    <div class="flow_contents submission js-scr-sec">
                                        <div class="tit mb30 js-scr-box">
                                            <h5 class="title mb0">Submission</h5>
                                        </div>
                                        <div class="submission_contents js-scr-box">
                                            <p>Applicants shall submit the following document.</p>
                                            <dl>
                                                <dt>- Research Proposal</dt>
                                                <dd>Proposal Guide &amp; Format <a href="https://www.sait.samsung.co.kr/saithome/datefile/2024_Samsung_GRO_Proposal_Guide_and_Format.docx" download="" class="btn btn-download-link">download</a></dd>
                                            </dl>
                                        </div>
                                    </div>
                                    <div class="research_wrap js-scr-sec">
                                        <div class="flow_contents research_con">
                                            <div class="tit mb30 js-scr-box">
                                                <h5 class="title mb0">Research Themes</h5>
                                            </div>
                                            <div class="research_contents js-scr-box">
                                                <p>
                                                    2024 GRO Program is seeking proposals in Six(6) research themes. <br />
                                                    Details are described in the description documents and other themes are also welcome.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="theme_list js-scr-box">
                                            <dl>
                                                <dt>Machine Intelligence</dt>
                                                <dd>
                                                    <p>Beyond Transformer/Future AI<a href="https://www.sait.samsung.co.kr/saithome/datefile/1-1_Beyond_Transformer_Future_AI_GRO_CFP.docx" download="" class="btn btn-download-link">download</a></p>
                                                    <p>Semicon. Manufacturing Infrastructure using ML<a href="https://www.sait.samsung.co.kr/saithome/datefile/1-2_Semicon._Manufacturing_Infrastructure_using_ML_GRO_CFP.docx" download="" class="btn btn-download-link">download</a></p>
                                                    <p>Semicon. Metrology and Inspection using ML<a href="../1-3_Semicon._Metrology_and_Inspection_using_ML_GRO_CFP.docx" download="" class="btn btn-download-link">download</a></p>
                                                    <p>
                                                        LLM/SLMs in Optimal Control and Reliability Assurance Methods for Utility Supply Systems<a
                                                            href="https://www.sait.samsung.co.kr/saithome/datefile/1-4_LLMSLMs_in_Optimal_Control_and_Reliability_Assurance_GRO_CFP.docx"
                                                            download=""
                                                            class="btn btn-download-link"
                                                            >download</a
                                                        >
                                                    </p>
                                                    <p>Fluid analysis using ML<a href="https://www.sait.samsung.co.kr/saithome/datefile/1-5_Fluid_Analysis_using_ML_GRO_CFP.docx" download="" class="btn btn-download-link">download</a></p>
                                                    <p>Noise Propagation using ML<a href="https://www.sait.samsung.co.kr/saithome/datefile/1-6_Noise_Propagation_using_ML_GRO_CFP.docx" download="" class="btn btn-download-link">download</a></p>
                                                    <p>Generative AI for nextG Cellular Communication<a href="https://www.sait.samsung.co.kr/saithome/datefile/1-7_Generative_AI_for_nextG_cellular_Networks_GRO_CFP.docx" download="" class="btn btn-download-link">download</a></p>
                                                </dd>
                                            </dl>
                                            <dl>
                                                <dt>Interconnect</dt>
                                                <dd>
                                                    <p>Advanced Optical Interconnect and 3D Integration<a href="https://www.sait.samsung.co.kr/saithome/datefile/2-1_Advanced_Optical_Interconnect_and_3D_Integration_GRO_CFP.docx" download="" class="btn btn-download-link">download</a></p>
                                                    <p>
                                                        Advanced Optical Coupling Strategies for Co-packaged Optics<a href="https://www.sait.samsung.co.kr/saithome/datefile/2-2_Advanced_Optical_Coupling_Strategies_for_Co-packaged_Optics_GRO_CFP.docx" download="" class="btn btn-download-link"
                                                            >download</a
                                                        >
                                                    </p>
                                                    <p>Interconnect for chiplet system<a href="https://www.sait.samsung.co.kr/saithome/datefile/2-3_Interconnect_for_Chiplet_system_GRO_CFP.docx" download="" class="btn btn-download-link">download</a></p>
                                                </dd>
                                            </dl>
                                            <dl>
                                                <dt>Semiconductor Metrology</dt>
                                                <dd>
                                                    <p>
                                                        3D Metrology and Inspection for Critical Dimension and material analysis<a
                                                            href="https://www.sait.samsung.co.kr/saithome/datefile/3-1_3D_Metrology_and_Inspection_for_Critical_Dimension_and_material_analysis_GRO_CFP.docx"
                                                            download=""
                                                            class="btn btn-download-link"
                                                            >download</a
                                                        >
                                                    </p>
                                                    <p>New Metrology and Analytical Tech. for sub-5nm Liquid Particles<a href="https://www.sait.samsung.co.kr/saithome/datefile/3-2_New_Metrology_and_Analytical_Tech_GRO_CFP.docx" download="" class="btn btn-download-link">download</a></p>
                                                </dd>
                                            </dl>
                                            <dl>
                                                <dt>New Computing and Device</dt>
                                                <dd>
                                                    <p>Cryogenic CMOS, Analog Circuit Design<a href="https://www.sait.samsung.co.kr/saithome/datefile/4-1_Cryogenic_CMOS,_Analog_Circuit_Design_GRO_CFP.docx" download="" class="btn btn-download-link">download</a></p>
                                                    <p>Beyond CMOS and emerging devices<a href="https://www.sait.samsung.co.kr/saithome/datefile/4-2_Beyond_CMOS_and_emerging_devices_GRO_CFP.docx" download="" class="btn btn-download-link">download</a></p>
                                                    <p>Efficient Computing Architectures and Devices<a href="https://www.sait.samsung.co.kr/saithome/datefile/4-3_Efficient_Computing_Architectures_and_Devices_GRO_CFP.docx" download="" class="btn btn-download-link">download</a></p>
                                                    <p>Digital Biomarkers<a href="https://www.sait.samsung.co.kr/saithome/datefile/4-4_Digital_Biomarkers_Monitoring,_Interventions_of_Chronic_Health_Conditions_GRO_CFP.docx" download="" class="btn btn-download-link">download</a></p>
                                                </dd>
                                            </dl>
                                            <dl>
                                                <dt>New Electronic Material</dt>
                                                <dd>
                                                    <p>New Materials for Advanced Semiconductor Packaging<a href="https://www.sait.samsung.co.kr/saithome/datefile/5-1_New_Materials_for_Advanced_Semiconductor_Packaging_GRO_CFP.docx" download="" class="btn btn-download-link">download</a></p>
                                                    <p>Next-generation Electronic Materials<a href="https://www.sait.samsung.co.kr/saithome/datefile/5-2_Next-generation_Electronic_Materials_GRO_CFP.docx" download="" class="btn btn-download-link">download</a></p>
                                                </dd>
                                            </dl>
                                            <dl>
                                                <dt>Environment and Energy Tech. for Sustainability</dt>
                                                <dd>
                                                    <p>Carbon Capture and Utilization<a href="https://www.sait.samsung.co.kr/saithome/datefile/6-1_Carbon_Capture_and_Utilization_GRO_CFP.docx" download="" class="btn btn-download-link">download</a></p>
                                                    <p>Industrial Gas Treatment<a href="https://www.sait.samsung.co.kr/saithome/datefile/6-2_Industrial_Gas_Treatment_GRO_CFP.docx" download="" class="btn btn-download-link">download</a></p>
                                                    <p>PFAS Treatment<a href="https://www.sait.samsung.co.kr/saithome/saithome/saithome/datefile/6-3_PFAS_Treatment_GRO_CFP.docx" download="" class="btn btn-download-link">download</a></p>
                                                    <p>Radiative Cooling<a href="https://www.sait.samsung.co.kr/saithome/saithome/datefile/6-4_Radiative_Cooling_GRO_CFP.docx" download="" class="btn btn-download-link">download</a></p>
                                                    <p>Sustainable Energy Management System<a href="https://www.sait.samsung.co.kr/saithome/saithome/datefile/6-5_Sustainable_Energy_Management_System_GRO_CFP.docx" download="" class="btn btn-download-link">download</a></p>
                                                    <p>High Temperature Co-Electrolysis<a href="https://www.sait.samsung.co.kr/saithome/saithome/datefile/6-6_High_Temperature_Co-Electrolysis_GRO_CFP.docx" download="" class="btn btn-download-link">download</a></p>
                                                </dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </section>
                <!-- //subContent-->
                <form method="post" name="frmGroForm" id="frmGroForm" enctype="multipart/form-data">
                    <input type="text" style="display: none" />
                    <input type="hidden" name="formMode" value="CREATE" />

                    <input type="hidden" name="web_type" value="pc" />

                    <div id="modalPopup" tabindex="0">
                        <div class="popup_container">
                            <article class="apply_popup">
                                <div class="tit_wrap">
                                    <h1>2024 Samsung GRO Program Application</h1>
                                    <!-- <p>
								The submission deadline is Monday,
								19 August 2024, 09:00 AM. (Korea Standard Time, UTC+9)
							</p> -->
                                </div>
                                <table>
                                    <caption>
                                        Samsung GRO Program Application
                                    </caption>
                                    <colgroup>
                                        <col width="220px" />
                                        <col width="280px" />
                                        <col width="220px" />
                                        <col width="280px" />
                                    </colgroup>
                                    <tr>
                                        <th>Primary PI Name</th>
                                        <!--<td><input type="text"></td>-->
                                        <td><input name="priPiName" id="priPiName" type="text" value="" size="25" maxlength="500" onkeypress="if(event.keyCode==13){return false}" /></td>

                                        <th>Primary PI Email</th>
                                        <!--<td><input type="text"></td>-->
                                        <td><input name="priPiEmail" id="priPiEmail" type="text" value="" size="25" maxlength="100" onkeypress="if(event.keyCode==13){return false}" /></td>
                                    </tr>
                                    <tr>
                                        <th>University</th>
                                        <td colspan="3">
                                            <div>
                                                <input name="universityKind" id="universityKind" type="text" value="" onKeyDown="Javascript:fnSearchEvt();" onKeyUp="Javascript:fnSearchEvt2();" onkeypress="if(event.keyCode==13){return false}" />
                                                <input type="hidden" name="universityKindSeqNo" id="universityKindSeqNo" value="" />
                                                <input type="hidden" name="uniCfmFlag" id="uniCfmFlag" value="N" />
                                                <button type="button" name="btnSearch" title="Search" onclick="javascript:fnSearch();return false;">Search</button>
                                                <div id="otherUniDiv" style="display: none">
                                                    <br />
                                                    <input name="otherUniversityName" id="otherUniversityName" type="text" value="" size="54" maxlength="500" />
                                                </div>

                                                <p>
                                                    * Please search by keyword. If your University is not found, <br />
                                                    &nbsp;&nbsp;&nbsp;select “Other” and type in university name.
                                                </p>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Country / Region</th>
                                        <td colspan="3">
                                            <!--<input type="text">
									-->
                                            <input name="countryKind" id="countryKind" type="text" value="" readonly onkeypress="if(event.keyCode==13){return false}" />
                                            <input type="hidden" name="countryKindSeqNo" id="countryKindSeqNo" value="" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Theme</th>
                                        <td colspan="3">
                                            <div class="select_wrap">
                                                <select name="themeId" id="themeId" onChange="javascript:changeThemeIdList(this);return false;">
                                                    <option value="">----- Choose a list -----</option>

                                                    <option value="T000008425" title="1. Machine Intelligence">1. Machine Intelligence</option>

                                                    <option value="T000008426" title="2. Interconnect">2. Interconnect</option>

                                                    <option value="T000008427" title="3. Semiconductor Metrology">3. Semiconductor Metrology</option>

                                                    <option value="T000008428" title="4. New Computing and Device">4. New Computing and Device</option>

                                                    <option value="T000008429" title="5. New Electric Material">5. New Electric Material</option>

                                                    <option value="T000008430" title="6. Environment and Energy Tech. for Sustainability">6. Environment and Energy Tech. for Sustainability</option>
                                                </select>
                                            </div>
                                            <p>* Please select carefully, as this will help us in ensuring your proposal is read by the appropriate reviewers.</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Sub-theme</th>
                                        <td colspan="3">
                                            <div id="subjectDiv" class="select_wrap">
                                                <select name="subjectId" id="subjectId">
                                                    <option value="">----- Choose a list -----</option>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Budget/year <em>(USD)</em></th>
                                        <td>
                                            <input name="cost" id="cost" type="text" value="" onkeyup="$(this).val(f_insertComma(this.value))" onkeypress="if(event.keyCode==13){return false}" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Proposal Title</th>
                                        <td colspan="3">
                                            <input name="proposalTitle" id="proposalTitle" type="text" value="" maxlength="1000" onkeypress="if(event.keyCode==13){return false}" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Proposal Abstract</th>
                                        <td colspan="3">
                                            <textarea name="proposalAbstract" id="proposalAbstract" style="border: solid 2px #333"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Proposal <em>(MS-word)</em></th>
                                        <td colspan="3">
                                            <div class="filebox">
                                                <div id="pro_files-root">
                                                    <div>
                                                        <input type="text" class="upload-name" disabled="disabled" />
                                                        <input type="file" name="pro_file" id="pro_file" size="60%" class="upload-hidden" />
                                                        <!--<span onclick="addFile('PRO')" >Add File</span>-->
                                                        <label for="pro_file" style="right: 130px">Select</label>
                                                        <label onclick="addFile('PRO')">Add File</label>
                                                    </div>
                                                </div>

                                                <!--<input type="file" id="upload_file01" class="upload-hidden">
										<label for="upload_file01">Add File</label>-->

                                                <p>
                                                    * Recommended file name : Sub-theme number_proposal title_University name_PI Last name.
                                                    <br />
                                                    <strong>e.g.</strong> if sub-theme is See-through AR Display, file name is recommended as 1-2_proposal title_Stanford_Smith
                                                </p>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <div class="agree_box">
                                    <strong>* Please read carefully and check the box as below. </strong>
                                    <div>
                                        <!--<input type="checkbox" id="agree1">-->
                                        <input type="checkbox" name="chkAgree" id="chkAgree" onclick="javascript:changeAgree(this);" value="" />
                                        <label for="chkAgree">My proposal does not contain any confidential or proprietary Information. Applications submitted without this box checked will be automatically rejected without further review. </label>
                                    </div>
                                    <div>
                                        <!--<input type="checkbox" id="agree2">	-->
                                        <input type="checkbox" name="chkAgree" id="chkAgree1" onclick="javascript:changeAgree(this);" value="" />
                                        <label for="chkAgree1"
                                            >I hereby consent to your use of my personal information that I have given to you or you have collected by proper means. Samsung Electronics Co., Ltd, Samsung Electro-Mechanics Co., Ltd, Samsung SDS Co., Ltd. value the personal information of applicants
                                            and strive to protect each applicant's personal information. SAMSUNG adheres to all applicable laws and regulations including the Act on Personal Information Protection. For more details on the processing of personal information, please refer to the GRO
                                            website.
                                        </label>
                                    </div>
                                </div>
                                <div class="submit_wrap">
                                    <p>
                                        Please click the "Submit" button below to upload your proposal. <br />
                                        If your proposal is successfully submitted, you will receive a confirmation email
                                    </p>

                                    <div class="submit_box">
                                        <!--<input type="submit" value="SUBMIT">-->
                                        <input type="button" name="btnSave" value="Submit" title="Submit" class="btnSave check_not" onclick="javascript:fnSave();return false;" />
                                        <i></i>
                                    </div>
                                </div>
                            </article>
                            <button class="popup_close">close</button>
                        </div>
                    </div>
                </form>
                <!-- //modalPopup-->
                <script type="text/javascript">
                    function fileChangeText(c_ob) {
                        if (window.FileReader) {
                            // modern browser
                            var filename = $(c_ob)[0].files[0].name;
                        } else {
                            // old IE
                            var filename = $(c_ob).val().split('/').pop().split('\\').pop(); // 파일명만 추출
                        }
                        $(c_ob).siblings('.upload-name').val(filename);
                    }
                    $(function () {
                        //파일첨부
                        var fileTarget = $('.filebox .upload-hidden');
                        fileTarget.on('change', function () {
                            if (window.FileReader) {
                                // modern browser
                                var filename = $(this)[0].files[0].name;
                            } else {
                                // old IE
                                var filename = $(this).val().split('/').pop().split('\\').pop(); // 파일명만 추출
                            }
                            $(this).siblings('.upload-name').val(filename);
                        });

                        var $popup = $('#modalPopup');
                        var $applyBtn = $('.apply_btn');
                        var $close = $('.popup_close');
                        $applyBtn.click(function () {
                            $('html').addClass('no_scroll');
                            TweenMax.to($popup, 0.5, { opacity: 1, display: 'block', onComplete: openPop });
                            TweenMax.fromTo($('.popup_container'), 0.5, { y: 50 }, { y: 0, ease: es_step });
                            function openPop() {
                                $popup.focus();
                            }
                        });

                        function noscroll() {
                            $('html').removeClass('no_scroll');
                        }

                        $close
                            .on('click', function () {
                                TweenMax.to($popup, 0.3, { opacity: 0, display: 'none', ease: es_step, onComplete: noscroll });
                                $applyBtn.focus();
                            })
                            .on('keydown', function (e) {
                                var tab = Tab(function () {
                                    $popup.focus();
                                }, e);
                            });

                        $popup.on('keydown', function (e) {
                            if ($(event.target).attr('tabindex')) {
                                var tab = Shifttab(function () {
                                    $close.focus();
                                }, e);
                                if (tab) return false;
                            }
                        });
                    });
                </script>

                <!-- subAside-->
                <aside id="relatedContents" class="js-scr-sec">
                    <div class="related__inner">
                        <div class="related__title">
                            <h1 class="js-scr-box">Related Contents</h1>
                            <span class="js-scr-box">Explore more related contents from SAIT!</span>
                        </div>
                        <div class="related_wrap">
                            <article class="js-scr-box">
                                <a href="../about/who.html">
                                    <h1>Who We Are</h1>
                                </a>
                            </article>
                            <article class="js-scr-box">
                                <a href="../research/what.html">
                                    <h1>What We Do</h1>
                                </a>
                            </article>
                        </div>
                    </div>
                </aside>
                <!-- //subAside-->
            </section>
            <!-- //container-->

            <!-- footer -->

            <%- include("../include/sub_footer.html") %>
            <div id="gnbDimmed" class="dimmed"></div>

            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123575008-1"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag() {
                    dataLayer.push(arguments);
                }
                gtag('js', new Date());

                gtag('config', 'UA-167217135-1');
            </script>
            <!-- //footer -->
        </div>

        <script type="text/javascript">
            jQuery(document).ready(function () {
                //------------------------------
                // Progress Bar 종료
                //------------------------------
                // progress_closeWindow();

                if ('' == 'initFunc') {
                    alert('');
                    //fnClose();
                } else if ('' == 'attachError') {
                    alert('');
                }

                var frm = document.frmGroForm;
                frm.btnSave.disabled = true;
                // 맨처음 포커스
                frm.priPiName.focus();
            });
        </script>

        <script type="text/javascript">
            //==================================================
            //팝업창 닫기
            //==================================================
            function fnClose() {
                window.close();
            }
            function fnSearchEvt() {
                if (window.event.keyCode == 13) {
                    fnSearch();
                }
            }
            function fnSearchEvt2() {
                document.frmGroForm.uniCfmFlag.value = 'N';
            }
            //==================================================
            // University 조회
            //==================================================
            function fnSearch() {
                var url = '/saithome/gro/Common.do?method=universityList&schKeyword=' + document.frmGroForm.universityKind.value;
                acntWin = window.open(url, 'fncUniversitySearch', 'toolbar=no,menubar=no,resizable=no,scrollbars=yes,top=270,left=700,width=650,height=550');
                acntWin.focus();
                return;
            }

            //==================================================
            // University 변경시
            //==================================================
            function changeUniversity(trgObj) {
                var seqNo = trgObj;

                //------------------------------------------------------------
                // DIV 감추기
                //------------------------------------------------------------
                document.getElementById('otherUniDiv').style.display = 'none';
                document.getElementById('otherUniDiv').disabled = true;
                //document.getElementById('otherUniDiv2').style.display = 'none';
                //document.getElementById('otherUniDiv2').disabled = true;

                if (seqNo == 'Other') {
                    // Other University
                    //------------------------------------------------------------
                    // Other University Name
                    //------------------------------------------------------------
                    document.getElementById('otherUniDiv').style.display = 'block';
                    document.getElementById('otherUniDiv').disabled = false;
                }
            }

            //==================================================
            // 테마변경시 서브젝트 리스트 조회
            //==================================================
            function changeThemeIdList(objTheme) {
                $.ajax({
                    type: 'POST',
                    url: '/saithome/gro/Common.do?method=subjectIdListAjax',
                    cache: false,
                    dataType: 'json',
                    data: $('#frmGroForm').serialize(),
                    success: function (data, status) {
                        setSubjectIdList(data, status);
                    },
                    error: function (data, textStatus, errorThrown) {
                        alert('An error has occurred.');
                    },
                });
            }

            function setSubjectIdList(data, status) {
                if (status == 'success') {
                    var subjectList = data.subjectList;

                    if (subjectList != null) {
                        var strHtml = '';
                        strHtml = strHtml + "<select name='subjectId' id='subjectId'>" + "	<option value=''>----- Choose a list -----</option>";

                        for (var i = 0; i < subjectList.length; i++) {
                            strHtml = strHtml + "	<option value='" + subjectList[i].subjectId + "' title='" + subjectList[i].subjectName + "'>" + subjectList[i].subjectName + '</option>';
                        }

                        strHtml = strHtml + '</select>';

                        $('#subjectDiv').html(strHtml);
                    }
                } else {
                    alert('An error has occurred.\n\nPlease contact the administrator.');
                }
            }

            //==================================================
            // 동의 여부에 따라 Next 버튼 선택 가능
            //==================================================
            function changeAgree() {
                var frm = document.frmGroForm;

                if (frm.chkAgree[0].checked == true && frm.chkAgree[1].checked == true) {
                    frm.btnSave.disabled = false;
                    $('.btnSave').removeClass('check_not');
                } else {
                    $('.btnSave').addClass('check_not');
                    frm.btnSave.disabled = true;
                }
            }

            //==================================================
            //GRO 접수 저장
            //==================================================
            function fnSave() {
                var frm = document.frmGroForm;

                if (!fnCheckValid()) {
                    return;
                }
                if (!fnCheckValid_AttachFile()) {
                    return;
                }
                if (!confirm('Do you want to save?')) {
                    return;
                }

                // 버튼 비활성화
                frm.btnSave.disabled = true;

                // 콤마제거
                //frm.cost.value = replaceComma(frm.cost.value);
                //alert($("#cost").val());

                frm.cost.value = frm.cost.value.replace(',', '');
                frm.action = '/saithome/gro/ApplyGro.do?method=save';
                frm.submit();

                //------------------------------
                // Progress Bar 시작
                //------------------------------
                progress_openWindow();
            }

            //==================================================
            // 입력값  Validation 체크
            //==================================================
            function fnCheckValid() {
                var ret = true;
                var frm = document.frmGroForm;
                var trgObj = null;

                //----------------------------------------
                // Primary PI Name
                //----------------------------------------
                trgObj = frm.priPiName;
                if ($.trim(trgObj.value) == '') {
                    //alert('Primary PI Name을 입력해 주세요.');
                    alert("Please enter a PI's name");
                    trgObj.focus();
                    return false;
                } else if (getByte($.trim(trgObj.value)) > 500) {
                    alert("Primary PI's Name can not exceed more than 500 characters");
                    trgObj.focus();
                    return false;
                }
                //----------------------------------------
                // Primary PI Email
                //----------------------------------------
                trgObj = frm.priPiEmail;
                if ($.trim(trgObj.value) != '') {
                    var email = $.trim(trgObj.value);
                    var result = chkEmailValid(email);
                    if (!result) {
                        //alert("Primary PI Email을 확인 하세요");
                        alert('Email format is not correct. E.g) abc@bcd.com');
                        trgObj.focus();
                        return false;
                    }
                } else if (getByte($.trim(trgObj.value)) > 100) {
                    alert("Primary PI's Email can not exceed more than 100 characters");
                    trgObj.focus();
                    return false;
                } else {
                    //alert("Primary PI Email을 입력해 주세요");
                    alert("Please check Primary PI's Email");
                    trgObj.focus();
                    return false;
                }
                //----------------------------------------
                // University
                //----------------------------------------
                trgObj = frm.universityKindSeqNo;

                if ($.trim(trgObj.value) == '') {
                    //alert('University 를 선택해 주세요.');
                    alert('Please choose a university in the list');
                    frm.universityKind.focus();
                    return false;
                } else {
                    var seqNo = frm.universityKind.value;

                    if (seqNo != 'Other') {
                        // Other University
                        frm.otherUniversityName.value = '';
                    } else {
                        trgObj = frm.otherUniversityName;
                        if ($.trim(trgObj.value) == '') {
                            //alert('Other University 를 입력해 주세요.');
                            alert('Please enter the name of the other university ');
                            trgObj.focus();
                            return false;
                        } else if (getByte($.trim(trgObj.value)) > 100) {
                            alert('Other University can not exceed more than 100 characters');
                            trgObj.focus();
                            return false;
                        }
                    }
                }

                if ($('#uniCfmFlag').val() != 'Y') {
                    alert('Please select the university through the search');
                    frm.universityKind.focus();
                    return;
                }
                //----------------------------------------
                // Country/Region
                //----------------------------------------
                trgObj = frm.countryKindSeqNo;
                if ($.trim(trgObj.value) == '') {
                    //alert('Country/Region 를 선택해 주세요.');
                    alert('Please select a Country/Region');
                    trgObj.focus();
                    return false;
                }
                //----------------------------------------
                // Theme
                //----------------------------------------
                trgObj = frm.themeId;
                if ($.trim(trgObj.value) == '') {
                    //alert('Theme 를 선택해 주세요.');
                    alert('Please choose a Theme');
                    trgObj.focus();
                    return false;
                }
                //----------------------------------------
                // Subject
                //----------------------------------------
                trgObj = frm.subjectId;
                if ($.trim(trgObj.value) == '') {
                    //alert('Subject 를 선택해 주세요.');
                    alert('Please choose a Subject');
                    trgObj.focus();
                    return false;
                }
                //----------------------------------------
                // Cost (USD)
                //----------------------------------------
                trgObj = frm.cost;
                var rightchar = replaceComma(trgObj.value);
                if ($.trim(rightchar) == '') {
                    alert('Please enter the cost');
                    trgObj.focus();
                    return false;
                } else if (isNaN(rightchar)) {
                    alert('Cost can be only numbers');
                    trgObj.focus();
                    return false;
                } else if (getByte($.trim(rightchar)) > 30) {
                    alert('Cost cannot exceed more than 30 digits');
                    trgObj.focus();
                    return false;
                }
                //----------------------------------------
                // Proposal Title
                //----------------------------------------
                trgObj = frm.proposalTitle;
                if ($.trim(trgObj.value) == '') {
                    //alert('Proposal Title 를 선택해 주세요.');
                    alert('Please enter Proposal Title');
                    trgObj.focus();
                    return false;
                } else if (getByte($.trim(trgObj.value)) > 500) {
                    alert('Proposal Title can not exceed more than 500 characters');
                    trgObj.focus();
                    return false;
                }
                //----------------------------------------
                // Proposal Abstract
                //----------------------------------------
                trgObj = frm.proposalAbstract;
                if ($.trim(trgObj.value) == '') {
                    //alert('Proposal Abstract 를 입력해 주세요.');
                    alert('Please enter Proposal Abstract');
                    trgObj.focus();
                    return false;
                } else if (getByte($.trim(trgObj.value)) > 3995) {
                    alert('Proposal Abstract can not exceed more than about 4000 characters');
                    trgObj.focus();
                    return false;
                }
                return ret;
            }

            //==================================================
            //Attach Files  Validation 체크
            //==================================================
            function fnCheckValid_AttachFile() {
                var ret = true;
                var frm = document.frmGroForm;
                var trgObj = null;
                var fileArray = new Array();
                var fileCnt = 0;

                //----------------------------------------
                // Attach File
                //----------------------------------------
                var format = '\.(doc|zip|docx|pdf)$';
                // Proposal Files
                trgObj = document.getElementsByName('pro_file');
                for (var i = 0; i < trgObj.length; i++) {
                    if (trgObj[i].value == '') {
                        //alert('파일을 첨부해 주세요.');
                        alert('Please attach the Proposals');
                        trgObj[i].focus();
                        return false;
                    } else {
                        if (new RegExp(format, 'i').test(trgObj[i].value)) {
                        } else {
                            //alert("doc, zip, docx 파일만 첨부하실 수 있습니다.");
                            alert('Only doc, zip, docx, pdf files can be attached');
                            trgObj[i].focus();
                            return false;
                        }
                    }
                    //----------------------------------------
                    // 파일 중복 체크
                    //----------------------------------------
                    var tempFileName = trgObj[i].value;
                    var fileName = tempFileName.substring(tempFileName.lastIndexOf('\\') + 1);
                    if (fileCnt > 0) {
                        for (var k = 0; k < fileCnt; k++) {
                            if (fileArray[k] == fileName) {
                                alert('Duplicate file exists.');
                                return false;
                            }
                        }
                    }
                    if (fileName != '') fileArray[fileCnt++] = fileName;

                    //----------------------------------------
                }

                var totalSize = 0;
                for (var i = 0; i < trgObj.length; i++) {
                    if (trgObj[i].files[0].size) {
                        totalSize = totalSize + trgObj[i].files[0].size;
                    }
                }
                totalSize = totalSize / (1024 * 1024);
                if (totalSize > 31) {
                    alert('Proposal 파일이 30MB 이상입니다. ');
                    return false;
                }
                // console.log(totalSize);

                var totalSize = 0;
                for (var i = 0; i < trgObj.length; i++) {
                    if (trgObj[i].files[0].size) {
                        totalSize = totalSize + trgObj[i].files[0].size;
                    }
                }
                totalSize = totalSize / (1024 * 1024);
                if (totalSize > 31) {
                    alert('RA Acceptance Letter 파일이 30MB 이상입니다. ');
                    return false;
                }

                return ret;
            }

            //==================================================
            //첨부파일 추가
            //==================================================
            var pro_gFiles = 0;
            var ra_gFiles = 0;
            function addFile(docType) {
                if (docType == 'PRO') {
                    var div = document.createElement('div');
                    div.setAttribute('id', 'pro_file-' + pro_gFiles);
                    //var removeFileId = "file"+pro_gFiles
                    div.innerHTML =
                        '<input type="text" class="upload-name" disabled="disabled"><input type="file" name="pro_file" id="pro_file' +
                        pro_gFiles +
                        '" size="60%" class="upload-hidden" onchange="fileChangeText(this)" />' +
                        '<label for="pro_file' +
                        pro_gFiles +
                        '" style="right: 130px;" >Select</label>' +
                        '<label onclick="removeFile(\'pro_file-' +
                        pro_gFiles +
                        '\')">Delete</label>';
                    //document.getElementById('pro_files-root').appendChild(tr);
                    $('#pro_files-root').append(div);

                    pro_gFiles++;
                }
            }

            //==================================================
            //첨부파일 삭제
            //==================================================
            function removeFile(aId) {
                var obj = document.getElementById(aId);
                if (obj == null) {
                    alert('parent Node is null');
                } else obj.parentNode.removeChild(obj);
            }

            function f_insertComma(srcNumber) {
                try {
                    var isObject = false;
                    if (srcNumber == null) {
                        return 0;
                    }
                    if (typeof srcNumber == 'object') {
                        isObject = true;
                        var txtNumber = srcNumber.value.replace(/,/gi, '');
                        var srcValue = srcNumber.value.replace(/ /gi, '');
                        var srcValue = f_numeric(srcNumber.value).toString();
                    } else if (typeof srcNumber == 'number') {
                        var txtNumber = (srcNumber + '').replace(/,/gi, '');
                        var srcValue = (srcNumber + '').replace(/ /gi, '');
                    } else {
                        var txtNumber = srcNumber.replace(/,/gi, '');
                        var srcValue = srcNumber.replace(/ /gi, '');
                    }

                    if (txtNumber == '') {
                        if (isObject) srcNumber.focus();
                        return 0;
                    }

                    if (isNaN(txtNumber)) {
                        return 0;
                    } else {
                        var rxSplit = new RegExp('([0-9])([0-9][0-9][0-9][,.])');
                        var arrNumber = txtNumber.split('.');

                        arrNumber[0] = f_numeric(arrNumber[0]).toString();
                        arrNumber[0] += '.';
                        do {
                            arrNumber[0] = arrNumber[0].replace(rxSplit, '$1,$2');
                        } while (rxSplit.test(arrNumber[0]));
                        if (arrNumber.length > 1) {
                            arrNumber[1] = arrNumber[1].substr(0, 2);
                            return arrNumber.join('');
                        } else {
                            return arrNumber[0].split('.')[0];
                        }
                    }
                } catch (ex) {
                    alert('오류위치 = CommonScript.f_insertComma \n' + '오류내역 = [' + ex.description + ']');
                }
            }

            function f_numeric(pVal) {
                try {
                    pVal = pVal != null ? pVal.toString() : '0';
                    pVal = $.trim(pVal).replace(/,/g, '');
                    // pVal = pVal.trim().replace(/,/g,"");
                    pVal = pVal == '' ? '0' : pVal;
                    if (isNaN(pVal)) pVal = '0';

                    if (pVal.search('.') < 0) return parseInt(pVal, 10);
                    else return parseFloat(pVal);
                } catch (ex) {
                    alert('오류위치 = CommonScript.f_numeric    \n' + '오류내역 = [' + ex.description + ']');
                }
            }

            function fnFormDownload(frmType) {
                document.fileDown.frmType.value = frmType;
                document.fileDown.target = 'hidden_frame';
                document.fileDown.submit();
            }
        </script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/TweenMax/TweenMax.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/TweenMax/easing/EasePack.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/design_common.js"></script>
    </body>
</html>
