<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- 공통적용헤더정보 -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <!-- //공통적용헤더정보 -->
        <link rel="stylesheet" href="https://www.sait.samsung.co.kr/saithome/stylesheets/css/common.css" />
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/jquery-1.8.2.min.js"></script>
        <!--[if lt IE 9]><script src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/html5shiv.min.js"></script><![endif]-->
        <!--[if lt IE 10]><script src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/placeholders.min.js"></script><![endif]-->
        <meta name="Keywords" content="SAIT, Samsung Advanced Institute of Technology, 삼성종합기술원, 삼성전자 종합기술원, Samsung research, Samsung R&amp;D, Samsung future technology, R&amp;D, Autonomoucs Driving, Graphene, New materials, QD, Quantum Dot" />

        <title>Global Collaboration | Samsung Advanced Institute of Technology</title>
        <meta name="Description" content="Global Collaboration | Samsung Advanced Institute of Technology" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Global Collaboration | Samsung Advanced Institute of Technology" />
        <meta property="og:description" content="Global Collaboration | Samsung Advanced Institute of Technology" />
        <meta property="og:image" content="" />
        <meta property="og:url" content="" />
        <meta property="og:site_name" content="Samsung Advanced Institute of Technology" />
        <meta name="Author" content="Samsung Advanced Institute of Technology" />
        <meta name="robots" content="ALL" />
        <%- include("../include/sub_head.html") %>
    </head>
    <body>
        <div id="wrap" role="main">
            <!-- header-->
            <%- include("../include/sub_header.html") %>
            <!-- //header-->

            <!-- container-->
            <section id="container" class="about">
                <!-- subVisual-->
                <div id="subVisual" style="background-image: url(https://www.sait.samsung.co.kr/saithome/images/about/about_visual.jpg)">
                    <div class="tit_wrap">
                        <h3>
                            <span>Samsung Advanced Institute of Technology</span>
                        </h3>
                    </div>
                </div>
                <!-- //subVisual-->
                <!-- subLocation-->
                <div id="subLocation">
                    <div class="location_box">
                        <ul class="location_list">
                            <li class="home"><a href="https://www.sait.samsung.co.kr/saithome/main/main.do">main page</a></li>
                            <li class="depth1">
                                <button type="button">About SAIT</button>
                                <ul class="under_depth">
                                    <li><a href="https://www.sait.samsung.co.kr/saithome/about/who.do">About SAIT</a></li>
                                    <li><a href="https://www.sait.samsung.co.kr/saithome/research/what.do">Research Areas</a></li>
                                    <li><a href="https://www.sait.samsung.co.kr/saithome/about/press.do">News & Events</a></li>
                                    <li><a href="https://www.sait.samsung.co.kr/saithome/join/application.do">Join Us</a></li>
                                </ul>
                            </li>
                            <li class="depth2">
                                <button type="button">Global Collaboration</button>
                                <ul class="under_depth">
                                    <li><a href="https://www.sait.samsung.co.kr/saithome/about/who.do">Who We Are</a></li>
                                    <li><a href="https://www.sait.samsung.co.kr/saithome/about/history.do">History of Progress</a></li>
                                    <li><a href="https://www.sait.samsung.co.kr/saithome/about/labs.do">Global Labs</a></li>
                                    <li><a href="https://www.sait.samsung.co.kr/saithome/about/collabo_overview.do" class="active">Global Collaboration</a></li>
                                    <li><a href="https://www.sait.samsung.co.kr/saithome/about/contact.do">Contact us</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- //subLocation-->

                <!-- 2022-11-02 작업 : 시작 -->
                <style type="text/css">
                    .new2022 #subTab ul li a {
                        width: 200px;
                    }
                    .new2022 .new2022__wrap {
                        display: flex;
                        max-width: 1180px;
                        margin: 0 auto;
                        margin-top: 100px;
                        padding-bottom: 60px;
                        border-bottom: 1px solid #a8a8a8;
                    }
                    .new2022 .new2022__year {
                        flex-basis: 260px;
                        font-size: 37px;
                        line-height: 40px;
                        color: #1428a0;
                    }
                    .new2022 .new2022__list > li {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                    }
                    .new2022 .new2022__list > li ~ li {
                        margin-top: 40px;
                    }
                    .new2022 .new2022__list b {
                        color: #333;
                        font-weight: bold;
                    }
                    .new2022 .new2022__list span {
                        color: #636363;
                        font-weight: normal;
                    }
                    @media screen and (max-width: 1240px) {
                        .new2022 #subTab ul li a {
                            width: 120px;
                        }
                    }
                </style>
                <!-- subContent-->
                <section id="content" class="process renew2024">
                    <div class="content__container">
                        <div id="subTitle" class="js-scr-sec">
                            <h4 class="js-scr-box">Global Collaboration</h4>
                            <!--  
				<h5 class="js-scr-box">GRO 2021 will be opened from 21<sup>st</sup> of June to 24<sup>th</sup> of August</h5>
				-->
                        </div>
                        <div id="subTab" class="js-scr-sec">
                            <ul class="js-scr-box">
                                <li><a href="../about/collabo_overview.html">Overview</a></li>
                                <li><a href="../about/collabo_process.html">Process</a></li>
                                <li><a href="../about/collabo_apply.html" class="active">Apply</a></li>
                                <li><a href="../about/collabo_faq.html">FAQ</a></li>
                                <li><a href="../about/collabo_recipients.html">Recipients</a></li>
                            </ul>
                        </div>
                        <article class="row">
                            <div class="row__inner js-scr-sec">
                                <h5 class="title mb30 js-scr-box">2024 GRO Timeline</h5>
                                <div class="time-table">
                                    <ul>
                                        <li class="time-table__item js-scr-box">
                                            <div class="time-table__title">Web Submission Starts</div>
                                            <div class="time-table__date">June 24, 2023</div>
                                        </li>
                                        <li class="time-table__item js-scr-box">
                                            <div class="time-table__title">Submission Deadline</div>
                                            <div class="time-table__date">August 19, 2024 09:00 A.M. (Korea Standard Time, UTC+9)</div>
                                        </li>
                                        <li class="time-table__item js-scr-box">
                                            <div class="time-table__title">Final Results Announcement (via email)</div>
                                            <div class="time-table__date">November, 2024</div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="btn-wrap btn-wrap--tal mt30 js-scr-sec">
                                    <a href="javascript:;" class="apply_btn btn btn-default js-scr-box">
                                        <div class="btn-default__text btn-default__text--arrow">Apply</div>
                                    </a>
                                </div>
                                <div class="mt30 js-scr-sec">
                                    <strong class="gray js-scr-box">Research proposal is accepted ONLY via the GRO online submission site.</strong>
                                </div>
                            </div>
                        </article>
                        <article class="row">
                            <div class="row__inner js-scr-sec">
                                <h5 class="title mb30 js-scr-box">Submission</h5>
                                <p class="js-scr-box">Applicants shall submit the following document.</p>
                                <div class="mt30">
                                    <strong class="js-scr-box">Research Proposal</strong>
                                    <p class="mt10 js-scr-box">Proposal Guide & Format <a href="https://www.sait.samsung.co.kr/saithome/datefile/2024_Samsung_GRO_Proposal_Guide_and_Format.docx" class="btn btn-download-link" download>Download</a></p>
                                </div>
                            </div>
                        </article>
                        <article class="row">
                            <div class="row__inner js-scr-sec">
                                <h5 class="title mb30 js-scr-box">Research Themes</h5>
                                <p class="js-scr-box">
                                    2024 GRO Program is seeking proposals in Six(6) research themes.<br />
                                    Details are described in the description documents and other themes are also welcome.
                                </p>
                                <div class="down-list mt40">
                                    <div class="down-list__row js-scr-sec">
                                        <div class="down-list__title">
                                            <span class="js-scr-box">Machine Intelligence</span>
                                        </div>
                                        <div class="down-list__wrap">
                                            <ul>
                                                <li class="js-scr-box">
                                                    <p>Beyond Transformer/Future AI</p>
                                                    <a href="../datefile/1-1_Beyond_Transformer_Future_AI_GRO_CFP.docx" download="" class="btn btn-download-link">Download</a>
                                                </li>
                                                <li class="js-scr-box">
                                                    <p>Semicon. Manufacturing Infrastructure using ML</p>
                                                    <a href="../datefile/1-2_Semicon._Manufacturing_Infrastructure_using_ML_GRO_CFP.docx" download="" class="btn btn-download-link">Download</a>
                                                </li>
                                                <li class="js-scr-box">
                                                    <p>Semicon. Metrology and Inspection using ML</p>
                                                    <a href="../1-3_Semicon._Metrology_and_Inspection_using_ML_GRO_CFP.docx" download="" class="btn btn-download-link">Download</a>
                                                </li>
                                                <li class="js-scr-box">
                                                    <p>LLM/SLMs in Optimal Control and Reliability Assurance Methods for Utility Supply Systems</p>
                                                    <a href="../datefile/1-4_LLMSLMs_in_Optimal_Control_and_Reliability_Assurance_GRO_CFP.docx" download="" class="btn btn-download-link">Download</a>
                                                </li>
                                                <li class="js-scr-box">
                                                    <p>Fluid analysis using ML</p>
                                                    <a href="../datefile/1-5_Fluid_Analysis_using_ML_GRO_CFP.docx" download="" class="btn btn-download-link">Download</a>
                                                </li>
                                                <li class="js-scr-box">
                                                    <p>Noise Propagation using ML</p>
                                                    <a href="../datefile/1-6_Noise_Propagation_using_ML_GRO_CFP.docx" download="" class="btn btn-download-link">Download</a>
                                                </li>
                                                <li class="js-scr-box">
                                                    <p>Generative AI for nextG Cellular Communication</p>
                                                    <a href="../datefile/1-7_Generative_AI_for_nextG_cellular_Networks_GRO_CFP.docx" download="" class="btn btn-download-link">Download</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="down-list__row js-scr-sec">
                                        <div class="down-list__title">
                                            <span class="js-scr-box">Interconnect</span>
                                        </div>
                                        <div class="down-list__wrap">
                                            <ul>
                                                <li class="js-scr-box">
                                                    <p>Advanced Optical Interconnect and 3D Integration</p>
                                                    <a href="../datefile/2-1_Advanced_Optical_Interconnect_and_3D_Integration_GRO_CFP.docx" download="" class="btn btn-download-link">Download</a>
                                                </li>
                                                <li class="js-scr-box">
                                                    <p>Advanced Optical Coupling Strategies for Co-packaged Optics</p>
                                                    <a href="../datefile/2-2_Advanced_Optical_Coupling_Strategies_for_Co-packaged_Optics_GRO_CFP.docx" download="" class="btn btn-download-link">Download</a>
                                                </li>
                                                <li class="js-scr-box">
                                                    <p>Interconnect for chiplet systemdownload</p>
                                                    <a href="../datefile/2-3_Interconnect_for_Chiplet_system_GRO_CFP.docx" download="" class="btn btn-download-link">Download</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="down-list__row js-scr-sec">
                                        <div class="down-list__title">
                                            <span class="js-scr-box">Semiconductor Metrology</span>
                                        </div>
                                        <div class="down-list__wrap">
                                            <ul>
                                                <li class="js-scr-box">
                                                    <p>3D Metrology and Inspection for Critical Dimension and material analysis</p>
                                                    <a href="../datefile/3-1_3D_Metrology_and_Inspection_for_Critical_Dimension_and_material_analysis_GRO_CFP.docx" download="" class="btn btn-download-link">Download</a>
                                                </li>
                                                <li class="js-scr-box">
                                                    <p>New Metrology and Analytical Tech. for sub-5nm Liquid Particles</p>
                                                    <a href="../datefile/3-2_New_Metrology_and_Analytical_Tech_GRO_CFP.docx" download="" class="btn btn-download-link">Download</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="down-list__row js-scr-sec">
                                        <div class="down-list__title">
                                            <span class="js-scr-box">New Computing and Device</span>
                                        </div>
                                        <div class="down-list__wrap">
                                            <ul>
                                                <li class="js-scr-box">
                                                    <p>Cryogenic CMOS, Analog Circuit Design</p>
                                                    <a href="../datefile/4-1_Cryogenic_CMOS,_Analog_Circuit_Design_GRO_CFP.docx" download="" class="btn btn-download-link">Download</a>
                                                </li>
                                                <li class="js-scr-box">
                                                    <p>Beyond CMOS and emerging devices</p>
                                                    <a href="../datefile/4-2_Beyond_CMOS_and_emerging_devices_GRO_CFP.docx" download="" class="btn btn-download-link">Download</a>
                                                </li>
                                                <li class="js-scr-box">
                                                    <p>Efficient Computing Architectures and Devices</p>
                                                    <a href="../datefile/4-3_Efficient_Computing_Architectures_and_Devices_GRO_CFP.docx" download="" class="btn btn-download-link">Download</a>
                                                </li>
                                                <li class="js-scr-box">
                                                    <p>Digital Biomarkers</p>
                                                    <a href="../datefile/4-4_Digital_Biomarkers_Monitoring,_Interventions_of_Chronic_Health_Conditions_GRO_CFP.docx" download="" class="btn btn-download-link">Download</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="down-list__row js-scr-sec">
                                        <div class="down-list__title">
                                            <span class="js-scr-box">New Electronic Material</span>
                                        </div>
                                        <div class="down-list__wrap">
                                            <ul>
                                                <li class="js-scr-box">
                                                    <p>New Materials for Advanced Semiconductor Packaging</p>
                                                    <a href="../datefile/5-1_New_Materials_for_Advanced_Semiconductor_Packaging_GRO_CFP.docx" download="" class="btn btn-download-link">Download</a>
                                                </li>
                                                <li class="js-scr-box">
                                                    <p>Next-generation Electronic Materials</p>
                                                    <a href="../datefile/5-2_Next-generation_Electronic_Materials_GRO_CFP.docx" download="" class="btn btn-download-link">Download</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="down-list__row js-sec-sec">
                                        <div class="down-list__title">
                                            <span class="js-scr-box">Environment and Energy Tech. for Sustainability</span>
                                        </div>
                                        <div class="down-list__wrap">
                                            <ul>
                                                <li class="js-scr-box">
                                                    <p>Carbon Capture and Utilization</p>
                                                    <a href="../datefile/6-1_Carbon_Capture_and_Utilization_GRO_CFP.docx" download="" class="btn btn-download-link">Download</a>
                                                </li>
                                                <li class="js-scr-box">
                                                    <p>Industrial Gas Treatment</p>
                                                    <a href="../datefile/6-2_Industrial_Gas_Treatment_GRO_CFP.docx" download="" class="btn btn-download-link">Download</a>
                                                </li>
                                                <li class="js-scr-box">
                                                    <p>PFAS Treatment</p>
                                                    <a href="../datefile/6-3_PFAS_Treatment_GRO_CFP.docx" download="" class="btn btn-download-link">Download</a>
                                                </li>
                                                <li class="js-scr-box">
                                                    <p>Radiative Cooling</p>
                                                    <a href="../datefile/6-4_Radiative_Cooling_GRO_CFP.docx" download="" class="btn btn-download-link">Download</a>
                                                </li>
                                                <li class="js-scr-box">
                                                    <p>Sustainable Energy Management System</p>
                                                    <a href="../datefile/6-5_Sustainable_Energy_Management_System_GRO_CFP.docx" download="" class="btn btn-download-link">Download</a>
                                                </li>
                                                <li class="js-scr-box">
                                                    <p>High Temperature Co-Electrolysis</p>
                                                    <a href="../datefile/6-6_High_Temperature_Co-Electrolysis_GRO_CFP.docx" download="" class="btn btn-download-link">Download</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </section>
                <!-- //subContent-->

                <!-- subAside-->
                <aside id="relatedContents" class="js-scr-sec">
                    <div class="related__inner">
                        <div class="related__title">
                            <h1 class="js-scr-box">Related Contents</h1>
                            <span class="js-scr-box">Explore more related contents from SAIT!</span>
                        </div>
                        <div class="related_wrap">
                            <article class="js-scr-box">
                                <a href="https://www.sait.samsung.co.kr/saithome/about/who.do">
                                    <h1>Who We Are</h1>
                                </a>
                            </article>
                            <article class="js-scr-box">
                                <a href="https://www.sait.samsung.co.kr/saithome/research/what.do">
                                    <h1>What We Do</h1>
                                </a>
                            </article>
                        </div>
                    </div>
                </aside>
                <!-- //subAside-->
            </section>
            <!-- //container-->

            <!-- footer -->

            <%- include("../include/sub_footer.html") %>
            <div id="gnbDimmed" class="dimmed"></div>

            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123575008-1"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag() {
                    dataLayer.push(arguments);
                }
                gtag('js', new Date());

                gtag('config', 'UA-167217135-1');
            </script>
            <!-- //footer -->
        </div>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/TweenMax/TweenMax.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/TweenMax/easing/EasePack.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/design_common.js"></script>
    </body>
</html>
