<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- 공통적용헤더정보 -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <!-- //공통적용헤더정보 -->
        <link rel="stylesheet" href="https://www.sait.samsung.co.kr/saithome/stylesheets/css/common.css" />
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/jquery-1.8.2.min.js"></script>
        <!--[if lt IE 9]><script src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/html5shiv.min.js"></script><![endif]-->
        <!--[if lt IE 10]><script src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/placeholders.min.js"></script><![endif]-->
        <meta name="Keywords" content="SAIT, Samsung Advanced Institute of Technology, 삼성종합기술원, 삼성전자 종합기술원, Samsung research, Samsung R&amp;D, Samsung future technology, R&amp;D, Autonomoucs Driving, Graphene, New materials, QD, Quantum Dot" />
        <title>History of Progress | Samsung Advanced Institute of Technology</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
        <meta name="Description" content="History of Progress | Samsung Advanced Institute of Technology" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="History of Progress | Samsung Advanced Institute of Technology" />
        <meta property="og:description" content="History of Progress | Samsung Advanced Institute of Technology" />
        <meta property="og:image" content="" />
        <meta property="og:url" content="" />
        <meta property="og:site_name" content="Samsung Advanced Institute of Technology" />
        <meta name="Author" content="Samsung Advanced Institute of Technology" />
        <meta name="robots" content="ALL" />
        <%- include("../include/sub_head.html") %>
    </head>
    <body>
        <div id="wrap" role="main">
            <!-- header-->
            <%- include("../include/sub_header.html") %>
            <!-- //header-->

            <!-- container-->
            <section id="container" class="about">
                <!-- subLocation-->
                <div id="subLocation">
                    <div class="location_box">
                        <ul class="location_list">
                            <li class="home"><a href="https://www.sait.samsung.co.kr/saithome/main/main.do">main page</a></li>
                            <li class="depth1">
                                <button type="button">About SAIT</button>
                                <ul class="under_depth">
                                    <li><a href="https://www.sait.samsung.co.kr/saithome/about/who.do">About SAIT</a></li>
                                    <li><a href="https://www.sait.samsung.co.kr/saithome/research/what.do">Research Areas</a></li>
                                    <li><a href="https://www.sait.samsung.co.kr/saithome/about/press.do">News & Events</a></li>
                                    <li><a href="https://www.sait.samsung.co.kr/saithome/join/application.do">Join Us</a></li>
                                </ul>
                            </li>
                            <li class="depth2">
                                <button type="button">History of Progress</button>
                                <ul class="under_depth">
                                    <li><a href="https://www.sait.samsung.co.kr/saithome/about/who.do">Who We Are</a></li>
                                    <li><a href="https://www.sait.samsung.co.kr/saithome/about/history.do" class="active">History of Progress</a></li>
                                    <li><a href="https://www.sait.samsung.co.kr/saithome/about/labs.do">Global Labs</a></li>
                                    <li><a href="https://www.sait.samsung.co.kr/saithome/about/collabo_overview.do">Global Collaboration</a></li>
                                    <li><a href="https://www.sait.samsung.co.kr/saithome/about/social.do">Social Engagement</a></li>
                                    <!--
                                <li><a href="https://www.sait.samsung.co.kr/saithome/about/press.do" >Press</a></li>
                                -->
                                    <li><a href="https://www.sait.samsung.co.kr/saithome/about/contact.do">Contact us</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- //subLocation-->

                <!-- subContent-->
                <section id="content" class="history">
                    <div id="subTitle" class="js-scr-sec">
                        <h4 class="js-scr-box">History of Progress</h4>
                    </div>
                    <div class="contents_wrap">
                        <div id="subTab" class="js-scr-sec">
                            <ul class="js-scr-box">
                                <li><a href="https://www.sait.samsung.co.kr/saithome/about/history.do" class="active">Major Events</a></li>
                                <li><a href="https://www.sait.samsung.co.kr/saithome/about/history.do?searchType=R">Major Research Achievements</a></li>
                            </ul>
                        </div>
                        <div class="history_wrap js-scr-sec">
                            <article class="js-scr-box">
                                <h1>2021</h1>

                                <dl>
                                    <dt>9</dt>
                                    <dd>Carbon Capture Research Institute newly established</dd>
                                </dl>
                            </article>
                            <article class="js-scr-box">
                                <h1>2019</h1>

                                <dl>
                                    <dt>1</dt>
                                    <dd>Particulate Matter Research Institute newly established</dd>
                                </dl>
                            </article>
                            <article class="js-scr-box">
                                <h1>2018</h1>

                                <dl>
                                    <dt>10</dt>
                                    <dd>AI&SW Research Center newly established</dd>
                                </dl>
                            </article>
                            <article class="js-scr-box">
                                <h1>2014</h1>

                                <dl>
                                    <dt>3</dt>
                                    <dd>SAIT moved to Suwon research complex for research synergy</dd>
                                </dl>
                            </article>
                            <article class="js-scr-box">
                                <h1>2011</h1>

                                <dl>
                                    <dt>12</dt>
                                    <dd>World class 8" Fab for nano-scale research inaugurated</dd>
                                </dl>
                            </article>
                            <article class="js-scr-box">
                                <h1>2010</h1>

                                <dl>
                                    <dt>9</dt>
                                    <dd>New research culture announced at SAIT aiming to achieve status as a global top-rank research center</dd>
                                </dl>
                                <dl>
                                    <dt>7</dt>
                                    <dd>Common, interdisciplinary materials research infrastructure established</dd>
                                </dl>
                            </article>
                            <article class="js-scr-box">
                                <h1>2009</h1>

                                <dl>
                                    <dt>7</dt>
                                    <dd>New SAIT vision, "Changing the World through Creative Research", announced</dd>
                                </dl>
                            </article>
                            <article class="js-scr-box">
                                <h1>2008</h1>

                                <dl>
                                    <dt>5</dt>
                                    <dd>SAIT merged into SEC and reorganized as the Samsung Advanced Institute of Technology</dd>
                                </dl>
                            </article>
                            <article class="js-scr-box">
                                <h1>2005</h1>

                                <dl>
                                    <dt>10</dt>
                                    <dd>Asian MAKE Award conferred on SAIT for excellence in knowledge management</dd>
                                </dl>
                            </article>
                            <article class="js-scr-box">
                                <h1>2004</h1>

                                <dl>
                                    <dt>11</dt>
                                    <dd>First Samsung Conference held discussing future technology trends with invited global experts</dd>
                                </dl>
                            </article>
                            <article class="js-scr-box">
                                <h1>2002</h1>

                                <dl>
                                    <dt>1</dt>
                                    <dd>Samsung Fellow and Master systems introduced for formal recognition of research excellence</dd>
                                </dl>
                            </article>
                            <article class="js-scr-box">
                                <h1>2001</h1>

                                <dl>
                                    <dt>11</dt>
                                    <dd>First annual Samsung Tech Fair, sharing Samsung's innovative new technology, is held</dd>
                                </dl>
                                <dl>
                                    <dt>3</dt>
                                    <dd>SEC central research center, Yokohama research center merged with SAIT</dd>
                                </dl>
                            </article>
                            <article class="js-scr-box">
                                <h1>1999</h1>

                                <dl>
                                    <dt>11</dt>
                                    <dd>SAIT R&D Standard Process activated</dd>
                                </dl>
                            </article>
                            <article class="js-scr-box">
                                <h1>1998</h1>

                                <dl>
                                    <dt>3</dt>
                                    <dd>Specialized HR system for R&D introduced</dd>
                                </dl>
                            </article>
                            <article class="js-scr-box">
                                <h1>1997</h1>

                                <dl>
                                    <dt>5</dt>
                                    <dd>SAIT's long-term development plan established</dd>
                                </dl>
                            </article>
                            <article class="js-scr-box">
                                <h1>1992</h1>

                                <dl>
                                    <dt>4</dt>
                                    <dd>SAIT Supercomputer installed for high level research in structural and electronic engineering</dd>
                                </dl>
                            </article>
                            <article class="js-scr-box">
                                <h1>1989</h1>

                                <dl>
                                    <dt>6</dt>
                                    <dd>Computer Aided Engineering introduced as a key R&D methodology</dd>
                                </dl>
                            </article>
                            <article class="js-scr-box">
                                <h1>1987</h1>

                                <dl>
                                    <dt>10</dt>
                                    <dd>SAIT founded as Samsung Group's R&D Hub</dd>
                                </dl>
                            </article>
                        </div>
                    </div>
                </section>
                <!-- //subContent-->

                <!-- subAside-->
                <aside id="relatedContents" class="js-scr-sec">
                    <div class="related__inner">
                        <div class="related__title">
                            <h1 class="js-scr-box">Related Contents</h1>
                            <span class="js-scr-box">Explore more related contents from SAIT!</span>
                        </div>
                        <div class="related_wrap">
                            <article class="js-scr-box">
                                <a href="https://www.sait.samsung.co.kr/saithome/about/history.do">
                                    <h1>History of Progress <i></i></h1>
                                </a>
                            </article>
                            <article class="js-scr-box">
                                <a href="https://www.sait.samsung.co.kr/saithome/about/labs.do">
                                    <h1>Global Labs <i></i></h1>
                                </a>
                            </article>
                        </div>
                    </div>
                </aside>
                <!-- //subAside-->
            </section>
            <!-- //container-->

            <!-- footer -->
            <%- include("../include/sub_footer.html") %>
            <div id="gnbDimmed" class="dimmed"></div>

            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123575008-1"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag() {
                    dataLayer.push(arguments);
                }
                gtag('js', new Date());

                gtag('config', 'UA-167217135-1');
            </script>
            <!-- //footer -->
            <div id="gnbDimmed" class="dimmed"></div>
        </div>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/TweenMax/TweenMax.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/TweenMax/easing/EasePack.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/design_common.js"></script>
    </body>
</html>
