<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- 공통적용헤더정보 -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <!-- //공통적용헤더정보 -->
        <link rel="stylesheet" href="https://www.sait.samsung.co.kr/saithome/stylesheets/css/common.css" />
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/jquery-1.8.2.min.js"></script>
        <!--[if lt IE 9]><script src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/html5shiv.min.js"></script><![endif]-->
        <!--[if lt IE 10]><script src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/placeholders.min.js"></script><![endif]-->
        <meta name="Keywords" content="SAIT, Samsung Advanced Institute of Technology, 삼성종합기술원, 삼성전자 종합기술원, Samsung research, Samsung R&amp;D, Samsung future technology, R&amp;D, Autonomoucs Driving, Graphene, New materials, QD, Quantum Dot" />
        <title>Samsung Demonstrates the World’s First MRAM Based In-Memory Computing | Samsung Advanced Institute of Technology</title>
        <meta
            name="Description"
            content="Samsung Electronics research in making next generation AI semiconductors with MRAM technology published in Nature SEOUL, Korea Jan. 13, 2022 Samsung Electronics Co., Ltd., a world leader in advanced semiconductor technology, today announced its demonstration of the worlds first in-memory computing b... | Samsung Advanced Institute of Technology"
        />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Samsung Demonstrates the World’s First MRAM Based In-Memory Computing | Samsung Advanced Institute of Technology" />
        <meta
            property="og:description"
            content="Samsung Electronics research in making next generation AI semiconductors with MRAM technology published in Nature SEOUL, Korea Jan. 13, 2022 Samsung Electronics Co., Ltd., a world leader in advanced semiconductor technology, today announced its demonstration of the worlds first in-memory computing b...  | Samsung Advanced Institute of Technology"
        />
        <meta property="og:image" content="" />
        <meta property="og:url" content="" />
        <meta property="og:site_name" content="Samsung Advanced Institute of Technology" />
        <meta name="Author" content="Samsung Advanced Institute of Technology" />
        <meta name="robots" content="ALL" />
        <%- include("../include/sub_head.html") %>
    </head>
    <body>
        <div id="wrap" role="main">
            <!-- header-->
            <%- include("../include/sub_header.html") %>
            <!-- //header-->

            <!-- container-->
            <section id="container" class="about">
                <!-- subLocation-->
                <div id="subLocation">
                    <div class="location_box">
                        <ul class="location_list">
                            <li class="home"><a href="/pc/index.html">main page</a></li>
                            <li class="depth1">
                                <button type="button">News & Events</button>
                                <ul class="under_depth">
                                    <li><a href="/pc/about/who.html">About SAIT</a></li>
                                    <li><a href="/pc/research/what.html">Research Areas</a></li>
                                    <li><a href="/pc/about/press.html">News & Events</a></li>
                                    <li><a href="/pc/join/application.html">Join Us</a></li>
                                </ul>
                            </li>
                            <li class="depth2">
                                <button type="button">Press</button>
                                <ul class="under_depth">
                                    <li><a href="/pc/about/press.html" class="active">Press</a></li>
                                    <li><a href="/pc/event/saif2023.html">AI Forum</a></li>
                                    <li><a href="/pc/event/aiResearcher.html">AI Researcher of the Year</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- //subLocation-->

                <!-- subContent-->
                <section id="content" class="press_view view_page">
                    <div class="content__container">
                        <div id="subTitle" class="js-scr-sec">
                            <h4 class="js-scr-box">Samsung Demonstrates the World’s First MRAM Based In-Memory Computing</h4>
                            <time datetime="2022-01-13" class="js-scr-box">2022.01.13</time>
                        </div>
                        <article class="row">
                            <div class="row__inner js-scr-sec">
                                <div class="txt_wrap js-scr-box" style="word-break: break-word">
                                    <p style="text-align: center">
                                        <span style="font-size: 20px"
                                            ><em
                                                ><strong
                                                    >Samsung Electronics&rsquo; research in making next generation AI semiconductors<br />
                                                    with MRAM technology published in &#39;Nature&rsquo;</strong
                                                ></em
                                            ></span
                                        >
                                    </p>

                                    <p align="center">&nbsp;</p>

                                    <p>
                                        <strong>SEOUL, Korea &ndash; Jan. 13, 2022 &ndash; </strong>Samsung Electronics Co., Ltd., a world leader in advanced semiconductor technology, today announced its demonstration of the world&#39;s first in-memory computing based on MRAM (Magnetoresistive
                                        Random Access Memory). The paper on this innovation was published online by <em>Nature</em> on January 12 (GMT), and is set to be published in the upcoming print edition of <em>Nature</em>. Titled
                                        <a href="https://www.nature.com/articles/s41586-021-04196-6">&lsquo;A crossbar array of magnetoresistive memory devices for in-memory computing&rsquo;</a><a href="#_ftn1" name="_ftnref1">[1]</a>, this paper showcases Samsung&rsquo;s leadership in memory
                                        technology and its effort to merge memory and system semiconductors for next-generation artificial intelligence (AI) chips.
                                    </p>

                                    <p>&nbsp;</p>

                                    <p>
                                        The research was led by Samsung Advanced Institute of Technology (SAIT) in close collaboration with Samsung Electronics Foundry Business and Semiconductor R&amp;D Center. The first author of the paper, Dr. Seungchul Jung, Staff Researcher at SAIT, and the
                                        co-corresponding authors Dr. Donhee Ham, Fellow of SAIT and Professor of Harvard University, and Dr. Sang Joon Kim, Vice President of Technology at SAIT, spearheaded the research.
                                    </p>

                                    <p>&nbsp;</p>

                                    <p>In the standard computer architecture, data is stored in memory chips and data computing is executed in separate processor chips.</p>

                                    <p>&nbsp;</p>

                                    <p>
                                        In contrast, in-memory computing is a new computing paradigm that seeks to perform both data storage and data computing in a memory network. Since this scheme can process a large amount of data stored within the memory network itself without having to move the
                                        data, and also because the data processing in the memory network is executed in a highly parallel manner, power consumption is substantially reduced. In-memory computing has thus emerged as one of the promising technologies to realize next-generation low-power
                                        AI semiconductor chips.
                                    </p>

                                    <p>&nbsp;</p>

                                    <p>
                                        For this reason, research on in-memory computing has been intensely pursued worldwide. Non-volatile memories, in particular RRAM (resistive memory) and PRAM (phase-change memory), have been actively used for demonstrating in-memory computing. By contrast, it
                                        has so far been difficult to use MRAM ─ another type of non-volatile memory ─ for in-memory computing despite MRAM&rsquo;s merits such as operation speed, endurance, and large-scale production. This difficulty stems from the low resistance of MRAM, due to
                                        which MRAM cannot enjoy the power reduction advantage when used in the standard in-memory computing architecture.
                                    </p>

                                    <p>&nbsp;</p>

                                    <p><img alt="" src="https://img.global.news.samsung.com/global/wp-content/uploads/2022/01/MRAM_In-memory_computing_main1.jpg" /></p>

                                    <p style="text-align: center">
                                        <span style="font-size: 16px"><span style="font-family: nskl">▲ (From left) Dr. Donhee Ham, Fellow of SAIT and Professor of Harvard University, Dr. Seungchul Jung, Staff Researcher at SAIT and</span></span>
                                    </p>

                                    <p style="text-align: center">
                                        <span style="font-size: 16px"><span style="font-family: nskl">Dr. Sang Joon Kim, Vice President of Technology at SAIT</span></span>
                                    </p>

                                    <p>&nbsp;</p>

                                    <p>
                                        The Samsung Electronics researchers have provided a solution to this issue by an architectural innovation. Concretely, they succeeded in developing an MRAM array chip that demonstrates in-memory computing, by replacing the standard, &lsquo;current-sum&rsquo;
                                        in-memory computing architecture with a new, &lsquo;resistance sum&rsquo; in-memory computing architecture, which addresses the problem of small resistances of individual MRAM devices.
                                    </p>

                                    <p>&nbsp;</p>

                                    <p>
                                        Samsung&rsquo;s research team subsequently tested the performance of this MRAM in-memory computing chip by running it to perform AI computing. The chip achieved an accuracy of 98&#37; in classification of hand-written digits and a 93&#37; accuracy in detecting
                                        faces from scenes.
                                    </p>

                                    <p>&nbsp;</p>

                                    <p>
                                        By ushering MRAM ─ the memory which has already reached commercial-scale production embedded in the system semiconductor fabrication ─ into the realm of in-memory computing, this work expands the frontier of the next-generation low-power AI chip technologies.
                                    </p>

                                    <p>&nbsp;</p>

                                    <p>
                                        The researchers have also suggested that not only can this new MRAM chip be used for in-memory computing, but it also can serve as a platform to download biological neuronal networks, along the line of the neuromorphic electronics vision Samsung recently put
                                        forward in a perspective paper published in the September 2021 issue of the journal <em>Nature Electronics</em>.
                                    </p>

                                    <p>&nbsp;</p>

                                    <p>
                                        "In-memory computing draws similarity to the brain in the sense that in the brain, computing also occurs within the network of biological memories, or synapses, the points where neurons touch one another,&rdquo; said Dr. Seungchul Jung, the first author of the
                                        paper. &ldquo;In fact, while the computing performed by our MRAM network for now has a different purpose from the computing performed by the brain, such solid-state memory network may in the future be used as a platform to mimic the brain by modelling the
                                        brain&rsquo;s synapse connectivity."
                                    </p>

                                    <p>&nbsp;</p>

                                    <p>As highlighted in this work, by building on its leading memory technology and merging it with system semiconductor technology, Samsung plans to continue to expand its leadership in next-generation computing and AI semiconductors.</p>

                                    <p>&nbsp;</p>

                                    <p>Source : <a href="https://news.samsung.com/global/samsung-demonstrates-the-worlds-first-mram-based-in-memory-computing">https://news.samsung.com/global/samsung-demonstrates-the-worlds-first-mram-based-in-memory-computing</a></p>

                                    <div>
                                        &nbsp;
                                        <hr align="left" size="1" width="33&#37;" />
                                        <div id="ftn1">
                                            <p><a href="#_ftnref1" name="_ftn1">[1]</a>&nbsp;<a href="https://www.nature.com/articles/s41586-021-04196-6">https://www.nature.com/articles/s41586-021-04196-6</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div id="contentLink" class="js-scr-sec">
                                    <div class="prev_link js-scr-box">
                                        <a href="/pc/about/press_view.html">
                                            <span>Samsung hires a world-renowned Supercomputer expert</span>
                                            <i></i>
                                        </a>
                                    </div>

                                    <div class="next_link js-scr-box">
                                        <a href="/pc/about/press_view.html">
                                            <span>Samsung Electronics Puts Forward a Vision To ‘Copy and Paste’ the Brain on Neuromorphic Chips</span>
                                            <i></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="list_link js-scr-sec">
                                    <a href="/pc/about/press.html" class="btn btn-default js-scr-box"> <span class="btn-default__text">LIST</span></a>
                                </div>
                            </div>
                        </article>
                    </div>
                </section>
                <!-- //subContent-->

                <!-- subAside-->
                <aside id="relatedContents" class="js-scr-sec">
                    <div class="related__inner">
                        <div class="related__title">
                            <h1 class="js-scr-box">Related Contents</h1>
                            <span class="js-scr-box">Explore more related contents from SAIT!</span>
                        </div>
                        <div class="related_wrap">
                            <article class="js-scr-box">
                                <a href="/pc/about/history.html">
                                    <h1>History Of Progress</h1>
                                </a>
                            </article>
                            <article class="js-scr-box">
                                <a href="/pc/about/labs.html">
                                    <h1>Global Labs</h1>
                                </a>
                            </article>
                        </div>
                    </div>
                </aside>
                <!-- //subAside-->
            </section>
            <!-- //container-->

            <!-- footer -->
            <%- include("../include/sub_footer.html") %>
            <div id="gnbDimmed" class="dimmed"></div>

            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123575008-1"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag() {
                    dataLayer.push(arguments);
                }
                gtag('js', new Date());

                gtag('config', 'UA-167217135-1');
            </script>
            <!-- //footer -->
        </div>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/TweenMax/TweenMax.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/TweenMax/easing/EasePack.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/design_common.js"></script>
    </body>
</html>
