<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- 공통적용헤더정보 -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <!-- //공통적용헤더정보 -->
        <link rel="stylesheet" href="https://www.sait.samsung.co.kr/saithome/mobile/stylesheets/css/common.css" />
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/jquery-1.8.2.min.js"></script>
        <meta name="Keywords" content="SAIT, Samsung Advanced Institute of Technology, 삼성종합기술원, 삼성전자 종합기술원, Samsung research, Samsung R&amp;D, Samsung future technology, R&amp;D, Autonomoucs Driving, Graphene, New materials, QD, Quantum Dot" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
        <title>Join us | Samsung Advanced Institute of Technology</title>
        <meta name="Description" content="Join us | Samsung Advanced Institute of Technology" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Join us | Samsung Advanced Institute of Technology" />
        <meta property="og:description" content="Join us | Samsung Advanced Institute of Technology" />
        <meta property="og:image" content="" />
        <meta property="og:url" content="" />
        <meta property="og:site_name" content="Samsung Advanced Institute of Technology" />
        <meta name="Author" content="Samsung Advanced Institute of Technology" />
        <meta name="robots" content="ALL" />
        <%- include("../include/sub_head.html") %>
    </head>
    <body>
        <div id="wrap" role="main">
            <!-- header-->
            <%- include("../include/sub_header.html") %>
            <!-- //header-->

            <!-- container-->
            <section id="container" class="join">
                <!-- subVisual-->
                <div id="subVisual">
                    <img src="https://www.sait.samsung.co.kr/saithome/mobile/images/join/join_visual.jpg" alt="" />
                    <div class="tit_wrap">
                        <h3>
                            <span> Changing the World through<br />Creative Research </span>
                        </h3>
                    </div>
                </div>
                <!-- //subVisual-->

                <!-- subContent-->
                <section id="content" class="application">
                    <div class="content__container">
                        <article class="row">
                            <div class="row__inner js-scr-sec">
                                <div id="subTitle" class="js-scr-sec">
                                    <h4 class="js-scr-box">Recruiting Process</h4>
                                </div>
                                <h5 class="title mb30 js-scr-box">How to Apply</h5>
                                <p class="js-scr-box">SAIT is looking for highly creative people to lead the future. The institute's world-class lab facilities and broad scope of research provides a rich environment for conducting cutting-edge scientific and technological innovation.</p>
                            </div>
                        </article>
                        <article class="row row--mt40 js-scr-sec">
                            <div class="row__inner js-scr-sec">
                                <div class="rprocess">
                                    <ul>
                                        <li class="js-scr-box">
                                            <div class="rprocess__inner">
                                                <div class="rprocess__figure">
                                                    <img src="../../resources/assets/images/sub/recruit_process_01.svg" alt="" />
                                                </div>
                                                <div class="rprocess__content">
                                                    <div class="rprocess__num">01</div>
                                                    <div class="rprocess__tit">Application</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="js-scr-box">
                                            <div class="rprocess__inner">
                                                <div class="rprocess__figure">
                                                    <img src="../../resources/assets/images/sub/recruit_process_02.svg" alt="" />
                                                </div>
                                                <div class="rprocess__content">
                                                    <div class="rprocess__num">02</div>
                                                    <div class="rprocess__tit">Application Review</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="js-scr-box">
                                            <div class="rprocess__inner">
                                                <div class="rprocess__figure">
                                                    <img src="../../resources/assets/images/sub/recruit_process_03.svg" alt="" />
                                                </div>
                                                <div class="rprocess__content">
                                                    <div class="rprocess__num">03</div>
                                                    <div class="rprocess__tit">Phone Interview</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="js-scr-box">
                                            <div class="rprocess__inner">
                                                <div class="rprocess__figure">
                                                    <img src="../../resources/assets/images/sub/recruit_process_04.svg" alt="" />
                                                </div>
                                                <div class="rprocess__content">
                                                    <div class="rprocess__num">04</div>
                                                    <div class="rprocess__tit">Technical Interview</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="js-scr-box">
                                            <div class="rprocess__inner">
                                                <div class="rprocess__figure">
                                                    <img src="../../resources/assets/images/sub/recruit_process_05.svg" alt="" />
                                                </div>
                                                <div class="rprocess__content">
                                                    <div class="rprocess__num">05</div>
                                                    <div class="rprocess__tit">Executive Interview</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="js-scr-box">
                                            <div class="rprocess__inner">
                                                <div class="rprocess__figure">
                                                    <img src="../../resources/assets/images/sub/recruit_process_06.svg" alt="" />
                                                </div>
                                                <div class="rprocess__content">
                                                    <div class="rprocess__num">06</div>
                                                    <div class="rprocess__tit">Medical Check-up</div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </article>
                        <article class="row row--mt40">
                            <div class="row__inner js-scr-sec">
                                <ul class="sub-list">
                                    <li class="js-scr-box">
                                        <div class="small-title mb5">Application Review</div>
                                        <p class="fs-16">Job matching review of research areas, knowledge & skills and job experience.</p>
                                    </li>
                                    <li class="js-scr-box">
                                        <div class="small-title mb5">Phone Interview</div>
                                        <p class="fs-16">Initial interview to learn more about your skills and experience.</p>
                                    </li>
                                    <li class="js-scr-box">
                                        <div class="small-title mb5">Technical Interview</div>
                                        <p class="fs-16">Presentation of research achievements, work experiences, technical areas of expertise, and in-depth technical discussions.</p>
                                    </li>
                                    <li class="js-scr-box">
                                        <div class="small-title mb5">Executive Interview</div>
                                        <p class="fs-16">Questions about personal values for career, growth potential, organizational, communication and interpersonal skills.</p>
                                    </li>
                                    <li class="js-scr-box">
                                        <div class="contact-box"><span>Contact</span><a href="mailto:jobinfo@samsung.com">jobinfo@samsung.com</a></div>
                                    </li>
                                </ul>
                            </div>
                        </article>
                        <div class="btn-wrap mt40 js-scr-sec">
                            <a href="mailto:jobinfo@samsung.com" class="btn btn-default js-scr-box">
                                <span class="btn-default__text btn-default__text--arrow">Apply</span>
                            </a>
                        </div>
                    </div>
                </section>
                <!-- //subContent-->

                <!-- subAside-->
                <aside id="relatedContents" class="js-scr-sec">
                    <div class="related__inner">
                        <div class="related__title">
                            <h1 class="js-scr-box">Related Contents</h1>
                            <span class="js-scr-box">Explore more related contents from SAIT!</span>
                        </div>
                        <div class="related_wrap">
                            <article class="js-scr-box">
                                <a href="https://www.sait.samsung.co.kr/saithome/mobile/about/history.do">
                                    <h1>History Of Progress</h1>
                                </a>
                            </article>
                            <article class="js-scr-box">
                                <a href="https://www.sait.samsung.co.kr/saithome/mobile/about/labs.do">
                                    <h1>Global Labs</h1>
                                </a>
                            </article>
                        </div>
                    </div>
                </aside>
                <!-- //subAside-->
            </section>
            <!-- //container-->

            <!-- footer -->

            <%- include("../include/sub_footer.html") %>

            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123575008-1"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag() {
                    dataLayer.push(arguments);
                }
                gtag('js', new Date());

                gtag('config', 'UA-167217135-1');
            </script>

            <!-- //footer -->
            <div id="gnbDimmed" class="dimmed"></div>
        </div>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/lib/TweenMax/TweenMax.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/lib/TweenMax/easing/EasePack.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/design_common.js"></script>
    </body>
</html>
