@charset "UTF-8";
@font-face {
    font-family: 'SamsungOneKR';
    src: local(※),
            url(../fonts/SamsungOneKorean-200.woff2) format("woff2"),
            url(../fonts/SamsungOneKorean-200.woff) format("woff");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SamsungOneKR';
    src: local(※),
            url(../fonts/SamsungOneKorean-300.woff2) format("woff2"),
            url(../fonts/SamsungOneKorean-300.woff) format("woff");
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'SamsungOneKR';
    src: local(※),
            url(../fonts/SamsungOneKorean-400.woff2) format("woff2"),
            url(../fonts/SamsungOneKorean-400.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SamsungOneKR';
    src: local(※),
            url(../fonts/SamsungOneKorean-500.woff2) format("woff2"),
            url(../fonts/SamsungOneKorean-500.woff) format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SamsungOneKR';
    src: local(※),
            url(../fonts/SamsungOneKorean-600.woff2) format("woff2"),
            url(../fonts/SamsungOneKorean-600.woff) format("woff");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SamsungOneKR';
    src: local(※),
            url(../fonts/SamsungOneKorean-700.woff2) format("woff2"),
            url(../fonts/SamsungOneKorean-700.woff) format("woff");
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'SamsungSharpSans';
    src: local(※),
            url(../fonts/samsungsharpsans.woff2) format("woff2"),
            url(../fonts/samsungsharpsans.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SamsungSharpSans';
    src: local(※),
            url(../fonts/samsungsharpsans-medium.woff2) format("woff2"),
            url(../fonts/samsungsharpsans-medium.woff) format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SamsungSharpSans';
    src: local(※),
            url(../fonts/samsungsharpsans-bold.woff2) format("woff2"),
            url(../fonts/samsungsharpsans-bold.woff) format("woff");
    font-weight: 700;
    font-style: normal;
}