<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- 공통적용헤더정보 -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <!-- //공통적용헤더정보 -->
        <link rel="stylesheet" href="https://www.sait.samsung.co.kr/saithome/stylesheets/css/common.css" />
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/jquery-1.8.2.min.js"></script>
        <!--[if lt IE 9]><script src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/html5shiv.min.js"></script><![endif]-->
        <!--[if lt IE 10]><script src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/placeholders.min.js"></script><![endif]-->
        <meta name="Keywords" content="SAIT, Samsung Advanced Institute of Technology, 삼성종합기술원, 삼성전자 종합기술원, Samsung research, Samsung R&amp;D, Samsung future technology, R&amp;D, Autonomoucs Driving, Graphene, New materials, QD, Quantum Dot" />

        <title>Samsung AI Forum 2022 | Samsung Advanced Institute of Technology</title>
        <meta name="Description" content="Samsung AI Forum 2022 | Samsung Advanced Institute of Technology" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Samsung AI Forum 2022 | Samsung Advanced Institute of Technology" />
        <meta property="og:description" content="Samsung AI Forum 2022 | Samsung Advanced Institute of Technology" />
        <meta property="og:image" content="" />
        <meta property="og:url" content="" />
        <meta property="og:site_name" content="Samsung Advanced Institute of Technology" />
        <meta name="Author" content="Samsung Advanced Institute of Technology" />
        <meta name="robots" content="ALL" />
        <%- include("../include/sub_head.html") %>
    </head>
    <body>
        <!-- <script>
            if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                location.replace('/saithome/mobile/event/saif2024.do');
            } else {
            }

            function ssifRefresh() {
                location.reload();
            }
        </script> -->

        <div id="wrap" role="main">
            <!-- header-->
            <%- include("../include/sub_header.html") %>
            <!-- //header-->

            <!-- container-->
            <section id="container" class="forum f2022">
                <!-- subVisual-->
                <div id="subVisual"></div>
                <!-- //subVisual-->

                <!-- subLocation-->
                <div id="subLocation">
                    <div class="location_box">
                        <ul class="location_list">
                            <li class="home"><a href="../index.html">main page</a></li>
                            <li class="depth1">
                                <button type="button">News & Events</button>
                                <ul class="under_depth">
                                    <li><a href="../about/who.html">About SAIT</a></li>
                                    <li><a href="../research/what.html">Research Areas</a></li>
                                    <li><a href="../about/press.html">News & Events</a></li>
                                    <li><a href="../join/application.html">Join Us</a></li>
                                </ul>
                            </li>
                            <li class="depth2">
                                <button type="button">AI Forum</button>
                                <ul class="under_depth">
                                    <li><a href="../about/press.html">Press</a></li>
                                    <li><a href="../event/saif2023.html" class="active">AI Forum</a></li>
                                    <li><a href="../event/aiResearcher.html">AI Researcher of the Year</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- //subLocation-->

                <!-- subContent-->
                <section id="content" class="forum f2021 renew2024">
                    <div class="content__container">
                        <div id="subTitle" class="subTitle forum js-scr-sec">
                            <h4 class="js-scr-box" style="margin-bottom: 20px">
                                ‘Samsung AI Forum 2024’<br />
                                will be held on November 4th(KST).
                            </h4>
                            <h5 class="sm_title js-scr-box">More details will be announced in October. Please stay tuned for updates!</h5>
                        </div>
                        <div class="nav_group">
                            <a href="../event/saif2023.html" class="prev_ev">Samsung AI Forum 2023</a>
                        </div>
                        <article class="row">
                            <div class="row__inner">
                                <div class="infobox js-scr-sec">
                                    <div class="inner">
                                        <div class="ttx js-scr-box">
                                            <span>Participants</span>
                                            <p>Anyone with an interest in A.I. technology including undergraduate and graduate students, university faculty members, researchers, and etc.</p>
                                        </div>
                                        <div class="ttx js-scr-box">
                                            <span>Date</span>
                                            <p>November 4 (Mon.) 10:00 (KST, UTC+9)</p>
                                        </div>
                                        <div class="ttx js-scr-box">
                                            <span>Location</span>
                                            <p>Suwon Convention Center</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="row">
                            <div class="row__inner js-scr-sec">
                                <p class="fw-bold js-scr-box">For more questions, Please contact below.</p>
                                <div class="contbox js-scr-sec">
                                    <div class="inner cont js-scr-box">
                                        <h4>Contact us</h4>
                                        <div class="contbox__row"><span class="contbox__title">E-mail</span><a href="javascript:;">ai.forum@samsung.com</a></div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </section>
                <!-- //subContent-->

                <!-- subAside-->
                <aside id="relatedContents" class="js-scr-sec">
                    <div class="related__inner">
                        <div class="related__title">
                            <h1 class="js-scr-box">Related Contents</h1>
                            <span class="js-scr-box">Explore more related contents from SAIT!</span>
                        </div>
                        <div class="related_wrap">
                            <article class="js-scr-box">
                                <a href="../about/press_view.html">
                                    <h1>News</h1>
                                </a>
                            </article>
                            <article class="js-scr-box">
                                <a href="../event/aiResearcher.html">
                                    <h1>AI Researcher of the Year</h1>
                                </a>
                            </article>
                        </div>
                    </div>
                </aside>
                <!-- //subAside-->

                <!-- //container-->

                <!-- footer -->

                <%- include("../include/sub_footer.html") %>
                <div id="gnbDimmed" class="dimmed"></div>

                <!-- Global site tag (gtag.js) - Google Analytics -->
                <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123575008-1"></script>
                <script>
                    window.dataLayer = window.dataLayer || [];
                    function gtag() {
                        dataLayer.push(arguments);
                    }
                    gtag('js', new Date());

                    gtag('config', 'UA-167217135-1');
                </script>
            </section>
            <!-- //footer -->
        </div>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/TweenMax/TweenMax.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/TweenMax/easing/EasePack.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/design_common.js"></script>
    </body>
</html>
