<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- 공통적용헤더정보 -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <!-- //공통적용헤더정보 -->
        <link rel="stylesheet" href="https://www.sait.samsung.co.kr/saithome/stylesheets/css/common.css" />
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/jquery-1.8.2.min.js"></script>
        <!--[if lt IE 9]><script src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/html5shiv.min.js"></script><![endif]-->
        <!--[if lt IE 10]><script src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/placeholders.min.js"></script><![endif]-->
        <meta name="Keywords" content="SAIT, Samsung Advanced Institute of Technology, 삼성종합기술원, 삼성전자 종합기술원, Samsung research, Samsung R&amp;D, Samsung future technology, R&amp;D, Autonomoucs Driving, Graphene, New materials, QD, Quantum Dot" />

        <title>Samsung AI Forum 2019 | Samsung Advanced Institute of Technology</title>
        <meta name="Description" content="Samsung AI Forum 2019 | Samsung Advanced Institute of Technology" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Samsung AI Forum 2019 | Samsung Advanced Institute of Technology" />
        <meta property="og:description" content="Samsung AI Forum 2019 | Samsung Advanced Institute of Technology" />
        <meta property="og:image" content="" />
        <meta property="og:url" content="" />
        <meta property="og:site_name" content="Samsung Advanced Institute of Technology" />
        <meta name="Author" content="Samsung Advanced Institute of Technology" />
        <meta name="robots" content="ALL" />
        <%- include("../include/sub_head.html") %>
    </head>
    <body>
        <!-- <script>
            if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                location.replace('/saithome/mobile/event/saif2019.do');
            } else {
            }

            function ssifRefresh() {
                location.reload();
            }
        </script> -->

        <div id="wrap" role="main">
            <!-- header-->
            <%- include("../include/sub_header.html") %>
            <!-- //header-->

            <!-- container-->
            <section id="container" class="forum f2019">
                <%- include("../include/subLocation.ejs", {depth1: "News & Events", pageTitle: "AI Forum"}) %>

                <!-- subContent-->
                <section id="content" class="forum f2019">
                    <div class="content__container">
                        <div id="subTitle" class="subTitle forum js-scr-sec">
                            <h4 class="js-scr-box">Samsung AI Forum 2019</h4>
                        </div>
                        <div class="nav_group">
                            <a href="../event/saif2018.html" class="prev_ev">Samsung AI Forum 2018</a>
                            <a href="../event/saif2020.html" class="next_ev">Samsung AI Forum 2020</a>
                        </div>

                        <div id="subTab" class="js-scr-sec col2">
                            <ul class="js-scr-box">
                                <li><a href="#" class="active">Day1</a></li>
                                <li>
                                    <a href="https://research.samsung.com/2019saif" target="_blank" onclick="ssifRefresh();">Day2</a>
                                </li>
                            </ul>
                        </div>
                        <article class="row">
                            <div class="row__inner">
                                <div class="infobox js-scr-sec">
                                    <div class="inner">
                                        <div class="ttx js-scr-box">
                                            <span>Date</span>
                                            <p>2019. 11. 4(Mon.) 9:00~17:40</p>
                                        </div>
                                        <div class="ttx js-scr-box">
                                            <span>Venue </span>
                                            <p>5F Multipurpose Hall, Seocho Office, Samsung Electronics</p>
                                        </div>
                                        <div class="ttx-group">
                                            <div class="ttx ttx--speaker">
                                                <span class="js-scr-box">Speaker</span>

                                                <a href="https://mila.quebec/en/yoshua-bengio/" target="_blank" class="speaker js-scr-box">
                                                    <i><img src="https://www.sait.samsung.co.kr/saithome/images/event/19_sp_01.png" alt="" /></i>
                                                    <p>Yoshua Bengio</p>
                                                </a>

                                                <a href="https://people.eecs.berkeley.edu/~trevor" target="_blank" class="speaker js-scr-box">
                                                    <i><img src="https://www.sait.samsung.co.kr/saithome/images/event/19_sp_02.png" alt="" /></i>
                                                    <p>Trevor Darrell</p>
                                                </a>

                                                <a href="http://kyunghyuncho.me/" target="_blank" class="speaker js-scr-box">
                                                    <i><img src="https://www.sait.samsung.co.kr/saithome/images/event/19_sp_03.png" alt="" /></i>
                                                    <p>Kyunghyun Cho</p>
                                                </a>

                                                <a href="https://www.cs.utoronto.ca/~fidler/" target="_blank" class="speaker js-scr-box">
                                                    <i><img src="https://www.sait.samsung.co.kr/saithome/images/event/19_sp_04.png" alt="" /></i>
                                                    <p>Sanja Fidler</p>
                                                </a>
                                                <a href="http://www.cs.mcgill.ca/~jcheung" target="_blank" class="speaker js-scr-box">
                                                    <i><img src="https://www.sait.samsung.co.kr/saithome/images/event/19_sp_05.png" alt="" /></i>
                                                    <p>Jackie Cheung</p>
                                                </a>

                                                <a href="https://www.cs.princeton.edu/~jiadeng/" target="_blank" class="speaker js-scr-box">
                                                    <i><img src="https://www.sait.samsung.co.kr/saithome/images/event/19_sp_06.png" alt="" /></i>
                                                    <p>Jia Deng</p>
                                                </a>

                                                <a href="https://www.iro.umontreal.ca/~slacoste/" target="_blank" class="speaker js-scr-box">
                                                    <i><img src="https://www.sait.samsung.co.kr/saithome/images/event/19_sp_07.png" alt="" /></i>
                                                    <p>Simon Lacoste-Julien</p>
                                                </a>
                                                <a href="javascript:;" target="_blank" class="speaker js-scr-box" style="cursor: default">
                                                    <p></p>
                                                    <p></p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="row row--mt120">
                            <div class="row__inner">
                                <div class="js-scr-sec">
                                    <h3 class="js-scr-box">Programs</h3>
                                </div>

                                <div class="program_wrap js-scr-sec">
                                    <div class="program_array js-scr-box">
                                        <div class="time">
                                            <p>09:00 ~ 09:10</p>
                                        </div>
                                        <div class="detail">
                                            <p>
                                                <span class="bimpact">Kinam Kim | Vice Chairman of Samsung Electronics</span><br />
                                                <span class="impact">Opening Remarks</span>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="program_array js-scr-box">
                                        <div class="time">
                                            <p>09:10 ~ 10:00</p>
                                        </div>
                                        <div class="detail">
                                            <p>
                                                <span class="bimpact">Yoshua Bengio | University of Montreal</span><br />
                                                Towards Compositional Understanding of the World by Deep Learning
                                            </p>
                                            <a class="video_view" href="https://youtu.be/oeLFrvC03AQ" target="_blank"></a>
                                        </div>
                                    </div>

                                    <div class="program_array js-scr-box">
                                        <div class="time">
                                            <p>10:00 ~ 10:20</p>
                                        </div>
                                        <div class="detail">
                                            <p><span class="bimpact">Break &amp; Poster Session</span><br /></p>
                                        </div>
                                    </div>

                                    <div class="program_array js-scr-box">
                                        <div class="time">
                                            <p>10:20 ~ 11:10</p>
                                        </div>
                                        <div class="detail">
                                            <p>
                                                <span class="bimpact">Trevor Darrell | UC Berkeley</span><br />
                                                Adapting and Explaining Deep Learning for Autonomous Systems
                                            </p>
                                            <a class="video_view" href="https://youtu.be/IVg7or0jEGU" target="_blank"></a>
                                        </div>
                                    </div>

                                    <div class="program_array js-scr-box">
                                        <div class="time">
                                            <p>11:10 ~ 12:00</p>
                                        </div>
                                        <div class="detail">
                                            <p>
                                                <span class="bimpact">Kyunghyun Cho | New York University</span><br />
                                                Three Flavors of Neural Sequence Generation
                                            </p>
                                            <a class="video_view" href="https://youtu.be/pB0lIC6dtJc" target="_blank"></a>
                                        </div>
                                    </div>

                                    <div class="program_array js-scr-box">
                                        <div class="time">
                                            <p>12:00 ~ 13:20</p>
                                        </div>
                                        <div class="detail">
                                            <p><span class="bimpact">Lunch &amp; Poster Session</span><br /></p>
                                        </div>
                                    </div>

                                    <div class="program_array js-scr-box">
                                        <div class="time">
                                            <p>13:20 ~ 14:05</p>
                                        </div>
                                        <div class="detail">
                                            <p>
                                                <span class="bimpact">Sanja Fidler | University of Toronto</span><br />
                                                A.I. Data Factory for A.I.
                                            </p>
                                        </div>
                                    </div>

                                    <div class="program_array js-scr-box">
                                        <div class="time">
                                            <p>14:05 ~ 14:50</p>
                                        </div>
                                        <div class="detail">
                                            <p>
                                                <span class="bimpact">Jackie Cheung | McGill University</span><br />
                                                New Directions in Automatic Text Summarization
                                            </p>
                                            <a class="video_view" href="https://youtu.be/QxzO_S2LVPo" target="_blank"></a>
                                        </div>
                                    </div>

                                    <div class="program_array js-scr-box">
                                        <div class="time">
                                            <p>14:50 ~ 15:10</p>
                                        </div>
                                        <div class="detail">
                                            <p><span class="bimpact">Break &amp; Poster Session</span></p>
                                        </div>
                                    </div>

                                    <div class="program_array js-scr-box">
                                        <div class="time">
                                            <p>15:10 ~ 15:55</p>
                                        </div>
                                        <div class="detail">
                                            <p>
                                                <span class="bimpact">Jia Deng | Princeton University</span><br />
                                                Toward Building a General Cognitive Architecture
                                            </p>
                                        </div>
                                    </div>

                                    <div class="program_array js-scr-box">
                                        <div class="time">
                                            <p>15:55 ~ 16:40</p>
                                        </div>
                                        <div class="detail">
                                            <p>
                                                <span class="bimpact">Simon Lacoste-Julien | Vice President of SAIT AI Lab. Montreal</span><br />
                                                New Perspectives on Generative Adversarial Networks
                                            </p>
                                            <a class="video_view" href="https://youtu.be/UvJvE26mDio" target="_blank"></a>
                                        </div>
                                    </div>

                                    <div class="program_array js-scr-box">
                                        <div class="time">
                                            <p>16:40 ~ 17:20</p>
                                        </div>
                                        <div class="detail">
                                            <p>
                                                <span class="bimpact">Moderator : Simon Lacoste-Julien | Vice President of SAIT AI Lab. Montreal</span><br />
                                                <span class="impact">Panel Discussion</span>
                                            </p>
                                            <a class="video_view" href="https://youtu.be/9V2aRR0u9v4" target="_blank"></a>
                                        </div>
                                    </div>

                                    <div class="program_array js-scr-box">
                                        <div class="time">
                                            <p>17:20 ~ 17:40</p>
                                        </div>
                                        <div class="detail">
                                            <p>
                                                <span class="bimpact">Sungwoo Hwang | Deputy President of SAIT</span><br />
                                                <span class="impact">Poster Session Awards / Closing Remarks </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="row row--mt120">
                            <div class="row__inner">
                                <div class="js-scr-sec">
                                    <h3 class="js-scr-box">Gallery</h3>
                                </div>

                                <div class="gallery_wrap">
                                    <div class="image01 image_group" id="image01">
                                        <h1 class="gallery first js-scr-sec">
                                            <span class="js-scr-box">Invited Talk</span>
                                        </h1>
                                        <div class="gallery_grid js-scr-sec">
                                            <div class="gallery_array js-scr-box">
                                                <img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g01_01.jpg" alt="" />
                                            </div>

                                            <div class="gallery_array js-scr-box">
                                                <img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g01_02.jpg" alt="" />
                                            </div>

                                            <div class="gallery_array js-scr-box">
                                                <img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g01_03.jpg" alt="" />
                                            </div>

                                            <div class="gallery_array js-scr-box">
                                                <img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g01_04.jpg" alt="" />
                                            </div>

                                            <div class="gallery_array js-scr-box">
                                                <img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g01_05.jpg" alt="" />
                                            </div>

                                            <div class="gallery_array js-scr-box">
                                                <img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g01_06.jpg" alt="" />
                                            </div>

                                            <div class="gallery_array js-scr-box">
                                                <img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g01_07.jpg" alt="" />
                                            </div>

                                            <div class="gallery_array js-scr-box">
                                                <img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g01_08.jpg" alt="" />
                                            </div>

                                            <div class="gallery_array js-scr-box">
                                                <img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g01_09.jpg" alt="" />
                                            </div>

                                            <div class="gallery_array js-scr-box">
                                                <img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g01_10.jpg" alt="" />
                                            </div>

                                            <div class="gallery_array js-scr-box">
                                                <img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g01_11.jpg" alt="" />
                                            </div>

                                            <div class="gallery_array js-scr-box">
                                                <img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g01_13.jpg" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="image02 image_group" id="image02">
                                        <h1 class="gallery js-scr-sec">
                                            <span class="js-scr-box">Panel Discussion<span> </span></span>
                                        </h1>
                                        <div class="gallery_grid js-scr-sec">
                                            <div class="gallery_array js-scr-box">
                                                <img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g02_01.jpg" alt="" />
                                            </div>

                                            <div class="gallery_array js-scr-box">
                                                <img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g02_02.jpg" alt="" />
                                            </div>

                                            <div class="gallery_array js-scr-box">
                                                <img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g02_03.jpg" alt="" />
                                            </div>

                                            <div class="gallery_array js-scr-box">
                                                <img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g02_04.jpg" alt="" />
                                            </div>

                                            <div class="gallery_array js-scr-box">
                                                <img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g02_05.jpg" alt="" />
                                            </div>

                                            <div class="gallery_array js-scr-box">
                                                <img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g02_06.jpg" alt="" />
                                            </div>

                                            <div class="gallery_array js-scr-box">
                                                <img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g02_07.jpg" alt="" />
                                            </div>

                                            <div class="gallery_array js-scr-box">
                                                <img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g02_08.jpg" alt="" />
                                            </div>

                                            <div class="gallery_array js-scr-box">
                                                <img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g02_09.jpg" alt="" />
                                            </div>

                                            <div class="gallery_array js-scr-box">
                                                <img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g02_10.jpg" alt="" />
                                            </div>

                                            <div class="gallery_array js-scr-box">
                                                <img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g02_11.jpg" alt="" />
                                            </div>

                                            <div class="gallery_array js-scr-box">
                                                <img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g02_12.jpg" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="image03 image_group" id="image03">
                                        <h1 class="gallery js-scr-sec">
                                            <span class="js-scr-box">Poster Session &amp; Exhibition<span> </span></span>
                                        </h1>
                                        <div class="gallery_grid js-scr-sec">
                                            <div class="gallery_array js-scr-box">
                                                <img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g03_01.jpg" alt="" />
                                            </div>

                                            <div class="gallery_array js-scr-box">
                                                <img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g03_02.jpg" alt="" />
                                            </div>

                                            <div class="gallery_array js-scr-box">
                                                <img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g03_03.jpg" alt="" />
                                            </div>

                                            <div class="gallery_array js-scr-box">
                                                <img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g03_04.jpg" alt="" />
                                            </div>

                                            <div class="gallery_array js-scr-box">
                                                <img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g03_05.jpg" alt="" />
                                            </div>

                                            <div class="gallery_array js-scr-box">
                                                <img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g03_06.jpg" alt="" />
                                            </div>

                                            <div class="gallery_array js-scr-box">
                                                <img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g03_07.jpg" alt="" />
                                            </div>

                                            <div class="gallery_array js-scr-box">
                                                <img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g03_08.jpg" alt="" />
                                            </div>

                                            <div class="gallery_array js-scr-box">
                                                <img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g03_09.jpg" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="image04 image_group" id="image04">
                                        <h1 class="gallery js-scr-sec">
                                            <span class="js-scr-box">Sketches<span> </span></span>
                                        </h1>
                                        <div class="gallery_grid js-scr-sec">
                                            <div class="gallery_array js-scr-box">
                                                <img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g04_01.jpg" alt="" />
                                            </div>

                                            <div class="gallery_array js-scr-box">
                                                <img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g04_02.jpg" alt="" />
                                            </div>

                                            <div class="gallery_array js-scr-box">
                                                <img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g04_03.jpg" alt="" />
                                            </div>

                                            <div class="gallery_array js-scr-box">
                                                <img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g04_04.jpg" alt="" />
                                            </div>

                                            <div class="gallery_array js-scr-box">
                                                <img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g04_05.jpg" alt="" />
                                            </div>

                                            <div class="gallery_array js-scr-box">
                                                <img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g04_06.jpg" alt="" />
                                            </div>

                                            <div class="gallery_array js-scr-box">
                                                <img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g04_07.jpg" alt="" />
                                            </div>

                                            <div class="gallery_array js-scr-box">
                                                <img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g04_09.jpg" alt="" />
                                            </div>

                                            <div class="gallery_array js-scr-box">
                                                <img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g04_10.jpg" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>

                    <!-- Gallery -->

                    <div class="dimmed0">
                        <div class="popup" id="p_image01">
                            <div class="wrap">
                                <ul class="image slider-for">
                                    <li><img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g01_01.jpg" alt="" /></li>
                                    <li><img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g01_02.jpg" alt="" /></li>
                                    <li><img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g01_03.jpg" alt="" /></li>
                                    <li><img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g01_04.jpg" alt="" /></li>
                                    <li><img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g01_05.jpg" alt="" /></li>
                                    <li><img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g01_06.jpg" alt="" /></li>
                                    <li><img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g01_07.jpg" alt="" /></li>
                                    <li><img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g01_08.jpg" alt="" /></li>
                                    <li><img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g01_09.jpg" alt="" /></li>
                                    <li><img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g01_10.jpg" alt="" /></li>
                                    <li><img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g01_11.jpg" alt="" /></li>
                                    <li><img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g01_13.jpg" alt="" /></li>
                                </ul>
                                <div class="close_btn"><img src="https://www.sait.samsung.co.kr/saithome/images/event/close_btn.png" /></div>

                                <div class="arrow_btn">
                                    <span class="next"><img src="https://www.sait.samsung.co.kr/saithome/images/event/arrow_btn.png" /></span>
                                    <span class="prev"><img src="https://www.sait.samsung.co.kr/saithome/images/event/arrow_btn.png" /></span>
                                </div>
                            </div>
                        </div>
                        <div class="popup" id="p_image02">
                            <div class="wrap">
                                <ul class="image slider-for">
                                    <li><img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g02_01.jpg" alt="" /></li>
                                    <li><img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g02_02.jpg" alt="" /></li>
                                    <li><img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g02_03.jpg" alt="" /></li>
                                    <li><img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g02_04.jpg" alt="" /></li>
                                    <li><img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g02_05.jpg" alt="" /></li>
                                    <li><img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g02_06.jpg" alt="" /></li>
                                    <li><img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g02_07.jpg" alt="" /></li>
                                    <li><img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g02_08.jpg" alt="" /></li>
                                    <li><img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g02_09.jpg" alt="" /></li>
                                    <li><img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g02_10.jpg" alt="" /></li>
                                    <li><img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g02_11.jpg" alt="" /></li>
                                    <li><img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g02_12.jpg" alt="" /></li>
                                </ul>
                                <div class="close_btn"><img src="https://www.sait.samsung.co.kr/saithome/images/event/close_btn.png" /></div>

                                <div class="arrow_btn">
                                    <span class="next"><img src="https://www.sait.samsung.co.kr/saithome/images/event/arrow_btn.png" /></span>
                                    <span class="prev"><img src="https://www.sait.samsung.co.kr/saithome/images/event/arrow_btn.png" /></span>
                                </div>
                            </div>
                        </div>
                        <div class="popup" id="p_image03">
                            <div class="wrap">
                                <ul class="image slider-for">
                                    <li><img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g03_01.jpg" alt="" /></li>
                                    <li><img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g03_02.jpg" alt="" /></li>
                                    <li><img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g03_03.jpg" alt="" /></li>
                                    <li><img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g03_04.jpg" alt="" /></li>
                                    <li><img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g03_05.jpg" alt="" /></li>
                                    <li><img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g03_06.jpg" alt="" /></li>
                                    <li><img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g03_07.jpg" alt="" /></li>
                                    <li><img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g03_08.jpg" alt="" /></li>
                                    <li><img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g03_09.jpg" alt="" /></li>
                                </ul>
                                <div class="close_btn"><img src="https://www.sait.samsung.co.kr/saithome/images/event/close_btn.png" /></div>

                                <div class="arrow_btn">
                                    <span class="next"><img src="https://www.sait.samsung.co.kr/saithome/images/event/arrow_btn.png" /></span>
                                    <span class="prev"><img src="https://www.sait.samsung.co.kr/saithome/images/event/arrow_btn.png" /></span>
                                </div>
                            </div>
                        </div>
                        <div class="popup" id="p_image04">
                            <div class="wrap">
                                <ul class="image slider-for">
                                    <li><img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g04_01.jpg" alt="" /></li>
                                    <li><img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g04_02.jpg" alt="" /></li>
                                    <li><img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g04_03.jpg" alt="" /></li>
                                    <li><img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g04_04.jpg" alt="" /></li>
                                    <li><img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g04_05.jpg" alt="" /></li>
                                    <li><img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g04_06.jpg" alt="" /></li>
                                    <li><img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g04_07.jpg" alt="" /></li>
                                    <li><img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g04_09.jpg" alt="" /></li>
                                    <li><img src="https://www.sait.samsung.co.kr/saithome/images/event/19_g04_10.jpg" alt="" /></li>
                                </ul>
                                <div class="close_btn"><img src="https://www.sait.samsung.co.kr/saithome/images/event/close_btn.png" /></div>

                                <div class="arrow_btn">
                                    <span class="next"><img src="https://www.sait.samsung.co.kr/saithome/images/event/arrow_btn.png" /></span>
                                    <span class="prev"><img src="https://www.sait.samsung.co.kr/saithome/images/event/arrow_btn.png" /></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <link rel="stylesheet" href="https://www.sait.samsung.co.kr/saithome/javascripts/lib/slick/slick.css" />
                    <link rel="stylesheet" href="https://www.sait.samsung.co.kr/saithome/javascripts/lib/slick/slick-theme.css" />
                    <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/slick/slick.min.js"></script>
                    <script>
                        $(document).ready(function () {
                            $('.image_group .gallery_array').click(function () {
                                var $sliIds = $(this).parents('.image_group').attr('id');
                                var rsIds = '#p_' + $sliIds;
                                var rsSli_IDs = rsIds + ' ' + '.image';
                                var $clsbtn = $(rsSli_IDs).siblings('.close_btn');
                                var slideIndex = $(this).index();

                                $('body').css('overflow', 'hidden');
                                $('wrap').on('scroll touchmove mousewheel', function (event) {
                                    event.preventDefault();
                                    event.stopPropagation();
                                    return false;
                                });

                                $('.dimmed0').show();
                                $(rsIds).show();
                                $(rsSli_IDs).slick({
                                    dots: false,
                                    infinite: true,
                                    speed: 600,
                                    cssEase: 'linear',
                                    arrow: false,
                                    nextArrow: $('span.next'),
                                    prevArrow: $('span.prev'),
                                    initialSlide: slideIndex,
                                });

                                $clsbtn.click(function () {
                                    $('body').css('overflow', 'auto');
                                    $('.popup').hide();
                                    $('.dimmed0').hide();
                                    $(this).siblings('.image').slick('unslick');
                                });
                            });
                        });
                    </script>
                    <!--// Gallery -->
                </section>
                <!-- //subContent-->
            </section>
            <!-- subAside-->
            <aside id="relatedContents" class="js-scr-sec">
                <div class="related__inner">
                    <div class="related__title">
                        <h1 class="js-scr-box">Related Contents</h1>
                        <span class="js-scr-box">Explore more related contents from SAIT!</span>
                    </div>
                    <div class="related_wrap">
                        <article class="js-scr-box">
                            <a href="../about/press_view.html">
                                <h1>News</h1>
                            </a>
                        </article>
                        <article class="js-scr-box">
                            <a href="../event/saif2020.html">
                                <h1>AI Forum 2020</h1>
                            </a>
                        </article>
                    </div>
                </div>
            </aside>
            <!-- //subAside-->

            <!-- //container-->

            <!-- footer -->

            <%- include("../include/sub_footer.html") %>
            <div id="gnbDimmed" class="dimmed"></div>

            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123575008-1"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag() {
                    dataLayer.push(arguments);
                }
                gtag('js', new Date());

                gtag('config', 'UA-167217135-1');
            </script>
            <!-- //footer -->
        </div>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/TweenMax/TweenMax.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/TweenMax/easing/EasePack.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/design_common.js"></script>
    </body>
</html>
