<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- 공통적용헤더정보 -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <!-- //공통적용헤더정보 -->
        <link rel="stylesheet" href="https://www.sait.samsung.co.kr/saithome/stylesheets/css/common.css" />
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/jquery-1.8.2.min.js"></script>
        <!--[if lt IE 9]><script src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/html5shiv.min.js"></script><![endif]-->
        <!--[if lt IE 10]><script src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/placeholders.min.js"></script><![endif]-->
        <meta name="Keywords" content="SAIT, Samsung Advanced Institute of Technology, 삼성종합기술원, 삼성전자 종합기술원, Samsung research, Samsung R&amp;D, Samsung future technology, R&amp;D, Autonomoucs Driving, Graphene, New materials, QD, Quantum Dot" />

        <title>Samsung AI Forum 2017 | Samsung Advanced Institute of Technology</title>
        <meta name="Description" content="Samsung AI Forum 2017 | Samsung Advanced Institute of Technology" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Samsung AI Forum 2017 | Samsung Advanced Institute of Technology" />
        <meta property="og:description" content="Samsung AI Forum 2017 | Samsung Advanced Institute of Technology" />
        <meta property="og:image" content="" />
        <meta property="og:url" content="" />
        <meta property="og:site_name" content="Samsung Advanced Institute of Technology" />
        <meta name="Author" content="Samsung Advanced Institute of Technology" />
        <meta name="robots" content="ALL" />
        <%- include("../include/sub_head.html") %>
    </head>
    <body>
        <!-- <script>
            if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                location.replace('/saithome/mobile/event/saif2017.do');
            } else {
            }
        </script> -->

        <div id="wrap" role="main">
            <!-- header-->
            <%- include("../include/sub_header.html") %>
            <!-- //header-->

            <!-- container-->
            <section id="container" class="forum f2017">
                <!-- subVisual-->
                <div id="subVisual"></div>
                <!-- //subVisual-->
                <!-- subLocation-->
                <div id="subLocation">
                    <div class="location_box">
                        <ul class="location_list">
                            <li class="home"><a href="https://www.sait.samsung.co.kr/saithome/main/main.do">main page</a></li>
                            <li class="depth1">
                                <button type="button">News & Events</button>
                                <ul class="under_depth">
                                    <li><a href="https://www.sait.samsung.co.kr/saithome/about/who.do">About SAIT</a></li>
                                    <li><a href="https://www.sait.samsung.co.kr/saithome/research/what.do">Research Areas</a></li>
                                    <li><a href="https://www.sait.samsung.co.kr/saithome/about/press.do">News & Events</a></li>
                                    <li><a href="https://www.sait.samsung.co.kr/saithome/join/application.do">Join Us</a></li>
                                </ul>
                            </li>
                            <li class="depth2">
                                <button type="button">AI Forum</button>
                                <ul class="under_depth">
                                    <li><a href="https://www.sait.samsung.co.kr/saithome/about/press.do">Press</a></li>
                                    <li><a href="https://www.sait.samsung.co.kr/saithome/event/saif2023.do" class="active">AI Forum</a></li>
                                    <li><a href="https://www.sait.samsung.co.kr/saithome/event/aiResearcher.do">AI Researcher of the Year</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- //subLocation-->

                <!-- subContent-->
                <section id="content" class="forum f2017">
                    <div class="content__container">
                        <div id="subTitle" class="subTitle forum js-scr-sec">
                            <h4 class="js-scr-box">Samsung AI Forum 2017</h4>
                        </div>
                        <div class="nav_group">
                            <a href="./saif2018.do" class="next_ev">Samsung AI Forum 2018</a>
                        </div>
                        <div id="subTab" class="js-scr-sec col2">
                            <ul class="js-scr-box">
                                <li><a href="#" class="active">Day1</a></li>
                                <li><a href="https://research.samsung.com/2017saif" target="_blank">Day2</a></li>
                            </ul>
                        </div>
                        <article class="row">
                            <div class="row__inner">
                                <div class="infobox js-scr-sec">
                                    <div class="inner">
                                        <div class="ttx js-scr-box">
                                            <span>Date</span>
                                            <p>2017. 10. 19(Thu.) 9:00~17:30</p>
                                        </div>
                                        <div class="ttx js-scr-box">
                                            <span>Venue</span>
                                            <p>B2F Vision Hall, Samsung Finance Campus</p>
                                        </div>
                                        <div class="ttx-group">
                                            <div class="ttx ttx--speaker">
                                                <span class="js-scr-box">Speaker</span>
                                                <a href="https://mila.quebec/en/yoshua-bengio/" target="_blank" class="speaker js-scr-box">
                                                    <i><img src="https://www.sait.samsung.co.kr/saithome/images/event/17_sp_01.png" alt="" /></i>
                                                    <p>Yoshua Bengio</p>
                                                </a>
                                                <a href="https://researcher.watson.ibm.com/researcher/view.php?person=us-dgil" target="_blank" class="speaker js-scr-box">
                                                    <i><img src="https://www.sait.samsung.co.kr/saithome/images/event/17_sp_02.png" alt="" /></i>
                                                    <p>Dario Gil</p>
                                                </a>
                                                <a href="https://vectorinstitute.ai/team/richard-zemel/" target="_blank" class="speaker js-scr-box">
                                                    <i><img src="https://www.sait.samsung.co.kr/saithome/images/event/17_sp_03.png" alt="" /></i>
                                                    <p>Richard Zemel</p>
                                                </a>
                                                <a href="https://cs.nyu.edu/~fergus/pmwiki/pmwiki.php" target="_blank" class="speaker js-scr-box">
                                                    <i><img src="https://www.sait.samsung.co.kr/saithome/images/event/17_sp_04.png" alt="" /></i>
                                                    <p>Rob Fergus</p>
                                                </a>
                                                <a href="https://www.cs.mcgill.ca/~jcheung/" target="_blank" class="speaker js-scr-box">
                                                    <i><img src="https://www.sait.samsung.co.kr/saithome/images/event/17_sp_05.png" alt="" /></i>
                                                    <p>Jackie Cheung</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="row">
                            <div class="row__inner">
                                <div class="js-scr-sec">
                                    <h3 class="js-scr-box">Programs</h3>
                                </div>

                                <div class="program_wrap js-scr-sec">
                                    <div class="program_array js-scr-box">
                                        <div class="time">
                                            <p>09:00 ~ 09:10</p>
                                        </div>
                                        <div class="detail">
                                            <p>
                                                <span class="bimpact">Chilhee Chung | President of SAIT</span><br />
                                                <span class="impact">Opening Remarks</span>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="program_array js-scr-box">
                                        <div class="time">
                                            <p>09:10 ~ 10:00</p>
                                        </div>
                                        <div class="detail">
                                            <p>
                                                <span class="bimpact">Yoshua Bengio | University of Montreal</span><br />
                                                From Deep Learning of Disentangled Representations to Higher-Level Cognition
                                            </p>
                                        </div>
                                    </div>

                                    <div class="program_array js-scr-box">
                                        <div class="time">
                                            <p>10:00 ~ 10:50</p>
                                        </div>
                                        <div class="detail">
                                            <p>
                                                <span class="bimpact">Dario Gil | IBM Research</span><br />
                                                The Future of Hardware for AI
                                            </p>
                                        </div>
                                    </div>

                                    <div class="program_array js-scr-box">
                                        <div class="time">
                                            <p>10:50 ~ 11:10</p>
                                        </div>
                                        <div class="detail">
                                            <p><span class="bimpact">Break & Poster Session</span></p>
                                        </div>
                                    </div>

                                    <div class="program_array js-scr-box">
                                        <div class="time">
                                            <p>11:10 ~ 12:00</p>
                                        </div>
                                        <div class="detail">
                                            <p>
                                                <span class="bimpact">Rob Fergus | New York University</span><br />
                                                Intrinsic Motivation and Automatic Curricula
                                            </p>
                                        </div>
                                    </div>

                                    <div class="program_array js-scr-box">
                                        <div class="time">
                                            <p>12:00 ~ 14:00</p>
                                        </div>
                                        <div class="detail">
                                            <p><span class="bimpact">Lunch & Poster Session</span></p>
                                        </div>
                                    </div>

                                    <div class="program_array js-scr-box">
                                        <div class="time">
                                            <p>14:00 ~ 14:50</p>
                                        </div>
                                        <div class="detail">
                                            <p>
                                                <span class="bimpact">Richard Zemel | University of Toronto</span><br />
                                                Learning with Little Data
                                            </p>
                                        </div>
                                    </div>

                                    <div class="program_array js-scr-box">
                                        <div class="time">
                                            <p>14:50 ~ 15:50</p>
                                        </div>
                                        <div class="detail">
                                            <p>
                                                <span class="bimpact">Moderator : Eunsoo Shim | Vice President of SAIT</span><br />
                                                <span class="impact">Panel Discussion</span>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="program_array js-scr-box">
                                        <div class="time">
                                            <p>15:50 ~ 16:10</p>
                                        </div>
                                        <div class="detail">
                                            <p><span class="bimpact">Break & Poster Session</span></p>
                                        </div>
                                    </div>

                                    <div class="program_array js-scr-box">
                                        <div class="time">
                                            <p>16:10 ~ 17:00</p>
                                        </div>
                                        <div class="detail">
                                            <p>
                                                <span class="bimpact">Jackie Cheung | McGill University</span><br />
                                                Leveraging External Knowledge for Machine Comprehension of Text
                                            </p>
                                        </div>
                                    </div>

                                    <div class="program_array js-scr-box">
                                        <div class="time">
                                            <p>17:00 ~ 17:20</p>
                                        </div>
                                        <div class="detail">
                                            <p>
                                                <span class="bimpact">Eunsoo Shim | Vice President of SAIT</span><br />
                                                AI Research in SAIT
                                            </p>
                                        </div>
                                    </div>

                                    <div class="program_array js-scr-box">
                                        <div class="time">
                                            <p>17:20 ~ 17:30</p>
                                        </div>
                                        <div class="detail">
                                            <p>
                                                <span class="bimpact"> Sungwoo Hwang | Senior Vice President of SAIT</span><br />
                                                <span class="impact"> Closing Remarks</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </section>
            </section>
            <!-- //subContent-->

            <!-- subAside-->
            <aside id="relatedContents" class="js-scr-sec">
                <div class="related__inner">
                    <div class="related__title">
                        <h1 class="js-scr-box">Related Contents</h1>
                        <span class="js-scr-box">Explore more related contents from SAIT!</span>
                    </div>
                    <div class="related_wrap">
                        <article class="js-scr-box">
                            <a href="https://www.sait.samsung.co.kr/saithome/about/press_view.do?new_seq=1116">
                                <h1>News</h1>
                            </a>
                        </article>
                        <article class="js-scr-box">
                            <a href="https://www.sait.samsung.co.kr/saithome/event/saif2020.do">
                                <h1>AI Forum 2020</h1>
                            </a>
                        </article>
                    </div>
                </div>
            </aside>
            <!-- //subAside-->

            <!-- //container-->

            <!-- footer -->

            <%- include("../include/sub_footer.html") %>
            <div id="gnbDimmed" class="dimmed"></div>

            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123575008-1"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag() {
                    dataLayer.push(arguments);
                }
                gtag('js', new Date());

                gtag('config', 'UA-167217135-1');
            </script>
            <!-- //footer -->
        </div>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/TweenMax/TweenMax.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/TweenMax/easing/EasePack.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/design_common.js"></script>
    </body>
</html>
