<!DOCTYPE html>
<html lang="en">
<head>
  	<!-- 공통적용헤더정보 -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<!-- //공통적용헤더정보 -->
	<link rel="stylesheet" href="https://www.sait.samsung.co.kr/saithome/mobile/stylesheets/css/common.css">
	<script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/jquery-1.8.2.min.js"></script>
	<meta name="Keywords" content="SAIT, Samsung Advanced Institute of Technology, 삼성종합기술원, 삼성전자 종합기술원, Samsung research, Samsung R&amp;D, Samsung future technology, R&amp;D, Autonomoucs Driving, Graphene, New materials, QD, Quantum Dot">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<title>AI Algorithms | Samsung Advanced Institute of Technology</title>
	<meta name="Description" content="AI Algorithms | Samsung Advanced Institute of Technology">
	<meta property="og:type" content="website">
	<meta property="og:title" content="AI Algorithms | Samsung Advanced Institute of Technology">
	<meta property="og:description" content="AI Algorithms | Samsung Advanced Institute of Technology">
	<meta property="og:image" content="">
	<meta property="og:url" content="">
	<meta property="og:site_name" content="Samsung Advanced Institute of Technology">
	<meta name="Author" content="Samsung Advanced Institute of Technology">
	<meta name="robots" content="ALL">
    <%- include("../include/sub_head.html") %>
</head>
<body>
<div id="wrap" role="main">
	<!-- header-->
	<%- include("../include/sub_header.html") %>
	<!-- //header-->

	<!-- container-->
	<section id="container" class="research research-2024">
        <!-- subVisual-->
        <div id="subVisual">
	<img src="https://www.sait.samsung.co.kr/saithome/mobile/images/research/research_visual.jpg" alt="">
	<div class="tit_wrap">
		<h3>
			<span>
				Changing the World through<br>Creative Research
			</span>
		</h3>
	</div>
</div>
        <!-- //subVisual-->

		<!-- subContent-->
                <section id="content" class="world_research">
					<div class="research-2024">
						<div id="subTitle" class="js-scr-sec">
                            <h4 class="js-scr-box">AI Algorithms</h4>
                            <p class="js-scr-box">
                                We conduct fundamental research on various machine learning algorithms as well as computer vision and language understanding, and apply them to build industrial AI solutions in the fields of semiconductor manufacturing, materials discovery, and autonomous machine.
                            </p>
                        </div>

                        <!--third-tab-->
                        <div class="third_depth_titbox js-scr-sec">
                            <p class="tit js-scr-box">AI Algorithms</p>
                            <p class="desc js-scr-box">Understanding users and environments with human-level intelligence</p>
                        </div>
						<div class="art-content">
							
							<div>
								<div class="js-scr-sec"><img alt="AI Algorithms" class="js-scr-box" src="./mobile/images/2024/ai_visual.jpg" /></div>
	
								<div class="contents_wrap">
									<div class="contents_box contents_box--pt0 js-scr-sec">
										<div class="contents-box__wrap contents-box__wrap--nobd contents-box__wrap--pt0">
											<div class="contents-box__row">
												<p class="js-scr-box">
													<strong>AI for Semiconductor Manufacturing</strong>We are transforming semiconductor R&D and manufacturing processes using cutting-edge AI technologies such as deep learning and generative AI. This AI-based transformation is creating fundamental
													changes across a range of areas, from chip design to process development, yield optimization, metrology & inspection, fab monitoring and automation, as well as customer and business environment analysis and decision making.
												</p>
											</div>
											<div class="contents-box__row contents-box__row--mt50">
												<img alt="AI for Semiconductor Manufacturing" class="js-scr-box" src="./mobile/images/2024/ai_img_01.jpg" />
											</div>
											<div class="subTab-rt subTab-rt--mt">
												<div class="custom-select">
													<button type="button" class="custom-select__button">LLM</button>
													<ul>
														<li><button type="button">LLM</button></li>
														<li><button type="button">MMFM</button></li>
														<li><button type="button">Customer & Enterprise Planning</button></li>
														<li><button type="button">Design</button></li>
														<li><button type="button">Process</button></li>
														<li><button type="button">Metrology & Inspection</button></li>
														<li>
															<button type="button">Manufacturing&#10;<small>(Yield analysis, Anomaly &#10; detection, Optimization)</small></button>
														</li>
														<li><button type="button">Data Management</button></li>
														<li><button type="button">FMOps</button></li>
													</ul>
												</div>
												<!-- <select>
													<option value="" selected>LLM</option>
													<option value="">MMFM</option>
													<option value="">Customer & Enterprise Planning</option>
													<option value="">Design</option>
													<option value="">Process</option>
													<option value="">Metrology & Inspection</option>
													<option value="">Manufacturing&#10;<small>(Yield analysis, Anomaly &#10; detection, Optimization)</small></option>
													<option value="">Data Management</option>
													<option value="">FMOps</option>
												</select> -->
											</div>
											<script>
												$(function () {
													$('.research-2024 .custom-select > button').on('click', function () {
														$(this).parents('.custom-select').toggleClass('active');
													});
													$('.research-2024 .custom-select ul button').on('click', function () {
														let index = $(this).parents('li').index();
														let text = $(this).text();
														$(this).parents('.custom-select').removeClass('active');
														$(this).parents('.custom-select').find('.custom-select__button').text(text);
														$('.tab-box .tab-box__container').eq(index).addClass('active').siblings().removeClass('active');
													});
													$(document).on('click', function (e) {
														if (!$(e.target).parents().hasClass('custom-select')) {
															$('.research-2024 .custom-select').removeClass('active');
														}
													});
												});
											</script>
											<div class="tab-box js-scr-sec">
												<div class="js-scr-box js-motion-end" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0)">
													<div class="tab-box__container active">
														<p class="tab-contents">
															<strong>LLM</strong> Large Language Model (LLM) is a key inference engine that can be used in all semiconductor manufacturing and development fields by learning semiconductor knowledge and reasoning capabilities from various text data such as
															semiconductor reports, papers, patents, technical reports, etc., as well as general text data. It aims to assist semiconductor engineers and automate the entire manufacturing process.
														</p>
													</div>
													<div class="tab-box__container">
														<p class="tab-contents">
															<strong>MMFM</strong>A Multi-Modal Foundation Model (MMFM) is an advanced type of artificial intelligence that can process and integrate multiple type of data, such as documents, images, text, chart, table, and sensor data. These models are
															useful for semiconductor manufacturing and development, because they can help with tasks such as defect reasoning, quality control, design optimization and data analysis.
														</p>
													</div>
													<div class="tab-box__container">
														<p class="tab-contents">
															<strong>Customer &amp; Enterprise Planning</strong>AI innovation is needed to support critical decision-making in sales and customer response. AI can analyze customer quality data to prioritize response strategies and efficiently handle tasks
															related to customer issues. It also can analyze knowledge about the semiconductor industry to identify demand patterns and establish marketing strategies by predicting future purchase demand.
														</p>
													</div>
													<div class="tab-box__container">
														<p class="tab-contents">
															<strong>Design</strong>Semiconductor design is a complex and time-consuming task that requires significant investment, and AI technology can maximize its efficiency. AI can quickly analyze large volumes of design data, optimize and solve
															complex problems that arise during the design process, and perform tasks such as reproducing defects through problem analysis on a scale beyond human limitations. This can greatly improve productivity in the fast-paced industry of design and
															enhance product quality.
														</p>
													</div>
													<div class="tab-box__container">
														<p class="tab-contents">
															<strong>Process</strong>We maximize the efficiency of semiconductor R&amp;D by applying AI technology. By identifying and optimizing potential problems throughout the process, we can reduce the lead time of process development. And by
															developing AI models that reflect the physical and chemical knowledge of the process, we can improve the performance of the final product even with small sample data.
														</p>
													</div>
													<div class="tab-box__container">
														<p class="tab-contents">
															<strong>Metrology &amp; Inspection</strong>To measure and inspect the increasingly complex and smaller semiconductor structures, AI models are utilizing various inputs such as Scanning Electron Microscopy, Optic Microscopy, Atomic Force
															Microscopy, X-Ray, Ellipsometry, and Time-series Data to predict 3D structures and detect defects. Ultimately, AI technology is utilized to predict structures and defects using all data from the semiconductor manufacturing process, control
															factors causing defects, and improve the process.
														</p>
													</div>
													<div class="tab-box__container">
														<p class="tab-contents">
															<strong>Manufacturing <br /><small>(Yield analysis, Anomaly detection, Optimization)</small></strong
															>We apply deep learning to semiconductor manufacturing for automated detection of potential faults, process optimization and yield prediction &amp; analysis to maximize manufacturing performance. Our research topics in semiconductor
															manufacturing include Machine Learning, Deep Learning, Anomaly Detection, Explainable AI, Bayesian Optimization, Large Language Model, and Data Engineering/Science.
														</p>
													</div>
													<div class="tab-box__container">
														<p class="tab-contents">
															<strong>Data Management</strong>Data management is one of the toughest hurdles in bringing advanced AI algorithms to the industry. Working closely with experts in the field, we are actively developing technologies to enable AI to handle every
															aspect of the data process, from collection and cleansing to processing and usage, by AI themselves.
														</p>
													</div>
													<div class="tab-box__container">
														<p class="tab-contents">
															<strong>FMOps</strong>Entering the foundation model era, we are making notable changes in operating functions essential for efficiently managing data, aligning, deploying, optimizing, and monitoring large models within the framework of AI
															systems. In particular, we are working on building a data pipeline and SW platform (FMOps) that can efficiently develop and utilize semiconductor-specific models using various and large unstructured data.
														</p>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="contents_box">
										<div class="contents-box__wrap">
											<div class="contents-box__row">
												<p class="js-scr-box">
													<strong>AI for Materials Discovery</strong>Our materials discovery AI research aims to develop technologies that can assist in developing materials across various industrial sectors by leveraging AI technologies. The technologies may include methods to
													sense new technology, methods to explore and optimize the molecular structure and synthesis recipe of materials with desired properties, and more. <br /><br />
													These technologies can play a major role in many areas, not only supporting researchers to efficiently complete various tasks required for materials discovery, but also helping them make decisions to effectively explore the search space for complex and
													wide-ranging optimization problems in the field of materials discovery.
													<br /><br />
													We are advancing AI technologies through collaboration with high-priority materials discovery projects within the Samsung group, aiming to meet domain-specific requirements and directly achieve our materials development goals.
												</p>
											</div>
											<div class="contents-box__row contents-box__row--mt50">
												<img alt="AI for Materials Discovery" class="js-scr-box" src="./mobile/images/2024/ai_img_02.jpg" />
											</div>
											<div class="contents-box__row">
												<p class="js-scr-box">
													<strong>Display Material</strong>The advancement of display technology necessitates the research and development of cutting-edge materials like OLED and QD (Quantum Dots). These materials play a vital role in maximizing display performance and
													enhancing user experience. The application of Artificial Intelligence (AI) in this field is bringing about revolutionary changes, where AI serves as a critical tool in analyzing complex data and predicting the physical and chemical properties of
													materials. AI contributes to exploring new material combinations, optimizing performance, and increasing the efficiency of production processes.<br /><br />
													In the development of OLED and QD materials, the role of AI is becoming increasingly significant. In addition, AI leverages large datasets to learn the complex relationships between the characteristics and performance of materials, supporting materials
													researchers in designing and optimizing target materials more quickly and accurately. This accelerates the development cycle and opens up possibilities for introducing innovative display materials to the market more rapidly. Such applications of AI
													mark a pivotal turning point in shaping the future of material discovery for the display domain.
												</p>
											</div>
											<div class="contents-box__row">
												<p class="js-scr-box">
													<strong>Semiconductor Material</strong>The semiconductor industry is a field that requires continuous technological innovation, and the development of materials/process technologies is one of the key elements of this innovation. With the recent
													combination of AI technology with chemical and materials science, the use of AI technology is also playing a very important role in research and development processes to explore materials and improve process/analysis technologies.<br /><br />
													Based on advanced data analysis, the AI model for predicting experimental results and proposing experimental conditions provides the potential to efficiently reduce the cost of research and development. In particular, the AI model can quickly derive
													optimal material combinations and process methods by considering numerous chemical and physical properties, which can accelerate the development speed of high-performance low-power semiconductors. In addition, it improves the efficiency of the research
													process through risk management in experiments and contributes to allowing material development researchers to focus on advanced research and development processes. As such, the integration of AI technology is becoming an important driving force to
													innovatively change the future of the material discovery for semiconductors.<br /><br />
													We are focusing on developing AI technology to develop various materials and process optimization to enhance our semiconductor technology competitiveness and implement next-generation semiconductors.
												</p>
											</div>
										</div>
									</div>
									<div class="contents_box">
										<div class="contents-box__wrap">
											<div class="contents-box__row">
												<div class="contents-box__item js-scr-sec">
													<strong class="js-scr-box">Autonomous Machine AI </strong>
												</div>
												<div class="contents-box__item">
													<img alt="AI for Materials Discovery" class="js-scr-box" src="./mobile/images/2024/ai_img_03.jpg" />
												</div>
												<div class="contents-box__item">
													<p class="js-scr-box">
														We will secure Samsung's future technological competitiveness by realizing Autonomous Machine technology that perceives, judges, and acts like humans through Embodied AI technology, which represents the next state of AI innovation following
														Generative AI and Large Language Models.
													</p>
												</div>
											</div>
											<div class="contents-box__row">
												<p class="js-scr-box">
													<strong>Embodied AI</strong>We are pioneering the development of Embodied AI technology, a groundbreaking innovation that not only operates autonomously with its own physical form, but also learns and adapts through dynamic interaction with its
													environment. This technology harnesses the power of human-like cognitive abilities to make independent decisions. The core of Embodied AI consists of situation awareness intelligence, which comprehends the causality and dynamics of the physical world
													utilizing data from diverse modalities at a human-like level, and motion intelligence, capable of executing precise machine control whilst adapting seamlessly to ever-changing environments.
												</p>
											</div>
											<div class="contents-box__row">
												<p class="js-scr-box">
													<strong>Cognitive Intelligence / Decision-making Process</strong>We are developing embodied AI technology that perceives and makes decisions like humans. Unlike traditional robot technologies that focus on designing robot behaviors by recognizing types
													of objects and spatial information in the environment, our embodied AI technology predicts the actions that robots should take based on an understanding of physical phenomena, object properties, and human-like reasoning. This enables to solve complex
													and diverse problems that are difficult for humans to design and implement autonomous decision-making AI technology.
												</p>
											</div>
											<div class="contents-box__row">
												<p class="js-scr-box">
													<strong>Motion Intelligence</strong>We are developing AI technologies related to the motion of future robots and mobility. Utilizing Embodied AI technology, we create robot-specific motion AI models that perform complex and diverse tasks in real-world
													scenarios with greater speed and efficiency. These models foster intelligent, adaptive, and interactive capabilities, ensuring that our autonomous machines possess cutting-edge motion intelligence. Through these advancements, we secure the core
													technologies essential for the future of autonomous robotics.
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
                </section>
                <!-- //subContent-->
				

				
		
        <!--related paper-->
        
        
        <section id="related_paper" class="js-scr-sec">
            
            <h1 class="js-scr-box">
                <span>Related Paper</span>
                <span class="more"><a href="./paper_list.do">more</span></a>
            </h1>

            <div class="related_pp_wrap">
            
            	
	                <article class="js-scr-box">
	                    <a class="wtc_pp" href="./paper_view.do?kid=201811151341200000061270E&searchKeyword=&pageIndex=1">
	                        <p class="tit">AI Algorithms</p>
	                        <p class="desc">Learning to Quantize Deep Networks by Optimizing Quantization Intervals with Task Loss</p>
	                        <p class="date">2019.06.19</p>
	                    </a>
	                </article>       
            	
            	
            	
            	            	            
            </div>
        </section>
        
        
        <!--//related paper-->

		

		<!-- subAside-->
		<aside id="relatedContents" class="js-scr-sec">
            <div class="related__inner">
                <div class="related__title">
                    <h1 class="js-scr-box">Related Contents</h1>
                    <span class="js-scr-box">Explore more related contents from SAIT!</span>
                </div>
                <div class="related_wrap">
                    <article class="js-scr-box">
                        <a href="https://www.sait.samsung.co.kr/saithome/mobile/research/paper_list.do">
                            <h1>Research Paper</h1>
                        </a>
                    </article>
                    <article class="js-scr-box">
                        <a href="https://www.sait.samsung.co.kr/saithome/mobile/about/press.do">
                            <h1>Press</h1>
                        </a>
                    </article>
                </div>
            </div>
		</aside>
		<!-- //subAside-->
	</section>
	<!-- //container-->

	<!-- footer -->
	


<%- include("../include/sub_footer.html") %>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123575008-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-167217135-1');
</script>

	<!-- //footer -->
	<div id="gnbDimmed" class="dimmed"></div>
</div>
<script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/lib/TweenMax/TweenMax.min.js"></script>
<script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/lib/TweenMax/easing/EasePack.min.js"></script>
<script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/design_common.js"></script>
<script>
	$( document ).ready(function() {
		$(".wtc_pp").css({"background":"#fff url('http://www.sait.samsung.co.kr/webfile/researchArea/201908021457422__ico_04.png')", 'background-repeat' : 'no-repeat', 'background-size':'40px 35px;', 'background-position':'25px 25px'});
	}); 
</script>
</body>
</html>