<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- 공통적용헤더정보 -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <!-- //공통적용헤더정보 -->
        <link rel="stylesheet" href="https://www.sait.samsung.co.kr/saithome/mobile/stylesheets/css/common.css" />
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/jquery-1.8.2.min.js"></script>
        <meta name="Keywords" content="SAIT, Samsung Advanced Institute of Technology, 삼성종합기술원, 삼성전자 종합기술원, Samsung research, Samsung R&amp;D, Samsung future technology, R&amp;D, Autonomoucs Driving, Graphene, New materials, QD, Quantum Dot" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
        <title>Next Generation Battery Materials | Samsung Advanced Institute of Technology</title>
        <meta name="Description" content="Next Generation Battery Materials | Samsung Advanced Institute of Technology" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Next Generation Battery Materials | Samsung Advanced Institute of Technology" />
        <meta property="og:description" content="Next Generation Battery Materials | Samsung Advanced Institute of Technology" />
        <meta property="og:image" content="" />
        <meta property="og:url" content="" />
        <meta property="og:site_name" content="Samsung Advanced Institute of Technology" />
        <meta name="Author" content="Samsung Advanced Institute of Technology" />
        <meta name="robots" content="ALL" />
        <%- include("../include/sub_head.html") %>
    </head>
    <body>
        <div id="wrap" role="main">
            <!-- header-->
            <%- include("../include/sub_header.html") %>
            <!-- //header-->

            <!-- container-->
            <section id="container" class="research">
                <!-- subVisual-->
                <div id="subVisual">
                    <img src="https://www.sait.samsung.co.kr/saithome/mobile/images/research/research_visual.jpg" alt="" />
                    <div class="tit_wrap">
                        <h3>
                            <span> Changing the World through<br />Creative Research </span>
                        </h3>
                    </div>
                </div>
                <!-- //subVisual-->

                <!-- subContent-->
                <section id="content" class="world_research">
                    <div class="art-content">
                        <div id="subTitle" class="js-scr-sec">
                            <h4 class="js-scr-box">Battery Materials</h4>
                            <!-- <p class="js-scr-box">
                                Future vehicles and mobile devices will require more compact and safer power sources. Battery technology is expected to evolve from the current lithium-ion battery (LIB) to all solid-state batteries and lithium metal batteries, pursuing innovations in energy density,
                                safety, life, and cost. SAIT is developing novel materials to enable those technologies employing state-of-art computational methods and high speed synthesis techniques.
                            </p> -->
                        </div>

                        <!--third-tab-->

                        <div class="third_depth_titbox js-scr-sec">
                            <p class="tit js-scr-box">Next Generation Battery Materials</p>
                            <p class="desc js-scr-box">Power Solutions Enabling e-Mobility and Future Mobile Devices</p>
                        </div>

                        <div>
                            <div class="art-content__wrap">
                                <div class="art-content__section">
                                    <div class="art-content__row art-content__row--title js-scr-sec">
                                        <p class="js-scr-box">
                                            Future vehicles and mobile devices will require more compact and safer power sources. Battery technology is expected to evolve from the current lithium-ion battery (LIB) to all solid-state batteries and lithium metal batteries, pursuing innovations in
                                            energy density, safety, life, and cost. SAIT is developing novel materials to enable those technologies employing state-of-art computational methods and high speed synthesis techniques.
                                        </p>
                                    </div>
                                    <div class="art-content__row js-scr-sec">
                                        <strong class="js-scr-box">Next Generation Battery Materials<br />Power Solutions Enabling e-Mobility and Future Mobile Devices</strong>
                                        <div class="art-content__figure js-scr-sec">
                                            <img src="../../resources/assets/mobile/images/sub/img_bm_01.jpg" alt="" class="js-scr-box" />
                                        </div>
                                    </div>
                                    <div class="art-content__row js-scr-sec">
                                        <strong class="js-scr-box">Overview</strong>
                                        <ul>
                                            <li class="js-scr-box">
                                                <small>① Future Mobile Power and Microbatteries</small>
                                                <p>
                                                    The mobile devices of tomorrow will be smaller, more functional, and more wearable to enhance people’s lives with new experiences. In particular, wearable devices will have many features, such as health monitoring, artificial intelligence (AI), and
                                                    augmented reality (AR) and will come in a variety form factors, e.g., watches, glasses, and earphones. To supply reliable power in compact wearable devices, batteries should be smaller, safer, and of higher capacity. Also, the markets for small
                                                    electronic devices requiring microbatteries are growing, such as IoT devices, medical devices, RFID, and electronic cosmetics.
                                                </p>
                                            </li>
                                            <li class="js-scr-box">
                                                <small>② EV Battery</small>
                                                <p>
                                                    The importance of electric vehicles (EVs) for the efficient use of energy is increasing, along with worldwide efforts to reduce greenhouse gas emissions and industrialize green energy. The battery is the key technology for the success of EV
                                                    business. Innovative battery technologies will increase the driving range and reduce the cost of electric vehicles. Battery technology is expected to evolve from the current lithium-ion battery (LIB) to next-generation high capacity LIBs, all
                                                    solid-state batteries, and lithium metal-based batteries, pursuing improvements in energy density, safety, and life, as well as reduction in cost.
                                                </p>
                                            </li>
                                            <li class="js-scr-box">
                                                <small>③ Battery Management System (BMS)</small>
                                                <p>
                                                    The battery management system (BMS) is an important component used in mobile devices, electric vehicles (EV), and energy storage systems (ESS) to monitor the state of batteries and ensure safe and reliable operation. BMS measures the voltage,
                                                    temperature, and state of a battery (e.g., the state of charge, state of health, power limit estimation, etc.). To maximize the usable energy of a battery and to protect the battery from abnormal operation, the BMS should accurately monitor the
                                                    state of each battery in the system. The present BMS has relatively large safety margins due to the limited ability to measure battery internal state estimation, thus resulting in reduced available battery capacity and performance. The goal is to
                                                    improve battery utilization without physical battery capacity increase or specification change.
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="art-content__row js-scr-sec">
                                        <strong class="js-scr-box">Technology Trend</strong>
                                        <p class="js-scr-box">
                                            Innovation in materials is the key to boosting the electromobility market. The key R&D trends are increasing energy density with new materials and developing multi-functional technologies. In recent years, it has become increasingly important to make
                                            batteries safer for use in EVs and Mobile to mitigate the risk of fire.
                                        </p>
                                    </div>
                                    <div class="art-content__row js-scr-sec">
                                        <strong class="js-scr-box">SAIT Technology</strong>
                                        <ul>
                                            <li class="js-scr-box">
                                                <small>① Future Mobile Power and Microbatteries</small>
                                                <p>To support the development of wearable devices that incorporate health monitoring, AI, or AR, SAIT is developing high-power and safe battery technologies with high performance solid electrolytes and high-density electrodes.</p>
                                                <div class="art-content__figure">
                                                    <img src="../../resources/assets/mobile/images/sub/img_bm_02.jpg" alt="" />
                                                </div>
                                            </li>
                                            <li class="js-scr-box">
                                                <small>② EV Battery</small>
                                                <p>
                                                    SAIT is actively conducting research on post Li-ion battery systems, such as all-solid-state battery and Li-air battery technologies that will reduce the risk of explosion compared to Li-ion battery and enable the driving range of EVs to be
                                                    equivalent to that of internal combustion engine (ICE) vehicles. SAIT is researching new materials and cell designs including anode free structure for solid-state batteries. Novel sulfide- and oxide-based lithium ion conductors, and the interfaces
                                                    adjacent to them, and Li metal host structure are major exploration areas.
                                                </p>
                                                <div class="art-content__figure"><img src="../../resources/assets/mobile/images/sub/img_bm_03.jpg" alt="" /></div>
                                            </li>
                                            <li class="js-scr-box">
                                                <small>③ Battery Management System (BMS)</small>
                                                <p>
                                                    SAIT is investigating algorithms to estimate the state of a battery based on electrochemical-thermal (ECT) modeling and machine learning technology, which is expected to improve usable energy. The ECT modeling technology mathematically calculates
                                                    the internal physical phenomena of batteries, which enhances the monitoring ability of the BMS. The machine learning is leveraged to optimize ECT modeling. We also study the fault diagnosis(e.g., internal-short detection) algorithms based on
                                                    internal states from ECT modeling, to detect abnormal symptoms early and prevent thermal runaway. The scope of application of this technology will be expanded from mobile devices to ESS to EV, etc.
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- //subContent-->

                <!--related paper-->

                <section id="related_paper" class="js-scr-sec">
                    <h1 class="js-scr-box">
                        <span>Related Paper</span>
                        <span class="more"><a href="../research/paper_list_wtc.html">more</a></span>
                    </h1>

                    <div class="related_pp_wrap">
                        <article class="js-scr-box">
                            <a class="cm_pp" href="../research/paper_view.html">
                                <p class="desc">Improving the cyclability of silicon anodes for lithium-ion batteries using a simple pre-lithiation method</p>
                                <p class="date">2020.03.30</p>
                            </a>
                        </article>

                        <article class="js-scr-box">
                            <a class="cm_pp" href="../research/paper_view.html">
                                <p class="desc">High Energy Density Li-Air Battery with the Polymer Electrolyte coated CNTs Electrode via Layer-by-Layer Method</p>
                                <p class="date">2020.03.26</p>
                            </a>
                        </article>

                        <article class="js-scr-box">
                            <a class="cm_pp" href="../research/paper_view.html">
                                <p class="desc">High-energy long-cycling all-solid-state lithium metal batteries enabled by silver-carbon composite anodes</p>
                                <p class="date">2020.03.09</p>
                            </a>
                        </article>
                    </div>
                </section>

                <!--//related paper-->

                <!-- subAside-->
                <aside id="relatedContents" class="js-scr-sec">
                    <div class="related__inner">
                        <div class="related__title">
                            <h1 class="js-scr-box">Related Contents</h1>
                            <span class="js-scr-box">Explore more related contents from SAIT!</span>
                        </div>
                        <div class="related_wrap">
                            <article class="js-scr-box">
                                <a href="../research/paper_list_wtc.html">
                                    <h1>Research Paper</h1>
                                </a>
                            </article>
                            <article class="js-scr-box">
                                <a href="../about/press.html">
                                    <h1>Press</h1>
                                </a>
                            </article>
                        </div>
                    </div>
                </aside>
                <!-- //subAside-->
            </section>
            <!-- //container-->

            <!-- footer -->

            <%- include("../include/sub_footer.html") %>

            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123575008-1"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag() {
                    dataLayer.push(arguments);
                }
                gtag('js', new Date());

                gtag('config', 'UA-167217135-1');
            </script>

            <!-- //footer -->
            <div id="gnbDimmed" class="dimmed"></div>
        </div>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/lib/TweenMax/TweenMax.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/lib/TweenMax/easing/EasePack.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/design_common.js"></script>
        <script>
            $(document).ready(function () {
                $('.wtc_pp').css({ background: "#fff url('http://www.sait.samsung.co.kr/webfile/researchArea/201908021458392__ico_07.png')", 'background-repeat': 'no-repeat', 'background-size': '40px 35px;', 'background-position': '25px 25px' });
            });
        </script>
    </body>
</html>
