<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- 공통적용헤더정보 -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <!-- //공통적용헤더정보 -->
        <link rel="stylesheet" href="https://www.sait.samsung.co.kr/saithome/mobile/stylesheets/css/common.css" />
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/jquery-1.8.2.min.js"></script>
        <meta name="Keywords" content="SAIT, Samsung Advanced Institute of Technology, 삼성종합기술원, 삼성전자 종합기술원, Samsung research, Samsung R&amp;D, Samsung future technology, R&amp;D, Autonomoucs Driving, Graphene, New materials, QD, Quantum Dot" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
        <title>Quantum Dot | Samsung Advanced Institute of Technology</title>
        <meta name="Description" content="Quantum Dot | Samsung Advanced Institute of Technology" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Quantum Dot | Samsung Advanced Institute of Technology" />
        <meta property="og:description" content="Quantum Dot | Samsung Advanced Institute of Technology" />
        <meta property="og:image" content="" />
        <meta property="og:url" content="" />
        <meta property="og:site_name" content="Samsung Advanced Institute of Technology" />
        <meta name="Author" content="Samsung Advanced Institute of Technology" />
        <meta name="robots" content="ALL" />
        <%- include("../include/sub_head.html") %>
    </head>
    <body>
        <div id="wrap" role="main">
            <!-- header-->
            <%- include("../include/sub_header.html") %>
            <!-- //header-->

            <!-- container-->
            <section id="container" class="research">
                <!-- subVisual-->
                <div id="subVisual">
                    <img src="https://www.sait.samsung.co.kr/saithome/mobile/images/research/research_visual.jpg" alt="" />
                    <div class="tit_wrap">
                        <h3>
                            <span> Changing the World through<br />Creative Research </span>
                        </h3>
                    </div>
                </div>
                <!-- //subVisual-->

                <!-- subContent-->
                <section id="content" class="world_research">
                    <div class="art-content">
                        <div id="subTitle" class="js-scr-sec">
                            <h4 class="js-scr-box">Display Materials</h4>
                            <!-- <p class="js-scr-box">SAIT has successfully developed eco-friendly QD materials for QLED TV and is currently conducting research on QD material and device interface technology for the next generation of QDs and self-luminous EL displays. 
And, SAIT is also researching novel organic materials for OLED, perovskite, organic image sensor and e-skin applications. We are developing OLED materials with higher efficiency, longer lifetime, lower power consumption and better color purity.</p>                 -->
                        </div>

                        <!--third-tab-->

                        <div class="third_depth_titbox js-scr-sec">
                            <p class="tit js-scr-box">Quantum Dot</p>
                            <p class="desc js-scr-box">OLED Materials</p>
                        </div>

                        <div>
                            <div id="subTab" class="subTab-rt js-scr-sec">
                                <ul class="js-scr-box">
                                    <li class="ntb">
                                        <span>
                                            <a href="../research/displayMaterials.html" class="active"> Quantum Dot </a>
                                        </span>
                                    </li>

                                    <li class="ntb">
                                        <span>
                                            <a href="../research/displayMaterials_o.html"> OLED Materials </a>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            <div class="art-content__wrap">
                                <div class="art-content__section">
                                    <div class="art-content__row art-content__row--title js-scr-sec">
                                        <p class="js-scr-box">
                                            SAIT has successfully developed eco-friendly QD materials for QLED and QD-OLED TVs and is currently conducting research on QD material and device interface technology for the next generation of QDs and self-luminous EL displays. And, SAIT is also
                                            researching novel organic materials for OLED and e-skin applications. We are developing OLED materials with higher efficiency, longer lifetime, lower power consumption and better color purity.
                                        </p>
                                    </div>
                                    <div class="art-content__row js-scr-sec">
                                        <strong class="js-scr-box">Quantum Dot</strong>
                                        <p class="js-scr-box">The Next-generation Luminescent Material</p>
                                        <div class="art-content__figure js-scr-box">
                                            <img src="../../resources/assets/mobile/images/sub/img_dm_01.jpg" alt="" />
                                        </div>
                                    </div>
                                    <div class="art-content__row js-scr-sec">
                                        <strong class="js-scr-box">Overview</strong>
                                        <p class="js-scr-box">
                                            Quantum dots (QDs) are semiconductor crystals that are several nanometers in size. Unlike bulk materials, changes in optical and electronic property occur at the nanoscale due to the quantum confinement effect and increased surface area. QDs exhibit this
                                            confinement effect and have the advantage of being able to control optical and electrical properties by scaling.
                                        </p>
                                        <div class="art-content__figure js-scr-box">
                                            <img src="../../resources/assets/mobile/images/sub/img_dm_02.jpg" alt="" class="js-scr-box" />
                                        </div>
                                    </div>
                                    <div class="art-content__row js-scr-sec">
                                        <strong class="js-scr-box">Technology Trend</strong>
                                        <p class="js-scr-box">
                                            QDs have been widely used as a wide color gamut display material because it has easy wavelength control, high quantum efficiency, and a narrow FWHM (full width at half maximum) of the emission spectrum. In particular, QD TVs and monitors using QD films or
                                            QD pixels that convert blue LED light sources to red or green are now on the market. At present, we are actively developing and researching self-luminous QD-LED displays that utilize electroluminescence that converts electrical current into light, which
                                            can improve the viewing angle and contrast ratio of next generation displays. In QD applications, it is essential to synthesize high-quality, uniform QD materials to coordinate the QD surface with appropriate organic ligands. In addition to display
                                            materials, we are also investigating application to solar cells, photodetectors, biomarkers, photo catalysis, and other applications.
                                        </p>
                                        <div class="art-content__figure js-scr-box">
                                            <img src="../../resources/assets/mobile/images/sub/img_dm_03.jpg" alt="" class="js-scr-box" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- //subContent-->

                <!--related paper-->

                <section id="related_paper" class="js-scr-sec">
                    <h1 class="js-scr-box">
                        <span>Related Paper</span>
                        <span class="more"><a href="../research/paper_list_wtc.html">more</a></span>
                    </h1>

                    <div class="related_pp_wrap">
                        <article class="js-scr-box">
                            <a class="cm_pp" href="../research/paper_view.html">
                                <p class="desc">Highly efficient and stable InP/ZnSe/ZnS quantum dot-light-emitting diodes</p>
                                <p class="date">2019.11.28</p>
                            </a>
                        </article>
                    </div>
                </section>

                <!--//related paper-->

                <!-- subAside-->
                <aside id="relatedContents" class="js-scr-sec">
                    <div class="related__inner">
                        <div class="related__title">
                            <h1 class="js-scr-box">Related Contents</h1>
                            <span class="js-scr-box">Explore more related contents from SAIT!</span>
                        </div>
                        <div class="related_wrap">
                            <article class="js-scr-box">
                                <a href="../research/paper_list_wtc.html">
                                    <h1>Research Paper</h1>
                                </a>
                            </article>
                            <article class="js-scr-box">
                                <a href="../about/press.html">
                                    <h1>Press</h1>
                                </a>
                            </article>
                        </div>
                    </div>
                </aside>
                <!-- //subAside-->
            </section>
            <!-- //container-->

            <!-- footer -->

            <%- include("../include/sub_footer.html") %>

            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123575008-1"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag() {
                    dataLayer.push(arguments);
                }
                gtag('js', new Date());

                gtag('config', 'UA-167217135-1');
            </script>

            <!-- //footer -->
            <div id="gnbDimmed" class="dimmed"></div>
        </div>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/lib/TweenMax/TweenMax.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/lib/TweenMax/easing/EasePack.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/design_common.js"></script>
        <script>
            $(document).ready(function () {
                $('.wtc_pp').css({ background: "#fff url('http://www.sait.samsung.co.kr/webfile/researchArea/201908021458142__ico_06.png')", 'background-repeat': 'no-repeat', 'background-size': '40px 35px;', 'background-position': '25px 25px' });
            });
        </script>
    </body>
</html>
