<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- 공통적용헤더정보 -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <!-- //공통적용헤더정보 -->
        <link rel="stylesheet" href="https://www.sait.samsung.co.kr/saithome/mobile/stylesheets/css/common.css" />
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/jquery-1.8.2.min.js"></script>
        <meta name="Keywords" content="SAIT, Samsung Advanced Institute of Technology, 삼성종합기술원, 삼성전자 종합기술원, Samsung research, Samsung R&amp;D, Samsung future technology, R&amp;D, Autonomoucs Driving, Graphene, New materials, QD, Quantum Dot" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
        <title>Particulate Matter | Samsung Advanced Institute of Technology</title>
        <meta name="Description" content="Particulate Matter | Samsung Advanced Institute of Technology" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Particulate Matter | Samsung Advanced Institute of Technology" />
        <meta property="og:description" content="Particulate Matter | Samsung Advanced Institute of Technology" />
        <meta property="og:image" content="" />
        <meta property="og:url" content="" />
        <meta property="og:site_name" content="Samsung Advanced Institute of Technology" />
        <meta name="Author" content="Samsung Advanced Institute of Technology" />
        <meta name="robots" content="ALL" />
        <%- include("../include/sub_head.html") %>
    </head>
    <body>
        <div id="wrap" role="main">
            <!-- header-->
            <%- include("../include/sub_header.html") %>
            <!-- //header-->

            <!-- container-->
            <section id="container" class="research">
                <!-- subVisual-->
                <div id="subVisual">
                    <img src="https://www.sait.samsung.co.kr/saithome/mobile/images/research/research_visual.jpg" alt="" />
                    <div class="tit_wrap">
                        <h3>
                            <span> Changing the World through<br />Creative Research </span>
                        </h3>
                    </div>
                </div>
                <!-- //subVisual-->

                <!-- subContent-->
                <section id="content" class="world_research">
                    <div class="art-content">
                        <div id="subTitle" class="js-scr-sec">
                            <h4 class="js-scr-box">Environmental Research</h4>
                            <p class="js-scr-box">SAIT are researching on various technologies to deal with emerging social/global environmental issues such as particulate matter. Development of new environmental technologies will open up new avenues for a sustainable future.</p>
                        </div>

                        <!--third-tab-->

                        <div class="third_depth_titbox js-scr-sec">
                            <p class="tit js-scr-box">Particulate Matter</p>
                            <p class="desc js-scr-box">Solutions to critical issues of particulate matter and air quality; Sensors for nanoparticle/gas, Catalysts for particle/gas removal and Maintenance-free air purification</p>
                        </div>

                        <div>
                            <div class="js-scr-sec"><img alt=" " class="js-scr-box" src="https://www.sait.samsung.co.kr/webfile/webedit/20190802152510_02_12_02-01.jpg" /></div>

                            <div class="contents_wrap">
                                <div class="contents_box js-scr-sec">
                                    <p class="js-scr-box">
                                        <strong>Overview</strong> High concentration of atmospheric PM (particulate matter) has become one of the major concerns all over the world. It is commonly thought that exposure to ambient PM can cause adverse health effects. The rate of cancer, heart disease,
                                        stroke, and respiratory diseases such as asthma are highly linked to PM concentration. To relieve those concerns, a complete understanding through improved simulation and analytical methodologies followed by effective reduction technologies are required.
                                    </p>
                                    <img alt=" " class="js-scr-box" src="https://www.sait.samsung.co.kr/webfile/webedit/20190802152519_02_12_02-02.jpg" />
                                    <p class="js-scr-box">
                                        <strong>Technology Trend</strong> Recently, efforts to reduce PMs have been made by government and academia. From a technical point of view, major research topics about PM can be divided into 4 categories. First theme is elucidating the formation mechanism of
                                        PM. Especially understanding anthropologically generated secondary PM formation is challenging. Second theme is prediction of air quality and health/ecological impacts. The third theme is diagnosis of PM. Analyzing and measuring physicochemical characteristics
                                        of PM are essential for identifying and understanding formation mechanism and simulation. The last one is mitigation technologies such as gas decomposition catalysts from emission sources and PM collecting techniques, including filter, electrostatic
                                        precipitator. These four topics closely correlate with another so active Cross-National Research collaborations between the experts of different topics are going on all over the globe.
                                    </p>

                                    <p class="js-scr-box">
                                        <strong>SAIT Technology</strong> In Samsung Particulate Matter Research Institute which established under umbrella of SAIT in January 2019, we are aiming to find critical issues of particulate matter and provide our technical solutions to society. To achieve
                                        this goal, we are focusing on how to precisely monitor and how to efficiently remove harmful air pollutants. PM sensor that can measure smaller PM more precisely, simultaneous removal of gases and particles, and sustainable PM removal technology for
                                        maintenance&ndash;free air purification system are on track. Our goal is to innovate accuracy and efficiency of monitoring and removal process so that we can contribute to not only future growth of the company but also our society.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- //subContent-->

                <!--related paper-->

                <!--//related paper-->

                <!-- subAside-->
                <aside id="relatedContents" class="js-scr-sec">
                    <div class="related__inner">
                        <div class="related__title">
                            <h1 class="js-scr-box">Related Contents</h1>
                            <span class="js-scr-box">Explore more related contents from SAIT!</span>
                        </div>
                        <div class="related_wrap">
                            <article class="js-scr-box">
                                <a href="https://www.sait.samsung.co.kr/saithome/mobile/research/paper_list.do">
                                    <h1>Research Paper</h1>
                                </a>
                            </article>
                            <article class="js-scr-box">
                                <a href="https://www.sait.samsung.co.kr/saithome/mobile/about/press.do">
                                    <h1>Press</h1>
                                </a>
                            </article>
                        </div>
                    </div>
                </aside>
                <!-- //subAside-->
            </section>
            <!-- //container-->

            <!-- footer -->
            <%- include("../include/sub_footer.html") %>

            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123575008-1"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag() {
                    dataLayer.push(arguments);
                }
                gtag('js', new Date());

                gtag('config', 'UA-167217135-1');
            </script>

            <!-- //footer -->
            <div id="gnbDimmed" class="dimmed"></div>
        </div>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/lib/TweenMax/TweenMax.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/lib/TweenMax/easing/EasePack.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/design_common.js"></script>
        <script>
            $(document).ready(function () {
                $('.wtc_pp').css({ background: "#fff url('http://www.sait.samsung.co.kr/webfile/researchArea/201908021459002__ico_09.png')", 'background-repeat': 'no-repeat', 'background-size': '40px 35px;', 'background-position': '25px 25px' });
            });
        </script>
    </body>
</html>
