<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- 공통적용헤더정보 -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <!-- //공통적용헤더정보 -->
        <link rel="stylesheet" href="https://www.sait.samsung.co.kr/saithome/mobile/stylesheets/css/common.css" />
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/jquery-1.8.2.min.js"></script>
        <meta name="Keywords" content="SAIT, Samsung Advanced Institute of Technology, 삼성종합기술원, 삼성전자 종합기술원, Samsung research, Samsung R&amp;D, Samsung future technology, R&amp;D, Autonomoucs Driving, Graphene, New materials, QD, Quantum Dot" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
        <title>Particulate Matter | Samsung Advanced Institute of Technology</title>
        <meta name="Description" content="Particulate Matter | Samsung Advanced Institute of Technology" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Particulate Matter | Samsung Advanced Institute of Technology" />
        <meta property="og:description" content="Particulate Matter | Samsung Advanced Institute of Technology" />
        <meta property="og:image" content="" />
        <meta property="og:url" content="" />
        <meta property="og:site_name" content="Samsung Advanced Institute of Technology" />
        <meta name="Author" content="Samsung Advanced Institute of Technology" />
        <meta name="robots" content="ALL" />
        <%- include("../include/sub_head.html") %>
    </head>
    <body>
        <div id="wrap" role="main">
            <!-- header-->
            <%- include("../include/sub_header.html") %>
            <!-- //header-->

            <!-- container-->
            <section id="container" class="research">
                <!-- subVisual-->
                <div id="subVisual">
                    <img src="https://www.sait.samsung.co.kr/saithome/mobile/images/research/research_visual.jpg" alt="" />
                    <div class="tit_wrap">
                        <h3>
                            <span> Changing the World through<br />Creative Research </span>
                        </h3>
                    </div>
                </div>
                <!-- //subVisual-->

                <!-- subContent-->
                <section id="content" class="world_research">
                    <div class="art-content">
                        <div id="subTitle" class="js-scr-sec">
                            <h4 class="js-scr-box">Environmental &amp; Energy</h4>
                            <!-- <p class="js-scr-box">SAIT are researching on various technologies to deal with emerging social/global environmental issues such as particulate matter. Development of new environmental technologies will open up new avenues for a sustainable future.</p> -->
                        </div>

                        <!--third-tab-->

                        <div class="third_depth_titbox js-scr-sec">
                            <p class="tit js-scr-box">Particulate Matter</p>
                            <p class="desc js-scr-box">Solutions to critical issues of particulate matter and air quality; Sensors for nanoparticle/gas, Catalysts for particle/gas removal and Maintenance-free air purification</p>
                        </div>

                        <div>
                            <div class="art-content__wrap">
                                <div class="art-cotent__section">
                                    <div class="art-content__row art-content__row--title js-scr-sec">
                                        <!-- <strong class="js-scr-box">Environmental &amp; Energy</strong> -->
                                        <p class="js-scr-box">
                                            In pursuit of a sustainable future, development of innovative environmental technologies is of paramount importance. At the forefront of this endeavor, SAIT is committed to creating eco-friendly source technologies that address critical environmental
                                            challenges, including air pollution, greenhouse gas emissions, and energy consumption. These solutions align with Samsung Electronics' commitment to ESG management, fostering a cleaner and more sustainable world.
                                        </p>
                                    </div>
                                    <div class="art-content__row js-scr-sec">
                                        <strong class="js-scr-box">1. Air Pollution Mitigation</strong>
                                        <p class="js-scr-box">
                                            Currently, air pollution reduction technologies are imperative for tackling global environmental challenges, including air quality degradation and climate change, and for ensuring the sustainable advancement of national industries. Advanced systems such as
                                            filtration units, scrubbers, and catalytic converters are being deployed; however, these technologies face significant obstacles related to efficiency, technical reliability, and cost-effectiveness.
                                        </p>
                                        <ul>
                                            <li class="js-scr-sec">
                                                <small class="js-scr-box">1-1. Particulate Matter Diagnostics/Removal</small>
                                                <p class="js-scr-box">
                                                    Particulate matters (PMs), especially smaller than 2.5㎛ of particle size, along with the precursor gases have detrimental effects on both public health and semiconductor manufacturing processes. Additionally, as semiconductor circuits have become
                                                    smaller and increasingly complex, managing airborne molecular contamination (AMC) which causes defects during manufacturing is crucial for all new semiconductor manufacturing facilities. <br /><br />
                                                    Therefore, our aim is to find critical issues of PMs and AMCs and to provide technical solutions for society and boosting business competitiveness as well. We are conducting researches on (1) developing advanced air purification technologies to
                                                    improve the surrounding air quality, (2) formation of secondary particles from emission sources, and (3) AMC dispersion simulation for its prompt identification with Al techniques at a semiconductor FAB.
                                                </p>
                                                <div class="art-content__figure js-scr-box">
                                                    <img src="../../resources/assets/mobile/images/sub/img_ee_01.jpg" class="js-scr-box" alt="" />
                                                </div>
                                            </li>
                                            <li class="js-scr-sec">
                                                <small class="js-scr-box">1-2. FAB Emission Reduction</small>
                                                <p class="js-scr-box">
                                                    Since Samsung Electronics announced New Environmental Strategy in 2022, ASRC is dedicated to advancing technologies that efficiently decompose and treat key pollutants, including nitrogen oxides (NOx) and total hydrocarbons (THCs) as FAB emissions,
                                                    as well as perfluorocarbons (PFCs) and nitrous oxide (N2O), which are significant greenhouse gases emitted by semiconductor manufacturing facilities. <br /><br />
                                                    Based on our expertise in high-performance catalysts, chemical reaction systems, and low-power plasma technology, we are committed to advancing our environmental management practices. By developing and deploying our innovative, energy-efficient
                                                    technologies that integrate these core competencies, we aim to implement them at actual FAB sites, thereby contributing to sustainable industrial operations.
                                                </p>
                                                <div class="art-content__figure js-scr-box">
                                                    <img src="../../resources/assets/mobile/images/sub/img_ee_02.jpg" class="js-scr-box" alt="" />
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="art-content__row js-scr-sec">
                                        <strong class="js-scr-box">2. CO2 Capture & Utilization (CCU)</strong>
                                        <p class="js-scr-box">
                                            Carbon dioxide (CO2) concentration in the atmosphere has significantly increased due to human social activities. To relieve those concerns, diverse efforts to reduce CO2 emission have been made in all sectors of society. Carbon capture has been studied
                                            extensively as a technology to reduce carbon dioxide directly. Technologies such as absorption, adsorption and membranes have been studied mainly in academia, but the development of more effective and energy intensive technologies is necessary for
                                            sustainable future. In addition to the point-source CO2 capture technology deploying the large scale negative emissions technologies is vital. <br /><br />
                                            SAIT puts efforts, in materials and engineering perspectives, not only on the stationary CO2 capture but also on directly capturing CO2 from ambient air or direct air capture. Meanwhile, post-treatment of captured CO2 is also important for generating a
                                            closed-loop of carbon; either utilization into value-added products or permanent storage. SAIT also paves a way for effective CO2 utilization with catalysts and electrochemical systems.
                                        </p>
                                        <div class="art-content__figure">
                                            <img src="../../resources/assets/mobile/images/sub/img_ee_03.jpg" class="js-scr-box" alt="" />
                                        </div>
                                    </div>
                                    <div class="art-content__row js-scr-sec">
                                        <strong class="js-scr-box">3. Chip-scale Electronic Nose (E-Nose)</strong>
                                        <p class="js-scr-box">
                                            To mimic human olfaction, the state-of-the-art technical innovations are currently being applied, such as materials that are sensitive and selective to various odors, sensor arrays, interface ICs, and signal processing blocks as well as ANN or neuromorphic
                                            classifiers. <br /><br />
                                            Our goal is integrating all related technologies about olfactory sensing. This includes developing materials that provide the beginning of signal change in response to odor molecules, developing sensitive transducers, designing dedicated read-out ICs that
                                            digitize analog responses of sensors, pre-processing that removes unwanted signals. Through hundreds of multi-array sensors where all of these core technologies are integrated, we are aiming to enable an affordable, robust odor recognition device for
                                            commercial applications.
                                            <br /><br />
                                            This miniaturized olfactory sensor will make our lives safer by more accurately detecting our surroundings. Beyond the level of human olfaction, we ultimately want to benefit the world by innovating conventional disease diagnosis technologies.
                                        </p>
                                        <div class="art-content__figure">
                                            <img src="../../resources/assets/mobile/images/sub/img_ee_04.jpg" class="js-scr-box" alt="" />
                                        </div>
                                    </div>
                                    <div class="art-content__row js-scr-sec">
                                        <strong class="js-scr-box">4. Green Energy Solutions</strong>
                                        <p class="js-scr-box">
                                            The global transition to sustainable economies relies heavily on the adoption of green energy such as clean fuels (green hydrogen or e-fuels) produced electrochemically using renewable energy sources without carbon dioxide emissions. Green hydrogen refers
                                            to hydrogen produced by electrolyzing water using renewable electricity, and can be used for e-fuel production with green CO from direct-air captured CO2 electrolysis. <br /><br />
                                            We are researching new core technologies for covering the whole green energy value chain from production, storage, transport, to application for successful commercialization. We’re developing solutions for viable green energy by focusing on material
                                            design, electrode microstructure/interface engineering, and controlling thermoelectric reaction kinetics to drive the sustainable green energy economy forward.
                                        </p>
                                        <div class="art-content__figure js-scr-box">
                                            <img src="../../resources/assets/mobile/images/sub/img_ee_05.jpg" class="js-scr-box" alt="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- //subContent-->

                <!--related paper-->

                <!--//related paper-->

                <!-- subAside-->
                <aside id="relatedContents" class="js-scr-sec">
                    <div class="related__inner">
                        <div class="related__title">
                            <h1 class="js-scr-box">Related Contents</h1>
                            <span class="js-scr-box">Explore more related contents from SAIT!</span>
                        </div>
                        <div class="related_wrap">
                            <article class="js-scr-box">
                                <a href="../research/paper_list_wtc.html">
                                    <h1>Research Paper</h1>
                                </a>
                            </article>
                            <article class="js-scr-box">
                                <a href="../about/press.html">
                                    <h1>Press</h1>
                                </a>
                            </article>
                        </div>
                    </div>
                </aside>
                <!-- //subAside-->
            </section>
            <!-- //container-->

            <!-- footer -->
            <%- include("../include/sub_footer.html") %>

            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123575008-1"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag() {
                    dataLayer.push(arguments);
                }
                gtag('js', new Date());

                gtag('config', 'UA-167217135-1');
            </script>

            <!-- //footer -->
            <div id="gnbDimmed" class="dimmed"></div>
        </div>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/lib/TweenMax/TweenMax.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/lib/TweenMax/easing/EasePack.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/design_common.js"></script>
        <script>
            $(document).ready(function () {
                $('.wtc_pp').css({ background: "#fff url('http://www.sait.samsung.co.kr/webfile/researchArea/201908021459002__ico_09.png')", 'background-repeat': 'no-repeat', 'background-size': '40px 35px;', 'background-position': '25px 25px' });
            });
        </script>
    </body>
</html>
