<!DOCTYPE html>
<html lang="en">
<head>
  	<!-- 공통적용헤더정보 -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<!-- //공통적용헤더정보 -->
	<link rel="stylesheet" href="https://www.sait.samsung.co.kr/saithome/mobile/stylesheets/css/common.css">
	<script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/jquery-1.8.2.min.js"></script>
	<meta name="Keywords" content="SAIT, Samsung Advanced Institute of Technology, 삼성종합기술원, 삼성전자 종합기술원, Samsung research, Samsung R&amp;D, Samsung future technology, R&amp;D, Autonomoucs Driving, Graphene, New materials, QD, Quantum Dot">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<title>Artificial Intelligence Sub2 | Samsung Advanced Institute of Technology</title>
	<meta name="Description" content="Artificial Intelligence Sub2 | Samsung Advanced Institute of Technology">
	<meta property="og:type" content="website">
	<meta property="og:title" content="Artificial Intelligence Sub2 | Samsung Advanced Institute of Technology">
	<meta property="og:description" content="Artificial Intelligence Sub2 | Samsung Advanced Institute of Technology">
	<meta property="og:image" content="">
	<meta property="og:url" content="">
	<meta property="og:site_name" content="Samsung Advanced Institute of Technology">
	<meta name="Author" content="Samsung Advanced Institute of Technology">
	<meta name="robots" content="ALL">
    <%- include("../include/sub_head.html") %>
</head>
<body>
<div id="wrap" role="main">
	<!-- header-->
	<%- include("../include/sub_header.html") %>
	<!-- //header-->

	<!-- container-->
	<section id="container" class="research">
        <!-- subVisual-->
        <div id="subVisual">
	<img src="https://www.sait.samsung.co.kr/saithome/mobile/images/research/research_visual.jpg" alt="">
	<div class="tit_wrap">
		<h3>
			<span>
				Changing the World through<br>Creative Research
			</span>
		</h3>
	</div>
</div>
        <!-- //subVisual-->

		<!-- subContent-->
        <section id="content" class="world_research">
          <div class="art-content">
            <div id="subTitle" class="js-scr-sec">
				<h4 class="js-scr-box">Human Augmentation</h4>
				<p class="js-scr-box">Augmented reality technologies can increase the capabilities of human senses, such as vision and hearing. Also wearable devices will be developed that are capable of monitoring important physiological characteristics, such as blood pressure, ECG signals, and antioxidant levels.</p>                
            </div>

            <!--third-tab-->
            
                        
            <div class="subTab-rt">
              <select onchange="if(this.value) location.href=(this.value);">
              	<!--
                <option value="HrefMoveURL">AR Device & Solution</option>
                <option value="HrefMoveURL">Mobile Healthcare Sensor & Sol.</option>
                <option value="HrefMoveURL">System Robotics</option>
				-->
			      
                  		
                  		
	                    	
			                	<option value="./researchArea.do?idx=1&sub_idx=8"  >AR Device & Solution</option>   	
	                    	
			                	<option value="./researchArea.do?idx=1&sub_idx=7"  selected>Artificial Intelligence Sub2</option>   	
	                    	
						
					
              </select>
            </div>
            

            <div class="third_depth_titbox js-scr-sec">
                <p class="tit js-scr-box">Artificial Intelligence Sub2</p>
                <p class="desc js-scr-box">The advent of revolutionary healthcare devices</p>                
            </div>
			
			<div>
				<div class="js-scr-sec"><img alt=" " class="js-scr-box" src="https://www.sait.samsung.co.kr/webfile/webedit/20190802150856_02_02_02-01.jpg" /></div>

<div class="contents_wrap">
<div class="contents_box js-scr-sec">
<p class="js-scr-box"><strong>Overview</strong> With the increase of life expectancy, the prevalence of chronic illness, and the rise of medical costs, there have been rapidly growing interests in mobile healthcare technologies. Mobile healthcare devices can help people to manage their healthy status by continuously monitoring users&rsquo; physical conditions. Many people today use mobile devices to track their steps, physical fitness, heartbeat and their sleeping patterns. Advanced healthcare sensors and healthcare solutions are key components in establishing these mobile healthcare devices as personal health managers.</p>
<img alt=" " class="js-scr-box" src="https://www.sait.samsung.co.kr/webfile/webedit/20190802150904_02_02_02-02.jpg" />
<p class="js-scr-box"><strong>Technology Trend </strong> Mobile healthcare devices continuously sense, analyze, and transmit various data including vital and non-vital signals. These data are acquired via wearable and/or implantable sensors regardless of place or time. This information enables healthcare specialists or artificial intelligence to monitor user&rsquo;s conditions at any time, provide appropriate health advices in time, and assist users to keep proper physical activity levels. This is a truly revolutionary system to improve the quality of life.</p>
<img alt=" " class="js-scr-box" src="https://www.sait.samsung.co.kr/webfile/webedit/20190802150913_02_02_02-03.jpg" />
<p class="js-scr-box"><strong>SAIT Technology</strong> In react to rapidly evolving healthcare industry, SAIT is performing world-class research on mobile healthcare sensors and solutions for commercial use. We devote ourselves to invent novel core technologies that can enable monitoring of health conditions in non-invasive manner. One example of our recent efforts is cuff-less blood pressure trend tracking solution. The blood pressure monitoring solution is based on unique SAIT-developed algorithm and added to Galaxy phones and watches. This technology will help people manage their health status related to cardiovascular disease. The healthcare technologies SAIT has been developing will be eventually integrated into our daily lives via smart personal devices such as wearable devices, smart phones, tablet PCs, and smart TVs; providing a novel insight of the future healthcare service.</p>
</div>
</div>
			</div>
          </div>
        </section>
		<!-- //subContent-->
				
		
        <!--related paper-->
        
        
        <section id="related_paper" class="js-scr-sec">
            
            <h1 class="js-scr-box">
                <span>Related Paper</span>
                <span class="more"><a href="./paper_list.do">more</span></a>
            </h1>

            <div class="related_pp_wrap">
            
            	
            	
            	
	                <article class="js-scr-box">
	                    <a class="cm_pp" href="./paper_view.do?kid=201906271631570000063925E&searchKeyword=&pageIndex=1">
	                        <p class="desc">Direct Observation of Glucose Fingerprint Using in vivo Raman Spectroscopy</p>
	                        <p class="date">2020.01.14</p>                        
	                    </a>
	                </article>            	
            	
	                <article class="js-scr-box">
	                    <a class="cm_pp" href="./paper_view.do?kid=201908271335150000064654E&searchKeyword=&pageIndex=1">
	                        <p class="desc">Multifunctional Materials Platform for Implantable and Wearable Photonic Healthcare Devices</p>
	                        <p class="date">2020.01.07</p>                        
	                    </a>
	                </article>            	
            	
            	            	            
            </div>
        </section>
        
        
        <!--//related paper-->

		

		<!-- subAside-->
		<aside id="relatedContents" class="js-scr-sec">
            <div class="related__inner">
                <div class="related__title">
                    <h1 class="js-scr-box">Related Contents</h1>
                    <span class="js-scr-box">Explore more related contents from SAIT!</span>
                </div>
                <div class="related_wrap">
                    <article class="js-scr-box">
                        <a href="https://www.sait.samsung.co.kr/saithome/mobile/research/paper_list.do">
                            <h1>Research Paper</h1>
                        </a>
                    </article>
                    <article class="js-scr-box">
                        <a href="https://www.sait.samsung.co.kr/saithome/mobile/about/press.do">
                            <h1>Press</h1>
                        </a>
                    </article>
                </div>
            </div>
		</aside>
		<!-- //subAside-->
	</section>
	<!-- //container-->

	<!-- footer -->
	


<%- include("../include/sub_footer.html") %>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123575008-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-167217135-1');
</script>

	<!-- //footer -->
	<div id="gnbDimmed" class="dimmed"></div>
</div>
<script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/lib/TweenMax/TweenMax.min.js"></script>
<script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/lib/TweenMax/easing/EasePack.min.js"></script>
<script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/design_common.js"></script>
<script>
	$( document ).ready(function() {
		$(".wtc_pp").css({"background":"#fff url('http://www.sait.samsung.co.kr/webfile/researchArea/201908021457152__ico_01.png')", 'background-repeat' : 'no-repeat', 'background-size':'40px 35px;', 'background-position':'25px 25px'});
	}); 
</script>
</body>
</html>