<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- 공통적용헤더정보 -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <!-- //공통적용헤더정보 -->
        <link rel="stylesheet" href="https://www.sait.samsung.co.kr/saithome/mobile/stylesheets/css/common.css" />
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/jquery-1.8.2.min.js"></script>
        <meta name="Keywords" content="SAIT, Samsung Advanced Institute of Technology, 삼성종합기술원, 삼성전자 종합기술원, Samsung research, Samsung R&amp;D, Samsung future technology, R&amp;D, Autonomoucs Driving, Graphene, New materials, QD, Quantum Dot" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
        <title>Research Infra | Samsung Advanced Institute of Technology</title>
        <meta name="Description" content="Research Infra | Samsung Advanced Institute of Technology" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Research Infra | Samsung Advanced Institute of Technology" />
        <meta property="og:description" content="Research Infra | Samsung Advanced Institute of Technology" />
        <meta property="og:image" content="" />
        <meta property="og:url" content="" />
        <meta property="og:site_name" content="Samsung Advanced Institute of Technology" />
        <meta name="Author" content="Samsung Advanced Institute of Technology" />
        <meta name="robots" content="ALL" />
        <%- include("../include/sub_head.html") %>
    </head>
    <body>
        <div id="wrap" role="main">
            <!-- header-->
            <%- include("../include/sub_header.html") %>
            <!-- //header-->

            <!-- container-->
            <section id="container" class="research">
                <!-- subVisual-->
                <div id="subVisual">
                    <img src="https://www.sait.samsung.co.kr/saithome/mobile/images/research/research_visual.jpg" alt="" />
                    <div class="tit_wrap">
                        <h3>
                            <span> Changing the World through<br />Creative Research </span>
                        </h3>
                    </div>
                </div>
                <!-- //subVisual-->
                <!-- subContent-->
                <section id="content" class="infra">
                    <div class="content__container">
                        <div id="subTitle" class="js-scr-sec">
                            <h4 class="js-scr-box">Research Infra</h4>
                        </div>
                        <article class="row">
                            <div class="row__inner">
                                <div class="infra_wrap js-scr-sec cm_pd30">
                                    <p class="tit js-scr-box fs-15 cm_pdrl20c">
                                        SAIT is equipped with world class R&D infrastructures such as high performance computing (HPC) clusters using grid technology, electron-beam lithography (EBL) system, ultra low temperature scanning probe microscopy (ULT-SPM) facility, insitu
                                        spectro-electrochemical system coupled with scanning probe microscopy (ISESPM), transmission electron microscopy (TEM), nano fab, etc. to conduct research by performing modeling, simulation, experiment, and nanoscale analysis.
                                    </p>
                                    <ul class="research_img_grid">
                                        <ii class="research_img_array">
                                            <a><img src="../../resources/assets/mobile/images/sub/infra_img01.jpg" /></a>
                                        </ii>
                                        <ii class="research_img_array">
                                            <a><img src="../../resources/assets/mobile/images/sub/infra_img02.jpg" /></a>
                                        </ii>
                                        <ii class="research_img_array">
                                            <a><img src="../../resources/assets/mobile/images/sub/infra_img03.jpg" /></a>
                                        </ii>
                                        <ii class="research_img_array">
                                            <a><img src="../../resources/assets/mobile/images/sub/infra_img04.jpg" /></a>
                                        </ii>
                                        <ii class="research_img_array">
                                            <a><img src="../../resources/assets/mobile/images/sub/infra_img05.jpg" /></a>
                                        </ii>
                                        <ii class="research_img_array">
                                            <a><img src="../../resources/assets/mobile/images/sub/infra_img06.jpg" /></a>
                                        </ii>
                                        <ii class="research_img_array">
                                            <a><img src="../../resources/assets/mobile/images/sub/infra_img07.jpg" /></a>
                                        </ii>
                                    </ul>
                                </div>
                            </div>
                        </article>
                    </div>
                </section>
                <!-- //subContent-->

                <!-- subAside-->
                <aside id="relatedContents" class="js-scr-sec">
                    <div class="related__inner">
                        <div class="related__title">
                            <h1 class="js-scr-box">Related Contents</h1>
                            <span class="js-scr-box">Explore more related contents from SAIT!</span>
                        </div>
                        <div class="related_wrap">
                            <article class="js-scr-box">
                                <a href="https://www.sait.samsung.co.kr/saithome/mobile/about/history.do">
                                    <h1>History Of Progress</h1>
                                </a>
                            </article>
                            <article class="js-scr-box">
                                <a href="https://www.sait.samsung.co.kr/saithome/mobile/about/labs.do">
                                    <h1>Global Labs</h1>
                                </a>
                            </article>
                        </div>
                    </div>
                </aside>
                <!-- //subAside-->
            </section>
            <!-- //container-->

            <!-- footer -->

            <%- include("../include/sub_footer.html") %>

            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123575008-1"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag() {
                    dataLayer.push(arguments);
                }
                gtag('js', new Date());

                gtag('config', 'UA-167217135-1');
            </script>

            <!-- //footer -->
            <div id="gnbDimmed" class="dimmed"></div>

            <!--popup slide-->
            <script src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/lib/slick.js"></script>
            <div class="research_slide_wrap">
                <div class="research_slide_inner">
                    <!--close function-->
                    <div class="research_slide_hd">
                        <div class="research_slide_cls">
                            <div class="cls_icon">
                                <div class="cls_asset_1"></div>
                                <div class="cls_asset_2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="research_slide_align step00">
                        <div class="fs-20 ta-c research_slide_h1">Aberration-Corrected Transmission Electron Microscopy (TEM)</div>
                        <div class="fs-15 ta-c research_slide_h2">Analytical equipment enabling atomic scale imaging and spectroscopy using double-aberration-corrector and monochromator</div>
                    </div>
                    <div class="research_slide_align step01">
                        <div class="fs-20 ta-c research_slide_h1">Atom Probe Tomography (APT) - Invizo 6000</div>
                        <div class="fs-15 ta-c research_slide_h2">3D imaging and chemical composition measurements at the atomic scale (around 0.1-0.3nm resolution in depth and 0.3-0.5nm laterally)</div>
                    </div>
                    <div class="research_slide_align step02">
                        <div class="fs-20 ta-c research_slide_h1">Atom Probe Tomography (APT) - Invizo 6000</div>
                        <div class="fs-15 ta-c research_slide_h2">
                            Spectroscopic measurements observing ultrafast electron behaviors from femto- to micro-second in semiconductors and electronic chemical compounds. Picture: Femtosecond pump-probe experiments on quantum dots in solution, measuring ultrafast excitondynamcis (Blue: pump
                            laser, Rainbow: supercontinuum probe, Red: photoluminescence from QDs)
                        </div>
                    </div>
                    <div class="research_slide_align step03">
                        <div class="fs-20 ta-c research_slide_h1">Hybrid Secondary Ion Mass Spectrometry(SIMS)</div>
                        <div class="fs-15 ta-c research_slide_h2">TOF-SIMS / Orbitrap Combination Instrument</div>
                    </div>
                    <div class="research_slide_align step04">
                        <div class="fs-20 ta-c research_slide_h1">Hard X-ray photoelectron spectroscopy (HAXPES)</div>
                        <div class="fs-15 ta-c research_slide_h2">
                            HAXPES analyzes the chemical and electronic structure of the surface by measuring the kinetic energy of photoelectrons emitted by the photoelectric effect. Using high energy X-rays from a Cr K-alpha source, the information depth is more than twice that of conventional XPS
                        </div>
                    </div>
                    <div class="research_slide_align step05">
                        <div class="fs-20 ta-c research_slide_h1">AMS (Autonomous Material System) Platform</div>
                        <div class="fs-15 ta-c research_slide_h2">Autonomous organic material synthesis system based on AI and robotic technology</div>
                    </div>
                    <div class="research_slide_align step06">
                        <div class="fs-20 ta-c research_slide_h1">SEMEF (SEMiconductor processing-material's Evaluation & Formulation)</div>
                        <div class="fs-15 ta-c research_slide_h2">Autonomous formulation and evaluation system based on AI and robotic technology</div>
                    </div>

                    <div class="research_slide">
                        <div><img src="../../resources/assets/mobile/images/sub/infra_img01.jpg" /></div>
                        <div><img src="../../resources/assets/mobile/images/sub/infra_img02.jpg" /></div>
                        <div><img src="../../resources/assets/mobile/images/sub/infra_img03.jpg" /></div>
                        <div><img src="../../resources/assets/mobile/images/sub/infra_img04.jpg" /></div>
                        <div><img src="../../resources/assets/mobile/images/sub/infra_img05.jpg" /></div>
                        <div><img src="../../resources/assets/mobile/images/sub/infra_img06.jpg" /></div>
                        <div><img src="../../resources/assets/mobile/images/sub/infra_img07.jpg" /></div>
                    </div>
                    <ul id="researchIndi">
                        <li><button class="active">1</button></li>
                        <li><button>2</button></li>
                        <li><button>3</button></li>
                        <li><button>4</button></li>
                        <li><button>5</button></li>
                        <li><button>6</button></li>
                        <li><button>7</button></li>
                    </ul>
                    <script>
                        $(document).ready(function () {
                            var $researchSlide = $('.research_slide');
                            var $researchIndi = $('#researchIndi');
                            var $close = $('.cls_icon');
                            $researchSlide.slick();
                            let idx;
                            $('.research_img_array').click(function () {
                                idx = $(this).index();
                                TweenMax.to($('.research_slide_wrap'), 0.3, { top: 0, opacity: 1 });
                                $researchSlide.slick('goTo', idx);
                                $('html, body').css({ overflow: 'hidden' });
                            });

                            $researchSlide.on('beforeChange', function (event, slick, currentSlide, nextSlide) {
                                $researchIndi.find('li button').removeClass('active');
                                $researchIndi.find('li').eq(nextSlide).find('button').addClass('active');
                                $('.research_slide_align').hide();
                                $('.research_slide_align.step0' + nextSlide).show();
                            });

                            $researchIndi.find('li').on('click', function () {
                                idx = $(this).index();
                                TweenMax.to($('.research_slide_wrap'), 0.3, { top: 0, opacity: 1 });
                                $researchSlide.slick('goTo', idx);
                            });

                            $close.click(function () {
                                $('html, body').css({ overflow: 'unset' });
                                TweenMax.to($('.research_slide_wrap'), 0.3, { top: '100%', opacity: 0 });
                            });
                        });
                    </script>
                </div>
            </div>
            <!--popup slide-->
        </div>

        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/lib/TweenMax/TweenMax.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/lib/TweenMax/easing/EasePack.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/design_common.js"></script>
    </body>
</html>
