<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- 공통적용헤더정보 -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <!-- //공통적용헤더정보 -->
        <link rel="stylesheet" href="https://www.sait.samsung.co.kr/saithome/mobile/stylesheets/css/common.css" />
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/jquery-1.8.2.min.js"></script>
        <meta name="Keywords" content="SAIT, Samsung Advanced Institute of Technology, 삼성종합기술원, 삼성전자 종합기술원, Samsung research, Samsung R&amp;D, Samsung future technology, R&amp;D, Autonomoucs Driving, Graphene, New materials, QD, Quantum Dot" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
        <title>Metaphotonics | Samsung Advanced Institute of Technology</title>
        <meta name="Description" content="Metaphotonics | Samsung Advanced Institute of Technology" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Metaphotonics | Samsung Advanced Institute of Technology" />
        <meta property="og:description" content="Metaphotonics | Samsung Advanced Institute of Technology" />
        <meta property="og:image" content="" />
        <meta property="og:url" content="" />
        <meta property="og:site_name" content="Samsung Advanced Institute of Technology" />
        <meta name="Author" content="Samsung Advanced Institute of Technology" />
        <meta name="robots" content="ALL" />
        <%- include("../include/sub_head.html") %>
    </head>
    <body>
        <div id="wrap" role="main">
            <!-- header-->
            <%- include("../include/sub_header.html") %>
            <!-- //header-->

            <!-- container-->
            <section id="container" class="research">
                <!-- subVisual-->
                <div id="subVisual">
                    <img src="https://www.sait.samsung.co.kr/saithome/mobile/images/research/research_visual.jpg" alt="" />
                    <div class="tit_wrap">
                        <h3>
                            <span> Changing the World through<br />Creative Research </span>
                        </h3>
                    </div>
                </div>
                <!-- //subVisual-->

                <!-- subContent-->
                <section id="content" class="world_research">
                    <div id="subTitle" class="js-scr-sec">
                        <h4 class="js-scr-box">Si-Photonics / Meta-Photonics</h4>
                        <!-- <p class="js-scr-box">Metaphotonics represents new photonic space comprised of various artificial nanostructures that enable new optical behaviors beyond conventional optical properties.</p> -->
                    </div>

                    <!--third-tab-->

                    <div class="third_depth_titbox js-scr-sec">
                        <p class="tit js-scr-box">Si-Photonics / Meta-Photonics</p>
                        <p class="desc js-scr-box">The Magic of Light Demonstrated by Artificial Nanostructures</p>
                    </div>

                    <div>
                        <div class="art-content__wrap">
                            <div class="art-content__section">
                                <div class="art-content__row art-content__row--title js-scr-sec">
                                    <strong class="js-scr-box">Si-Photonics / Meta-Photonics</strong>
                                    <p class="js-scr-box">Metaphotonics represents new photonic space comprised of various artificial nanostructures that enable new optical behaviors beyond conventional optical properties.</p>
                                    <div class="art-content__figure js-scr-box">
                                        <img src="../../resources/assets/mobile/images/sub/img_m_01.jpg" alt="" />
                                    </div>
                                </div>
                                <div class="art-content__row js-scr-sec">
                                    <strong class="js-scr-box">Overview</strong>
                                    <p class="js-scr-box">
                                        Light is an electromagnetic wave that arises from the mutual interaction of time-varying electric and magnetic fields. The properties of such wave depend on the type and structure of the medium through which this wave passes. Metaphotonics represents the study
                                        of new optical behaviors beyond conventional optical properties by developing a new space, constructed with various artificial nanostructures.
                                        <br /><br />
                                        "Meta," from Greek, means "beyond" and in the context of metaphotonics refers to artificial properties that do not exist naturally. These artificial structures can generate unusual but useful phenomena, unanticipated from naturally observed materials.
                                        Metaphotonics is capable of controlling various optical properties such as the amplitude, phase, polarization as well as the wavelength in a sub-wavelength scale. Thanks to this ability, various fields, including sensors, displays, communication, energy, and
                                        biotechnology apply the metaphotonics usefully.
                                    </p>
                                    <div class="art-content__figure js-scr-box">
                                        <img src="../../resources/assets/mobile/images/sub/img_m_02.jpg" alt="" />
                                    </div>
                                </div>
                                <div class="art-content__row js-scr-sec">
                                    <strong class="js-scr-box">Technology Trend</strong>
                                    <p class="js-scr-box">
                                        The trend of Meta-Photonics technology is evolving from basic research on principles to various advanced studies and new applications. Whereas the design technology has focused simple look-up table methods so far, which facilitate the changes of the phase and
                                        amplitude under altering one to three structures parameters at most in a unit cell, it has now advanced to designing high-complexity super cells for multifunctional capabilities. Additionally, with the introduction of inverse design technologies, high
                                        performance is being achieved in smaller form factors using new, non-intuitive structures. In terms of fabrication innovations, large-area and cost-effective manufacturing technologies are developing for various practical products. For example, high volume
                                        manufacturing technologies such as large-area photolithography, nanoimprint, and roll-to-roll printing are being developed, and another techniques like coating high-refractive-index materials on highly processable low-refractive-index substances are emerging.
                                        As design and processing technologies advance, Meta-Photonics is gradually being adopted in various consumer electronics. Infrared machine vision technologies such as liquid crystal-based beam steering and narrow-band dot pattern projectors have been
                                        introduced, and it is expected that products for the human vision spectrum in the visible range will appear soon. Furthermore, this technology is expanding into areas such as optical computing for edge detection and quantum metasurfaces.
                                    </p>
                                    <div class="art-content__figure js-scr-box">
                                        <img src="../../resources/assets/mobile/images/sub/img_m_03.jpg" alt="" />
                                    </div>
                                </div>
                                <div class="art-content__row js-scr-sec">
                                    <strong class="js-scr-box">SAIT Technology</strong>
                                    <p class="js-scr-box">
                                        SAIT develops next generation devices based on Si-Photonics and Meta-Photonics technologies to deliver future UX applications and innovative technologies to overcome industrial limitations in semiconductor processes.
                                        <br /><br />
                                        We conduct research on on-chip optical links based on Si-Photonics integrated circuits, which bridge multiple semiconductor devices with dramatically enhanced communication speed. In addition, we develop Meta-Photonics optical structures that enable efficient
                                        color splitting for high-sensitive image sensors. Our research area also covers ultra-small and high-resolution LED displays based on III-V semiconductors and optical inspection techniques to improve the performance and process integration of semiconductor
                                        devices.
                                        <br /><br />
                                        To bring future technologies that enrich our lives, we will cultivate optical technologies that lead innovation in semiconductor devices as well as convey new UX experiences.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- //subContent-->

                <!--related paper-->

                <section id="related_paper" class="js-scr-sec">
                    <h1 class="js-scr-box">
                        <span>Related Paper</span>
                        <span class="more"><a href="../research/paper_list_wtc.html">more</a></span>
                    </h1>

                    <div class="related_pp_wrap">
                        <article class="js-scr-box">
                            <a class="cm_pp" href="../research/paper_view.html">
                                <p class="desc">Overcoming evanescent field decay using 3D-tapered nanocavities for on-chip targeted molecular analysis</p>
                                <p class="date">2020.06.10</p>
                            </a>
                        </article>
                    </div>
                </section>

                <!--//related paper-->

                <!-- subAside-->
                <aside id="relatedContents" class="js-scr-sec">
                    <div class="related__inner">
                        <div class="related__title">
                            <h1 class="js-scr-box">Related Contents</h1>
                            <span class="js-scr-box">Explore more related contents from SAIT!</span>
                        </div>
                        <div class="related_wrap">
                            <article class="js-scr-box">
                                <a href="../research/paper_list_wtc.html">
                                    <h1>Research Paper</h1>
                                </a>
                            </article>
                            <article class="js-scr-box">
                                <a href="../about/press.html">
                                    <h1>Press</h1>
                                </a>
                            </article>
                        </div>
                    </div>
                </aside>
                <!-- //subAside-->
            </section>
            <!-- //container-->

            <!-- footer -->

            <%- include("../include/sub_footer.html") %>

            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123575008-1"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag() {
                    dataLayer.push(arguments);
                }
                gtag('js', new Date());

                gtag('config', 'UA-167217135-1');
            </script>

            <!-- //footer -->
            <div id="gnbDimmed" class="dimmed"></div>
        </div>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/lib/TweenMax/TweenMax.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/lib/TweenMax/easing/EasePack.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/design_common.js"></script>
        <script>
            $(document).ready(function () {
                $('.wtc_pp').css({ background: "#fff url('http://www.sait.samsung.co.kr/webfile/researchArea/201908021457082__ico_02.png')", 'background-repeat': 'no-repeat', 'background-size': '40px 35px;', 'background-position': '25px 25px' });
            });
        </script>
    </body>
</html>
