<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- 공통적용헤더정보 -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <!-- //공통적용헤더정보 -->
        <link rel="stylesheet" href="https://www.sait.samsung.co.kr/saithome/mobile/stylesheets/css/common.css" />
        <link rel="stylesheet" href="https://www.sait.samsung.co.kr/saithome/mobile/stylesheets/2024/sub.css" />
        <link rel="shortcut icon" href="https://www.sait.samsung.co.kr/saithome/images/favicon.ico" />
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/jquery-1.8.2.min.js"></script>
        <meta name="Keywords" content="SAIT, Samsung Advanced Institute of Technology, 삼성종합기술원, 삼성전자 종합기술원, Samsung research, Samsung R&amp;D, Samsung future technology, R&amp;D, Autonomoucs Driving, Graphene, New materials, QD, Quantum Dot" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
        <title>Singlet oxygen driven photocatalytic degradation of gaseous formaldehyde and its mechanistic study | Samsung Advanced Institute of Technology</title>
        <meta
            name="Description"
            content="<div id='cafe-note-contents' style='line-height: 1.2; font-family: '굴림',Gulim,Arial; font-size: 10pt;'><p style='margin: 0px 0px 13.33px; line-height: 200％;'><span style='color: black; font-family: 'times new roman',serif; -ms-layout-grid-mode: line;'><span style='font-size: 12pt;'>Conventional stud... | Samsung Advanced Institute of Technology"
        />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Singlet oxygen driven photocatalytic degradation of gaseous formaldehyde and its mechanistic study | Samsung Advanced Institute of Technology" />
        <meta
            property="og:description"
            content="<div id='cafe-note-contents' style='line-height: 1.2; font-family: '굴림',Gulim,Arial; font-size: 10pt;'><p style='margin: 0px 0px 13.33px; line-height: 200％;'><span style='color: black; font-family: 'times new roman',serif; -ms-layout-grid-mode: line;'><span style='font-size: 12pt;'>Conventional stud... | Samsung Advanced Institute of Technology"
        />
        <meta property="og:image" content="" />
        <meta property="og:url" content="" />
        <meta property="og:site_name" content="Samsung Advanced Institute of Technology" />
        <meta name="Author" content="Samsung Advanced Institute of Technology" />
        <meta name="robots" content="ALL" />
        <%- include("../include/sub_head.html") %>
    </head>
    <body>
        <div id="wrap" role="main">
            <!-- header-->
            <%- include("../include/sub_header.html") %>
            <!-- //header-->

            <!-- container-->
            <section id="container" class="research">
                <!-- subVisual-->
                <div id="subVisual">
                    <img src="https://www.sait.samsung.co.kr/saithome/mobile/images/research/research_visual.jpg" alt="" />
                    <div class="tit_wrap">
                        <h3>
                            <span> Changing the World through<br />Creative Research </span>
                        </h3>
                    </div>
                </div>
                <!-- //subVisual-->

                <!-- subContent-->
                <section id="content" class="paper_view">
                    <div class="content__container">
                        <div id="subTitle" class="js-scr-sec">
                            <h4 class="js-scr-box">Singlet oxygen driven photocatalytic degradation of gaseous formaldehyde and its mechanistic study</h4>
                            <!-- <time datetime="2015-03-26" class="js-scr-box">2015.03.26</time> -->
                            <time datetime="2023-02-21" class="js-scr-box">2023.02.21</time>
                        </div>

                        <article class="row">
                            <div class="row__inner">
                                <div class="contents_wrap">
                                    <dl class="js-scr-box">
                                        <dt>Journal</dt>
                                        <dd>Extended abstract of 2004 Autumn JSAP (The Japan Society of Applied Physics) annual meeting</dd>
                                    </dl>
                                    <dl class="js-scr-box">
                                        <dt>Date</dt>
                                        <dd>2004.08.31</dd>
                                    </dl>
                                    <dl class="js-scr-box">
                                        <dt>Abstract</dt>
                                        <dd>
                                            Main new contents (1) Maximum IR laser energy for Xe(5%)/Ne mixture is 20 mJ when the laser diameter is 60 um. (2) LTS (Laser Thomson Scattering) measurement was applied to the Xe (5%)/Ne PDP gas. (3) The electron temperature distribution is similar to
                                            that of Ne/Ar mixtures. (4) The relatively high electron density of this measurement is due to the measured position set to the high electron density peak in the striation. (See the figure) Figure (Caption) Laser Thomson scattering measurement result
                                            (Horizontal axis) Height from the substrate (um) (Vertical axis) Electron density (x1019m-3)
                                        </dd>
                                    </dl>
                                    <dl class="js-scr-box">
                                        <dt>Reference</dt>
                                        <dd>N</dd>
                                    </dl>
                                    <dl class="js-scr-box">
                                        <dt>DOI</dt>
                                        <dd><a href="N" target="_blank">N</a></dd>
                                    </dl>
                                </div>
                                <div id="contentLink" class="js-scr-sec">
                                    <a href="/mo/research/paper_view_srt.html" class="prev_link">Prev</a>
                                    <a href="/mo/research/paper_list_srt.html" class="btn btn-default js-scr-box">
                                        <span class="btn-default__text">LIST</span>
                                    </a>

                                    <a href="/mo/research/paper_view_srt.html" class="next_link">Next</a>
                                </div>
                            </div>
                        </article>
                    </div>
                </section>
                <!-- //subContent-->

                <!-- subAside-->
                <aside id="relatedContents" class="js-scr-sec">
                    <div class="related__inner">
                        <div class="related__title">
                            <h1 class="js-scr-box">Related Contents</h1>
                        </div>
                        <div class="related_wrap">
                            <article class="js-scr-box">
                                <a href="/mo/research/paper_list_wtc.html">
                                    <h1>Best Research Paper</h1>
                                </a>
                            </article>
                            <article class="js-scr-box">
                                <a href="/mo/about/history.html">
                                    <h1>History Of Progress</h1>
                                </a>
                            </article>
                        </div>
                    </div>
                </aside>
                <!-- //subAside-->
            </section>
            <!-- //container-->

            <!-- footer -->

            <%- include("../include/sub_footer.html") %>

            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123575008-1"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag() {
                    dataLayer.push(arguments);
                }
                gtag('js', new Date());

                gtag('config', 'UA-167217135-1');
            </script>
            <!-- //footer -->
            <div id="gnbDimmed" class="dimmed"></div>
        </div>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/lib/TweenMax/TweenMax.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/lib/TweenMax/easing/EasePack.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/design_common.js"></script>
    </body>
</html>
