<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- 공통적용헤더정보 -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <!-- //공통적용헤더정보 -->
        <link rel="stylesheet" href="https://www.sait.samsung.co.kr/saithome/mobile/stylesheets/css/common.css" />
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/jquery-1.8.2.min.js"></script>
        <meta name="Keywords" content="SAIT, Samsung Advanced Institute of Technology, 삼성종합기술원, 삼성전자 종합기술원, Samsung research, Samsung R&amp;D, Samsung future technology, R&amp;D, Autonomoucs Driving, Graphene, New materials, QD, Quantum Dot" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
        <title>Graphene/2-Dimensional Materials | Samsung Advanced Institute of Technology</title>
        <meta name="Description" content="Graphene/2-Dimensional Materials | Samsung Advanced Institute of Technology" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Graphene/2-Dimensional Materials | Samsung Advanced Institute of Technology" />
        <meta property="og:description" content="Graphene/2-Dimensional Materials | Samsung Advanced Institute of Technology" />
        <meta property="og:image" content="" />
        <meta property="og:url" content="" />
        <meta property="og:site_name" content="Samsung Advanced Institute of Technology" />
        <meta name="Author" content="Samsung Advanced Institute of Technology" />
        <meta name="robots" content="ALL" />
        <%- include("../include/sub_head.html") %>
    </head>
    <body>
        <div id="wrap" role="main">
            <!-- header-->
            <%- include("../include/sub_header.html") %>
            <!-- //header-->

            <!-- container-->
            <section id="container" class="research">
                <!-- subVisual-->
                <div id="subVisual">
                    <img src="https://www.sait.samsung.co.kr/saithome/mobile/images/research/research_visual.jpg" alt="" />
                    <div class="tit_wrap">
                        <h3>
                            <span> Changing the World through<br />Creative Research </span>
                        </h3>
                    </div>
                </div>
                <!-- //subVisual-->

                <!-- subContent-->
                <section id="content" class="world_research">
                    <div class="art-content">
                        <div id="subTitle" class="js-scr-sec">
                            <h4 class="js-scr-box">Semiconductor Materials &amp; Devices</h4>
                            <!-- <p class="js-scr-box">Next-generation semiconductor
materials for “More Moore” and
“Beyond Moore” </p>                 -->
                        </div>

                        <!--third-tab-->

                        <div class="third_depth_titbox js-scr-sec">
                            <p class="tit js-scr-box">Graphene/2-Dimensional Materials</p>
                            <p class="desc js-scr-box">crystalline material with a single layer of atoms</p>
                        </div>

                        <div>
                            <div class="art-content__wrap">
                                <div class="art-content__section">
                                    <div class="art-content__row art-content__row--title js-scr-sec">
                                        <p class="js-scr-box">
                                            The advancement of silicon-based devices is reaching its limits, diverging from Moore's law. To tackle this challenge head-on, researchers are actively exploring new materials and innovative device designs. The emphasis is on developing these materials to
                                            unlock new possibilities and push the boundaries of technology forward.
                                        </p>
                                        <div class="art-content__figure js-scr-box">
                                            <img src="../../resources/assets/mobile/images/sub/img_smd_01.jpg" alt="" />
                                        </div>
                                    </div>
                                    <div class="art-content__row js-scr-sec">
                                        <strong class="js-scr-box">Overview</strong>
                                        <p class="js-scr-box">
                                            Semiconductor manufacturing relies on various essential materials. Key materials include photoresists for defining circuit patterns, thin films for adding functional layers, chemicals for precise etching, and Polishing materials. Photoresists define
                                            circuit patterns, while thin films provide functionality on semiconductor surfaces. Chemicals help in precise etching by removing unnecessary parts to create intricate structures. Polishing materials ensure semiconductor surfaces remain flat and smooth,
                                            essential for maintaining precision in subsequent manufacturing steps. These materials must exhibit high precision and reliability to ensure optimal performance and quality of semiconductor devices. Advances in these materials play a crucial role in
                                            driving innovation and enhancing competitiveness in the semiconductor industry.
                                        </p>
                                        <div class="art-content__figure js-scr-box">
                                            <img src="../../resources/assets/mobile/images/sub/img_smd_02.jpg" alt="" />
                                        </div>
                                    </div>
                                    <div class="art-content__row js-scr-sec">
                                        <strong class="js-scr-box">Technology Trend</strong>
                                        <p class="js-scr-box">
                                            The key trend in next-generation semiconductors is to focus on overcoming the ongoing challenges of component miniaturization and scaling down by adopting three-dimensional structuring and introducing new materials. Consequently, there are limitations with
                                            current semiconductor processes and materials in achieving these goals, making the development of new processes and materials essential. Research is underway on advanced patterning materials, polishing materials, etching materials, deposition materials,
                                            and packaging materials, utilizing refined chemical reactions.
                                        </p>
                                        <div class="art-content__figure js-scr-box">
                                            <img src="../../resources/assets/mobile/images/sub/img_smd_03.jpg" alt="" />
                                        </div>
                                    </div>
                                    <div class="art-content__row js-scr-sec">
                                        <strong class="js-scr-box">SAIT Technology</strong>
                                        <p class="js-scr-box">
                                            Recent research suggests that as manufacturing processes advance, relying solely on conventional chemical reaction explanations becomes increasingly inadequate for predicting the behavior of newly developed materials. Therefore, there is a pressing need
                                            for new methodologies to comprehensively predict the behavior of materials at the atomic, molecular, and bulk levels and to understand the correlations among them. We are developing materials that aim to improve upon current analytical methods and
                                            introduce new approaches to clearly elucidate their behavior. Using simulations and ML techniques, our goal is to develop materials with multifunctional molecular structures that effectively respond to specific conditions. This approach aims to enable the
                                            creation of innovative and enhanced materials for manufacturing processes.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- //subContent-->

                <!--related paper-->

                <section id="related_paper" class="js-scr-sec">
                    <h1 class="js-scr-box">
                        <span>Related Paper</span>
                        <span class="more"><a href="../research/paper_list_wtc.html">more</a></span>
                    </h1>

                    <div class="related_pp_wrap">
                        <article class="js-scr-box">
                            <a class="cm_pp" href="../research/paper_view.html">
                                <p class="desc">Ultralow-dielectric-constant amorphous boron nitride</p>
                                <p class="date">2020.06.24</p>
                            </a>
                        </article>

                        <article class="js-scr-box">
                            <a class="cm_pp" href="../research/paper_view.html">
                                <p class="desc">Study of Selective Graphene Growth on a SiO2-Patterned Ge/Si(001) Substrate</p>
                                <p class="date">2019.10.04</p>
                            </a>
                        </article>

                        <article class="js-scr-box">
                            <a class="cm_pp" href="../research/paper_view.html">
                                <p class="desc">Repeatable Wafer-Scale Growth of Single-Crystal Monolayer Graphene on a Hydrogen-Terminated Germanium</p>
                                <p class="date">2014.04.18</p>
                            </a>
                        </article>
                    </div>
                </section>

                <!--//related paper-->

                <!-- subAside-->
                <aside id="relatedContents" class="js-scr-sec">
                    <div class="related__inner">
                        <div class="related__title">
                            <h1 class="js-scr-box">Related Contents</h1>
                            <span class="js-scr-box">Explore more related contents from SAIT!</span>
                        </div>
                        <div class="related_wrap">
                            <article class="js-scr-box">
                                <a href="../research/paper_list_wtc.html">
                                    <h1>Research Paper</h1>
                                </a>
                            </article>
                            <article class="js-scr-box">
                                <a href="../about/press.html">
                                    <h1>Press</h1>
                                </a>
                            </article>
                        </div>
                    </div>
                </aside>
                <!-- //subAside-->
            </section>
            <!-- //container-->

            <!-- footer -->

            <%- include("../include/sub_footer.html") %>

            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123575008-1"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag() {
                    dataLayer.push(arguments);
                }
                gtag('js', new Date());

                gtag('config', 'UA-167217135-1');
            </script>

            <!-- //footer -->
            <div id="gnbDimmed" class="dimmed"></div>
        </div>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/lib/TweenMax/TweenMax.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/lib/TweenMax/easing/EasePack.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/design_common.js"></script>
        <script>
            $(document).ready(function () {
                $('.wtc_pp').css({ background: "#fff url('http://www.sait.samsung.co.kr/webfile/researchArea/201908021459152__ico_08.png')", 'background-repeat': 'no-repeat', 'background-size': '40px 35px;', 'background-position': '25px 25px' });
            });
        </script>
    </body>
</html>
