<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- 공통적용헤더정보 -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <!-- //공통적용헤더정보 -->
        <link rel="stylesheet" href="https://www.sait.samsung.co.kr/saithome/mobile/stylesheets/css/common.css" />
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/jquery-1.8.2.min.js"></script>
        <meta name="Keywords" content="SAIT, Samsung Advanced Institute of Technology, 삼성종합기술원, 삼성전자 종합기술원, Samsung research, Samsung R&amp;D, Samsung future technology, R&amp;D, Autonomoucs Driving, Graphene, New materials, QD, Quantum Dot" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
        <title>What We Do | Samsung Advanced Institute of Technology</title>
        <meta name="Description" content="What We Do | Samsung Advanced Institute of Technology" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="What We Do | Samsung Advanced Institute of Technology" />
        <meta property="og:description" content="What We Do | Samsung Advanced Institute of Technology" />
        <meta property="og:image" content="" />
        <meta property="og:url" content="" />
        <meta property="og:site_name" content="Samsung Advanced Institute of Technology" />
        <meta name="Author" content="Samsung Advanced Institute of Technology" />
        <meta name="robots" content="ALL" />
        <%- include("../include/sub_head.html") %>
    </head>
    <body>
        <div id="wrap" role="main">
            <!-- header-->
            <%- include("../include/sub_header.html") %>
            <!-- //header-->

            <!-- container-->
            <section id="container" class="research">
                <!-- subVisual-->
                <div id="subVisual">
                    <img src="https://www.sait.samsung.co.kr/saithome/mobile/images/research/research_visual.jpg" alt="" />
                    <div class="tit_wrap">
                        <h3>
                            <span> Changing the World through<br />Creative Research </span>
                        </h3>
                    </div>
                </div>
                <!-- //subVisual-->

                <!-- subContent-->
                <section id="content" class="what">
                    <div class="content__container">
                        <div id="subTitle" class="js-scr-sec">
                            <h4 class="js-scr-box">What We Do</h4>
                        </div>
                        <div class="art-content contents_wrap">
                            <div>
                                <div class="art-content__wrap">
                                    <div class="art-content__section">
                                        <div class="art-content__row art-content__row--title">
                                            <strong>
                                                <span>Changing the World<br />through Creative Research</span>
                                            </strong>
                                            <p class="mt40">
                                                SAIT creates disruptive technologies as well as new technology convergence by combining Samsung's most advanced technologies. SAIT also conducts science-based research in promising new areas to generate novel, powerful solutions to pressing global
                                                problems. <br /><br />
                                                And we are approaching in various aspects on selecting research domains. On one hand, we analyze global mega trends, for example, socio-economic, industrial and market trend. On the other hand, we forecast potential breakthroughs driven by technology
                                                evolution or revolution such as convergence, nanotechnologies, etc.
                                                <br /><br />
                                                After going over our own core competences and then combining the two approaches previously mentioned, that is, market pull and technology push, and then we choose our research domains by examining strategic fit.
                                            </p>
                                        </div>
                                        <div class="art-content__row">
                                            <div class="changing_list">
                                                <ul class="list01 js-scr-sec">
                                                    <li class="js-act-research">
                                                        <a href="../research/aiAlgorithms.html">
                                                            <i><img src="http://www.sait.samsung.co.kr/webfile/researchArea/201908021427531__ico_04.png" alt="" /></i>
                                                            <strong>AI Algorithms</strong>
                                                            <p>Understanding users and environments with human- level intelligence</p>
                                                        </a>
                                                    </li>

                                                    <li class="js-act-research">
                                                        <a href="../research/computingPlatform.html">
                                                            <i><img src="http://www.sait.samsung.co.kr/webfile/researchArea/201908021433271__ico_05.png" alt="" /></i>
                                                            <strong>Computing Platform</strong>
                                                            <p>We are researching the increasingly crucial computing platform technology with the advancement of AI</p>
                                                        </a>
                                                    </li>

                                                    <li class="js-act-research">
                                                        <a href="../research/metaphotonics.html">
                                                            <i><img src="http://www.sait.samsung.co.kr/webfile/researchArea/201908021412581__ico_02.png" alt="" /></i>
                                                            <strong>Si-Photonics / Meta-Photonics</strong>
                                                            <p>We are researching the increasingly crucial computing platform technology with the advancement of AI</p>
                                                        </a>
                                                    </li>

                                                    <li class="js-act-research">
                                                        <a href="../research/displayMaterials.html">
                                                            <i><img src="http://www.sait.samsung.co.kr/webfile/researchArea/201908021435531__ico_06.png" alt="" /></i>
                                                            <strong>Display Materials</strong>
                                                            <p>Novel Technologies for Luminescent and Organic Electronic Materials</p>
                                                        </a>
                                                    </li>

                                                    <li class="js-act-research">
                                                        <a href="../research/batteryMaterials.html">
                                                            <i><img src="http://www.sait.samsung.co.kr/webfile/researchArea/201908021439431__ico_07.png" alt="" /></i>
                                                            <strong>Battery Materials</strong>
                                                            <p>New materials and chemistry for safer and longer use of batteries</p>
                                                        </a>
                                                    </li>

                                                    <li class="js-act-research">
                                                        <a href="../research/semiconductorMaterials.html">
                                                            <i><img src="http://www.sait.samsung.co.kr/webfile/researchArea/201908021442431__ico_08.png" alt="" /></i>
                                                            <strong>Semiconductor Materials &amp; Devices</strong>
                                                            <p>
                                                                Next-generation semiconductor<br />
                                                                materials for "More Moore" and<br />
                                                                "Beyond Moore"
                                                            </p>
                                                        </a>
                                                    </li>

                                                    <li class="js-act-research">
                                                        <a href="../research/environmentalResearch.html">
                                                            <i><img src="http://www.sait.samsung.co.kr/webfile/researchArea/201908021451291__ico_09.png" alt="" /></i>
                                                            <strong>Environmental &amp;<br />Energy Research</strong>
                                                            <p>
                                                                Sustainable materials<br />
                                                                designed for the capture and<br />
                                                                decompose of pollutants
                                                            </p>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- //subContent-->

                <!-- subAside-->
                <aside id="relatedContents" class="js-scr-sec">
                    <div class="related__inner">
                        <div class="related__title">
                            <h1 class="js-scr-box">Related Contents</h1>
                            <span class="js-scr-box">Explore more related contents from SAIT!</span>
                        </div>
                        <div class="related_wrap">
                            <article class="js-scr-box">
                                <a href="../research/paper_list_wtc.html">
                                    <h1>Research Paper</h1>
                                </a>
                            </article>
                            <article class="js-scr-box">
                                <a href="../about/press.html">
                                    <h1>Press</h1>
                                </a>
                            </article>
                        </div>
                    </div>
                </aside>
                <!-- //subAside-->
            </section>
            <!-- //container-->

            <!-- footer -->

            <%- include("../include/sub_footer.html") %>

            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123575008-1"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag() {
                    dataLayer.push(arguments);
                }
                gtag('js', new Date());

                gtag('config', 'UA-167217135-1');
            </script>

            <!-- //footer -->
            <div id="gnbDimmed" class="dimmed"></div>
        </div>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/lib/TweenMax/TweenMax.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/lib/TweenMax/easing/EasePack.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/mobile/javascripts/design_common.js"></script>
    </body>
</html>
