<!DOCTYPE html>
<html lang="ko">
    <%- include("./include/head.html") %>
    <body class="scroll-lock">
        <div class="wrap">
            <div class="container">
                <%- include("./include/header.html") %>
                <main class="main">
                    <section class="main-section main-section--01">
                        <div class="main-kv swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide main-kv__slide">
                                    <div class="main-kv__inner">
                                        <img src="../resources/assets/images/main/kv.jpg" alt="" />
                                        <div class="main-kv__contents">
                                            <div class="main-kv__slogan">
                                                <h2>Boundless Search<br />for Breakthroughs</h2>
                                                <h3>SAIT is Samsung‘s R&D hub,<br />Established as the incubator for cutting-edge technologies</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide main-kv__slide">
                                    <div class="main-kv__inner">
                                        <img src="../resources/assets/images/main/kv01.jpg" alt="" />
                                        <div class="main-kv__contents">
                                            <div class="main-kv__slogan">
                                                <h2>Boundless Search<br />for Breakthroughs</h2>
                                                <h3>SAIT is Samsung‘s R&D hub,<br />Established as the incubator for cutting-edge technologies</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide main-kv__slide">
                                    <div class="main-kv__inner">
                                        <img src="../resources/assets/images/main/kv.jpg" alt="" />
                                        <div class="main-kv__contents">
                                            <div class="main-kv__slogan">
                                                <h2>Boundless Search<br />for Breakthroughs</h2>
                                                <h3>SAIT is Samsung‘s R&D hub,<br />Established as the incubator for cutting-edge technologies</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide main-kv__slide">
                                    <div class="main-kv__inner">
                                        <img src="../resources/assets/images/main/kv01.jpg" alt="" />
                                        <div class="main-kv__contents">
                                            <div class="main-kv__slogan">
                                                <h2>Boundless Search<br />for Breakthroughs</h2>
                                                <h3>SAIT is Samsung‘s R&D hub,<br />Established as the incubator for cutting-edge technologies</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="main-kv__control"></div>
                        </div>
                        <button type="button" class="scroll-down">
                            <span class="scroll-down__icon">
                                <span>SCROLL DOWN</span>
                            </span>
                            <div class="scroll-down__text">SCROLL DOWN<br />to EXPLORE</div>
                        </button>
                    </section>
                    <section class="main-section main-section--02">
                        <div class="main-section__inner">section02</div>
                    </section>
                    <section class="main-section main-section--03">
                        <div class="main-section__inner">section03</div>
                    </section>
                    <section class="main-section main-section--04">
                        <div class="main-section__inner">section04</div>
                    </section>
                    <section class="main-section main-section--05">
                        <div class="main-section__inner">section05</div>
                    </section>
                </main>
                <nav class="indicator">
                    <ul class="indicator__list">
                        <li>
                            <a href="javascript:;">01</a>
                            <div><span>- MAIN</span></div>
                        </li>
                        <li>
                            <a href="javascript:;">02</a>
                            <div><span>- SECTION02</span></div>
                        </li>
                        <li>
                            <a href="javascript:;">03</a>
                            <div><span>- SECTION03</span></div>
                        </li>
                        <li>
                            <a href="javascript:;">04</a>
                            <div><span>- SECTION04</span></div>
                        </li>
                        <li>
                            <a href="javascript:;">05</a>
                            <div><span>- FOOTER</span></div>
                        </li>
                    </ul>
                </nav>
                <%- include("./include/footer.html") %>
            </div>
        </div>
    </body>
</html>
