<!DOCTYPE html>
<html lang="en">
    <%- include("./include/head.html") %>
    <body class="scroll-lock">
        <div class="wrap">
            <div class="container">
                <%- include("./include/header.html") %>
                <div id="headerSearch">
                    <!-- <form action="../etc/search.do" method="get" name="allSearchFrm"> -->
                    <fieldset>
                        <legend>headerSearch form</legend>
                        <div id="globalInput">
                            <label for="globalSearch" class="hidden-txt">search string</label>
                            <input type="text" id="searchKeyword2" name="searchKeyword" placeholder="Input text" />
                            <div class="submit_wrap" onclick="AllSearch();" onkeypress="AllSearch()" tabindex="0" title="search button">
                                <!-- <input type="submit" value="search"> -->
                                <!--<a href="javascript:void(0);" type="submit" value="search"></a>-->
                            </div>
                        </div>
                    </fieldset>
                    <!-- </form> -->
                </div>
                <main class="main">
                    <section class="main-section main-section--01">
                        <div class="main-kv swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide main-kv__slide">
                                    <div class="main-kv__inner">
                                        <img src="/resources/assets/images/main/kv.jpg" alt="" />
                                        <div class="main-kv__contents">
                                            <div class="main-kv__slogan">
                                                <h2>Boundless Search<br />for Breakthroughs</h2>
                                                <h3>SAIT is Samsung‘s R&D hub,<br />Established as the incubator for cutting-edge technologies</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide main-kv__slide">
                                    <div class="main-kv__inner">
                                        <img src="/resources/assets/images/main/kv01.jpg" alt="" />
                                        <div class="main-kv__contents">
                                            <div class="main-kv__slogan">
                                                <h2>Boundless Search<br />for Breakthroughs</h2>
                                                <h3>SAIT is Samsung‘s R&D hub,<br />Established as the incubator for cutting-edge technologies</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide main-kv__slide">
                                    <div class="main-kv__inner">
                                        <img src="/resources/assets/images/main/kv.jpg" alt="" />
                                        <div class="main-kv__contents">
                                            <div class="main-kv__slogan">
                                                <h2>Boundless Search<br />for Breakthroughs</h2>
                                                <h3>SAIT is Samsung‘s R&D hub,<br />Established as the incubator for cutting-edge technologies</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide main-kv__slide">
                                    <div class="main-kv__inner">
                                        <img src="/resources/assets/images/main/kv01.jpg" alt="" />
                                        <div class="main-kv__contents">
                                            <div class="main-kv__slogan">
                                                <h2>Boundless Search<br />for Breakthroughs</h2>
                                                <h3>SAIT is Samsung‘s R&D hub,<br />Established as the incubator for cutting-edge technologies</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="main-kv__control"></div>
                            <div class="swiper-pagination"></div>
                        </div>
                        <button type="button" class="scroll-down">
                            <span class="scroll-down__icon">
                                <span>SCROLL DOWN</span>
                            </span>
                            <div class="scroll-down__text">SCROLL DOWN<br />to EXPLORE</div>
                        </button>
                    </section>
                    <section class="main-section main-section--02">
                        <div class="research">
                            <div class="research__bg">
                                <div class="bg-slider swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <img src="/resources/assets/images/main/research_bg_01.jpg" alt="" />
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="/resources/assets/images/main/research_bg_02.jpg" alt="" />
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="/resources/assets/images/main/research_bg_03.jpg" alt="" />
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="/resources/assets/images/main/research_bg_04.jpg" alt="" />
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="/resources/assets/images/main/research_bg_05.jpg" alt="" />
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="/resources/assets/images/main/research_bg_06.jpg" alt="" />
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="/resources/assets/images/main/research_bg_07.jpg" alt="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="research__contents">
                                <div class="research__inner">
                                    <h2>RESEARCH AREAS</h2>
                                    <div class="research__inbox">
                                        <div class="research__text">
                                            <div class="text-slider swiper">
                                                <div class="swiper-wrapper">
                                                    <div class="swiper-slide">
                                                        <div class="text-slider__wrap">
                                                            <h3>AI Algorithms</h3>
                                                            <p>Understanding users and environments with human-level intelligence</p>
                                                            <div class="btn-wrap">
                                                                <a href="/pc/research/aiAlgorithms.html" class="btn btn-default">
                                                                    <span class="btn-default__text">Read More</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <div class="text-slider__wrap">
                                                            <h3>Computing Platform</h3>
                                                            <p>We are researching security technologies from the whole system perspective, from hardware to software.</p>
                                                            <div class="btn-wrap">
                                                                <a href="/pc/research/computingPlatform.html" class="btn btn-default">
                                                                    <span class="btn-default__text">Read More</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <div class="text-slider__wrap">
                                                            <h3>Si-Photonics / Meta-Photonics</h3>
                                                            <p>Metaphotonics represents new photonic space comprised of various artificial nanostructures that enable new optical behaviors beyond conventional optical properties.</p>
                                                            <div class="btn-wrap">
                                                                <a href="/pc/research/metaphotonics.html" class="btn btn-default">
                                                                    <span class="btn-default__text">Read More</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <div class="text-slider__wrap">
                                                            <h3>Display Materials</h3>
                                                            <p>SAIT is currently conducting research on QD material and device interface technology for the next generation of QDs and self-luminous EL displays.</p>
                                                            <div class="btn-wrap">
                                                                <a href="/pc/research/displayMaterials.html" class="btn btn-default">
                                                                    <span class="btn-default__text">Read More</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <div class="text-slider__wrap">
                                                            <h3>Battery Materials</h3>
                                                            <p>SAIT is developing novel materials to enable those technologies employing state-of-art computational methods and high speed synthesis techniques.</p>
                                                            <div class="btn-wrap">
                                                                <a href="/pc/research/batteryMaterials.html" class="btn btn-default">
                                                                    <span class="btn-default__text">Read More</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <div class="text-slider__wrap">
                                                            <h3>Semiconductor Materials &amp; Devices</h3>
                                                            <p>We have strived to search for new materials for channels and components.</p>
                                                            <div class="btn-wrap">
                                                                <a href="/pc/research/semiconductorMaterials.html" class="btn btn-default">
                                                                    <span class="btn-default__text">Read More</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <div class="text-slider__wrap">
                                                            <h3>Environmental &amp; Energy Research</h3>
                                                            <p>SAIT are researching on various technologies to deal with global environmental & energy issues for sustainable future.</p>
                                                            <div class="btn-wrap">
                                                                <a href="/pc/environmentalResearch.html" class="btn btn-default">
                                                                    <span class="btn-default__text">Read More</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="research__image">
                                            <div class="image-slider swiper">
                                                <div class="swiper-wrapper">
                                                    <div class="swiper-slide">
                                                        <div class="image-slider__wrap" data-swiper-parallax="23%">
                                                            <img src="/resources/assets/images/main/research_image01.jpg" alt="" />
                                                        </div>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <div class="image-slider__wrap" data-swiper-parallax="23%">
                                                            <img src="/resources/assets/images/main/research_image02.jpg" alt="" />
                                                        </div>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <div class="image-slider__wrap" data-swiper-parallax="23%">
                                                            <img src="/resources/assets/images/main/research_image03.jpg" alt="" />
                                                        </div>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <div class="image-slider__wrap" data-swiper-parallax="23%">
                                                            <img src="/resources/assets/images/main/research_image04.jpg" alt="" />
                                                        </div>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <div class="image-slider__wrap" data-swiper-parallax="23%">
                                                            <img src="/resources/assets/images/main/research_image05.jpg" alt="" />
                                                        </div>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <div class="image-slider__wrap" data-swiper-parallax="23%">
                                                            <img src="/resources/assets/images/main/research_image06.jpg" alt="" />
                                                        </div>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <div class="image-slider__wrap" data-swiper-parallax="23%">
                                                            <img src="/resources/assets/images/main/research_image07.jpg" alt="" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="research__control">
                                            <ul class="research__list">
                                                <li class="active"><button type="button">AI Algorithms</button><a href="/pc/research/aiAlgorithms.html"></a></li>
                                                <li><button type="button">Computing Platform</button><a href="/pc/research/computingPlatform.html"></a></li>
                                                <li><button type="button">Si-Photonics / Meta-Photonics</button><a href="/pc/research/metaphotonics.html"></a></li>
                                                <li><button type="button">Display Materials</button><a href="/pc/research/displayMaterials.html"></a></li>
                                                <li><button type="button">Battery Materials</button><a href="/pc/research/batteryMaterials.html"></a></li>
                                                <li><button type="button">Semiconductor Materials</button><a href="/pc/research/semiconductorMaterials.html"></a></li>
                                                <li><button type="button">Environmental &amp; Energy Research</button><a href="/pc/research/environmentalResearch.html"></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="main-section main-section--03">
                        <img src="/resources/assets/images/main/research_bg.jpg" alt="" />
                        <div class="main-section__inner">
                            <div class="join">
                                <div class="join__inner">
                                    <div class="join__box">
                                        <div class="join__container">
                                            <div class="join__left">
                                                <h2>CAREERS</h2>
                                                <h3>Recruiting Process</h3>
                                                <p>
                                                    SAIT is looking for highly creative people to lead the future. <br />The institute's world-class lab facilities and broad scope of<br />research provides a rich environment for conducting cutting-edge<br />scientific and technological innovation.
                                                </p>
                                                <div class="btn-wrap">
                                                    <a href="/pc/join/application.html" class="btn btn-default">
                                                        <span class="btn-default__text">Read More</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="join__right">
                                                <div class="join__image">
                                                    <img src="/resources/assets/images/main/img_section03.jpg" alt="" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="main-section main-section--04" data-color="white">
                        <img src="/resources/assets/images/main/section04_bg.jpg" alt="" />
                        <div class="main-section__inner">
                            <div class="press">
                                <div class="press__wrap">
                                    <div class="press__left">
                                        <div class="press__box">
                                            <h2>
                                                PRESS
                                                <ul class="press__nav">
                                                    <li><button type="button" class="press__button press__button--prev">이전</button></li>
                                                    <li><button type="button" class="press__button press__button--next">다음</button></li>
                                                </ul>
                                            </h2>
                                            <div class="press__container press__slider swiper">
                                                <div class="swiper-wrapper">
                                                    <div class="swiper-slide press__slide">
                                                        <a href="/pc/about/press_view.html" class="press__inner">
                                                            <h3>Samsung hires a world-renowned Supercomputer expert</h3>
                                                            <span>2022.04.18</span>
                                                        </a>
                                                    </div>
                                                    <div class="swiper-slide press__slide">
                                                        <a href="/pc/about/press_view.html" class="press__inner">
                                                            <h3>Samsung Demonstrates the World’s First MRAM Based In-Memory Computing</h3>
                                                            <span>2022.04.18</span>
                                                        </a>
                                                    </div>
                                                    <div class="swiper-slide press__slide">
                                                        <a href="/pc/about/press_view.html" class="press__inner">
                                                            <h3>Samsung hires a world-renowned Supercomputer expert</h3>
                                                            <span>2022.04.18</span>
                                                        </a>
                                                    </div>
                                                    <div class="swiper-slide press__slide">
                                                        <a href="/pc/about/press_view.html" class="press__inner">
                                                            <h3>Samsung Demonstrates the World’s First MRAM Based In-Memory Computing</h3>
                                                            <span>2022.04.18</span>
                                                        </a>
                                                    </div>
                                                    <div class="swiper-slide press__slide">
                                                        <a href="/pc/about/press_view.html" class="press__inner">
                                                            <h3>Samsung hires a world-renowned Supercomputer expert</h3>
                                                            <span>2022.04.18</span>
                                                        </a>
                                                    </div>
                                                    <div class="swiper-slide press__slide">
                                                        <a href="/pc/about/press_view.html" class="press__inner">
                                                            <h3>Samsung Demonstrates the World’s First MRAM Based In-Memory Computing</h3>
                                                            <span>2022.04.18</span>
                                                        </a>
                                                    </div>
                                                    <div class="swiper-slide press__slide">
                                                        <a href="/pc/about/press_view.html" class="press__inner">
                                                            <h3>Samsung hires a world-renowned Supercomputer expert</h3>
                                                            <span>2022.04.18</span>
                                                        </a>
                                                    </div>
                                                    <div class="swiper-slide press__slide">
                                                        <a href="/pc/about/press_view.html" class="press__inner">
                                                            <h3>Samsung Demonstrates the World’s First MRAM Based In-Memory Computing</h3>
                                                            <span>2022.04.18</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="press__progress">
                                            <span class="press__bar"></span>
                                        </div>
                                        <div class="btn-wrap">
                                            <a href="/pc/about/press.html" class="btn btn-default">
                                                <span class="btn-default__text">Read More</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="press__right">
                                        <div class="press__box">
                                            <h2>PAPER</h2>
                                            <div class="press__container">
                                                <div class="press__slide">
                                                    <a href="/pc/research/paper_view_srt.html" class="press__inner">
                                                        <h3>Samsung Demonstrates the World’s First MRAM Based In-Memory Computing</h3>
                                                        <span>2022.04.18</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="main-section main-section--05" data-color="white"><%- include("./include/footer.html") %></section>
                </main>
                <nav class="indicator">
                    <ul class="indicator__list">
                        <li>
                            <a href="javascript:;">01</a>
                            <div><span>- MAIN</span></div>
                        </li>
                        <li>
                            <a href="javascript:;">02</a>
                            <div><span>- RESEARCH AREAS</span></div>
                        </li>
                        <li>
                            <a href="javascript:;">03</a>
                            <div><span>- CAREERS</span></div>
                        </li>
                        <li>
                            <a href="javascript:;">04</a>
                            <div><span>- PRESS &amp; PAPER</span></div>
                        </li>
                        <li class="hidden">
                            <a href="javascript:;">05</a>
                            <div><span>- BANNER &amp; FOOTER</span></div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/TweenMax/TweenMax.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/lib/TweenMax/easing/EasePack.min.js"></script>
        <script type="text/javascript" src="https://www.sait.samsung.co.kr/saithome/javascripts/design_common.js"></script>
    </body>
</html>
